doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 2. Экологическая и ресурсная продуктивность экономики
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group2_ru') RU
        a(href='/group2') Eng
        a(href='/group2_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a.nav-active(href='/group2_ru')
          i.fa-solid.fa-seedling
        p.nav-active Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Группа 2. Экологическая и ресурсная продуктивность экономики
    .description
      p
        | text
    main
      .section
        #section-1.section-active
            i.fa-solid.fa-file-circle-check
            h3 Показатели продуктивности окружающей среды и ресурсов: основные выводы
        #section-2
            i.fa-solid.fa-smog
            h3 2.1 text
        #section-3
            i.fa-solid.fa-chart-pie
            h3 2.2 text
        #section-4
            i.fa-solid.fa-cloud-arrow-up
            h3 2.3 text
        #section-5
            i.fa-solid.fa-lightbulb
            h3 2.4 text
        #section-6
            i.fa-solid.fa-solar-panel
            h3 2.5 text
        #section-7
            i.fa-solid.fa-trash
            h3 2.6 text
        #section-8
            i.fa-solid.fa-recycle
            h3 2.7 text
        #section-9
            i.fa-solid.fa-spray-can-sparkles
            h3 2.8 text
        #section-10
            i.fa-solid.fa-hand-holding-droplet
            h3 2.9 text
      .section_text
        #sub-section-1.sub-section.active
          h2 Environmental and resource productivity indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | Uzbekistan emits 109 million tonnes CO2 each year on average, 
                | contributing 0.3% of the global emissions. Nearly 80% of emissions come from burning natural gas fuel.  The energy sector is the major CO2 emitter in the country.
              li 
                b In Uzbekistan, the carbon productivity of the economy has increased over the past three decades generating more economic benefits. 
                |  In 2020, carbon productivity was USD 2.5 per unit of CO2 emitted; four times greater than the 1990 value.
            .sub-section_figure
              h3
                i Carbon productivity, USD/kg of CO2 (2015)
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Source: OECD, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Energy intensity of GDP, koe/USD (2015)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li 
                b Uzbekistan’s Energy productivity is growing.  
                |  In 2020, Uzbekistan’s energy productivity was USD 5,798 (PPP 2015) per toe primary energy; 3.5 times more compared to 1990. The energy intensity of the GDP is on a declining trend, despite being one of the highest in the world. In 2021 it was 0.14 koe (1.6 kWh) per USD.
              li 
                b Renewables play a minor role (below 2%) in the energy mix of Uzbekistan. 
                |  In 2022, only 9% of the electricity was generated from renewable sources.
          .sub-section_content
            ul.sub-section_text
              li 
                | Water productivity in Uzbekistan increased four times in 2019, compared to 25 years before and was 1.8 USD per m3 of freshwater withdrawn.
              li 
                | Around six million tonnes of municipal solid waste (MSW) is produced in Uzbekistan annually. 
                b  Only a quarter of the MSW is recycled in 2021.
                |  Regular waste collection services cover only half of the population (2018). 
            .sub-section_figure
              h3
                i Share of renewables in electric generation (%)
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Water productivity, USD (2015)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
            ul.sub-section_text
              li 
                b Uzbekistan has excess fertilizer use;
                |  75% higher than the world average (146 Kg per hectare (ha) of cropland. 
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 Indicator 2.2 Carbon productivity
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-8.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-9.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-10.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')