doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 4. Экологическое измерение качества жизни
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group4_ru') RU
        a(href='/group4') Eng
        a(href='/group4_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a.nav-active(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p.nav-active Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-building-columns
      h1 Группа 4. Экологическое измерение качества жизни
    .description
      p В данной главе рассматриваются показатели, отражающие взаимодействие экологических условий и рисков с качеством жизни и благосостоянием населения. Они показывают, в какой степени рост доходов в Узбекистане сопровождается повышением качества жизни населения.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Показатели качества жизни в окружающей среде: Основные выводы
        #section-2
          i.fa-solid.fa-smog
          h3 4.1 Риски и затраты на охрану здоровья окружающей среды
        #section-3
          i.fa-solid.fa-person-arrow-up-from-line
          h3 4.2 Экологические услуги
      .section_text
        #sub-section-1.sub-section.active
          h2 Показатели качества жизни в окружающей среде: Основные выводы
          ul 
            li Узбекистан занимает 20-е место в мире по уровню загрязнения воздуха. Основными источниками загрязняющих веществ являются пылевые частицы, выхлопные газы автотранспорта и промышленные выбросы. Концентрация твердых частиц (PM2.5) в воздухе на протяжении последних десяти лет постоянно превышает уровень 35 мкг/м3, который Всемирная организация здравоохранения (ВОЗ) считает нездоровым.
            li Доля населения, подвергающегося воздействию вредных для здоровья концентраций PM2.5, за последние десять лет снизилась примерно с 80% до 56%. Тем не менее, уровень воздействия на население более чем в пять раз превышает среднемировой показатель, составляющий 10%.
            li Смертность и расходы на благосостояние населения, связанные с загрязнением воздуха, растут. Ежегодно, по оценкам, более 750 человек на миллион жителей умирают преждевременно из-за воздействия загрязнения наружного воздуха, что в 2019 г. превысит среднемировой показатель, составляющий 645 человек. Смертность, связанная с загрязнением наружного воздуха, занимает третье место в мире. Расходы на благосостояние населения оцениваются почти в 9% от эквивалента ВВП по сравнению с 6,5% в регионе ВЕКЦА.
            li Доля домов, имеющих доступ к безопасному питьевому водоснабжению, за последние десять лет снизилась на 10% и составила около 70%, что связано с устаревшей инфраструктурой водоснабжения, ростом численности населения и строительством жилых домов, увеличивающих нагрузку на водопровод. Кроме того, наблюдается значительное неравенство в доступе к питьевой воде между городами и сельской местностью. Хотя в Ташкенте более 97% домов имеют доступ к безопасной питьевой воде, в сельской местности доступ к ней остается сложным.
            li Узбекистан добился определенного прогресса в расширении систем коммунальной канализации. Тем не менее, в 2022 году менее половины (48%) домохозяйств были подключены к системе канализации, а между регионами наблюдается неравенство. Например, если в городе Ташкенте к канализации подключены все жилые дома, то в Каракалпакской области - только 16%.      
        #sub-section-2.sub-section
          h2 4.1 Риски и затраты на охрану здоровья окружающей среды
          .sub-section_content
            ul.sub-section_text
              i Загрязнение воздуха в Узбекистане растет, и он становится одним из "самых загрязненных стран мира"
              li
                | Загрязнение воздуха, выражающееся в объеме выбросов загрязняющих веществ в атмосферу, резко возросло с 2010 года. Основными компонентами загрязняющих веществ являются сульфаты, нитраты, аммиак, хлорид натрия, технический углерод, минеральная пыль и вода. Концентрация мелкодисперсных частиц размером 2,5 микрометра (PM2,5) в воздухе в целом высока. За последнее десятилетие она превысила уровень в 35 микрограммов на кубический метр (мкг/м3), который Всемирная организация здравоохранения (ВОЗ) считает нездоровым.
              li Большинство проблем с загрязнением воздуха в стране связано с опустыниванием Аральского моря и пыльными бурями, несущими оксид железа и другие токсичные ТЧ. При этом загрязнение воздуха в городе Ташкенте связано в первую очередь с использованием автотранспорта, на долю которого в 2021 году приходилось около 60% выбросов.
            .sub-section_figure
              h3
                i Загрязнители воздуха, тыс. т
              canvas#air_pollutants(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
          i С 2010 года более половины населения Узбекистана подвергается нездоровому уровню загрязнения воздуха
          ul 
            li
              | За последние десять лет доля населения, подвергающегося воздействию вредных для здоровья концентраций PM2.5, снизилась с 80% до 56%. Однако с 2010 г. более половины населения Узбекистана ежедневно подвергается воздействию вредных для здоровья концентраций PM2.5, превышающих 35 мкг/м3. Этот уровень воздействия на население более чем в пять раз превышает среднемировой показатель, составляющий 10%.
          .sub-section_content
            .sub-section_figure
              h3
                i Смерть от болезней органов дыхания, % от общего числа умерших
              canvas#respiratory_death(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              i Смертность от загрязнения воздуха и стоимость преждевременной смерти высоки и растут выше среднемирового уровня
              li В 2022 году болезни органов дыхания стали причиной почти 10% смертей. Заболеваемость хроническим бронхитом в засушливом районе Каракалпакской области в 2,5-3,0 раза выше, чем в остальной части страны (IQAIR, 2021). Смертность, связанная с загрязнением наружного воздуха, в Узбекистане занимает третье место в мире (Посольство США в Узбекистане, 2019). В частности, за последние 30 лет в Узбекистане от воздействия PM2.5 ежегодно погибает более 750 человек на 1 млн. жителей, что выше среднемирового показателя, который в 2019 году составил 645 человек.
          i Снижение смертности и расходов на социальное обеспечение в результате воздействия озона и свинцовых газов
          ul
            li Смертность от воздействия озонового загрязнения в 1990-2019 гг. снизилась. Воздействие озона привело к 7 смертям на миллион жителей в 2019 году по сравнению с 21 смертью в 1990 году. Ежегодные расходы на благосостояние, вызванные воздействием озона, за тот же период снизились с 0,26% до 0,09% от ВВП (ППС) в эквиваленте (рис. 5.5). Аналогичным образом, в среднем за 1990-2019 гг. от отравления свинцом ежегодно погибало 100 человек на миллион жителей. Экономический ущерб от отравления свинцом в среднем был эквивалентен 1,2% ВВП (ППС).
        #sub-section-3.sub-section
          h2 4.2 Экологические услуги
          .sub-section_content
            ul.sub-section_text
              i Доля жилищ, имеющих доступ к безопасному питьевому водоснабжению, снизилась с 2015 года, и в сельской местности доступ к нему по-прежнему остается проблематичным.
              li
                | Доля жилищ, имеющих доступ к питьевой воде из улучшенного и безопасного источника на месте, когда это необходимо, за последние десять лет снизилась на 10%. В 2022 году 72% домохозяйств Узбекистана имели доступ к безопасной питьевой воде, что меньше, чем в 2010 году (82,5%). Снижение и стагнация этого показателя обусловлены главным образом устаревшей инфраструктурой водоснабжения и водопроводными службами, несмотря на рост численности населения и жилищного строительства. Этот показатель ниже среднемирового, при этом наблюдается значительное неравенство между городами и сельской местностью. В то время как в городе Ташкенте более 97% домов имеют доступ к питьевой воде, в Кашкадарьинской области этот показатель самый низкий.
            .sub-section_figure
              h3
                i Доступ к безопасной питьевой воде и канализации, % домов 
              canvas#water_sewerage_access(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
          i Доля домохозяйств, имеющих доступ к канализации, за последние три года выросла
          ul 
            li
              | С 2020 года Узбекистан добился определенного прогресса в умеренном и стабильном расширении систем коммунальной канализации. Тем не менее, в 2022 году менее половины (48%) домохозяйств были подключены к системе канализации, причем в разных городах и регионах это неравномерно. Например, в г. Ташкенте все домохозяйства подключены к системе канализации. В то же время в Каракалпакстане подключено только 16% домохозяйств. По данным Всемирного банка (2022), большинство домохозяйств в сельской местности имеют только самодельные выгребные ямы или септики с утилизацией на месте. Кроме того, собранные сточные воды не очищаются в соответствии с международными стандартами.
          .sub-section_content
            .sub-section_figure
              h3
                i Доступ к санитарии, % домов
              canvas#sanitation_access(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              i Узбекистан достиг 100% доступа населения к улучшенным санитарным условиям
              li Уже в 2014 году все население Узбекистана имело доступ к улучшенным санитарным условиям, что свидетельствует о прогрессе по сравнению с 93% в 2000 году. Таким образом, страна достигла ЦУР-2030 по достижению шестой цели - всеобщего доступа к санитарии.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group4.js')