doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 1: Социально-экономический контекст
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group1_ru') RU
        a(href='/group1') Eng
        a(href='/group1_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a.nav-active(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Группа 1. Социально-экономический контекст
    .description
      p
        | В данной главе рассматриваются показатели, характеризующие социально-экономический контекст и особенности роста в Узбекистане. Она содержит справочную информацию и помогает проследить влияние политики "зеленого роста" на развитие страны
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Социально-экономические показатели: Основные выводы
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. Экономический рост и конкурентоспособность
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 Рынок труда и социально-демографические особенности
      .section_text
        #sub-section-1.sub-section.active
          h2 Социально-экономические показатели: Основные выводы
          ul 
            li В течение последних десяти лет ежегодный рост экономики составлял около 6%. Несмотря на двузначную инфляцию, составляющую в среднем 11% за последние три года, реальный ВВП Узбекистана на душу населения в 2022 году составит около 2 009 долларов США (1 доллар США = 11 000 сумов в 2022 году), то есть увеличится более чем в семь раз за десять лет.
            li Открытость торговли в Узбекистане возросла, и по состоянию на 2016 год он стал нетто-импортером товаров и услуг. В 2021 году общая стоимость импорта увеличилась на 25,5 млрд. долларов США, а стоимость экспорта составила 16,7 млрд. долларов США (1 доллар США = 10 623 сума).
            li Ежегодный прирост населения составляет 1,6%, несмотря на отрицательную чистую внешнюю миграцию. В 2022 году численность населения составляла более 35 млн. человек, причем 54% из них были моложе 30 лет. Доля занятых в общей численности рабочей силы увеличилась примерно до 70% в 2021 году. Основными работодателями являются сфера услуг (51%), далее следуют промышленность (25%) и сельское хозяйство (24%).
            li В 2021 году в высшие учебные заведения была зачислена лишь пятая часть студентов, имеющих право на обучение, по сравнению со 100%-ным валовым показателем охвата начальным и средним образованием.
        #sub-section-2.sub-section
          h2 1.1. Экономический рост и конкурентоспособность
          .sub-section_content
            ul.sub-section_text
              i Экономика и доходы на душу населения в Узбекистане устойчиво растут на протяжении последних трех десятилетий
              li В 2011-22 годах ВВП Узбекистана в реальном выражении увеличился на 43% - с 49,5 до 70,9 млрд. долл. Аналогичным образом реальный ВВП на душу населения с 2011 года увеличился в восемь раз и в 2022 году составит более 2000 долларов США (или 22,1 млн сумов). Данная тенденция свидетельствует о том, что экономический рост сопровождается повышением благосостояния граждан. Более того, доход на душу населения, пострадавший от пандемии COVID-19, в 2021 году вновь превысил значения, существовавшие до COVID.
              li Экономический рост в Узбекистане поддерживается централизованным планированием и инвестиционной экономической стратегией. Основная часть роста с 2010 года была обеспечена за счет увеличения капитальных вложений и стоимости экспорта природных ресурсов, таких как золото и природный газ.
            .sub-section_figure
              h3
                i Реальный ВВП на душу населения, млн. сум
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Источник: Расчеты авторов по данным Агентства по статистике
          .sub-section_content
            .sub-section_figure
              h3
                i Внешняя торговля, млн. долл.
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              i Внешняя торговля становится все более важным фактором в экономике Узбекистана
              li За последнее десятилетие значительно увеличились объемы как импорта, так и экспорта. По состоянию на 2016 год Узбекистан является нетто-импортером. Согласно кодам Гармонизированной системы, Узбекистан экспортирует драгоценные металлы, природные ресурсы и неквалифицированную рабочую силу. С другой стороны, в импорте преобладают машины и транспортное оборудование.
          .sub-section_content
            ul.sub-section_text
              i Уровень инфляции в Узбекистане растет с 2016 года 
              li
                | Инфляция, выраженная в ИПЦ, с 2016 года имеет двузначные значения. Высокие темпы инфляции обусловлены постоянным снижением курса рубля, дерегулированием цен, ростом цен, а в последнее время - глобальными тенденциями, включая проблемы с цепочками поставок и рост цен на сырьевые товары.
            .sub-section_figure
              
        #sub-section-3.sub-section
          h2 1.2 Рынок труда и социально-демографические особенности
          i Доля населения с низкими доходами снижалась вплоть до пандемии COVID-19
          ul 
            li
              | Доля населения с низкими доходами за период 2002-19 гг. сократилась вдвое. Однако в 2020 году она выросла на 0,5% из-за пандемии COVID-19. Уровень бедности в 2021 году составил 17% по новой методике расчета. Неравенство доходов, растущее с 2019 года, усугубилось пандемией COVID-19. Однако Узбекистан характеризуется низким уровнем неравенства (индекс Джини ниже 0,3). Государство сдерживает неравенство доходов с помощью политики и государственных трансфертов.
          .sub-section_content
            ul.sub-section_text
              i Более половины населения занято, однако численность занятой рабочей силы по состоянию на 2017 год сократилась
              li В 2021 году общая численность рабочей силы в Узбекистане составила 19,3 млн. человек (более половины всего населения), из которых 15 млн. человек были экономически активны. Безработица усугубляется высоким соотношением численности молодежи и населения, что обусловливает необходимость проведения политики занятости молодежи и активной политики на рынке труда.
              li В среднем за последние два десятилетия уровень занятости в расчете на рабочую силу составлял 71%.
            .sub-section_figure
              h3
                i Занятость по отраслям, % от общей занятости
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Источник: Всемирный банк, 2023 г.
          i Коэффициент охвата студентов высшими учебными заведениями остается низким
          ul 
            li Несмотря на высокие показатели валового коэффициента охвата начальным и средним образованием, охват высшим образованием в Узбекистане остается низким. Благодаря созданию новых местных университетов и филиалов зарубежных учебных заведений охват высшим образованием за 2016-21 гг. вырос с 8,5% до 21,2%. Однако этот показатель все еще остается низким и составляет лишь половину от общемирового показателя охвата образованием в 40% в 2020 году.
            li За последнее десятилетие количество студентов, обучающихся в высших учебных заведениях, увеличилось в четыре раза. Кроме того, доля девушек в общей численности студентов, обучающихся в вузах, увеличилась с 40% в 2010 году до 47% в 2023 году. Тем не менее существует необходимость повышения качества и соответствия образования потребностям рынка труда.
          i В последние три десятилетия численность населения Узбекистана неуклонно растет
          ul 
            li В среднем ежегодный прирост населения составляет 1,6%, и в 2022 году его численность достигла более 35 млн. человек. Мужское и женское население пропорционально, более половины населения проживает в городах. Узбекистан - самая населенная страна в ЦА. Благодаря экономическому росту средняя продолжительность жизни в Узбекистане увеличилась как среди мужчин, так и среди женщин, достигнув 75 лет в 2019 году. Однако во время пандемии средняя продолжительность жизни снизилась до 73 лет в 2020 году.
          i В течение последних трех десятилетий Узбекистан имел отрицательную чистую внешнюю миграцию
          ul 
            li Показатель чистой миграции свидетельствует о том, что из страны выезжало больше людей, чем въезжало. Внешняя трудовая миграция привела к большому притоку денежных переводов, в результате чего в 2020 году Узбекистан занял шестое место среди азиатских стран-получателей международных денежных переводов по доле в ВВП. В 2021 году доля полученных личных денежных переводов в ВВП составит 13,3%.
    p.disclaimer 
      | Настоящая платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')