doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 1: The socio-economic context
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a.active_language(href='/group1') Eng
        a(href='/group1_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a.nav-active(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Group 1. The socio-economic context
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 section title
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. section title
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 section title
        #section-4
          i.fa-solid.fa-people-roof
          h3 1.3 section title
        #section-5
          i.fa-solid.fa-users-gear
          h3 1.4 section title
        #section-6
          i.fa-solid.fa-users
          h3 1.5 section title
        #section-7
          i.fa-solid.fa-people-line
          h3 1.6 section title
        #section-8
          i.fa-solid.fa-hand-holding-heart
          h3 1.7 section title
        #section-9
          i.fa-solid.fa-coins
          h3 1.8 section title
        #section-10
          i.fa-solid.fa-book-open
          h3 1.9 section title
      .section_text
        #sub-section-1.sub-section.active
          h2 Socio-economic indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li
                b
                  | Uzbekistan&rsquo;s economy has been steadily growing annually by 6% on average in the last decade.
                | The real GDP value in Uzbekistan soums was UZS 160 trillion in 2022 (1 USD= 11,000 UZS). In 2022 The service sector dominated Uzbekistan&grave;s GDP (41.5%).
              li
                b Uzbekistan&apos;s real GDP per capita increased
                |  to to UZS 4.6 million in 2022 (1 USD= 11,000 UZS), compared to UZS 2.8 million in 2010 (1USD=1700 UZS), despite double-digit inflation at an average rate of 11% in the last three years.
            .sub-section_figure
              h3
                i Real GDP per capita, million UZS
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Source: Authors&grave; calculations using Statistics Agency data
          .sub-section_content
            .sub-section_figure
              h3
                i Foreign Trade, million USD
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li
                b Uzbekistan has maintained income equality with a Gini index of 0.28.
                |  The country was on a trend of reducing the proportion of the low-income population (from 26.55 in 2002 to 11.5 in 2019); however, the proportion increased by 0.5 percentage points during the 2020 pandemic.
              li
                b Uzbekistan is a net importer of goods and services as of 2016. 
                |  The total import value was USD 25 billion in 2021, while the export value was USD 16 billion.
              li
                b Uzbekistan&rsquo;s population is growing at an annual rate of 1.6%.
                |  In 2022The population was over 35 million, with 54% of the population below 30. In 2019, Life expectancy increased was 75.
          .sub-section_content
            ul.sub-section_text
              li
                | Uzbekistan has achieved 100% gross enrolment rates in primary and secondary education; 
                b enrollment in tertiary institutions is however only 21% in 2021.
              li
                b In 2021, Uzbekistan&rsquo;s 70% labour force was employed.
                |  The primary employers are the service (51%), followed by the industry (25%) and the agriculture (24%) sectors.
              li
                | Uzbekistan has a negative net external migration during the last three decades, showing an excess of persons leaving the country.
            .sub-section_figure
              h3
                i Employment by sector, % of total employment
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
            li  
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
        #sub-section-8.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
            li
              | text
        #sub-section-9.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-10.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')