doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 2-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group2_ru') RU
        a(href='/group2') Eng
        a.active_language(href='/group2_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a.nav-active(href='/group2_uz')
          i.fa-solid.fa-seedling
        p.nav-active 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_z')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Guruh 2. Iqtisodiyotning ekologik va zaxiralarni tejash jihatidan samaradorligi
    .description
      p
        | Ushbu bobda O‘zbekiston tabiiy zaxiralar va ekologik xizmatlardan foydalanishda samaraliroq bo‘ladimi yoki yo‘qmi degan masala o‘rganiladi. "Yashil o‘sish" ko‘rsatkichlari (YAO‘K) iqtisodiy faoliyatning energiya, tabiiy zaxiralar va materiallardan foydalanish samaradorligini aks ettiradi. 
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Iqtisodiyotning ekologik va zaxiralarni tejash jihatidan samaradorligi: Asosiy natijalar
        #section-2
          i.fa-solid.fa-smog
          h3 2.1 Iqtisodiyotning uglerod va energiya samaradorligi
        #section-3
          i.fa-solid.fa-chart-pie
          h3 2.2 Iqtisodiyotning resurs sig‘imi 
      .section_text
        #sub-section-1.sub-section.active
          h2 Ekologik va resurs produktivlik ko'rsatqichlari: Asosiy natijalar
          ul
            li O‘zbekiston iqtisodiyoti tabiiy zaxiralardan foydalanishda tobora samarali bo‘lmoqda. So‘nggi 30 yil ichida uglerod chiqindilari, energiya, materiallar va suv bo‘yicha samaradorlik oshgan. Biroq, ular markaziy Osiyo (MO) va Sharqiy Yevropa, Kavkaz va Markaziy Osiyo (ShYeKMO) mintaqasidagi o‘rtacha ko‘rsatkichlardan ancha past bo‘lib qolmoqda. Umidbaxsh taraqqiyotga qaramay, tabiiy zaxiralardan foydalanish hajmi yuqori bo‘lib, tabiiy kapitalga nisbatan bosimni keltirib chiqarmoqda. 
            li O‘zbekistonda issiqxona gazlari (IG) chiqindilarining umumiy hajmi Markaziy Osiyoda Qozog‘istondan keyin ikkinchi o‘rinda, yalpi ichki mahsulot (YAIM) birligiga to‘g‘ri keladigan chiqindilar bo‘yicha esa dunyoda beshinchi o‘rinda turadi. Shu bilan birga, so‘nggi 20 yil ichida u yalpi ichki mahsulot birligiga to‘g‘ri keladigan uglerod chiqindilarini taxminan 75% ga kamaytirishga muvaffaq bo‘ldi. Shu tariqa tendensiyani umidbaxsh deb baholash mumkin. 
            li So‘nggi yillarda YAIMning energiya sig‘imi pasaymoqda, ammo dunyodagi eng yuqori ko‘rsatkichlardan biri bo‘lib qolmoqda. 2022-yilda O‘zbekiston energiya ehtiyoji bo‘yicha dunyodagi sakkizinchi mamlakat bo‘ldi. Energiya iste’molining taxminan 45% binolar (turar-joy va tijorat binolari)ga, 21% sanoatga, 18% esa transportga to‘g‘ri keladi.
            li Shamol va quyosh energiyasi kabi qayta tiklanadigan energiya manbalari O‘zbekiston energiya balansida ahamiyasiz o‘rin tutadi (2 % dan kam) va ularning ulushi Markaziy Osiyo o‘rtacha ko‘rsatkichidan ancha (15%) past. Qayta tiklanadigan energiya manbalarining (QTEM) elektr energiyasi ishlab chiqarishdagi ulushi 2022 yilda 9% gacha oshdi. QTEMning 90 % dan ortig‘i gidroyenergetikadir. Qayta tiklanadigan energetikaning rivojlanishi quyosh energiyasining yuqori salohiyatiga qaramay sekin sur’atlarda davom etmoqda. 
            li So‘nggi 30 yil ichida iqtisodiyotdagi suv samaradorligi to‘rt baravar oshdi va ishlatilgan suvning har bir kubometri (m3) uchun 2 AQSH dollarini tashkil etdi. Ushbu yutuqlarga qaramay, samaradorlik Yevropa va Markaziy Osiyo mintaqasi bo‘yicha o‘rtacha 43 AQSH dollari/m3 va dunyo bo‘yicha o‘rtacha 21 AQSH dollari/m3 bilan solishtirganda eng past ko‘rsatkichlardan biri bo‘lib qolmoqda.
            li So‘nggi 30 yil ichida iqtisodiyotdagi moddiy mahsuldorlik (ma’lum miqdordagi metall, nometall va biomassadan foydalanish natijasida olingan mahsulot hajmi) ikki baravar ko‘paydi. Bu MO bo‘yicha uchinchi o‘rindagi qiymat. 
            li 2021 yilda O‘zbekistonda besh yil oldingiga nisbatan o‘n baravar ko‘p qattiq chiqindilar hosil bo‘lmoqda. 2021 yilda taxminan 6 mln tonna, yoki aholi jon boshiga 165 kg qattiq maishiy chiqindilar hosil bo‘lgan. Chiqindilarning hosil bo‘lishi o‘sib borayotgan bo‘lsa-da, hozirgi daraja dunyo bo‘yicha o‘rtacha ko‘rsatkichning atigi yarmini tashkil qiladi. Biroq, 2018 yilda aholining faqat yarmi chiqindilarni muntazam yig‘ish xizmatlari bilan qamrab olingan. Chiqindilarni qayta ishlash hajmi ortib borayotgan bo‘lsa-da, 2021-yilda ularning faqat to‘rtdan bir qismi qayta ishlangan.  
            li O‘zbekistonda har gektar (ga) ekin maydonlarida ishlatiladigan mineral o‘g‘itlar miqdori ko‘paygan, bu bir gektar ekin maydoniga to‘g‘ri kelgan ortiqcha o‘g‘itlashning o‘sishiga olib keldi. So‘nggi 30 yil ichida bu ko‘rsatkich 50 % dan ko‘proq oshdi va 2020 yilda dunyo bo‘yicha o‘rtacha ko‘rsatkichdan 75% yuqori bo‘ldi.
        #sub-section-2.sub-section
          h2 2.1 Iqtisodiyotning uglerod va energiya samaradorligi
          i O‘zbekistonda uglerod chiqindilari umumiy o‘sish tendensiyasiga muvofiq o‘zgarib turdi
          ul
            li O‘zgidromet va IHTT tomonidan qayd etilgan qiymatlardagi farqlarga qaramay, O‘zbekistonda har yili CO2 tashlanmasi ikkala hisobotda ham o‘sish tendensiyasini ko‘rsatdi. Ular 95 mln tonnadan (t) biroz yuqoriroq, lekin 1990-2020 yillardagi 125 mln tonnadan past. Tashlanma 2000-yillarning boshlarida keskin oshdi, keyinchalik 2012-2016 yillarda pasayish kuzatildi. 2016 yildan keyin tashlanma yana o‘sish sur’atini tikladi, so‘ng 2020 yilda sezilarli pasayish kuzatildi. 2021 yilda O‘zbekistonda aholi jon boshiga CO₂ chiqindilari 3,6 tonnani tashkil etdi, bu o‘rtahol fuqaroning umumiy chiqindilarga qo‘shgan hissasini ko‘rsatadi. Bu Markaziy Osiyo (MO) o‘rtacha ko‘rsatkichi - har bir kishi uchun 6,7 tonnadan ancha past edi.
            li Chiqindilarning ko‘payishiga qaramay, O‘zbekiston global uglerod chiqindilariga qo‘shgan hissasi ahamiyatsiz. 2020-yilda uning tashlanmasi Sharqiy Yevropa, Kavkaz va Markaziy Osiyo (ShYeKMO) bo‘yicha o‘rtacha ko‘rsatkichdan 20 baravar kam bo‘lib, mintaqa chiqindilarining 5% ni tashkil etdi. So‘nggi o‘ttiz yil ichida O‘zbekistonning global chiqindilardagi ulushi 0,33% ni tashkil etdi. Energetika tarmog‘i CO2 chiqindilarining asosiy manbai bo‘lib, chiqindilarning 79% elektr energiyasi va issiqlik ishlab chiqarish uchun tabiiy gaz yoqilg‘isini yoqishdan kelib chiqadi. 
          .sub-section_content
            ul.sub-section_text
              i Iqtisodiyotning uglerod mahsuldorligi 1991-2020 yillarda oshdi
              li
                | Chiqindilarning ko‘payishiga qaramay, CO2 ishlab chiqarish hajmi asta-sekin va barqaror ravishda oshdi, bu chiqarilgan CO2  birligiga ishlab chiqarish hajmining oshganligini ko‘rsatadi. 2020 yilga kelib, chiqarilgan CO2  ning har bir kilogrammi natijasida 2,39 AQSH dollariga teng mahsulot ishlab chiqarilgan, bu 1990 yildagi 0,6 AQSH dollaridan yuqori bo‘lib, iqtisodiyotda uglerod mahsuldorligining to‘rt baravar ko‘payishini ko‘rsatdi. Biroq, bu qiymat hali ham ShYeKMO mintaqasi bo‘yicha o‘rtacha 2,46 AQSH dollaridan past. Uglerod mahsuldorligining oshishi uglerod miqdori past bo‘lgan tabiiy gaz yoqilg‘isini iste’mol qilish natijasidir. Shu bilan birga, CO2 tashlanmasi 2-bobda ko‘rsatilganidek, davr mobaynida YAIMning nisbatan barqaror o‘sishi ortib bormoqda. Bu omillar CO2 tashlanmasini YAIMdan ajratishga yordam berdi, ayniqsa 2012-15 yillarda, CO2 tashlanmasining pasayishi sharoitida YAIM barqaror o‘sib borayotgan davrda yaqqol namoyon bo‘ldi.
            .sub-section_figure
              h3
                i VVPda karbon produktivlik (2015 yil narxi bo'yicha) USD/kg CO₂
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Manba: OECD, 2023 Y.
          i Co‘nggi besh yil ichida birlamchi energiya ta’minotining umumiy hajmi o‘sish tendensiyasiga ega bo‘ldi
          ul  
            li Qayta tiklanmaydigan energiya manbalari va qayta tiklanadigan energiya manbalaridan tashkil topgan O‘zbekiston UBET 2020 yilda pasayganiga qaramay, 2021 yilda 49,2 mln tonna neft ekvivalenti (tne) ga ko‘tarildi. O‘zbekiston 2018 yildan 2021 yilgacha yiliga o‘rtacha 46,8 mln tonna birlamchi energiya yetkazib bergan. Aholi sonining ko‘payishiga qaramay, UBET soni sezilarli darajada o‘zgarmadi va 50 mln tn-dan oshmadi. Shunday qilib, aholi jon boshiga energiya iste’moli 2000 yildagi 2,2 ming tonnadan 2021 yilda 1,4 ming tonnaga kamaydi.
          .sub-section_content
            ul.sub-section_text
              i Birlamchi energiya ishlab chiqarish (UBET) va elektr energiyasini ishlab chiqarishda qayta tiklanadigan energiya manbalarining ulushi yuqori emas va so‘nggi besh yil ichida kamaydi
              li Umuman olganda, birlamchi energiya ishlab chiqarish tarkibidagi QTEM ulushi kamayib bormoqda va ahamiyatli emas - 2020 yilda 1 % dan kam. O‘ttiz yil (1990-2020) davomida QTEM ulushi o‘rtacha 1,2% ni tashkil etdi. Bu qiymat 2020-yilda ShYeKMO mintaqasi bo‘yicha o‘rtacha 3,3 % dan past va Markaziy Osiyo bo‘yicha o‘rtacha 15 % dan ancha past [2]. Deyarli barcha (99%) qayta tiklanadigan energiya manbalari gidroenergetikadan, so‘ngra 2015 yil holatiga nisbatan yangi, ammo o‘sib borayotgan quyosh energiyasi kabi energiya manbalaridan olinadi [3]. Yuqori salohiyatiga qaramay, QTEMning energiya balansiga qo‘shgan hissasi pastligicha qolmoqda va uni ishlab chiqarish sekin sur’atlarda davom etmoqda.
              li O‘zbekiston birlamchi energiya manbai sifatida tabiiy gaz, neft va ko‘mir kabi qayta tiklanmaydigan energiya manbalariga yuqori darajada tayanadi. 2021 yilda qayta tiklanmaydigan qazib olinadigan yoqilg‘i umumiy hajmining 85% tabiiy gaz, 9% neft va 4% ko‘mirga to‘g‘ri keldi. Tabiiy gazdan foydalanish 1990 yildagi 63 mln tonnadan 2021 yilda 96,18 mln tonnagacha o‘sdi va energiya iste’moli tarkibidagi ustun mavqeini saqlab qoldi. 
              li Eskirgan infratuzilma, elektr stansiyalari va elektr tarmoqlari tizimlari asosan an’anaviy energiya manbalaridan foydalanish uchun loyihalashtirilgan. Bu qo‘shimcha energiya manbalari va qayta tiklanadigan energiya manbalarini tezda birlashtirish uchun to‘sqinlik qiladi. Masalan, 2019 yilda sanoat miqyosidagi quyosh elektr stansiyalari ham, shamol elektr stansiyalari ham bo‘lmagan.
            .sub-section_figure
              h3
                i Qayta tiklanadigan elektr energiyasining ulushi, elektr energiyasi manbasining %
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i YaIMning energiya intensivligi, kE/dollar (2015)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i 2000-2020 yillarda O‘zbekistonda energiya unumdorligi oshdi va shu tariqa so‘nggi yigirma yil ichida iqtisodiyotning energiya jadalligi pasaydi.
              li O‘zbekiston energiyadan foydalanishda tobora samaraliroq bo‘lib bormoqda, bundan 2005 yildan 2020 yilgacha uch baravar ko‘paygan energiya samaradorligining bosqichma-bosqich o‘sishi dalolat beradi. Bu degani ishlab chiqarilgan YaIM qiymatining birligiga kamroq energiya sarflanmoqda. O‘zbekiston har bir ishlatilgan energiya birligi hisobiga 1990 yilda 1 643 AQSH dollarni ishlab chiqargan bo‘lsa, 2020 yilga kelib 5 798 dollar ishlab topdi va bu ko‘rsatkich bo‘yicha ShYeKMO mintaqasidagi o‘rtacha 5 231 AQSH dollaridan oshdi. Samaradorlikning o‘sishi iqtisodiyotning asosiy tarmoqlarida, ayniqsa sanoatda ilg‘or, energiya tejamkor texnologiyalarga ustuvor ahamiyat beradigan, ularni targ‘ib qiluvchi va sarmoya kiritadigan davlat siyosati bilan bog‘liq.
              li 2000-21 yillar davomida O‘zbekiston yalpi ichki mahsulotining energiya sarfi AQSH dollariga 1,03 kilogramm neft ekvivalenti (ke) dan 0,14 ke/AQSH dollariga kamaydi. So‘nggi yillarda pasayganiga qaramay, energiya jadalligi global o‘rtacha 0,11 koye/AQSH dollariga nisbatan hali ham yuqori. O‘zbekiston 2022-yilda energiya iste’moli bo‘yicha sakkizinchi mamlakat bo‘ldi. So‘nggi yillarda u energiya sarfini kamaytirishga qaratilgan islohotlarni amalga oshirmoqda. Biroq, eskirgan infratuzilma va yangilanish sur’atlari sekinligi bilan bog‘liq muammolar saqlanib qolmoqda.
        #sub-section-3.sub-section
          h2 2.2 Iqtisodiyotning resurs sig‘imi 
          i Moddiy mahsuldorlik 1992 yildan 2019 yilgacha o‘rtacha sur’atlarda oshgan
          ul 
            li O‘zbekistonda ma’lum miqdordagi materiallardan ishlab chiqarilgan mahsulot hajmini o‘lchab, uning moddiy samaradorligini aks ettiruvchi iqtisodiy samaradorlik tobora ortib bormoqda. 2019 yilda ishlatilgan har bir kilogramm material (metall, nometall yoki biomassa) uchun ishlab chiqarish hajmi 1992 yildagi 0,4 AQSH dollaridan 0,9 AQSH dollarigacha ikki baravar oshdi. Markaziy Osiyoda faqat Turkmaniston va Qozog‘iston mos ravishda 1,98 va 1,02 AQSH dollarini tashkil etadigan MII ko‘rsatkichlari bo‘yicha O‘zbekistondan yuqori turadi.
          i Ekin maydonlari birligiga mineral o‘g‘itlardan foydalanish ko‘paymoqda.
          ul 
            li So‘nggi 30 yil ichida O‘zbekistonda ekin maydonlarining 1 gektarga o‘g‘it istemoli 50 % dan ziyod oshdi, bu esa ekologik muammolarni kuchaytirmoqda. 2020 yilda ushbu ko‘rsatkich o‘rtacha 255 kg ni tashkil etgan, bu global o‘rtacha ko‘rsatkichdan 75% yuqori (3.10-diagramma). 2009 yilda O‘zbekiston gektariga 94 kg ortiqcha azot sarflagan. Natijada u global o‘g‘itlar bilan ifloslanishga 0,6% ni tashkil etgan ulushini qo‘shdi (Rozer, Richi va Ortis-Ospina, 2021).
          i 2019 yildan boshlab qattiq maishiy chiqindilar hajmi keskin oshdi, shu bilan birga, 2021 yilga kelib qattiq chiqindilarning atigi to‘rtdan bir qismi qayta ishlandi.
          ul 
            li 2021 yilga kelib O‘zbekistonda qattiq maishiy chiqindilarning yillik hosil bo‘lishi 5,7 mln tonna yoki aholi jon boshiga 165 kg ni tashkil etdi. Hukumat taxminlariga ko‘ra, 2030 yilga kelib bu ko‘rsatkich 7,0 mln tonnaga yetishi mumkin, yana 1,4 mln tonna tadbirkorlik sub’yektlari va davlat tarmoqlaridan kelib tushadi. Chiqindilarning ko‘payishi iqtisodiy o‘sish bilan ajralmas jarayon. Chiqindilar tarkibida 25% oziq-ovqat, 10% qog‘oz va 50% polimerlar mavjud.
            li Qattiq chiqindi (QMCH) larni boshqarish milliy tizimlari hali endi boshlang‘ich bosqichda. Natijada, chiqindilarning katta qismi sezilarli darajada qayta ishlanmasdan ochiq chiqindixonalarda saqlanadi. Barcha shahar aholisi qattiq maishiy chiqindilarni muntazam ravishda yig‘ish imkoniyatiga ega, ammo yig‘ish xizmatlari bilan qamrab olingan umumiy aholi soni 2018 yilda atigi 48% ni tashkil etdi. Biroq, bu 2016 yilda qamrab olingan 6% ga nisbatan sezilarli o‘sish bo‘ldi.
            li Chiqindilarni yig‘ish yaxshilanmoqda. Qattiq maishiy chiqindilarni qayta ishlash 2019-yildagi 1,4 mln tonnadan (9%) 2021-yilga borib 1,7 mln tonnagacha (26%) oshdi [6]). Bundan tashqari, 2019 yilda chiqindilarni boshqarish sohasidagi me’yoriy-huquqiy bazani mustahkamlashga qaratilgan "2019-2028 yillarda O‘zbekiston Respublikasida qattiq chiqindilar bilan ishlash strategiyasi" tasdiqlandi.
          .sub-section_content
            .sub-section_figure
              h3
                i Suv unumdorligi, AQSh dollari (2015)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
            ul.sub-section_text
              i 2000 yildan beri suv unumdorligi oshdi
              li O'zbekistonda suv unumdorligi ko'rsatkichi - 1 kubometr suv ishlab chiqarish hajmi - 1994-2019 yillarda. 0,48 dollardan 1,8 AQSH dollariga qadar qariyb to‘rt baravar ko‘paydi.Bu o‘sish yalpi ichki mahsulotning o‘sishi bilan birga suvni tejovchi texnologiyalar va samarali sug‘orish tizimlarini joriy etish bo‘yicha so‘nggi chora-tadbirlar natijasida ro‘y berdi. Biroq, 2020 yilda suv unumdorligi darajasi global o'rtacha ko'rsatkichdan (20 dollar) 10 baravar va ECA mintaqaviy o'rtacha ko'rsatkichidan 23 baravar past bo'ldi.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')