doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 3. База природных активов
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group3_ru') RU
        a(href='/group3') Eng
        a(href='/group3_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a.nav-active(href='/group3_ru')
          i.fa-brands.fa-envira
        p.nav-active Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-brands.fa-envira
      h1 Группа 3. База природных активов 
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Показатели базы природных активов: основные выводы
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 text
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 text
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 text
        #section-5
          i.fa-solid.fa-tractor
          h3 3.4 text
        #section-6
          i.fa-solid.fa-binoculars
          h3 3.5 text
        #section-7
          i.fa-solid.fa-shield
          h3 3.6 text
      .section_text
        #sub-section-1.sub-section.active
          h2 Natural asset base indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li 
                | Uzbekistan has seen a
                b  significant increase in forest area and stock. 
                |  In 2020, the forest area grew 35% larger than in 1992. In 2015, there were 76 million m3 of trees and shrubs in the forest, compared to 70.8 million m3in 1990.
              li
                b Uzbekistan faces high water stress (68%), 
                |  with agriculture consuming over 90% of the freshwater resources. 
            .sub-section_figure
              h3
                i Forest area, million ha and % of land area
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 
          .sub-section_content
            .sub-section_figure
              h3
                i Freshwater use by sector, % of freshwater withdrawal
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
            ul.sub-section_text
              li 
                b Uzbekistan has a large land area of 440,650 km2, with agriculture making up more than half of it. 
                |   However, the amount of agricultural land has decreased over time. 
          .sub-section_content
            ul.sub-section_text
              li
                b Over 3 million hectares of land are cultivated, but the land faces degradation 
                |  due to unsustainable practices like overgrazing and inappropriate irrigation, which are costly for the country. Uzbekistan also invests in organic farming, which is increasing in popularity and covers over 200,000 hectares of land.
            .sub-section_figure
              h3
                i Cultivated land area, in ‘000 ha
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 (1km2= 100ha)
          .sub-section_content
            .sub-section_figure
              h3
                i Protected area in '000 ha
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li
                b Uzbekistan has growing protected natural areas 
                |  covering 7.8% of the land.  The country is home to many species of plants and animals, including migratory bird species, but climate change, overgrazing, hunting, and poaching threaten their survival. 
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')