doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/static/styles/styles1.css')
  title Group 4. The environmental dimension of quality of life
header
  div
    a(href='/group4_ru') RU
    a(href='/group4') Eng
  p From 2023
.navigation
  a(href='/')
    i.fa-solid.fa-house-flag
  a(href='/introduction')
    i.fa-regular.fa-file-lines
  a(href='/group1')
    i.fa-solid.fa-arrow-up-right-dots
  a(href='/group2')
    i.fa-solid.fa-seedling
  a(href='/group3')
    i.fa-brands.fa-envira
  a.nav-active(href='/group4')
    i.fa-solid.fa-building-columns
  a(href='/group5')
    i.fa-solid.fa-users-gear
.heading
  i.fa-solid.fa-building-columns
  h1 Group 4. The environmental dimension of quality of life
.description
  p This group of indicators explores whether greening growth generates benefits for people in Moldova. The four indicators measure air pollution, population exposure to fine particulate 
    |matter, and access to safe drinking water and sewerage. Using these measurements, the chapter reflects on how environmental conditions and environmental risks interact with the quality of life and well-being of people. They also point out how the amenity services of natural capital support well-being. Further, they show the extent to which income growth is accompanied (or not) by a rise in overall well-being.
main
  .section
    #section-1.section-active
      i.fa-solid.fa-file-circle-check
      h3 Environmental quality of life indicators: Key findings
    #section-2
      i.fa-solid.fa-smog
      h3 4.1 Air pollution
    #section-3
      i.fa-solid.fa-person-arrow-up-from-line
      h3 4.2 Population exposure to fine particulate (PM 2.5)
    #section-4
      i.fa-solid.fa-faucet-drip
      h3 4.3 Access to safe drinking water sources
    #section-5
      i.fa-solid.fa-arrow-up-from-water-pump
      h3 4.4 Population connected to sewerage
  .section_text
    #sub-section-1.sub-section.active
      h2 Environmental quality of life indicators: Key findings
      ul
        li
            b Water resources:
            |  despite limited water  resources, the volume of water intake is quite big, about half of the renewable  water resources or a total annual volume of about 970 million cubic metres (m3)  (370 m3 per capita).
        li
            b Forest resources:
            |  despite the slight increase in afforestation of the country&rsquo;s  territory, the Republic of Moldova (hereafter &ldquo;Moldova&rdquo;) still has limited  forest resources.The country&rsquo;s afforestation level grew  modestly, from 11.1% to 11.3%, with variations depending on the area. In the  north, afforestation grew by 7.2%, in the centre by 13.5% and in the south by  6.7%, which remains one of the lowest levels in the region.
        li
            b Land resources:
            |  soil resources have not  changed significantly in the last decade. Factors such as urbanisation,  population density and infrastructure expansion have been unable to change the  structure of the land fund.
        li
            b Organic agriculture:
            |  at the end of 2020, according  to the Atlas of Organic Agriculture (2020), 144 active organic agricultural  producers were processing an area of about 29&nbsp;000 ha, or 1.4% of the  agricultural area of the country.
        li
            b Biodiversity:
            |  the diminishing state of biodiversity is evidenced by the growing  number of plant and animal species endangered because of poaching and  uncontrolled fishing.
        li
            b Protected natural areas:
            |  the surface of natural areas  protected by the state constitutes about 193&nbsp;000 ha or 5.7% of the country&rsquo;s  territory and includes 312 objects. It expanded continually yet remained one of  the smallest protected areas in the EaP region.

    #sub-section-2.sub-section
      h2 Indicator 4.1 Air pollution
      p
        i Key message 
        br
        |     Moldova, which has limited water resources compared with most European countries, depends on water from the Prut and Nistru rivers, which accumulate mainly outside the country. At the same time, while the agricultural sector accounts for a large share of Moldova&rsquo;s economy, it is represented by a large number of small farmers with rudimentary businesses. Increasingly frequent droughts require higher volumes of water and irrigation. This is often delivered through inefficient systems, leading to large losses. Thus, besides a high volume of water intake per capita and a relatively high level of water stress, losses during transportation are still significant with no solution in sight.
      p
        i Indicator trend 
        br
        |     The main source of water supply is surface waters from two different water catchment areas: Danube-Prut and the Black Sea on the one side, and Nistru, on the other. These are known for the water catchments areas of Nistru and Prut rivers, which in recent years had unstable flows due to hydro-meteorological conditions and economic activities carried out upstream. Even so, water resources depend on water coming down the Prut and Nistru rivers, which accumulate mainly outside the country. On the other hand, internal resources (rivers and underground water reserves) amount to 1.6 billion m3. This represents 580 m3 of water per capita, much below the volume reported in other European countries. Overall, the quality of internal water resources is poor because Moldova has ignored environmental factors for many years. According to the data, Prut and Nistru rivers meet Class III water quality requirements (moderately polluted), while internal rivers are ranked in Classes IV-V (polluted and very polluted).
        br
        |    Despite the limited water resources, the volume of water intake is quite big &ndash; about half of the renewable water resources or a total annual volume of about 970 million m3 (370 m3 per capita) (figure 32). One of the reasons for the large water intake is the relatively large water losses during transportation. Between 2001 and 2019, water losses during transportation were relatively stable, ranging between 60-70 million m3. The volume of water intake decreased, primarily due to a declining population and less household consumption. On the other hand, in terms of production needs, volumes of water used by business entities had an insignificant decrease.
      p
        i Figure 32. Water intake (million m3) 
      p
        | Moldova ranks among the lowest of European countries according to renewable internal sources of water per capita (Figure 33). In recent years, this indicator has improved due to a declining population rather than to improved water resources. Moreover, the level of water stress as a share of freshwater abstraction from the total available resources of freshwater has a value of 12.5, which exceeds the neighbouring countries of Romania (6.3) and Ukraine (11.2). This is due to irrational household and business consumption, as well as large losses during transportation. For example, irrigation in agriculture is still deficient; using improvised equipment often leads to considerable water losses.
      p
        i
            | Figure 33. Internal renewable water resources per capita (m3) and water stress (percentage)
      p
        | At the same time, the ratio between losses and water intake is around 7-8%, which exceeds values in other European countries. Also, relative indicators such as losses of water per capita or reported to GDP reveal an unfavourable position. For example, in Moldova, losses per capita amount to about 23 m3. Meanwhile, 6.9 litre are lost to produce USD 1.0 of the GDP, which ranks Moldova as one of the worst performers compared with other European countries.
        br(clear='all')



    #sub-section-3.sub-section
        h2 Indicator 4.2 Population exposure to fine particulate (PM 2.5)
        p
            i Key message 
            br
            | Despite the slight increase in afforestation of the country&rsquo;s territory, Moldova still has limited forest resources. This is coupled with serious environmental issues and extreme weather events, which have become increasingly frequent in recent years. At the same time, no one doubts the limited area covered by forests is one of the causes of climate change. This calls for prompt policy action.
        p
            i Indicator trend 
            br
            | Moldova has a low level of afforestation, with the forest area growing insignificantly over the past few years. The biggest share of forest fund belongs to the state through the Agency Moldsilva (86.7%) followed by local public authorities (12.8%) and other institutions. Over the past decade, forest area increased from 419 000 ha to about 425 000 ha, largely due to land covered with hardwood trees. Due to these trends, the country&rsquo;s afforestation level grew from 11.1% to 11.3%, with variations depending on the area. Afforestation grew 7.2% in the north, 13.5% in the centre and 6.7% in the south.
            br
            | Politicians have increasingly focused on the slow expansion of forest area, but recent extreme weather events indicate there is no time left to lose. In 2021, the presidency set up a working group to develop the National Afforestation Programme (Presidency of the Republic of Moldova, 2021). This programme aims to plant at least 100 000 ha of forest in the next ten years, which would allow Moldova to reach the target of 15% in forest coverage.
        p
            i Figure 34. Indicators of forest resources 
        p
            | As regards timber reserves, growth has slowed in recent years. Between 2005 and 2020, the reserve of standing timber increased from 45.0 million m3 to nearly 50 million m3. Nonetheless, this rate has decreased since 2015, in part because forest area being cut was larger than areas left to regenerate through tree planting. Thus, between 2015 and 2020, the deforested area increased from 4 603 to 4 925 ha, while the regenerated areas did not increase continuously and varied between 4 200 and 4 900 ha.
            br
            |  Moldova ranks among the lowest in terms of afforestation in comparison with other European countries  (Figure 4.4). Moldova exceeds only some insular countries or those with extended areas of water, such as the Netherlands, Ireland or Iceland, with the average European level at around 30%. The same is true with respect to afforested areas per capita, with Moldova having a value of only 150 m2.
        p
            i Figure 35. Degree of afforestation at European level (percentage)



    #sub-section-4.sub-section 
        h2 Indicator 4.3 Access to safe drinking water sources
        p
            i Key message
            br
            |                                     The way energy is used has an impact on the development of the green economy. Producing energy with less fuel generates fewer CO2 emissions and helps maintain a clean environment. Energy productivity reflects the relationship between the use of energy and economic growth. Productivity is determined by the value of economic output (1 MDL or USD of GDP) per a certain quantity of energy. For example, growth in productivity reveals that production of 1 MDL or USD of GDP was accompanied by a decrease in energy consumption. In Moldova, the supply of primary energy and final consumption of energy increased after 2020. Energy supply grew at a lower rate than GDP. As a result, energy productivity increased. Nonetheless, this growth did not allow Moldova to improve its position in relation to other European countries.
        p
            i Indicator trend
            br
            |                                 After 2010, the supply of primary energy increased (except for a decrease in 2019). Between 2010 and 2019, the supply of primary energy grew from 2.6 to 2.9 million tonnes of oil equivalent (toe), an increase of 11.5%. The increasing supply of energy was determined by the growth in consumption. Thus, in 2019, compared with 2010, final consumption of energy grew by 16.8%, from 2.3 to 2.7 million toe.
            br
            |                                 During 2010 and 2019, non-energy consumption triggered the fastest growth in energy use, from 32 000 to 67 000 toe. Energy consumption in agriculture also grew quickly: from 71 000 to 123 000 toe (73.2%). Meanwhile, energy use in the transport sector grew from 597 to 769 million toe (28.8%). The residential sector grew at a slower pace: from 1.1 to about 1.3 million toe (11.6%). Energy consumption in industry and construction, as well as in the trade and public service sector, remained generally stable. The use of energy in industry and constructions varied around the level of 230 000 toe. Meanwhile, in the trade and public service sector, consumption oscillated around the level of 270 000 toe.
            br
        p
            i
                | Figure 19. Supply of primary energy and final consumption of energy by sectors (thousand tonnes oil equivalent)
        p
            i
                img(src='images/engraf19.png' alt='')
                br
        p
            | Between 2010 and 2019, the structure of final consumption of energy underwent minor changes. The share of the residential sector in energy consumption decreased from 48.6% to 46.5%, while the share of transport increased from 25.5% to 28.1%. The share of energy consumption also decreased in industry and construction (from 9.7% to 8.5%) and in trade and public services (11.8% to 9.9%). The share of energy use increased in agriculture (from 3.0% to 4.5%) as did the share of non-energy consumption (from 1.4% to 2.4%). However, the sector still accounts for a small share of energy consumption.
        p
            i  Figure 20. Structure of final consumption of energy (percentage)  
        p
            | Between 2010 and 2019, the supply of primary energy increased by 11.5%, and GDP grew by about 42%. As a result, energy productivity increased and economic growth decoupled from energy use. In terms of economic output at PPP, the level of productivity grew by 27.2% &ndash; from 9.2 to 11.8 USD/kg.
            br
            |                                     Energy productivity grew much faster in Moldova compared with other European countries. For example, between 2010 and 2019, productivity in the European Union grew by 24.4% and was 2.7 percentage points lower than growth in Moldova. Despite this progress, productivity in Moldova is still low compared with other European countries. Among European countries, Moldova ranks near the bottom in terms of energy productivity (figure 21).
        p
            i Figure 21. Energy productivity, USD PPP (2017=1)/g oil equivalent  

            

    #sub-section-5.sub-section 
      h2 Indicator 4.4 Population connected to sewerage
      p
        i
            | Key message
        br
        |      Soil resources have not changed significantly in the last decade. Factors such as urbanisation, population density and infrastructure expansion have been unable to change the structure of the land fund. Thus, Moldova remains a territory with predominantly agricultural areas; soil is its main natural resource. However, large areas of agricultural land are still parcelled out. Some are affected by erosion, which reduces performance of the agricultural sector.
      p
        i Indicator trend 
        br
        |     The land fund of the country is dominated by land used for agriculture. Its share remains one of the largest in the world, about 62% of the total land fund or 2.1 million ha. The use of agricultural land has remained virtually the same for many years. More than 70% is arable land and slightly over 10% is areas with multi-annual plantations divided more or less equally between vineyards and orchards. It is encouraging that in recent years the unprocessed agricultural areas (fallow land) have decreased by more than 15 000 ha. Thus, this type of land covers an area of about 27 000 or 1.1% of total agricultural lands. At the same time, the quality of soil tends to decrease due to erosion, and lack of crop rotation and measures for soil conservation. According to the Land Cadastre data, eroded soils cover about 877 600 ha, including 114 000 ha of strongly eroded soils (Ministry of Agriculture, Regional Development and Environment, 2020). The area of eroded soils has increased over the last 40 years by 283 400 ha, advancing by about 7 000 ha per year.
        br
        |     The other types of land included in the land fund still have the same areas, namely: (i) forests and other land with forest vegetation &ndash; 13.4%; (ii) community-owned land &ndash; 9.2%; and (iii) land of the water fund &ndash; 2.6%. An exception to this rule is land in the reserve fund. It has a share of 11.2% of the land fund area but has decreased by slightly over 90 000 ha in the past decade. The decrease is mainly due to the deduction of land occupied by construction and annexes of former agricultural units and their transfer into the category of land for agricultural use.
      p
        i Figure 36. Land fund use as of 1 January (million hectares) 

footer
  p &copy; 2023. All right reserved

script(src='/static/javascripts/script.js')
