doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 2-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group2_ru') RU
        a(href='/group2') Eng
        a.active_language(href='/group2_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a.nav-active(href='/group2_uz')
          i.fa-solid.fa-seedling
        p.nav-active 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_z')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Guruh 2. Ekologik va resurs produktivlik
    .description
      p
        | Bu bobda O'zbekistonda tabiiy resurslar va ekologik xizmatlarni samarali ishlatishning efektivligi o'zgaradimi, qanday muhokama qilinadi. Yashil o'sish ko'rsatqichlari (YOK) energiya, tabiiy resurslar va materiallarini iqtisodiy faoliyatda qanday samarali ishlatishni ifodalaydi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Ekologik va resurs produktivlik ko'rsatqichlari: Asosiy natijalar
        #section-2
          i.fa-solid.fa-smog
          h3 2.1 Karbon va energiya produktivlik
        #section-3
          i.fa-solid.fa-chart-pie
          h3 2.2 Resurs produktivligi
      .section_text
        #sub-section-1.sub-section.active
          h2 Ekologik va resurs produktivlik ko'rsatqichlari: Asosiy natijalar
          ul
            li O'zbekiston iqtisodiy faoliyatda tabiiy resurslarni samarali ishlatishda qo'shilayotgan, keyingi 30 yilda karbon, energiya, materiallar va suvning samaradorligi oshdi. Biroq, ular hali ham Markaziy Osiyoda (MO) va Sharqiy Yevropa, Kavkaz va Markaziy Osiyo (SYMKMO) o'rtachalari ostida ko'proqroq. Qiziqishga qaramasdan, ekologik resurslarni ishlatish darajasi yuqori darajada joylashganligi sababli tabiiy kapitalga yuk keltiradi.
            li Umumiy gazik oksidlar (GGO) tarkibidagi emissiyalar hajmi bo'yicha O'zbekiston MOda Qozog'istondan so'ng ikkinchi o'rinda, va uni bir dollar haqiqiy milliy mahsulot (HMP) boshiga tushirilgan emissiyalar hajmi bo'yicha jahon bo'ylab beshinchi o'rinda joylashadi. Shu vaqtda, 20 yillik davrda u ularni HMP boshiga tushirilgan karbon emissiyalarini yakka 75% ga qarab kamaytirgan. Shunday qilib, bu tendentsiya qiziqotkazadi.
            li O'zbekistonning HMP energetika iqtisodiyati oxir-oqim yillarda pastaytiriladi, lekin bu hali ham dunyoda eng yuqori darajada joylashgan. 2022 yilda O'zbekiston energetika iqtisodiyati bo'yicha jahonda 8-o'rinda joylashdi. Binolarning (yashash va savdo) energiyani 45%, sanoat 21%, transport 18% xarajat qilmoqda.
            li Yenilgan energiya manbai, masalan, shamol va quyosh energiyasi, O'zbekiston energiya balansida kamroq rolini o'ynaydi (2% dan pastroq). Yenilgan energiya manbai (YEM) 2022 yilda elektr energiyasi ishlab chiqarishda 9% ga oshdi. YEMning 90% dan ortiq qismi suv energiyasiga tegishli. YEMning rivojlanishi tezlik bilan sodir bo'lmaydi, qanday qilib quyosh energiyasining baland potentsiali qo'llanilishi mumkin emas.
            li O'zbekistonda iqtisodiyda suv samaradorligi 30 yildan buyon to'rt marta oshib, har bir m3 ishlatilgan suv uchun 2 dollar. Bunday rivojlanishga qaramasdan, samaradorlik Yevropa va Markaziy Osiyo mintaqasiga o'rtacha ko'rsatkichlar (43 dollar/m3) va dunyoning o'rtacha ko'rsatkichiga (21 dollar/m3) nisbatan past qolmoqda.
            li Iqtisodiyda materiallar samaradorligi (aniqliklar, no metall, va biomassa ishlatilgan belgilangan miqdorda mahsulot) 30 yil davomida ikki marta o'sib chiqdi. Ushbu qiymat MOda eng katta qadamlar qatorida uchinchidir.
            li 2021 yilda O'zbekistonda qattiq xodimlarning omborlari 5 yil avvalgiga nisbatan oshdi. Mamlakatda 2021 yilda qattiq maxsulotlar yakka 6 million tonna, yoki fuqarolar uchun 165 kg ta'minlandi. Qattiq maxsulotlar yaratilish miqdori oshsa-da, joriy daraja faqat dunyo o'rtacha miqdoriga etarli.
            li O'zbekistonda qog'ozg'oyni zemlani hektarda yutuqlar qo'shib oshib, bu yer yutuq izbutiligining oshishiga olib kelganligi sababli. U 30 yil ichida ortiqchada o'sib, 2020 yilda uning o'rtacha miqdori dunyo miqdori bilan 75% dan yuqori bo'ldi.
            li 2021 yilda O'zbekistonda qatiq maxsulotlar ombori vaqtida o'ttiz marta ko'proq bo'lib, 2021 yilda mamlakatda yakka fuqaroga 6 million tonna qatiq xodimlar yaratildi. Qattiq maxsulotlar yaratish miqdori oshsa-da, joriy daraja faqat dunyo o'rtacha miqdoriga etarli. Biroq, 2018 yilda tashqi maxsulotlarni yig'ish xizmatlariga doimiy xizmat ko'rsatish talablari faqat jahon o'rtacha miqdoriga yetdi. 2021 yilda qattiq maxsulotlar miqdori faqat yig'indilgan maxsulotlar hajmi ustiga 4 da 1 qismini tashkil qildi, xotira qilinsa, qo'shimcha yetkazib berish miqdorlari o'sdi.
            li O'zbekistonda yer ostida mineral qit'alarining xarajati hektarda (ga) o'sib, bu yer ostida qiziqishga olib kelganligi sababli qishloq vaqfiyati o'sdi. U 30 yil ichida 50% dan ortiq o'sib, 2020 yilda uning o'rtacha miqdori dunyo o'rtacha miqdoriga nisbatan 75% dan yuqori bo'ldi.
        #sub-section-2.sub-section
          h2 2.1 Karbon va energiya produktivlik
          i O'zbekistonda karbon emissiyalari o'zgartirish tendentsiyasiga qo'shilgan jamiyat vaqtida aldashish ekanligini ko'rsatadi
          ul
            li
              | 2000-yillar boshida tajribasiz karbon emissiyalari kuchayib, so'nggi 2012-2016 yillar davrida kamayib, keyin 2016 yildan so'ng karbon emissiyalari o'sib, xususan 2020 yilda aniqlik bilan kamayib ko'rinadi. 2021 yilda O'zbekistandagi fuqarolar uchun karbon dioksidi emissiyalari, jamiyatning umumiy emissiyalarga fuqarolar o'rtasidagi qo'shilishini ko'rsatadigan 3,6 tonna bo'ldi. Bu, Markaziy Osiyoda (MO) o'rtasidagi o'rtacha miqdorlar (6,7 t fuqaro)dan juda pastroq bo'lganligi sababli katta daraja pastroq.
            li Kamayib, O'zbekiston jahonaviy karbon emissiyalariga insignifikant hissa qo'shadi. 2020 yilda emissiya miqdori Vostochnoy Evropa, Kavkaz va Markaziy Osiyo mamlakatlari o'rtasidagi o'rtacha miqdorga nisbatan 20 marta kamroq bo'lganligi sababli jamiyatning umumiy emissiyalar miqdori ichida 5% ni tashkil qildi. O'zbekistonning jahonaviy emissiyalar miqdorigida o'tgan uch o'ylik davr davrida O'zbekistonning bahs qilinadigan emissiyalarni VVP dan ajratishga bo'lmagan bo'lishi o'sib, xususan 79% gazi topshiriqlarini energiya va isitma energetikasi ishlab chiqarish uchun yaktirishga bag'ishlab olinganligi.
          .sub-section_content
            ul.sub-section_text
              i Karbon bo'yicha iqtisodiy produktivlik 1991-2020 yillar davomida o'sib
              li
                | Karbon emissiyalari oson 2,39 dollarlik bo'lsa, 2020 yilda har bir kilogramm karbon emissiyasi uchun VVP da ishlab chiqarilgan mahsulot miqdori (2015 yil narxi bo'yicha) 0,6 dollarlik bo'lsa, bu CO₂ produktivlik miqdori to'qqiz marta oshganligini ko'rsatadi. Bu qiymat hali ham VЕKЦA mintaqasidagi o'rtacha miqdorga nisbatan pastroq bo'lgan 2,46 dollarlik bo'lsa ham, ammo bu mening xulosham, 2012-2015 yillardagi muhokamalar, VVP o'sishi davomida odatda sodda hamda sabit bo'lgan qishloq vaqfiyati o'sib ketganligi sababli ko'zda tutilgan emas. Bu faktlar CO₂ emissiyalarini VVP dan qondirib olishning moslamasi bilan kelishmasdan, ular o'zaro mos kelishi mumkin emas, xususan, 2012-2015 yillar davrida, VVP o'sishi doimiy ravishda davom etayotgan va hali ham ko'rsatadi.
            .sub-section_figure
              h3
                i VVPda karbon produktivlik (2015 yil narxi bo'yicha) USD/kg CO₂
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Manba: OECD, 2023 Y.
          i Oxirgi besh yilda birinchi energetika qo'llab-quvvatning umumiy taklifi o'sib, u qanchalik kamroq bo'lgan
          i Yenilgan energiya manbai (YEM) ulkan va elektr energiyasi ishlab chiqarishda 5 yil ichida past va joriy darajada bo'lib kamayib o'tgan
          ul  
            li Qayta tiklanmaydigan energiya manbalari va qayta tiklanadigan energiya manbalaridan tashkil topgan Oʻzbekiston issiqlik elektr stansiyalari 2020-yilda kamayganiga qaramay, 2021-yilda bir oz koʻpayib, 49,2 million tonna neft ekvivalentini (toe) tashkil etdi. Energiya bilan ta’minlanganlik Markaziy Osiyo bo‘yicha o‘rtacha ko‘rsatkichdan yuqori bo‘lsa-da, 2020-yilda bu jahon o‘rtacha ko‘rsatkichidan 280 baravar va EECCA mintaqasidagi o‘rtacha ko‘rsatkichdan 20 baravar kam. IRENA (2022) maʼlumotlariga koʻra, 2019 yilda Oʻzbekiston oʻzini energiya bilan 114 foiz taʼminlagan. Xuddi shu yili mamlakat energiya ishlab chiqarishning 20 foizini eksport qildi va energiya manbalarining 5 foizini import qildi.
          .sub-section_content
            ul.sub-section_text
              i Qayta tiklanadigan energiya manbalarining issiqlik elektr stansiyalari va elektr energiyasi ishlab chiqarishdagi ulushi kichik va so'nggi besh yil ichida kamaydi.
              li Qayta tiklanadigan energiya manbalarining birlamchi energiya balansidagi ulushi umuman kamayib bormoqda va unchalik katta emas - 2020 yilda 1 foizdan kam. Qayta tiklanadigan energiyaning deyarli barchasi (99%) gidroenergetikadan, keyin esa quyosh energiyasidan keladi, bu nisbatan yaqinda, lekin 2015 yildan boshlab o'sib borayotgan energiya manbai. Yuqori salohiyatga qaramay, qayta tiklanuvchi energiya manbalarining energiya balansiga qo‘shadigan hissasi pastligicha qolmoqda, ularni ishlab chiqarish sust.
              li O‘zbekiston birlamchi energiya bilan ta’minlash uchun tabiiy gaz, neft va ko‘mir kabi qayta tiklanmaydigan manbalarga tayanadi. 2021 yilda qayta tiklanmaydigan qazilma yoqilg'ilarning 85 foizi tabiiy gaz, 9 foizi neft va 4 foizi ko'mirdir.
              li Eskirgan infratuzilma, elektr stantsiyalari va tarmoq tizimlari asosan an'anaviy energiya manbalaridan foydalanishga mo'ljallangan. Bu qo'shimcha va qayta tiklanadigan energiya manbalarining tez integratsiyalashuviga to'siq yaratadi (IEA, 2022). Masalan, 2019 yilda sanoat miqyosida quyosh elektr stantsiyalari yoki shamol stansiyalari mavjud emas edi.
            .sub-section_figure
              h3
                i Qayta tiklanadigan elektr energiyasining ulushi, elektr energiyasi manbasining %
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i YaIMning energiya intensivligi, kE/dollar (2015)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i 2000-20 yillarda O'zbekistonda energiya unumdorligi. oshdi, shuning uchun so'nggi yigirma yil ichida iqtisodiyotning energiya zichligi kamaydi
              li O‘zbekistonda energiyadan foydalanish samaradorligi tobora ortib bormoqda, buni 2005-20-yillarda energiya unumdorligining bosqichma-bosqich o‘sib borayotgani ko‘rsatib turibdi. uch barobar oshdi. Hosildorlikning o‘sishiga iqtisodiyotning asosiy tarmoqlarida, xususan, sanoatda takomillashtirilgan energiya tejamkor texnologiyalarni rivojlantirish, rag‘batlantirish va investitsiyalarga ustuvor ahamiyat beruvchi hukumat siyosati sabab bo‘lmoqda.
              li 2022-yilda O‘zbekiston energiya sig‘imi bo‘yicha sakkizinchi o‘rinni egalladi [4]. So‘nggi yillarda mamlakatda energiya sarfini kamaytirishga qaratilgan islohotlar amalga oshirilmoqda. Biroq, eskirgan infratuzilma va infratuzilmani yangilashning sekin sur'ati tufayli muammolar saqlanib qolmoqda (IEA, 2022).
        #sub-section-3.sub-section
          h2 2.2 Iqtisodiyotning resurs unumdorligi
          i 1992-2019 yillar mobaynida moddiy ishlab chiqarish o'rtacha sur'atda o'sdi.
          ul 
            li O'zbekistonda ma'lum miqdordagi materiallardan olinadigan mahsulot hajmini o'lchaydigan moddiy unumdorlik ko'rsatkichida aks ettirilgan iqtisodiy samaradorlik ortib bormoqda. 2019 yilda foydalanilgan har bir kilogramm materiallar (metall, metall bo'lmagan yoki biomassa) uchun ishlab chiqarish ikki baravar ko'paydi - 1992 yildagi 0,4 dollardan 0,9 dollargacha. Markaziy Osiyoda faqat Turkmaniston va Qozog'iston CMD unumdorligi mos ravishda $1,98 va $1,02 bo'lgan O'zbekistondan ustundir.
          i Ekin maydonlarining bir birligiga mineral o‘g‘itlardan foydalanish ko‘lami ortib bormoqda
          ul 
            li O‘zbekistonda so‘nggi 30 yil ichida har gektar ekin maydonlariga o‘g‘it iste’moli 50 foizdan ortiq o‘sdi, bu esa ekologik muammolarni kuchaytirmoqda. 2020-yilda bu ko‘rsatkich o‘rtacha 255 kg ni tashkil etadi, bu esa jahon o‘rtacha ko‘rsatkichidan 75 foizga yuqoridir. 2009 yilda gektariga 94 kg ortiqcha azotdan hosil bo'lgan global o'g'itlar bilan ifloslanishning 0,6 foizi O'zbekiston hissasiga to'g'ri keldi.
          i 2019 yildan boshlab qattiq maishiy chiqindilar miqdori keskin oshdi va 2021 yilga kelib qattiq maishiy chiqindilar umumiy hajmining atigi to'rtdan bir qismi qayta ishlandi.
          ul 
            li 2021-yilga kelib O‘zbekistonda yillik qattiq maishiy chiqindilar 5,7 million tonnani yoki aholi jon boshiga 165 kilogrammni tashkil qiladi. Hukumat prognozlariga ko'ra, 2030 yilga kelib bu ko'rsatkich 7,0 million tonnaga yetishi mumkin, yana 1,4 million tonna tijorat va davlat sektoridan keladi. Chiqindilarning ko'payishi iqtisodiy o'sishga bog'liq emas. Chiqindilar 25% oziq-ovqat mahsulotlari, 10% qog'oz va 50% polimerlardan iborat.
            li Qattiq maishiy chiqindilarni (MSW) boshqarish milliy tizimlari ibtidoiy. Natijada ko'pchilik chiqindilar muhim qayta ishlanmasdan ochiq chiqindixonalarga tushadi.
            li Chiqindilarni yig‘ish va qayta ishlash bilan bog‘liq vaziyat yaxshilanmoqda. Chiqindilarni yig‘ish xizmatlari bilan qamrab olingan jami aholi soni 2018-yilda atigi 48 foizni tashkil etgan bo‘lsa-da, bu 2016-yilda qamrab olingan 6 foizga nisbatan sezilarli o‘sishdir. Qattiq maishiy chiqindilarni qayta ishlash 2019 yildagi 1,4 million tonnadan (9 foiz) 2021 yilga kelib 1,7 million tonnaga (26 foiz) oshdi.
          .sub-section_content
            .sub-section_figure
              h3
                i Suv unumdorligi, AQSh dollari (2015)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
            ul.sub-section_text
              i 2000 yildan beri suv unumdorligi oshdi
              li O'zbekistonda suv unumdorligi ko'rsatkichi - 1 kubometr suv ishlab chiqarish hajmi - 1994-2019 yillarda. 0,48 dollardan 1,8 AQSH dollariga qadar qariyb to‘rt baravar ko‘paydi.Bu o‘sish yalpi ichki mahsulotning o‘sishi bilan birga suvni tejovchi texnologiyalar va samarali sug‘orish tizimlarini joriy etish bo‘yicha so‘nggi chora-tadbirlar natijasida ro‘y berdi. Biroq, 2020 yilda suv unumdorligi darajasi global o'rtacha ko'rsatkichdan (20 dollar) 10 baravar va ECA mintaqaviy o'rtacha ko'rsatkichidan 23 baravar past bo'ldi.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')