doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 5-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group5_ru') RU
        a(href='/group5') Eng
        a.active_language(href='/group5_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a.nav-active(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p.nav-active 5-guruh
    .heading
      i.fa-solid.fa-users-gear
      h1 Guruh 5. Iqtisodiy imkoniyatlar va siyosiy choralar
    .description
      p Bu bobda O'zbekistonning "yashil" iqtisodiyotga o'tishga investitsiyalari va "yashil" o'sishning olib keladigan iqtisodiy imkoniyatlar va foydalarni ko'rib chiqiladi. Ko'rsatuvlar "yashil" texnologiyalar va innovatsiyalar, tabiiy muhofaza faoliyati, narxlar, ekologik soliq-qonunlar (daromadlar) va moliyaviy uzatmalar sohasidagi siyosatning samaradorligini baholashga yordam beradi. Shunday qilib, ulardan "yashil" o'sish bilan bog'liq iqtisodiy imkoniyatlarini o'z ichiga oladi (OECD, 2017).
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Iqtisodiy imkoniyatlar va siyosiy choralar: Asosiy natijalar
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 Texnologiyalar va innovatsiyalar
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 Moliyaviy oqimlar
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 Narxlar va o‘tkazmalar
      .section_text
        #sub-section-1.sub-section.active
          h2 Iqtisodiy imkoniyatlar va siyosiy choralar: Asosiy natijalar
          ul 
            li So‘nggi besh yil ichida tabiatni muhofaza qilish texnologiyalariga sarmoyalar kiritish bo‘yicha ma’lumotlar yo‘q. Biroq, avvalgi tendensiya shuni ko‘rsatadiki, O‘zbekiston 1990-yillarning boshidan beri ekologik texnologiyalarga sarmoya kiritgan. 2018 yilda O‘zbekistondagi innovatsiyalarning 15 % dan ortig‘i atrof-muhitni muhofaza qilish bilan bog‘liq bo‘lgan, bu dunyo bo‘yicha o‘rtacha 10% ga teng ko‘rsatkichdan yuqoridir. 
            li Atrof-muhitni muhofaza qilish xarajatlari o‘sish tendensiyasini namoyish qilmoqda, ammo hali ham pastligicha qolmoqda. So‘nggi o‘n yil ichida o‘rtacha hisobda ular davlat xarajatlarining atigi 0,06% ni yoki YAIMning 0,02% ni tashkil etdi. O‘zbekiston byudjetida "yashil" xarajatlarning tizimli belgilanmasligi barcha "yashil" investisiyalarni baholashni qiyinlashtirgani sababli, ushbu qiymat pastroq baholanishi mumkin. 
            li Davlat byudjetiga ekologik soliq tushumlarining ulushi 2015-18 yillarda o‘rtacha 0,01 % darajasida o‘zgarishsiz qoldi. Qattiq maishiy chiqindilarni yig‘ish uchun to‘lovlar ekologik soliq tushumlarining 57 % ni tashkil qiladi. Atrof-muhit bilan bog‘liq barcha soliqlarning tizimli hisobi bo‘lmasa-da, umuman olganda atrof-muhitni ifloslantirganlik uchun yig‘imlardan, shu jumladan qattiq chiqindilar va oqava suvlarni yig‘ish uchun yig‘imlardan olinadigan ekologik tushumlar oshdi. 2018 yilda (ma’lumotlar mavjud bo‘lgan oxirgi yil) ular 2010 yilga nisbatan deyarli to‘rt baravar yuqori bo‘lib, taxminan 1,7 mln AQSH dollarini tashkil etdi (1 AQSH dollari = 8 069 so‘m). 
            li Energiya subsidiyalari asta-sekin kamayib bormoqda, ammo hamon yuqori darajada qolmoqda. 2020-yilda qazib olinadigan yoqilg‘i uchun subsidiyalar 2010-yilga nisbatan 60% ga past bo‘lgan, biroq YAIMning 6,6% ga teng bo‘lib, qariyb 4 mlrd AQSH dollarini (1 AQSH dollari = 10 065 so‘m) tashkil etgan.
            li Energiya manbalaridan foydalanish tariflari mahsulot tannarxini aks ettirmaydi. Biroq, kam daromadli aholini himoya qilishga qaratilgan siyosat energiya narxlarining keskin islohotlariga qarshi turadi. Shunga ko‘ra, elektr energiyasi tariflari ko‘tarildi, ammo 2019 yildan boshlab iste’molchilarning turli toifalari uchun turli xil tarif sxemalari o‘rnatildi. Shu tariqa, tadbirkorlik sub’yektlari bo‘lgan iste’molchilar uchun tarif maishiy iste’molchilariga qaraganda 30-50% yuqori edi. Xuddi shunday, suv tariflari ko‘tarilganiga qaramay, suv harajatlari hali ham subsidiyalanadi va tariflar yetkazib berish xarajatlarini qoplamaydi. Hududlarda suv narxi Toshkent shahriga nisbatan yuqori. Tariflar mintaqaga, iste’molchining yashash joyi turiga va suv hisoblagichlarining mavjudligiga qarab o‘zgaradi. 
        #sub-section-2.sub-section
          h2 5.1 Texnologiyalar va innovatsiyalar
          i Atrof-muhitni muhofaza qilish bilan bog‘liq innovatsiyalarning O‘zbekiston innovatsiyalarining umumiy hajmidagi va aholi jon boshiga to‘g‘ri keladigan ulushi 1993-2018 yillar davomida o‘zgarib turdi
          ul
            li
              | So‘nggi besh yil ichida ekologik texnologiyalar haqida ma’lumotlar mavjud bo‘lmasa-da, OECD.stat tomonidan qayd etilgan oldingi tendensiya O‘zbekiston 1990-yillarning boshlarida ekologik texnologiyalar va innovatsiyalarni ishlab chiqqanligini ko‘rsatadi. IHTT patent ma’lumotlari, ya’ni Jahon patent statistikasi ma’lumotlar bazasidan (PATSTAT) olingan o‘zbek ixtirochilari tomonidan ixtiroga patent berish uchun bergan arizalari asosida innovatsiyalar ko‘rsatkichini hisoblab chiqadi. O‘zbekiston innovatsiyalarining umumiy hajmida ekologik innovatsiyalarining yillik ulushi biror bir yaqqol tendensiyasiz o‘zgarib turdi. 2018 yilda O‘zbekistondagi innovatsiyalarning 14% dan ortig‘i atrof-muhit bilan bog‘liq bo‘lib, bu global o‘rtacha 10% dan yuqori edi. Biroq, aholi jon boshiga ekologik texnologiyalar ko‘rsatkichi 0,02 ni tashkil etdi, global o‘rtacha ko‘rsatkich esa 4,9 ni tashkil etadi, bu o‘zbekistonliklar orasida ekologik innovatsiyalar past darajada rivojlanganligini va ularning patent talabnomalarining kamligini ko‘rsatadi. 
            li 2018-yilda atrof-muhitni muhofaza qilish bilan bog‘liq jahon texnologiyalarida O‘zbekiston ulushi 0,01% ni tashkil etdi. Keyingi IHTT ma’lumotlari mavjud emasligi sababli hisobotda hozirgi tendensiya tavsiflanmagan. Biroq, 2021-yilda atrof-muhitni muhofaza qilish bilan bog‘liq innovatsiyalar Jahon intellektual mulk tashkiloti (BIMT) tomonidan e’lon qilingan barcha patent talabnomalarining 4,8% ni tashkil etdi. 
        #sub-section-3.sub-section
          h2 5.2 Moliyaviy oqimlar
          .sub-section_content
            ul.sub-section_text
              i Hukumat tomonidan atrof-muhitni muhofaza qilish xarajatlari 2012 yildan 2019 yilgacha to‘laligicha moliyalashtirilmasdan kelgan.
              li
                | Atrof-muhitni muhofaza qilish bo‘yicha davlat xarajatlari odatda oshib borgan, ammo ularning qiymati pastligicha qolmoqda. O‘rtacha 2012-19 yillarda atrof-muhitni muhofaza qilish xarajatlari davlat xarajatlarining atigi 0,06% ni yoki Yalpi ichki mahsulotning (YaIM) 0,02% ni tashkil etdi. O‘zbekistonda "yashil" xarajatlarning tizimli byudjet belgilanishi o‘rnatilmagani sababli bu qiymat kam deya baholanishi mumkin. Shu tariqa, "yashil" iqtisodiyotga o‘tish uchun barcha investisiyalarni baholash qiyin. 
            .sub-section_figure
              h3
                i Davlat xarajatlari tabiiy muhitni himoya qilishga
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Manba: Tabiiy muhitni himoya va ekologik tadbirkorlik komiteti, 2023 yil.
          
          i "Yashil o‘sish" maqsadlari bo‘yicha xalqaro moliyaviy oqimlar katta emas.
          ul 
            li
              | O‘zbekiston ko‘p tomonlama institutlar va Birlashgan Millatlar tashkilotining grantlari va kreditlari orqali "yashil o‘sish" uchun kamtarona moliyaviy mablag‘larni jalb qilmoqda. 2023 yilga kelib O‘zbekiston "yashil o‘sish"ning strategik ustuvor yo‘nalishlarini qo‘llab-quvvatlash uchun 840 mln AQSH dollari miqdoridagi kreditlar va xalqaro moliya institutlari (XMI) va rivojlanish sheriklarining 66 mln AQSH dollari miqdoridagi grantlarini safarbar qildi. "Yashil o‘sish" yo‘lida rivojlanish uchun beriladigan yordamni muntazam monitoring qilishning yo‘qligi tendensiyalarni kuzatishga imkon bermaydi. Ushbu hisobotda Birlashgan Millatlar tashkiloti Rivojlanish dasturining ishlanmasidan foydalanilgan, ammo ma’lumotlar isbotli emas.
            li
              | 2030 yilgacha "yashil" iqtisodiyotga o‘tishning milliy strategiyasi doirasida O‘zbekiston davlat va xususiy manbalardan "yashil" investisiyalarni jalb qilish uchun maxsus fondlar va "yashil" obligatsiyalar yaratish maqsadida aralash moliyalashtirishni joriy etishni boshladi. Mamlakat, shuningdek, davlat-xususiy hamkorlik doirasida qayta tiklanadigan manbalardan energiya ishlab chiqarishga investisiyalarni safarbar qilmoqda. Biroq, u raqobatbardosh uglerod savdosi bozorida ishtirok etmaydi. 
        #sub-section-4.sub-section
          h2 5.3 Narxlar va o‘tkazmalar
          .sub-section_content
            .sub-section_figure
              h3
                i Ekologik soliqdan tushum, % ulush
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Manba: Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi, 2023 yil.
            ul.sub-section_text
              i Atrof-muhitning ifloslanishi bo‘yicha soliq tushumlarining umumiy tushumdagi ulushi 2015-18 yillar davomida 0,01 % da barqaror bo‘lib qoldi, 2017 yilda u 0,02% gacha ko‘tarilgani bundan mustasno. 
              li Davlat byudjetiga ekologik soliq tushumlarining ulushi barqaror bo‘lib qoldi va 2015-18 yillar uchun umumiy byudjetning o‘rtacha 0,01% ni tashkil etdi (6.6-diagramma). Qattiq maishiy chiqindilarni yig‘ish uchun to‘lov 2018 yilda ekologik soliq tushumlarining 57% ni tashkil etdi. Iqtisodiy o‘sish bilan atrof-muhitning ifloslanishi uchun to‘lovlardan olinadigan ekologik daromadlar umuman olganda oshdi. 2018-yilda (ma’lumotlar mavjud bo‘lgan oxirgi yil) bu daromadlar 2010-yilga nisbatan deyarli to‘rt baravar ko‘p bo‘lib, taxminan 1,7 mln AQSH dollarini (1 AQSH dollari = 8 069 so‘m) tashkil etdi. 2016 yildan 2017 yilgacha atrof-muhit daromadlari ulushining 56% ga o‘sishi jadal rivojlanayotgan iqtisodiy faoliyatning ta’sirini aks ettiradi. Bu ifloslantiruvchi moddalar chiqindilari va tashlanmalarining ko‘payishiga olib keldi va atrof-muhitnii ifloslantirish uchun to‘lovni ikki baravar oshirdi. Ma’lumotlardan foydalanish imkoni yo‘qligi sababli hisobotda so‘nggi tendensiyalarni baholab bo‘lmadi.
              li
                | Davlat ekologiya qo‘mitasi (hozirgi Ekologiya, atrof-muhitni muhofaza qilish va iqlim o‘zgarishi vazirligi) tomonidan ro‘yxatdan o‘tkazilgan atrof-muhitni ifloslantirganlik uchun to‘lovlar to‘g‘risidagi ma’lumotlardan tashqari, O‘zbekiston "yashil" soliqdan energiya solig‘i, resurslar solig‘i va transport solig‘i kabi barcha an’anaviy tushumlarni umumiy daromadga kiritmaydi. Bundan tashqari, soliqdan tashqari ekologik litsenziya to‘lovlari va ma’muriy to‘lovlardan olingan daromadlar to‘g‘risidagi ma’lumotlar mavjud emas. Demak, barcha ekologik soliqlar va yig‘imlardan olinadigan daromadlarni o‘lchash qiyin. Bundan tashqari, atrof-muhitni muhofaza qilish daromadlari umumiy boshqaruv byudjetiga yo‘naltirilganligi sababli, ular to‘g‘ridan-to‘g‘ri atrof-muhitni muhofaza qilish uchun sarflanadimi yoki yo‘qligini aniqlash qiyin. Shu tariqa, ekologik soliqlar/yig‘imlardan tushgan tushumlarni atrof-muhitni muhofaza qilish xarajatlari bilan bog‘lash mumkin emas.
          .sub-section_content
            ul.sub-section_text
              i O‘zbekiston hali ham qazib olinadigan yoqilg‘i energiyasini ishlab chiqarish uchun hamon yuqori subsidiyalarni taqdim etmoqda 
              li
                | 2010-2020 yillarda neft yoki neft mahsulotlari, tabiiy gaz va qazib olinadigan yoqilg‘idan elektr energiyasini ishlab chiqarishga nisbatan qazib olinadigan yoqilg‘i subsidiyalarini asta-sekin kamaytirib bordi. 2020 yilda O‘zbekistonning qazib olinadigan yoqilg‘idan olinadigan energiya uchun subsidiyalari 2010 yilga nisbatan 60% ga qisqartirildi. Biroq, ular hali ham 3,8 mlrd AQSH dollarini tashkil etdi, bu YaIM ekvivalentining 6,6% ni tashkil etadi. Subsidiyalarning eng katta qisqarishi 2016 yilda kuzatilgan, o‘shanda subsidiyalarning umumiy hajmi 2010 yilga nisbatan 75% ga kamaygan. Biroq, 2019 yilda subsidiya miqdori taxminan ikki baravar oshdi va keyin 2020 yilda yana kamaydi. Qazib olinadigan yoqilg‘ini qo‘llab-quvvatlashning taxminan 75% iste’molchilarni qo‘llab-quvvatlashga sarflanadi.
              li
                | O‘zbekiston energetika tarmoqi 2030 yilga kelib "yashil" iqtisodiyotga o‘tish davrida kam daromadli aholini himoya qilish uchun qazib olinadigan yoqilg‘i subsidiyalaridan asta-sekin voz kechishga intilmoqda. Bundan tashqari, hukumat "yashil" energetikaga o‘tish maqsadida iste’molchilarning "yashil" energiyaga sarmoyalarini rag‘batlantirish uchun "soliq imtiyozlari mexanizmi" ni joriy qildi. Sarmoyalarni rag‘batlantirish qayta tiklanadigan energiya va energiya tejaydigan texnologiyalardan foydalanishni rag‘batlantirishi kutilmoqda. 
            .sub-section_figure
              h3
                i Elektr uchun subsidiyalar (2019 yil real dollar, million dollar)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Manba: Xalqaro energetika agentligi (2021)
          i Elektr energiyasi va qazib olinadigan yoqilg‘i narxi ko‘tarilmoqda, ammo u baribir ishlab chiqarish tannarxini aks ettirmaydi. 
          ul 
            li Energiya manbalaridan foydalanish tariflari ishlab chiqarish tannarxini aks ettirmaydi, ammo energiya narxlarini isloh qilish kam daromadli aholini ijtimoiy himoya qilish siyosati bilan bog‘liq holda ko‘rib chiqilmoqda. Shunga ko‘ra, 2019 yildan boshlab iste’molchilarning barcha toifalari uchun yagona tarif emas, balki turli toifadagi iste’molchilar uchun turli xil tarif sxemalari o‘rnatildi. Shunday qilib, tijorat iste’molchilari uchun tarif maishiy ehtiyojlarga qaraganda 30-50% yuqori bo‘ldi. 
            li Hukumat siyosati 2023 yilga kelib elektr energiyasi tariflariga bosqichma-bosqich o‘tishni rejalashtirgan. Siyosat, shuningdek, rentabellik 10 % dan 20% gacha bo‘lishi kerakligini nazarda tutadi. Siyosatda qayd etilishicha, 2023 yildan boshlab odamlar elektr energiyasi sarfi uchun undan foydalanadigan kunning vaqtiga qarab to‘laydilar. 
          i So‘nggi to‘rt yil ichida suvdan foydalanish narxi oshdi, ammo baribir subsidiya berish davom etmoqda.
          ul 
            li 2019-22 yillarda Toshkent shahrida suvdan foydalanish narxi o‘rtacha 33% ga oshdi. Suv tariflari mintaqaga, turar joy turiga (yakka tartibdagi uy yoki kvartira) va suv hisoblagichlarining mavjudligiga qarab o‘zgaradi. Masalan, hududlarda suv narxi Toshkentga nisbatan, xonadonlar uchun esa yakka tartibda qurilgan uylarga nisbatan yuqori. "O‘zsuvta’minot" aksiyadorlik jamiyati suv tariflarini bir necha bor qayta ko‘rib chiqadi. Suv tariflari darajasi va to‘lovlarni yig‘ish darajasi oshgan bo‘lsa-da, ular hali ham subsidiyalangan foydalanish xarajatlarini qoplamaydi. Suv narxlari to‘g‘risidagi avvalgi ma’lumotlar keltirilmagan, chunki hisobotda ma’lumotnomalar (O‘zbekistonning Golden Booki) ishlatilgan, faqat 2019-22 yillar uchun e’lon qilingan narxlar.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')