doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 2-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group2_ru') RU
        a(href='/group2') Eng
        a.active_language(href='/group2_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a.nav-active(href='/group2_uz')
          i.fa-solid.fa-seedling
        p.nav-active 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_z')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Group 2. The environmental and resource productivity of the economy
    .description
      p
        | text
    main
      .section
        #section-1.section-active
            i.fa-solid.fa-file-circle-check
            h3 Atrof-muhit va resurslar unumdorligi ko'rsatkichlari: Asosiy topilmalar
        #section-2
            i.fa-solid.fa-smog
            h3 2.1 section text
        #section-3
            i.fa-solid.fa-chart-pie
            h3 2.2 section text
        #section-4
            i.fa-solid.fa-cloud-arrow-up
            h3 2.3 section text
        #section-5
            i.fa-solid.fa-lightbulb
            h3 2.4 section text
        #section-6
            i.fa-solid.fa-solar-panel
            h3 2.5 section text
        #section-7
            i.fa-solid.fa-trash
            h3 2.6 section text
        #section-8
            i.fa-solid.fa-recycle
            h3 2.7 section text
        #section-9
            i.fa-solid.fa-spray-can-sparkles
            h3 2.8 section text
        #section-10
            i.fa-solid.fa-hand-holding-droplet
            h3 2.9 section text
      .section_text
        #sub-section-1.sub-section.active
          h2 Atrof-muhit va resurslar unumdorligi ko'rsatkichlari: Asosiy topilmalar
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | O‘zbekiston har yili o‘rtacha 109 million tonna CO2 chiqaradi, 
                | bu esa global chiqindilarning 0,3 foizini tashkil qiladi. Chiqindilarning qariyb 80% tabiiy gaz yoqilg'isini yoqish natijasida chiqadi. Energetika sohasi mamlakatdagi asosiy CO2 emitentidir.
              li 
                b O‘zbekistonda so‘nggi o‘ttiz yillikda iqtisodiyotning uglerod ishlab chiqarishi ortib, ko‘proq iqtisodiy foyda keltirdi.
                |  2020-yilda uglerod hosildorligi chiqarilgan CO2 birligi uchun 2,5 AQSh dollarini tashkil etdi; 1990 yildagi qiymatdan to'rt baravar ko'p.
            .sub-section_figure
              h3
                i Uglerod unumdorligi, USD/kg CO2 (2015)
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Manba: OECD, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i YaIMning energiya intensivligi, koe/USD (2015)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              li 
                b O‘zbekistonda energetika unumdorligi oshib bormoqda. 
                |  2020-yilda O‘zbekistonning energiya unumdorligi birlamchi energiya uchun 5798 AQSH dollarini (2015-yilda PPP) tashkil etdi; 1990 yilga nisbatan 3,5 barobar ko'p. YaIMning energiya sig'imi dunyodagi eng yuqori ko'rsatkichlardan biri bo'lishiga qaramay, pasayish tendentsiyasida. 2021 yilda bir dollar uchun 0,14 koe (1,6 kVt/soat) ni tashkil etdi.
              li 
                b Qayta tiklanadigan manbalar Oʻzbekistonning energetika kompleksida kichik oʻrin tutadi (2% dan past).
                |  2022 yilda elektr energiyasining atigi 9 foizi qayta tiklanadigan manbalardan ishlab chiqarilgan.
          .sub-section_content
            ul.sub-section_text
              li 
                | O‘zbekistonda 2019-yilda suv unumdorligi avvalgi 25 yilga nisbatan to‘rt baravar oshdi va 1 m3 chuchuk suv uchun 1,8 dollarni tashkil etdi.
              li 
                | O‘zbekistonda har yili olti million tonnaga yaqin qattiq maishiy chiqindilar (QQT) ishlab chiqariladi.
                b  2021 yilda MSWning faqat chorak qismi qayta ishlanadi.
                |  Chiqindilarni muntazam yig'ish xizmatlari aholining faqat yarmini qamrab oladi (2018).
            .sub-section_figure
              h3
                i Elektr ishlab chiqarishda qayta tiklanadigan manbalarning ulushi (%)
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Suv unumdorligi, AQSh dollari (2015)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
            ul.sub-section_text
              li
                b O‘zbekistonda o‘g‘itlardan ortiqcha foydalanilgan;
                |  Oʻrtacha jahon koʻrsatkichidan 75% yuqori (ekin maydonlarining har gektariga (ga) 146 Kg.
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-8.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-9.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-10.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    footer
      .contacts
        p Kontaktlar:
        p
          | 100047 Toshkent Xalqaro Vestminster universiteti, Toshkent, Istiqbol koʻchasi, 12-uy.
        p Elektron pochta: cpro@wiut.uz
        p Telefon:+998 71 238 74 48
      .rights
        p
          | Platforma Germaniyaning Atrof-muhit, tabiatni muhofaza qilish, yadroviy xavfsizlik va iste'molchilar huquqlarini himoya qilish federal vazirligining (BMUV) moliyaviy ko'magida tayyorlangan bo'lib, uning Xalqaro iqlim tashabbusi orqali taqdim etilgan.
        i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')