doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 1: The socio-economic context
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a.active_language(href='/group1') Eng
        a(href='/group1_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a.nav-active(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Group 1. The socio-economic context
    .description
      p
        | This chapter looks at indicators describing Uzbekistan’s socio-economic context and growth characteristics. It provides background information and helps track the effects of green growth policies on development
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Socio-economic indicators: Key findings
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. Economic growth and competitiveness
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 Labour market and socio-demographic patterns
      .section_text
        #sub-section-1.sub-section.active
          h2 Socio-economic indicators: Key findings
          ul 
            li The economy has grown by around 6% annually in the past ten years. Despite double-digit inflation at an average rate of 11% in the last three years, Uzbekistan's real GDP per capita stood at around USD 2,009 in 2022 (USD 1= UZS 11 000 in 2022) , a more than sevenfold increase in ten years.
            li Trade openness increased in Uzbekistan, and it became a net importer of goods and services as of 2016. The total import value increased by USD 25.5 billion in 2021, while the export value was USD 16.7 billion (USD 1 = UZS 10 623).
            li The population is growing annually at 1.6%, despite negative net external migration. The population was over 35 million in 2022, with 54% below the age of 30. The share of employed in the total labour force increased to about 70% in 2021. The primary employers are the service sector (51%), followed by industry (25%) and agriculture (24%).
            li Enrolment in tertiary education institutions was only one-fifth of eligible students in 2021 compared to 100% gross enrolment rates in primary and secondary education.
        #sub-section-2.sub-section
          h2 1.1. Economic growth and competitiveness
          .sub-section_content
            ul.sub-section_text
              i The economy and per capita income in Uzbekistan have been steadily increasing over the last three decades
              li In 2011-22, Uzbekistan’s GDP in real value increased by 43% from USD 49.5 billion to USD 70.9 billion (or UZS 84.9 trillion to UZS 780.3 trillion). Similarly, the real GDP per capita increased by eight times since 2011, reaching over USD 2000 (or UZS 22.1 million) in 2022. The trend shows that economic growth is accompanied by the increasing prosperity of citizens. Furthermore, per capita income affected by the COVID-19 pandemic bounced back in 2021 to above pre-COVID values.
              li Economic growth in Uzbekistan is supported by a centrally planned and investment-led economic strategy. Most of the growth since 2010 has been generated through increases in capital stock and the value of natural resource exports, such as gold and natural gas.
            .sub-section_figure
              h3
                i Real GDP per capita, million UZS
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Source: Authors&grave; calculations using Statistics Agency data
          .sub-section_content
            .sub-section_figure
              h3
                i Foreign Trade, million USD
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              i Foreign trade is an increasingly important factor in the Uzbekistan economy
              li Both import and export volumes increased significantly over the last decade. Uzbekistan is a net importer as of 2016. The Harmonised System codes show that Uzbekistan exports precious metals, natural resources and unskilled labour. On the other hand, machines and transport equipment dominate its imports.  
          .sub-section_content
            ul.sub-section_text
              i The inflation rate in Uzbekistan has been rising since 2016 
              li
                | The inflation rate, expressed in CPI, has been double digits since 2016. The high inflation rates are due to the steady depreciation of the exchange rate, price deregulation, price increases and, more recently, global trends, including supply chain challenges and commodity price increases.
            .sub-section_figure
              
        #sub-section-3.sub-section
          h2 1.2 Labour market and socio-demographic patterns
          i The proportion of low-income people was declining until the COVID-19 pandemic
          ul 
            li
              | The share of low-income population was halved between 2002-19. However, it rose by 0.5% in 2020 due to the COVID-19 pandemic. The poverty rate in 2021 was 17% based on a new calculation method. Income inequality, increasing since 2019, was made worse by the COVID-19 pandemic. However, Uzbekistan has a low inequality or Gini index below 0.3. The government holds income inequality in check through policy and public transfers.
          .sub-section_content
            ul.sub-section_text
              i More than half the population is employed, but the employed labour force declined as of 2017
              li Uzbekistan’s total labour force equalled 19.3 million people (more than half of the total population) in 2021, of which 15 million were economically active. Unemployment is exacerbated by the high youth-to-population ratio, creating a need for youth employment and active labour market policies.
              li On average, the employment rate per labour force was 71% in the last two decades. 
            .sub-section_figure
              h3
                i Employment by sector, % of total employment
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
          i The enrolment ratio of students in tertiary institutions remains low
          ul 
            li Although Uzbekistan has achieved high gross enrolment ratios in primary and secondary education, enrolment in tertiary institutions remains low. With the creation of new local universities and branches of foreign institutions, tertiary enrolment increased from 8.5% to 21.2% over 2016-21. However, this figure is still low and only half of the global enrolment ratio of 40% in 2020.
            li The number of students attending higher education institutions increased by four-fold in the last decade. Also, the share of female students in the total students attending higher education increased from 40% in 2010 to 47% in 2023. Nevertheless, there is a need to improve the quality and relevance of education to the labour market needs.
          i The population of Uzbekistan has been steadily growing in the last three decades
          ul 
            li On average, the population grew at 1.6% annually, reaching over 35 million in 2022. The male and female population is proportional, and over half of the population lives in urban areas. Uzbekistan is the most populated country in CA. With economic growth, life expectancy in Uzbekistan increased for both men and women, reaching 75 years in 2019. However, life expectancy dropped to 73 years in 2020 during the pandemic.
          i Uzbekistan had a negative net external migration during the last three decades
          ul 
            li The net migration figure illustrates that more people were leaving the country than entering. The external labour migration led to large remittance inflows, making Uzbekistan sixth among Asian recipient countries of international remittances by share of GDP in 2020. In 2021, the share of received personal remittances to GDP equalled 13.3%. 
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')