doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 5. Economic opportunities and policy responses
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group5_ru') RU
        a.active_language(href='/group5') Eng
      p From 2023
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a.nav-active(href='/group5')
          i.fa-solid.fa-users-gear
        p.nav-active Group 5
    .heading
      i.fa-solid.fa-users-gear
      h1 Group 5. Economic opportunities and policy responses
    .description
      p
        | This group of indicators explores how progress towards green growth is generating economic opportunities in Moldova. The indicators measure innovation in the green economy/environment, public and private expenditures for environmental 
        |  protection, and subsidies for energy and organic agriculture. In so doing, they capture the economic opportunities associated with green growth, assessing the effectiveness of policy in areas such as technology and innovation, environmental goods and services, investment and financing, prices, taxes and transfers. 
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Policy responses indicators: Key findings
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 Innovations in the green economy/environment
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 Public expenditures on environmental protection
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 Energy subsidies
        #section-5
          i.fa-solid.fa-hand-holding-dollar
          h3 5.4 Private expenditures for environmental protection
        #section-6
          i.fa-solid.fa-money-bill-wheat
          h3 5.5 Subsidies for organic agriculture
      .section_text
        #sub-section-1.sub-section.active
          h2 Policy responses indicators: Key findings
          .sub-section_content
            .sub-section_text
              p
                b
                  | Share of environment- related innovations in Uzbekistan is growing. 
                |  Over 15% of the innovations in Uzbekistan in 2018 were environment related; this was 0.02 technologies per capita.
              p
                b Public expenditures in environmental protection (including SDG 13, Climate Change) are relatively low, but growing. 
                |  On average, environmental expenditure accounted for 0.06% of total government expenditures in 2012–2019. The proportion of environmental protection expenditures relative to GDP was 0.02% In 2019.
            .sub-section_figure
              h3
                i Public expenditures in environment protection
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Source: State Committee for Ecology and Environmental Protection, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Revenues from environmental tax, % share 
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Source: State Committee for Ecology and Environmental Protection, 2023
            .sub-section_text
              p
                b Increase in economic activity led to increase in environmental revenues  in Uzbekistan. 
                |  The aggregate annual volume of tax revenues from pollutant pays averaged about 0.01% of the state budget for 2015-2018, mostly from solid waste management. 
                b Uzbekistan however does not yet systematically track all ‘green’ revenues from taxes, charges, and fees; thus, the amount of environmental revenue is underestimated.
              p
                b Uzbekistan’s energy sector aims to phase out the fossil fuel subsidies gradually.
                |  In 2020, Uzbekistan’s subsidies for fossil fuels amounted to 6.6% of the GDP and were reduced by 60% of the 2010 level.  Over half of the fossil fuel subsidy goes to the natural gas sector. 
          .sub-section_content
            .sub-section_text
              p
                b Price for energy is growing 
                |  to reach its market value. Until 2017 there was a single tariff in Uzbekistan for all consumer categories, then Uzbekistan set different tariffs for different categories of consumers. The tariff for commercial consumers was 30% to 50% more than residential use tariffs. 
                b Price for water is also growing.
                |  The tariffs vary by region and have been revised several times. Though water tariff levels and collection rates have increased, it does not cover operational costs.
              p
                b International financial flows in support of Uzbekistan’s green growth strategy are evolving. 
                |  In 2023, loans and grants for green investments is USD 840 mln and USD 66 mln, respectively. 
            .sub-section_figure
              h3
                i Energy subsidies (USD real 2019, million)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Source: International Energy Agency (2021)
        #sub-section-2.sub-section
          h2 Indicator 5.1 Innovations in the green economy/environment
          i Key message
          p
            | In recent years, the economy grew at a modest pace, but this was not  enough to significantly improve living standards for most people.  The national economy is still  affected by systemic problems such as low competition, corruption and a limited labour  force. These are accompanied by an increasing number of shocks  generated by extreme weather events such as floods, drought or frosts. Frequent  political unrest also affected the capacity of state institutions to respond to  crises. In 2020, for example, the state provided only limited social and  economic support in response to the COVID-19 pandemic.
          i Indicator trend
          p
            | The economy  has registered some improvements over the past decade. Except for 2012  (drought), 2015 (bank fraud) and 2020 (COVID-19 pandemic), the country had  economic growth of at least 3-4% (Figure 1). This is confirmed by the GDP trend,  which in 2020 doubled in nominal terms and increased by about 30% in real terms  (compared to 2010). Nonetheless, the level of registered economic growth is  still too modest to approach the growth of countries from Central and Eastern  Europe or to significantly increase people&rsquo;s living standards. There are  multiple causes &ndash; from extreme weather events and the increasingly frequent  migration of labour to commercial divergences with key foreign partners (diminished exports to the Russian Federation after signing the  Association Agreement with the European Union). These are accompanied by shocks  generated by events such as banking fraud or political crises that have  weakened governance in state institutions and undermined capacity to respond to crises such as the COVID-19 pandemic.
          p
            | Although the national economy has generally grown, the quality of growth is fragile, raising questions about its sustainability. An economic growth model based on consumption is limited given that migration trends are changing from periodic migration for employment to definitive migration based on factors that are not necessarily economic. These vulnerabilities have emerged in the context of the COVID-19 pandemic. The crisis hit the country at a moment of low competitiveness and economic freedom, coupled with the escalation of systemic vulnerabilities related to corruption, competition or access to funding (Expert-Grup, 2020a). As a result, the state offered a modest response towards the pandemic of 0.4% of GDP, while other countries were allocating up to 5% of GDP. In this context, the pandemic had a major impact on GDP, generating a 7% downturn in 2020. Despite GDP growth, the per capita ratio is only USD 12 300, the lowest among European countries (Figure 2).
        #sub-section-3.sub-section
          h2 Indicator 5.2 Public expenditures on environmental protection
          i Key message
          p
            | The structure of the national economy has not changed significantly over the past decade. The economic growth model based on consumption and financed by remittances brings the trade sector to the forefront. This model also stimulates construction activity, a sector that is growing steadily and seems poised to continue. On the other side, traditional sectors such as agriculture or industry have registered only modest gains as they remain vulnerable to shocks outside the realm of decision makers. These include climate conditions for agriculture or the export potential of many other industries.
          i Indicator trend
          p
            | The  economic structure of Moldova has not changed significantly since 2010. Trade  contributes most to GDP due to the annual volumes of remittances. Trade is  followed by the processing industry, which has surpassed agriculture in recent  years as a result of foreign investments and higher export capacities. On the  other side, agriculture depends greatly on climate conditions and generates  only modest results during years affected by drought. Despite efforts to  modernise the agricultural sector, systemic problems are not solved and some  have worsened. Thus, irrigation and access to water sources is still a major  problem given the increased frequency of droughts. Also, various agricultural  products (e.g. apples and other fruits) still depend on export markets  influenced by political decisions. The agro-industrial sector also faces certain  problems as livestock products have a hard time finding external markets. With many  economic sectors affected by problems, sectors like construction, transport or  services (particularly IT) are better positioned to succeed. Construction  registered important growth given the strong demand for apartments,  particularly in Chisinau, which motivated the developers to launch many  residential projects. This demand is fuelled both by remittances and by access  to real estate loans. These loans became more accessible following  implementation of the state&apos;s &ldquo;Prima Casa&rdquo; programme and financial system  reforms (Figure 3).
        #sub-section-4.sub-section
          h2 Indicator 5.3 Energy subsidies
          i Key message 
          p
            | The 2014 Population and Housing Census revealed a much clearer picture of the labour force situation, especially the impact of emigration. All relevant indicators were adjusted significantly, reflecting a negative macroeconomic outlook. Moreover, the outlook has worsened since the Census, with no prospects in sight to reverse the trend. Indicators such as &ldquo;economically active population&rdquo; or &ldquo;participation rate&rdquo; continue to show a decrease and extremely low levels compared with European countries.
          i Indicator trend 
          p
            | Over the past two decades, emigration has been one of the primary factors that characterised the macroeconomic evolution of the country. The declining population has a direct impact on the volume and quality of labour available to the national economy. Once the &ldquo;usual resident population&rdquo; was introduced after the 2014 Census, labour force indicators underwent significant changes as well. Thus, the number of economically active people in 2014 (employed population plus unemployed) was lower than 1 million, decreasing steadily over the past seven years to about 867 000 in 2020. At the same time, the participation rate of labour force expressed as the ratio of economically active population to total population aged 15+ also shrank from a high of almost 45.9% in 2018 to 40.3% (Figure 4).
          p
            | The seriousness of the labour force situation is also confirmed by comparison at the European level (Figure 5). Moldova ranks last among European countries in terms of labour force participation. It has a participation rate of under 45%; two other countries are between 45-50%, while most have a rate above 55%. Moreover, Moldova has one of the fastest decreases, starting already from a low level (compared with 2014), while other countries either register a decrease from a high level or an improvement.
        #sub-section-5.sub-section
          h2 Indicator 5.4 Private expenditures for environmental protection
          i Key message 
          p
            | The 2014 Population and Housing Census revealed a much clearer picture of the labour force situation, including for unemployment. Although the unemployment level is low (under 5%), it does not count unemployed people who are not actively seeking work. Many people are reluctant to register with the National Employment Agency (NEA) because they migrate periodically abroad and are stuck in a pattern of seasonal migration.
          i Indicator trend
          p
            | The unemployment rate has not changed much since 2014. The introduction in 2018 of a 12% flat personal income tax, as part of the tax reform, reduced both the population engaged in informal employment and the number of unemployed by tens of thousands of people. As a result, the unemployment rate hit in 2018 a historic low &ndash; slightly less than 3% (Figure 6).
          p
            | The level of unemployment in Moldova is among the lowest in European countries (Figure 2.7). Nonetheless, these results occur in the context of high levels of informal employment throughout the entire economy &ndash; about 16% of employed persons. Sectors such as construction or agriculture are at the top of the list when it comes to informally employed persons with more than half of the total. In addition, a high number of citizens do not have a job but are not searching for one; hence, they do not meet the requirements to be called &ldquo;unemployed persons&rdquo;. The term refers to persons with a temporary job abroad and who alternate between staying at home and working.
        #sub-section-6.sub-section
          h2 Indicator 5.5 Subsidies for organic agriculture
          i Key message 
          p
            | Moldova is in a period of demographic transition that will generate significant effects in the long run. Emigration remains a central feature of society, both for short periods (for work), and for long periods or even permanently. The characteristics of emigration are even more significant; it is no longer temporary and for employment. Rather, people emigrate to live abroad. Moldova also registers a continuous negative natural population growth and a rapid depopulation of rural areas. Given these conditions, the population with &ldquo;usual residence&rdquo; in Moldova over the past seven years decreased by 225 000, leaving the total population at 2.6 million.
          i Indicator trend 
          p
            | Massive emigration over the past two decades significantly affected national demographics. Because many people with Moldovan citizenship do not live in the country, certain measures were needed to describe the actual demographics. Thus, in 2014, the National Bureau of Statistics introduced the usual resident population indicator. This refers to the number of people who lived predominantly in the country over the past 12 months, regardless of temporary absences. The population with usual residence is based on the 2014 Population and Housing Census, then adjusted with natural population growth (births minus deaths) plus net migration. Besides migration, negative natural population growth has been registered for many years, as well as a rapid and persistent depopulation of rural areas, which puts more pressure on demographic indicators. This change of focus resulted in a sharp drop in population. Using the new indicator, 3.5 million people held residence in the country, including those temporarily absent who left to live abroad (stable population). At the same time, an increasingly higher number of public authorities make decisions based on other figures, such as population with a usual residence that amounts to 2.6 million people (Figure 8). This report uses this figure predominantly to analyse different per capita indicators because it best captures the real number of people on the territory of the country.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')