doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 1: Социально-экономический контекст и характеристики роста
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group1_ru') RU
        a(href='/group1') Eng
        a(href='/group1_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a.nav-active(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Группа 1. Социально-экономический контекст и характеристики роста
    .description
      p
        | эта группа показателей исследует социально-экономический контекст и характеристики роста с помощью девяти показателей. Они варьируются от роста и структуры валового внутреннего продукта до экономически активного населения, безработицы и плотности населения до ожидаемой продолжительности жизни, равенства доходов и охвата образованием. Эти показатели помогают отслеживать влияние политики и мер зеленого роста на рост и развитие, связывая показатели зеленого роста с социальными целями: экономическим ростом, производительностью и конкурентоспособностью, рынком труда, образованием и доходом.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Социально-экономические показатели: основные выводы
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. Рост ВВП
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 Структура ВВП
        #section-4
          i.fa-solid.fa-people-roof
          h3 1.3 Экономически активное население
        #section-5
          i.fa-solid.fa-users-gear
          h3 1.4 Безработица
        #section-6
          i.fa-solid.fa-users
          h3 1.5 Население
        #section-7
          i.fa-solid.fa-people-line
          h3 1.6 Плотность населения
        #section-8
          i.fa-solid.fa-hand-holding-heart
          h3 1.7 Продолжительность жизни
        #section-9
          i.fa-solid.fa-coins
          h3 1.8 Дифференциация доходов
        #section-10
          i.fa-solid.fa-book-open
          h3 1.9 Зачисление в образование
      .section_text
        #sub-section-1.sub-section.active
          h2 Социально-экономические показатели: основные выводы
          .sub-section_content
            ul.sub-section_text
              li
                b
                  | Экономика Узбекистана неуклонно росла ежегодно в среднем на 6% в последнее десятилетие.
                | Реальный объем ВВП в узбекских сумах в 2022 году составил 160 трлн сумов (1 доллар США = 11 000 сумов). В 2022 году в структуре ВВП Узбекистана преобладала сфера услуг (41,5%).
              li
                b Реальный ВВП на душу населения Узбекистана увеличился
                |  до 4,6 млн сумов в 2022 году (1 доллар США = 11 000 сумов) по сравнению с 2,8 млн сумов в 2010 году (1 доллар США = 1700 сумов), несмотря на двузначную инфляцию со средним уровнем 11% за последние три года.
            .sub-section_figure
              h3
                i Реальный ВВП на душу населения, млн сум
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Источник: расчеты авторов с использованием данных Агентства по статистике.
          .sub-section_content
            .sub-section_figure
              h3
                i Внешняя торговля, млн долларов США
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              li
                b Узбекистан сохранил равенство доходов с индексом Джини 0,28.
                |  В стране наблюдалась тенденция сокращения доли малообеспеченного населения (с 26,55 в 2002 г. до 11,5 в 2019 г.); однако во время пандемии 2020 года эта доля увеличилась на 0,5 процентных пункта.
              li 
                b Узбекистан является нетто-импортером товаров и услуг по состоянию на 2016 год.
                |  Общая стоимость импорта в 2021 году составила 25 миллиардов долларов США, а стоимость экспорта - 16 миллиардов долларов США.
              li 
                b Население Узбекистана увеличивается на 1,6% в год.
                |  В 2022 году население составляло более 35 миллионов человек, при этом 54% населения моложе 30 лет. В 2019 году ожидаемая продолжительность жизни увеличилась до 75 лет.
          .sub-section_content
            ul.sub-section_text
              li 
                | Узбекистан достиг 100-процентного охвата начальным и средним образованием;
                b однако зачисление в высшие учебные заведения составляет всего 21% в 2021 году.
              li 
                b В 2021 году в Узбекистане было занято 70% рабочей силы.
                |  Основными работодателями являются сфера услуг (51%), за ними следуют промышленность (25%) и сельское хозяйство (24%).
              li 
                | Узбекистан имеет отрицательную чистую внешнюю миграцию в течение последних трех десятилетий, что свидетельствует об избытке лиц, покидающих страну.
            .sub-section_figure
              h3
                i Занятость по секторам, % от общей занятости
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Источник: Всемирный банк, 2023 г.
        #sub-section-2.sub-section
          h2 Индикатор 1.1. Рост ВВП
          i Ключевое сообщение
          ul
            li
              | В последние годы экономика росла скромными темпами, но этого было недостаточно для значительного повышения уровня жизни большинства людей. Национальная экономика по-прежнему страдает от системных проблем, таких как низкая конкуренция, коррупция и ограниченность рабочей силы. Они сопровождаются увеличением числа потрясений, вызванных экстремальными погодными явлениями, такими как наводнения, засухи или морозы. Частые политические волнения также повлияли на способность государственных учреждений реагировать на кризисы. В 2020 году, например, государство оказало лишь ограниченную социальную и экономическую поддержку в ответ на пандемию COVID-19.
          i Тренд индикатора
          ul
            li
              | За последнее десятилетие в экономике были отмечены некоторые улучшения. За исключением 2012 г. (засуха), 2015 г. (банковское мошенничество) и 2020 г. (пандемия COVID-19), в стране наблюдался экономический рост не менее 3-4% (рис. 1). Это подтверждается динамикой ВВП, который в 2020 г. удвоился в номинальном выражении и увеличился примерно на 30% в реальном выражении (по сравнению с 2010 г.). Тем не менее, уровень зарегистрированного экономического роста все еще слишком скромен, чтобы приблизиться к росту стран Центральной и Восточной Европы или значительно повысить уровень жизни людей. Существует множество причин &ndash; от экстремальных погодных явлений и все более частой миграции рабочей силы до коммерческих расхождений с ключевыми зарубежными партнерами (сокращение экспорта в Российскую Федерацию после подписания Соглашения об ассоциации с Европейским союзом). Они сопровождаются потрясениями, вызванными такими событиями, как банковское мошенничество или политические кризисы, которые ослабили управление в государственных учреждениях и подорвали способность реагировать на кризисы, такие как пандемия COVID-19.
            li
              | Хотя национальная экономика в целом выросла, качество роста неустойчиво, что вызывает вопросы о его устойчивости. Модель экономического роста, основанная на потреблении, ограничена, учитывая, что тенденции миграции меняются от периодической миграции в поисках работы к окончательной миграции, основанной на факторах, которые не обязательно являются экономическими. Эти уязвимости появились в контексте пандемии COVID-19. Кризис ударил по стране в момент низкой конкурентоспособности и экономической свободы в сочетании с эскалацией системной уязвимости, связанной с коррупцией, конкуренцией или доступом к финансированию (Expert-Grup, 2020a). В результате государство предложило скромный ответ на пандемию в размере 0,4% ВВП, в то время как другие страны выделяли до 5% ВВП. В этом контексте пандемия оказала серьезное влияние на ВВП, вызвав 7-процентный спад в 2020 году. Несмотря на рост ВВП, показатель на душу населения составляет всего 12 300 долларов США, что является самым низким показателем среди европейских стран (рис. 2).
        #sub-section-3.sub-section
          h2 Индикатор 1.2 Структура ВВП
          i Ключевое сообщение
          ul
            li
              | Структура национальной экономики существенно не изменилась за последнее десятилетие. Модель экономического роста, основанная на потреблении и финансируемом за счет денежных переводов, выдвигает на первый план сектор торговли. Эта модель также стимулирует строительную деятельность, сектор, который неуклонно растет и, похоже, будет продолжаться. С другой стороны, в традиционных секторах, таких как сельское хозяйство или промышленность, отмечен лишь скромный рост, поскольку они остаются уязвимыми для потрясений, не входящих в круг полномочий лиц, принимающих решения. К ним относятся климатические условия для сельского хозяйства или экспортный потенциал многих других отраслей.
          i Тренд индикатора
          ul
              li Структура экономики Молдовы не претерпела существенных изменений с 2010 года. Торговля вносит наибольший вклад в ВВП из-за ежегодных объемов денежных переводов. За торговлей следует обрабатывающая промышленность, которая в последние годы превзошла сельское хозяйство в результате иностранных инвестиций и более высоких экспортных мощностей. С другой стороны, сельское хозяйство сильно зависит от климатических условий и дает лишь скромные результаты в засушливые годы. Несмотря на усилия по модернизации аграрного сектора, системные проблемы не решаются, а некоторые усугубляются. Таким образом, орошение и доступ к источникам воды по-прежнему являются серьезной проблемой, учитывая увеличение частоты засух. Кроме того, различные сельскохозяйственные продукты (например, яблоки и другие фрукты) по-прежнему зависят от экспортных рынков, на которые влияют политические решения. С определенными проблемами сталкивается и агропромышленный сектор, поскольку продукция животноводства с трудом находит внешние рынки сбыта. Поскольку многие секторы экономики затронуты проблемами, такие сектора, как строительство, транспорт или услуги (особенно ИТ), имеют больше шансов на успех. В строительстве отмечен значительный рост, учитывая высокий спрос на квартиры, особенно в Кишиневе, что побудило девелоперов запустить множество жилых проектов. Этот спрос подпитывается как денежными переводами, так и доступом к кредитам на недвижимость. Эти кредиты стали более доступными после реализации государственной программы &ldquo;Prima Casa&rdquo; программы и реформы финансовой системы (рис. 3).
        #sub-section-4.sub-section
          h2 Индикатор 1.3 Экономически активное население
          i Ключевое сообщение
          ul
            li
              | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
          i Тренд индикатора
          ul 
            li
              | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает непосредственное влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
            li
              | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        #sub-section-5.sub-section
          h2 Индикатор 1.4 Безработица
          i Ключевое сообщение
          ul
            li
              | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину положения с рабочей силой, в том числе с точки зрения безработицы. Хотя уровень безработицы низкий (менее 5%), он не учитывает безработных, которые активно не ищут работу. Многие люди не хотят регистрироваться в Национальном агентстве занятости (НАЗ), потому что они периодически мигрируют за границу и застряли в модели сезонной миграции.
          i Тренд индикатора
          ul
            li
              | Уровень безработицы практически не изменился с 2014 года. Введение в 2018 году 12-процентной плоской ставки налога на доходы физических лиц в рамках налоговой реформы сократило как занятое неформально занятое население, так и количество безработных на десятки тысяч человек. В результате уровень безработицы в 2018 году достиг исторического минимума &ndash; чуть менее 3% (рис. 6).
            li
              | Уровень безработицы в Молдове один из самых низких в европейских странах (Рисунок 2.7). Тем не менее, эти результаты имеют место в контексте высокого уровня неформальной занятости во всей экономике &ndash; около 16% работающих. Такие сектора, как строительство или сельское хозяйство, находятся в верхней части списка, когда речь идет о неформально занятых лицах, на которые приходится более половины от общего числа. Кроме того, большое количество граждан не имеют работы, но не ищут ее; следовательно, они не соответствуют требованиям, чтобы называться «безработными». Этот термин относится к лицам, имеющим временную работу за границей и чередующим пребывание дома и работу.
        #sub-section-6.sub-section
          h2 Индикатор 1.5 Население
          i Ключевое сообщение
          ul
            li
              | Молдова находится в периоде демографического перехода, который в долгосрочной перспективе будет иметь значительные последствия. Эмиграция остается центральной чертой общества как на короткие периоды (по работе), так и на длительные периоды или даже постоянно. Характеристики эмиграции еще более значительны; это уже не временно и для трудоустройства. Скорее, люди эмигрируют, чтобы жить за границей. В Молдове также регистрируется постоянный отрицательный естественный прирост населения и быстрая депопуляция сельских районов. В этих условиях население с &laquo;обычного проживания&raquo; в Молдове за последние семь лет сократилось на 225 000, в результате чего общая численность населения составила 2,6 млн человек.
          i Тренд индикатора
          ul 
            li 
              | Массовая эмиграция за последние два десятилетия существенно повлияла на национальную демографию. Поскольку многие люди с молдавским гражданством не проживают в стране, для описания фактической демографии требовались определенные меры. Так, в 2014 году Национальное бюро статистики ввело обычный показатель постоянного населения. Имеется в виду количество людей, проживавших преимущественно в стране за последние 12 месяцев, независимо от временного отсутствия. Население с обычным местом жительства основано на данных переписи населения и жилого фонда 2014 года, затем скорректировано с учетом естественного прироста населения (рождаемость минус смертность) плюс чистая миграция. Помимо миграции, уже много лет фиксируется отрицательный естественный прирост населения, а также быстрое и неуклонное сокращение населения сельских территорий, что оказывает дополнительное давление на демографические показатели. Это изменение фокуса привело к резкому сокращению населения. По новому показателю в стране проживало 3,5 млн человек, в том числе временно отсутствующие, уехавшие жить за границу (стабильное население). В то же время все большее число органов государственной власти принимают решения на основе других показателей, таких как численность населения с обычным местом жительства, которое составляет 2,6 млн человек (Рисунок 8). В данном отчете эта цифра используется преимущественно для анализа различных показателей на душу населения, поскольку она лучше всего отражает реальное количество людей на территории страны.
        #sub-section-7.sub-section
          h2 Индикатор 1.6 Плотность населения
          i Ключевое сообщение
          ul 
            li
              | Плотность населения регистрирует ту же тенденцию к снижению, что и количество людей. В 2020 г. в Молдове проживало в среднем 89 человек на квадратный километр &ndash; на 8 человек меньше, чем в 2014 году. В то же время значительные изменения произошли на региональном уровне в связи с быстрой депопуляцией сельских районов и концентрацией населения в городских районах, особенно в мун. Кишинэу.
          i Тренд индикатора
          ul  
            li
              | На плотность населения влияют демографические тенденции, характеризующиеся эмиграцией и отрицательным естественным приростом населения. Исходя из населения с обычным местом жительства (т.е. сколько людей проживает в стране), плотность населения достигает всего 89 человек на квадратный километр. Этот уровень представляет ситуацию в Молдове только на 2020 г., без приднестровского региона, и прогнозирует постоянное сокращение в среднем на одного человека в год. Рисунок 9 сравнивает Молдову с европейскими странами в 2018 году, показывая, что страна занимает место ниже среднего показателя по ЕС, составляющего 118 человек на квадратный километр.
        #sub-section-8.sub-section
          h2 Индикатор 1.7 Ожидаемая продолжительность жизни
          i Ключевое сообщение
          ul 
            li
              | Несмотря на то, что ожидаемая продолжительность жизни при рождении за последние годы улучшилась, Молдова находится на самом низком уровне среди европейских стран со средним показателем для обоих полов всего 70,9 года. В разбивке по полу женщины живут в среднем на восемь лет больше, чем мужчины &ndash; большой разрыв по сравнению с другими странами. В то же время пандемия COVID-19 существенно повлияла на общий уровень показателя в 2020 году, выразившись в увеличении числа смертей и снижении числа рождений. Так, в 2020 г. ожидаемая продолжительность жизни при рождении снизилась примерно на 1 год, составив 65,9 года у мужчин и 75,1 года у женщин.
          i Тренд индикатора
          ul
            li
              | Ожидаемая продолжительность жизни при рождении в Молдове незначительно улучшилась за последние несколько лет, но пандемия COVID-19 оказала сильное влияние на 2020 г. До 2019 г. ожидаемая продолжительность жизни продолжала расти и достигла 70,9 лет для обоих полов (69,3 года в 2014 г.). . В 2020 г. в Молдове было зарегистрировано снижение примерно на год из-за большего числа смертей от COVID-19 и меньшего числа рождений (вероятно, по той же причине). Женщины по-прежнему превосходят мужчин по ожидаемой продолжительности жизни при рождении, достигнув 73,9 года по сравнению с 75,1 года в 2019 году. Со своей стороны, мужчины живут в среднем на 8 лет меньше, чем женщины в 2020 году: их ожидаемая продолжительность жизни составляет 65,9 года, что на 1,1 года меньше, чем в 2020 году. 2019. Помимо 2020 года, ожидаемая продолжительность жизни в последние годы увеличилась за счет снижения общего уровня смертности и младенческой смертности. В этой связи важное значение имеет улучшение здоровья населения, достигаемое за счет расширения доступа к услугам здравоохранения, а не за счет улучшения состояния окружающей среды. Таким образом, уровень заболеваемости существенно не изменился. Тем не менее, Молдова добилась значительного технического прогресса в сфере медицинских услуг и в улучшении доступа к лекарствам и лечению.
            li
              | Для сравнения, Молдова по-прежнему находится в конце списка европейских стран по ожидаемой продолжительности жизни при рождении (Рисунок 2.11). Страны Западной Европы находятся на вершине этого рейтинга с ожидаемой продолжительностью жизни более 80 лет, а страны Восточной Европы, включая Румынию и Украину, регистрируют уровень ниже 75 лет. Это связано с различными факторами, включая доступ к товарам и услугам здравоохранения, санитарии, качество жизни и общий уровень жизни.
            li
              | Еще один показатель человеческого капитала связан с индексом человеческого развития (ИРЧП), который включает в себя индексы ожидаемой продолжительности жизни, уровня образования и уровня жизни. Согласно рейтингу 2019 года, Молдова занимает 107-е место среди стран мира с ИЧР, равным 0,711 (т.е. среди стран с высоким уровнем человеческого развития). Молдова перескочила во вторую группу стран после того, как на протяжении многих лет относилась к странам со средним уровнем человеческого развития. Соседние страны, Румыния и Украина, занимают 52-е место (ИЧР — 0,816) и 88-е место (ИЧР — 0,750) соответственно, а Грузия — 70-е (ИЧР — 0,786). Страны ЕС относятся к группе с высоким уровнем человеческого развития.
        #sub-section-9.sub-section
          h2 Индикатор 1.8 Неравенство доходов
          i Ключевое сообщение
          ul 
            li
              | Социально-экономическое неравенство в Молдове имеет тенденцию к уменьшению вслед за ростом доходов населения. Во многом это связано с трудовой миграцией, которая ежегодно приносит значительный объем денежных переводов в национальную экономику. Таким образом, с одной стороны, увеличились доходы населения из наиболее незащищенной группы, а с другой - уменьшилось количество домохозяйств с неблагополучным экономическим положением. Тем не менее пандемия COVID-19 показала, что экономическая нестабильность сохраняется для групп, которые потеряли часть своего дохода или даже работу из-за блокировки.
          i Тренд индикатора
          ul 
            li
              | После периода незначительного улучшения уровень неравенства в молдавском обществе с 2018 г. увеличивается. Так, коэффициент Джини достиг 0,33 (0 – абсолютное равенство, 1 – максимальное неравенство) на конец 2020 г. (Рисунок 12). Увеличение внешней миграции малообеспеченного населения способствовало уменьшению неравенства вплоть до 2018 г. В результате доля денежных переводов домохозяйств из I квинтиля (20% населения с самыми низкими доходами) удвоилась до 18% от их общего располагаемого доход. Этот уровень сопоставим с уровнем домохозяйств V квинтиля (20% населения с наибольшим доходом). Это также является следствием снижения значений коэффициентов как для совокупных располагаемых доходов населения, так и для общих потребительских расходов. В основном уменьшилось количество домохозяйств с неблагополучным социально-экономическим положением, особенно количество занятых в сельскохозяйственном секторе, где заработная плата одна из самых низких.
            li
              | Несмотря на несколько позитивные тенденции в уменьшении неравенства, его уровень, скорее всего, занижен, поскольку домохозяйства борются за получение более высокого уровня доходов. Кроме того, при обследовании домохозяйств люди склонны занижать доходы по сравнению с потребительскими расходами. Уровень неравенства был отчетливо виден во время пандемии COVID-19. Например, во время карантина люди с низким доходом и без сбережений больше всего пострадали от невозможности заниматься определенной экономической деятельностью. За последние десять лет уровень неравенства практически не изменился в большинстве стран Центральной и Восточной Европы. Молдова была единственной страной в регионе, добившейся значительных положительных результатов на этом фронте. Несмотря на это, значения коэффициента Джини являются одними из самых низких в Молдове, уступая только таким странам, как Чехия, Польша и Словения. Однако эти сравнения следует тщательно анализировать, учитывая, что нельзя сравнивать национальный доход.
        #sub-section-10.sub-section
          h2 Индикатор 1.9 Охват образованием
          i Ключевое сообщение
          ul 
            li 
              | Уровень охвата образованием различается в зависимости от уровня образования. Все дети охвачены обязательным образованием и в меньшей степени дошкольным образованием. Реформы образования последних лет привели к увеличению регистрации в средних и высших учебных заведениях и усилиям по соотнесению образовательных предложений с требованиями рынка труда.
          i Тренд индикатора
          ul 
            li
              | Уровень охвата образованием по-прежнему высок, хотя он различается в зависимости от уровня образования. В 2019/20 учебном году в системе образования обучалось около 435 000 человек, или 16% населения с обычным местом жительства. Самый высокий уровень зачисления зарегистрирован на уровне начального и среднего образования. Доля обязательного образования по-прежнему относительно постоянна и даже превышает 100%, учитывая, что дети зачислены в первый класс в возрасте до семи лет. Следующим по величине показателем является дошкольное образование (90,3%). Этот показатель остается постоянным в последние годы и свидетельствует о заинтересованности родителей в том, чтобы их дети посещали детский сад. С другой стороны, валовой охват значительно вырос в среднем (средняя школа и профессионально-техническое образование) и высшем образовании (университеты). Так, охват средним образованием вырос примерно на 16 процентных пунктов до 82,5%, а охват высшим образованием вырос примерно на 12 процентных пунктов. Эти цифры подтверждают растущий интерес учащихся к среднему, профессиональному и даже университетскому образованию. Эти тенденции также определяются лучшей корреляцией между рынком труда и системой образования для достижения большего влияния на экономический рост. Хорошим примером в этом отношении является профессиональное образование, которое позволяет определенным лицам легче адаптироваться к требованиям рынка труда. Несмотря на приведенные выше цифры, фактическое количество лиц, обучающихся на определенных уровнях образования, постоянно и значительно сокращается. Количество учащихся сократилось вдвое за последние 12 лет и составило около 61 000 человек. Количество учащихся, обучающихся в начальных и средних учебных заведениях, также сократилось примерно на 28% и составило около 334 000 учащихся в 2018/19 учебном году. Есть несколько причин этих тенденций, связанных с эмиграцией – &ndash; от семей, выезжающих за границу вместе со своими детьми, к лучшим условиям для учебы и возможностям за границей.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
        i (c) 2023 г. Все права защищены.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')