doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/static/styles/styles1.css')
  title Группа 4. Экологическое измерение качества жизни
header
  div
    a(href='group4_ru') RU
    a(href='/group4') Eng
  p From 2023
.navigation
  a(href='/ru')
    i.fa-solid.fa-house-flag
  a(href='/introduction_ru')
    i.fa-regular.fa-file-lines
  a(href='/group1_ru')
    i.fa-solid.fa-arrow-up-right-dots
  a(href='/group2_ru')
    i.fa-solid.fa-seedling
  a(href='/group3_ru')
    i.fa-brands.fa-envira
  a.nav-active(href='/group4_ru')
    i.fa-solid.fa-building-columns
  a(href='/group5_ru')
    i.fa-solid.fa-users-gear
.heading
  i.fa-solid.fa-building-columns
  h1 Группа 4. Экологическое измерение качества жизни
.description
  p Эта группа индикаторов исследует, приносит ли экологический рост пользу людям в Молдове. Четыре индикатора измеряют загрязнение воздуха, воздействие на население мелкодисперсных частиц.
    |вопрос, а также доступ к безопасной питьевой воде и канализации. Используя эти измерения, в главе размышляется о том, как условия окружающей среды и экологические риски взаимодействуют с качеством жизни и благополучием людей. Они также указывают, как благоустройство природного капитала поддерживает благополучие. Кроме того, они показывают, в какой степени рост доходов сопровождается (или не сопровождается) ростом общего благосостояния.
main
  .section
    #section-1.section-active
      i.fa-solid.fa-file-circle-check
      h3 Экологические показатели качества жизни: основные выводы
    #section-2
      i.fa-solid.fa-smog
      h3 4.1 Загрязнение воздуха
    #section-3
      i.fa-solid.fa-person-arrow-up-from-line
      h3 4.2 Воздействие на население мелкодисперсных частиц (PM 2,5)
    #section-4
      i.fa-solid.fa-faucet-drip
      h3 4.3 Доступ к безопасным источникам питьевой воды
    #section-5
      i.fa-solid.fa-arrow-up-from-water-pump
      h3 4.4 Население, подключенное к канализации
  .section_text
    #sub-section-1.sub-section.active
        h2 Экологические показатели качества жизни: основные выводы
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне

    #sub-section-2.sub-section
        h2 Индикатор 4.1 Загрязнение воздуха
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-3.sub-section
        h2 Индикатор 4.2 Воздействие на население мелкодисперсных частиц (PM 2,5)
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-4.sub-section 
        h2 Индикатор 4.3 Доступ к безопасным источникам питьевой воды
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне

            

    #sub-section-5.sub-section 
        h2 Индикатор 4.4 Население, подключенное к канализации
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне

footer
  p &copy; 2023. Все права защищены

script(src='/static/javascripts/script.js')
