doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 5-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group5_ru') RU
        a(href='/group5') Eng
        a.active_language(href='/group5_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a.nav-active(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p.nav-active 5-guruh
    .heading
      i.fa-solid.fa-users-gear
      h1 5-guruh. Iqtisodiy imkoniyatlar va siyosat choralari
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Siyosat javoblari ko'rsatkichlari: Asosiy topilmalar
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 section text
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 section text
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 section text
        #section-5
          i.fa-solid.fa-hand-holding-dollar
          h3 5.4 section text
        #section-6
          i.fa-solid.fa-money-bill-wheat
          h3 5.5 section text
      .section_text
        #sub-section-1.sub-section.active
          h2 Siyosat javoblari ko'rsatkichlari: Asosiy topilmalar
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | O‘zbekistonda atrof-muhit bilan bog‘liq innovatsiyalar ulushi ortib bormoqda.
                |  2018-yilda O‘zbekistonda innovatsiyalarning 15 foizdan ortig‘i atrof-muhitga tegishli; Bu aholi jon boshiga 0,02 texnologiyani tashkil etdi.
              li 
                b Atrof-muhitni muhofaza qilish bo'yicha davlat xarajatlari (jumladan, SDG 13, Iqlim o'zgarishi) nisbatan past, lekin o'sib bormoqda.
                |  2012–2019-yillarda atrof-muhitni muhofaza qilish xarajatlari o‘rtacha davlat xarajatlarining 0,06 foizini tashkil etdi. Atrof-muhitni muhofaza qilish xarajatlarining YaIMga nisbatan ulushi 2019 yilda 0,02 foizni tashkil etdi.
            .sub-section_figure
              h3
                i Atrof-muhitni muhofaza qilishga davlat xarajatlari
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Manba: Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Ekologik soliqdan tushumlar, % ulush
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Manba: Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi, 2023 yil
            ul.sub-section_text
              li 
                b Iqtisodiy faollikning o'sishi O'zbekistonda ekologik daromadlarning oshishiga olib keldi.
                |  Ifloslantiruvchi moddalarni to‘lashdan soliq tushumlarining umumiy yillik hajmi 2015-2018 yillarga mo‘ljallangan davlat byudjetining o‘rtacha 0,01 foizini, asosan, qattiq maishiy chiqindilarni qayta ishlashdan tushadigan daromadlarni tashkil etdi.
                b Biroq, O‘zbekiston hali soliqlar, yig‘imlar va yig‘imlardan tushgan barcha “yashil” daromadlarni tizimli ravishda kuzatib bormaydi; shunday qilib, atrof-muhitni muhofaza qilishdan olinadigan daromad miqdori kam baholanadi.
              li 
                b O‘zbekiston energetika sektori qazib olinadigan yoqilg‘i subsidiyalarini bosqichma-bosqich bekor qilishni maqsad qilgan.
                |  2020-yilda O‘zbekistonning qazib olinadigan yoqilg‘ilarga subsidiyalari yalpi ichki mahsulotning 6,6 foizini tashkil etdi va 2010 yilga nisbatan 60 foizga kamaytirildi. Qazib olinadigan yoqilg'i subsidiyasining yarmidan ko'pi tabiiy gaz sektoriga to'g'ri keladi.
          .sub-section_content
            ul.sub-section_text
              li 
                b Energiya narxi oshib bormoqda
                |  uning bozor qiymatiga erishish uchun. 2017-yilgacha O‘zbekistonda barcha iste’molchilar toifalari uchun yagona tarif amal qilgan bo‘lsa, keyinchalik O‘zbekiston turli toifadagi iste’molchilar uchun turli tariflarni belgilagan. Tijorat iste'molchilari uchun tarif uy-joy foydalanish tariflaridan 30% dan 50% gacha ko'tarildi.
                b Suv narxi ham oshib bormoqda.
                |  Tariflar mintaqaga qarab farq qiladi va bir necha marta qayta ko'rib chiqilgan. Suv tariflari darajasi va yig'ish stavkalari oshgan bo'lsa-da, u foydalanish xarajatlarini qoplamaydi.
              li 
                b International financial flows in support of Uzbekistan’s green growth strategy are evolving. 
                |  2023 yilda yashil investitsiyalar uchun kreditlar va grantlar mos ravishda 840 million dollar va 66 million dollarni tashkil etadi.
            .sub-section_figure
              h3
                i Energiya subsidiyalari (real 2019 yil, million dollar)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Manba: Xalqaro energetika agentligi (2021)
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    footer
      .contacts
        p Kontaktlar:
        p
          | 100047 Toshkent Xalqaro Vestminster universiteti, Toshkent, Istiqbol koʻchasi, 12-uy.
        p Elektron pochta: cpro@wiut.uz
        p Telefon:+998 71 238 74 48
      .rights
        p
          | Platforma Germaniyaning Atrof-muhit, tabiatni muhofaza qilish, yadroviy xavfsizlik va iste'molchilar huquqlarini himoya qilish federal vazirligining (BMUV) moliyaviy ko'magida tayyorlangan bo'lib, uning Xalqaro iqlim tashabbusi orqali taqdim etilgan.
        i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')