doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 1: Социально-экономический контекст
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group1_ru') RU
        a(href='/group1') Eng
        a(href='/group1_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a.nav-active(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Группа 1. Социально-экономический контекст и характеристики роста
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 section text
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. section text
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 section text
        #section-4
          i.fa-solid.fa-people-roof
          h3 1.3 section text
        #section-5
          i.fa-solid.fa-users-gear
          h3 1.4 section text
        #section-6
          i.fa-solid.fa-users
          h3 1.5 section text
        #section-7
          i.fa-solid.fa-people-line
          h3 1.6 section text
        #section-8
          i.fa-solid.fa-hand-holding-heart
          h3 1.7 section text
        #section-9
          i.fa-solid.fa-coins
          h3 1.8 section text
        #section-10
          i.fa-solid.fa-book-open
          h3 1.9 section text
      .section_text
        #sub-section-1.sub-section.active
          h2 Социально-экономические показатели: основные выводы
          .sub-section_content
            ul.sub-section_text
              li
                b
                  | Экономика Узбекистана неуклонно росла ежегодно в среднем на 6% в последнее десятилетие.
                | Реальный объем ВВП в узбекских сумах в 2022 году составил 160 трлн сумов (1 доллар США = 11 000 сумов). В 2022 году в структуре ВВП Узбекистана преобладала сфера услуг (41,5%).
              li
                b Реальный ВВП на душу населения Узбекистана увеличился
                |  до 4,6 млн сумов в 2022 году (1 доллар США = 11 000 сумов) по сравнению с 2,8 млн сумов в 2010 году (1 доллар США = 1700 сумов), несмотря на двузначную инфляцию со средним уровнем 11% за последние три года.
            .sub-section_figure
              h3
                i Реальный ВВП на душу населения, млн сум
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Источник: расчеты авторов с использованием данных Агентства по статистике.
          .sub-section_content
            .sub-section_figure
              h3
                i Внешняя торговля, млн долларов США
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              li
                b Узбекистан сохранил равенство доходов с индексом Джини 0,28.
                |  В стране наблюдалась тенденция сокращения доли малообеспеченного населения (с 26,55 в 2002 г. до 11,5 в 2019 г.); однако во время пандемии 2020 года эта доля увеличилась на 0,5 процентных пункта.
              li 
                b Узбекистан является нетто-импортером товаров и услуг по состоянию на 2016 год.
                |  Общая стоимость импорта в 2021 году составила 25 миллиардов долларов США, а стоимость экспорта - 16 миллиардов долларов США.
              li 
                b Население Узбекистана увеличивается на 1,6% в год.
                |  В 2022 году население составляло более 35 миллионов человек, при этом 54% населения моложе 30 лет. В 2019 году ожидаемая продолжительность жизни увеличилась до 75 лет.
          .sub-section_content
            ul.sub-section_text
              li 
                | Узбекистан достиг 100-процентного охвата начальным и средним образованием;
                b однако зачисление в высшие учебные заведения составляет всего 21% в 2021 году.
              li 
                b В 2021 году в Узбекистане было занято 70% рабочей силы.
                |  Основными работодателями являются сфера услуг (51%), за ними следуют промышленность (25%) и сельское хозяйство (24%).
              li 
                | Узбекистан имеет отрицательную чистую внешнюю миграцию в течение последних трех десятилетий, что свидетельствует об избытке лиц, покидающих страну.
            .sub-section_figure
              h3
                i Занятость по секторам, % от общей занятости
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Источник: Всемирный банк, 2023 г.
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-8.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-9.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-10.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
        i (c) 2023 г. Все права защищены.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')