doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/static/styles/styles1.css')
  title Группа 3. База природных активов
header
  div
    a(href='/group3_ru') RU
    a(href='/group3') Eng
  p From 2023
.navigation
  a(href='/ru')
    i.fa-solid.fa-house-flag
  a(href='/introduction_ru')
    i.fa-regular.fa-file-lines
  a(href='/group1_ru')
    i.fa-solid.fa-arrow-up-right-dots
  a(href='/group2_ru')
    i.fa-solid.fa-seedling
  a.nav-active(href='/group3_ru')
    i.fa-brands.fa-envira
  a(href='/group4_ru')
    i.fa-solid.fa-building-columns
  a(href='/group5_ru')
    i.fa-solid.fa-users-gear
.heading
  i.fa-brands.fa-envira
  h1 Группа 3. База природных активов          
.description
  p Эта группа индикаторов исследует, становится ли Молдова более эффективным в использовании природных ресурсов и экологических услуг. Он измеряет девять показателей экологической и ресурсной продуктивности: парниковые газы, углеродопроизводительность, конечное потребление энергии, энергоемкость,
    |доля возобновляемой энергии в конечном потреблении энергии, образовании и переработке отходов, использовании удобрений и воды. Таким образом, показатели отражают эффективность, с которой экономическая деятельность – как производство, так и потребление – использует энергию, другие природные ресурсы и экологические услуги. Они отражают ключевые аспекты перехода к низкоуглеродной, ресурсоэффективной экономике: углеродная и энергетическая продуктивность, ресурсоэффективность и многофакторная продуктивность.
main
  .section
    #section-1.section-active
      i.fa-solid.fa-file-circle-check
      h3 Показатели базы природных активов: основные выводы
    #section-2
      i.fa-solid.fa-faucet-drip
      h3 3.1 Водные ресурсы
    #section-3
      i.fa-solid.fa-tree
      h3 3.2 Лесные ресурсы
    #section-4
      i.fa-solid.fa-sun-plant-wilt
      h3 3.3 Земельные ресурсы
    #section-5
      i.fa-solid.fa-tractor
      h3 3.4 Органическое сельское хозяйство
    #section-6
      i.fa-solid.fa-binoculars
      h3 3.5 Биоразнообразие
    #section-7
      i.fa-solid.fa-shield
      h3 3.6 Охраняемые природные территории
  .section_text
    #sub-section-1.sub-section.active
        h2 Показатели базы природных активов: основные выводы
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне
    #sub-section-2.sub-section
        h2 Индикатор 3.1 Водные ресурсы
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-3.sub-section
        h2 Индикатор 3.2 Лесные ресурсы
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-4.sub-section 
        h2 Индикатор 3.3 Земельные ресурсы
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне

            

    #sub-section-5.sub-section 
        h2 Индикатор 3.4 Органическое сельское хозяйство
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-6.sub-section 
        h2 Индикатор 3.5 Биоразнообразие
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне



    #sub-section-7.sub-section 
        h2 Индикатор 3.6 Охраняемые природные территории
        p
            i Ключевое сообщение 
            br
            | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
        p
            i Тренд индикатора
            br
            | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
        p
            i Рисунок 4. Экономически активное население и уровень участия 
        p
            | Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
        p
            i Рисунок 5. Уровень участия в рабочей силе на международном уровне

footer
  p &copy; 2023. Все права защищены

script(src='/static/javascripts/script.js')
