doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 1-guruh: Ijtimoiy-iqtisodiy kontekst
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a(href='/group1') Eng
        a.active_language(href='/group1_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a.nav-active(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 1-guruh.Ijtimoiy-iqtisodiy kontekst
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 section title
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. section title
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 section title
        #section-4
          i.fa-solid.fa-people-roof
          h3 1.3 section title
        #section-5
          i.fa-solid.fa-users-gear
          h3 1.4 section title
        #section-6
          i.fa-solid.fa-users
          h3 1.5 section title
        #section-7
          i.fa-solid.fa-people-line
          h3 1.6 section title
        #section-8
          i.fa-solid.fa-hand-holding-heart
          h3 1.7 section title
        #section-9
          i.fa-solid.fa-coins
          h3 1.8 section title
        #section-10
          i.fa-solid.fa-book-open
          h3 1.9 section title
      .section_text
        #sub-section-1.sub-section.active
          h2 Ijtimoiy-iqtisodiy ko'rsatkichlar: Asosiy xulosalar
          .sub-section_content
            ul.sub-section_text
              li
                b
                  | O‘zbekiston iqtisodiyoti so‘nggi o‘n yillikda har yili o‘rtacha 6 foizga barqaror o‘sib bormoqda.
                | 2022-yilda O‘zbekiston so‘mida yalpi ichki mahsulotning real qiymati 160 trillion so‘mni (1 AQSh dollari = 11 000 so‘m) tashkil etdi. 2022-yilda O‘zbekiston yalpi ichki mahsulotida xizmat ko‘rsatish sohasi ustunlik qildi (41,5%).
              li
                b O‘zbekistonda aholi jon boshiga real YaIM 
                | 2010 yildagi 2,8 million so‘mga nisbatan (1 AQSH dollari=1700 so‘m) 2022 yilda 4,6 million so‘mgacha o‘sdi (1 AQSh dollari=1700 so‘m), so‘nggi yillarda o‘rtacha 11 foizlik inflyatsiya darajasiga qaramay. uch yil.
            .sub-section_figure
              h3
                i Aholi jon boshiga real YaIM, million so‘m
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Manba: Mualliflar&grave; Statistika agentligi ma'lumotlaridan foydalangan holda hisob-kitoblar
          .sub-section_content
            .sub-section_figure
              h3
                i Tashqi savdo, million AQSh dollari
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              li
                b O‘zbekiston daromadlar tengligini saqlab qoldi, Jini indeksi 0,28.
                |  Mamlakatda kam ta'minlangan aholi ulushining qisqarish tendentsiyasi kuzatildi (2002 yildagi 26,55 dan 2019 yilda 11,5 gacha); ammo 2020 yilgi pandemiya davrida bu nisbat 0,5 foiz punktga oshdi.
              li
                b O‘zbekiston 2016 yil holatiga ko‘ra tovar va xizmatlarning sof importchisi hisoblanadi.
                |  2021 yilda importning umumiy qiymati 25 milliard dollarni, eksport qiymati esa 16 milliard dollarni tashkil etdi.
              li
                b O‘zbekiston aholisi yiliga 1,6 foizga o‘smoqda.
                |  2022-yilda aholi soni 35 milliondan oshdi, aholining 54 foizi 30 yoshdan past. 2019-yilda umr ko‘rish davomiyligi 75 yoshga oshdi.
          .sub-section_content
            ul.sub-section_text
              li
                | O‘zbekistonda boshlang‘ich va o‘rta ta’limga yalpi qamrab olish ko‘rsatkichlari 100 foizga yetdi;
                b 2021-yilda oliy o‘quv yurtlariga kirish atigi 21 foizni tashkil etadi.
              li
                b 2021-yilda O‘zbekistonda ishchi kuchining 70 foizi band bo‘ldi.
                |  Asosiy ish beruvchilar - xizmat ko'rsatish (51%), undan keyin sanoat (25%) va qishloq xo'jaligi (24%).
              li
                | O'zbekistonda so'nggi o'ttiz yillikda salbiy sof tashqi migratsiya kuzatildi, bu mamlakatdan chiqib ketayotganlarning ko'pligini ko'rsatmoqda.
            .sub-section_figure
              h3
                i Tarmoqlar bo‘yicha bandlik, jami bandlikning %
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-8.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-9.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-10.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    footer
      .contacts
        p Kontaktlar:
        p
          | 100047 Toshkent Xalqaro Vestminster universiteti, Toshkent, Istiqbol koʻchasi, 12-uy.
        p Elektron pochta: cpro@wiut.uz
        p Telefon:+998 71 238 74 48
      .rights
        p
          | Platforma Germaniyaning Atrof-muhit, tabiatni muhofaza qilish, yadroviy xavfsizlik va iste'molchilar huquqlarini himoya qilish federal vazirligining (BMUV) moliyaviy ko'magida tayyorlangan bo'lib, uning Xalqaro iqlim tashabbusi orqali taqdim etilgan.
        i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')