doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 2
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group2_ru') RU
        a.active_language(href='/group2') Eng
        a(href='/group2_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a.nav-active(href='/group2')
          i.fa-solid.fa-seedling
        p.nav-active Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Group 2. Environmental and Resource Productivity of the Economy
    .description
      p
        | This chapter explores whether Uzbekistan is becoming more efficient in using natural resources and environmental services. The green growth indicators (GGIs) capture the efficiency with which economic activities use energy, natural resources and materials. 
    main
      .section
        #section-1.section-active
            i.fa-solid.fa-file-circle-check
            h3 Environmental and Resource Productivity Indicators: Key findings
        #section-2
            i.fa-solid.fa-smog
            h3 2.1 Carbon and energy productivity of the economy
        #section-3
            i.fa-solid.fa-chart-pie
            h3 2.2 Resource productivity of the economy 
      .section_text
        #sub-section-1.sub-section.active
          h2 Environmental and Resource Productivity Indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | Uzbekistan emits 109 million tonnes CO2 each year on average, 
                | contributing 0.3% of the global emissions. Nearly 80% of emissions come from burning natural gas fuel.  The energy sector is the major CO2 emitter in the country.
              li 
                b In Uzbekistan, the carbon productivity of the economy has increased over the past three decades generating more economic benefits. 
                |  In 2020, carbon productivity was USD 2.5 per unit of CO2 emitted; four times greater than the 1990 value.
            .sub-section_figure
              h3
                i Carbon productivity, USD/kg of CO2 (2015)
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Source: OECD, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Energy intensity of GDP, koe/USD (2015)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li 
                b Uzbekistan’s Energy productivity is growing.  
                |  In 2020, Uzbekistan’s energy productivity was USD 5,798 (PPP 2015) per toe primary energy; 3.5 times more compared to 1990. The energy intensity of the GDP is on a declining trend, despite being one of the highest in the world. In 2021 it was 0.14 koe (1.6 kWh) per USD.
              li 
                b Renewables play a minor role (below 2%) in the energy mix of Uzbekistan. 
                |  In 2022, only 9% of the electricity was generated from renewable sources.
          .sub-section_content
            ul.sub-section_text
              li 
                | Water productivity in Uzbekistan increased four times in 2019, compared to 25 years before and was 1.8 USD per m3 of freshwater withdrawn.
              li 
                | Around six million tonnes of municipal solid waste (MSW) is produced in Uzbekistan annually. 
                b  Only a quarter of the MSW is recycled in 2021.
                |  Regular waste collection services cover only half of the population (2018). 
            .sub-section_figure
              h3
                i Share of renewables in electric generation (%)
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Water productivity, USD (2015)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
            ul.sub-section_text
              li
                b Uzbekistan has excess fertilizer use;
                |  75% higher than the world average (146 Kg per hectare of cropland). 
        #sub-section-2.sub-section
          h2 2.1 Carbon and energy productivity of the economy
          i Carbon emissions in Uzbekistan fluctuated with a general increasing trend
          ul
            li
              | Emissions surged in the early 2000s, with a subsequent drop between 2012-16. The emissions resumed an upward trajectory post-2016, with a noticeable drop in 2020. In 2021, the CO₂ emissions per capita in Uzbekistan which shows the contribution of the average citizen to the total emission was 3.6 t. This was much less than the Central Asia (CA) average of 6.7 t per person
            li Despite increased emissions, Uzbekistan is a minor contributor to global carbon emissions. In 2020, its emissions were 20 times less than the average of Eastern Europe, Caucasus and Central Asia (EECCA), contributing 5% of the region’s emissions [2]. Uzbekistan’s global emissions share has been 0.33% over the last three decades (OWD, 2023). The energy (power) sector is the major CO2 emitter, with 79% of emissions from the burning of natural gas fuel to generate electricity and heat. 
            li Carbon emissions varied with the changes in economic activity. Emissions increased when the economy expanded after independence in the late 1990s, and decreased when fewer fossil fuels are used in the economy.
          i The carbon productivity of the economy increased over 1991-2020
          ul 
            li
              | Despite increasing emissions, CO2 productivity has gradually and steadily increased, indicating an increase in output produced per unit of CO2 emitted. By 2020, USD 2.39 was produced per kg of CO2 emitted versus USD 0.6 in 1990, showing a fourfold increase in the carbon productivity in the economy. However, this value is still less than the EECCA regional average of USD 2.46 [2]. The increase in carbon productivity results from the consumption of natural gas fuel with lower carbon content. At the same time, CO2 emissions are increasing against the background of relatively steady GDP growth during the period as shown in chapter 2. These factors helped decouple CO2 emissions from GDP and were especially evident between 2012-15 when the GDP grew steadily against the background of declining CO2 emissions.
          i Total primary energy supply showed a generally increasing trend in the last five years
          ul  
            li Uzbekistan’s TPES, consisting of non-renewables and RES, increased modestly to 49.2 million tonnes of oil equivalent (toe) in 2021, despite a drop in 2020. Although the energy supply is higher than average for CA, it is 280 times less than the world average and 20 times less than the EECCA regional average in 2020. IRENA (2022) indicates that Uzbekistan was energy self-sufficient by 114% in 2019. In the same year, the country exported 20% of its produced energy, while importing 5% of the energy supply. 
          i The share of renewable energy sources in the TPES and electric generation is low and has declined over the last five years
          ul 
            li The share of RES in the primary energy mix is generally decreasing and is small, under 1% in 2020. Almost all (99%) of the renewable energy supply comes from hydropower, followed by solar energy, a relatively recent but growing energy source as of 2015 [3]. Despite the high potential, the contribution of RES to the energy mix remains low, and its production takes slow paths.
            li Uzbekistan heavily relies on non-renewable sources like natural gas, oil, and coal for its primary energy supply. In 2021, of the total non-renewable fossil fuels, 85% was from natural gas, 9% from oil and 4% from coal (OWD, 2023).
            li The outdated infrastructure, power plants and grid systems have been predominantly designed to accommodate the conventional energy sources. This creates a barrier to the fast integration of additional and RES (IEA, 2022). For instance, there were no industrial-scale solar power plants or wind farms in 2019.
          i Energy productivity in Uzbekistan has increased over 2000-20 and thus the energy intensity of the economy declined in the last two decades
          ul
            li Uzbekistan is becoming more efficient in using energy, evidenced by a gradual increase in energy productivity, which tripled from 2005-20. The increased productivity is driven by state policies that prioritise, promote and invest in improved, energy-efficient technologies in the main economic sectors, particularly industry.
            li Uzbekistan was the eighth most energy-intensive country in 2022 [4]. It has been implementing reforms in recent years to reduce energy intensity. However, challenges remain associated with outdated infrastructure and slow-paced updates (IEA, 2022).
        #sub-section-3.sub-section
          h2 2.2 Resource productivity of the economy 
          i Material productivity increased moderately between 1992-2019
          ul 
            li Economic efficiency in Uzbekistan, reflected in its material productivity which measures output generated from a given amount of materials, is on the rise. In 2019, for every kg of material (metal, non-metal or biomass) used, the output doubled from USD 0.4 to USD 0.9 in 1992. In CA, only Turkmenistan and Kazakhstan surpass Uzbekistan with DMC productivity values of USD 1.98 and USD 1.02, respectively.
          i Mineral fertiliser use per unit of cropland is increasing
          ul 
            li Fertiliser consumption per ha of cropland in Uzbekistan increased by more than 50% in the past 30 years, amplifying environmental concerns. In 2020, this figure stood at an average of 255 kg, higher than the global average by 75%. Uzbekistan contributed 0.6% of global fertiliser pollution in 2009, derived from 94 kg of excess nitrogen per hectare.
          i Household solid waste has increased sharply since 2019, while only a quarter of total solid waste was recycled by 2021
          ul 
            li By 2021, Uzbekistan witnessed an annual household solid waste generation of 5.7 million t or 165 kg per capita. Government projections indicate this could reach 7.0 million t by 2030, with another 1.4 million t emanating from commercial and government sectors. The growing waste generation is not decoupled from economic growth. The waste composition includes 25% food, 10% paper and 50% polymers.
            li National solid waste management (SWM) systems are rudimentary. As a result, most waste ends up in open landfills without substantial processing. 
          i Water productivity increased since 2000
          ul
            li Uzbekistan's water productivity indicator – output per cubic metre of water – nearly quadrupled between 1994-2019, moving from USD 0.48 to USD 1.8. This increase is attributed to recent policy interventions promoting water-saving technologies and efficient irrigation systems combined with GDP growth. Nevertheless, the water productivity level was ten times less than the world average (USD 20) and 23 times less than the ECA region average in 2020.
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')