doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 5-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group5_ru') RU
        a(href='/group5') Eng
        a.active_language(href='/group5_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a.nav-active(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p.nav-active 5-guruh
    .heading
      i.fa-solid.fa-users-gear
      h1 Guruh 5. Iqtisodiy imkoniyatlar va siyosatga javob turlari
    .description
      p Bu bobda O'zbekistonning "yashil" iqtisodiyotga o'tishga investitsiyalari va "yashil" o'sishning olib keladigan iqtisodiy imkoniyatlar va foydalarni ko'rib chiqiladi. Ko'rsatuvlar "yashil" texnologiyalar va innovatsiyalar, tabiiy muhofaza faoliyati, narxlar, ekologik soliq-qonunlar (daromadlar) va moliyaviy uzatmalar sohasidagi siyosatning samaradorligini baholashga yordam beradi. Shunday qilib, ulardan "yashil" o'sish bilan bog'liq iqtisodiy imkoniyatlarini o'z ichiga oladi (OECD, 2017).
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Iqtisodiy imkoniyatlar va siyosatga javob turlari: Asosiy natijalar
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 Texnologiyalar va innovatsiyalar
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 Moliyaviy yo'l-yo'qlar
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 Narxlar va transferlar
      .section_text
        #sub-section-1.sub-section.active
          h2 Iqtisodiy imkoniyatlar va siyosatga javob turlari: Asosiy natijalar
          ul 
            li "Yashil" texnologiyalarini ishlab chiqish va patentlarni rag'batlantirish kerak. Patent arizalarining ma'lumotlariga ko'ra, O'zbekiston 1990-yillar boshlaridan "yashil" texnologiyalarga investitsiyalar qo'yadi. 2018 yilgi ma'lumotlarga ko'ra, O'zbekistonda innovatsiyalarning 15% dan ortiqi ekologiya bilan bog'liq edi, bu dunyo o'rtasining 10% gacha miqdorida. Biroq, ekologik texnologiyalar daromadiga nisbatan fuqarolar soni bo'yicha past (inson boshiga 0,02 texnologiya) vaqtinchalik OESR o'rtacha ko'rsatkichidan past qoladi (fuqarolarga 10 texnologiya).
            li "Yashil" investitsiyalarni jalb qilish va "yashil" byudjet belgilarini qo'llash zarur. Ekologik muhofaza xarajatlari umumiy ravishda oshmoqda, lekin ularga e'tibor qilinmaydi. O'tgan o'n yillarda ular ommaviy xarajatlarning faqatgina 0,06%ini yoki MMTB dan 0,02%ini tashkil qildi. Bu miqdor past qaralgan bo'lishi mumkin, chunki O'zbekistonda "yashil" xarajatlarning tizimli belgilashini o'z ichiga olmaydi, bu esa "yashil" investitsiyalarining barcha kuzatuvlarini aniqlashni qiyinlashtiradi.
            li Ekologik daromadlar 2015-18 yillarda davlat byudjetidagi umumiy daromadlarning o'rtachasini o'zida saqladi va odatda 0,01% tashkil qildi. Bosh o'rin zanjiri - tverdi qo'llash xarajatlari, ularning 57% ni tashkil qiladi. Ekologik muhofaza faoliyatlariga oid soliq-qonunlar bilan bog'liq, odatda atrof muhitini ifloslash haqida to'lovlardan olingan daromadlar, umumiy daromadlar barcha qarshilik soliq-o'rtaliklari hisobiga o'zaro oshgan.
            li Energetika sohasidagi qazibtirishma to'g'risidagi subsidiyalar yana kamaytirilishi kerak. Energetika sohasidagi subsidiyalar bosqichma-qancha pastaytirilayotgan, lekin ular hali ham yuqori. 2020 yilda qazibtirishma to'g'risidagi subsidiyalar 2010 yilgacha nisbatan 60% past bo'lgan, lekin ular jamiyati siltanlab 4 milliard AQSH dollarini (1 AQSH dollar = 10 065 so'm) tashkil qildi, bu esa JMTB ga nisbatan 6,6% ga teng.
            li Energiya resurslarining va suv foydalanish to'g'risidagi tariflar gradatsiyalikni o'rnating va boshqarish xarajatlarini qoplantirish uchun bozor narxini o'z ichiga olishi kerak. Energiya resurslari va suv foydalanish bo'yicha tariflar (mijozlarga muddati) oshib bormoqda, va kamtar etarli jamoalarini himoya qilish uchun farqli tarif rejalarini amalga oshirdilar. Biroq, tariflar mahsulotning o'ziqlik qiluvchi narxini o'z ichiga olmaydi.
        #sub-section-2.sub-section
          h2 5.1 Texnologiyalar va innovatsiyalar
          i Tabiiy muhitni himoya qilish bilan bog'liq innovatsiyalar umumiy innovatsiyalar hajmi va fuqarolar soniga nisbatan 1993-2018 yillarda ko'ngli o'tgan edi.
          ul
            li
              | O'zining ohirgi besh yiliga oid ma'lumotlar tabiiy o'simlik texnologiyalarini o'z ichiga olmasligi sababli, oldingi tendentsiyalar, O'zbekistonning 1990-yillarda o'simliklar muhofazasi texnologiyalariga va innovatsiyalariga investitsiya qo'yishni boshladi. Har yilgi innovatsiyalar miqdori aniqliksiz o'zgarib ketayotgan tendentsiyasiz o'zgardi. 2018 yilda O'zbekistonda innovatsiyalarning 15% dan ziyodi ekologika bilan bog'liq edi, bu dunyo o'rtasining 10% dan yuqori ko'rsatkichi. Biroq, ekologik texnologiyalar muhofazasi umumiy fuqarolar soniga nisbatan 0,02 ga qaraganda 4,9 gacha o'rtacha ko'rsatkichi bo'lib qoldi, bu esa o'zbekistonliklar o'rtasidagi ekologik innovatsiyalar darajasining pastligini ko'rsatadi.
            li 2018 yilda O'zbekistanning tabiiy muhitni himoya qilish bilan bog'liq jahon texnologiyalarining 0,01%ini egallagan. O'tgan vaqtdagi ma'lumotlarning mavjud bo'lmagani sababli, bu hisobot joriy holat haqida ma'lumot bermaydi.
        #sub-section-3.sub-section
          h2 5.2 Moliyaviy yo'l-yo'qlar
          .sub-section_content
            ul.sub-section_text
              i 2012-19 yillarda tabiiy muhitni himoya qilishga yo'l-yo'q bo'lgan davlat xarajatlari
              li
                | Davlat xarajatlari tabiiy muhitni himoya qilishga qaraganda o'sib borayotgan, lekin ularning miqdori kamroq. Odatda, 2012-19 yillarda tabiiy muhitni himoya qilishga xarajatlar ommaviy xarajatlarning faqatgina 0,06%ini, yoki ichki mahsulot (VVP)ning 0,02%ini tashkil qildi. Bu miqdor zanbil bo'lishi mumkin, chunki O'zbekistonda "yashil" xarajatlarining tizimli belgilashini o'z ichiga olmaydi. Shuning uchun "yashil" iqtisodiyotga o'tishga barcha investitsiyalarini baholash qiyin.
            .sub-section_figure
              h3
                i Davlat xarajatlari tabiiy muhitni himoya qilishga
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Manba: Tabiiy muhitni himoya va ekologik tadbirkorlik komiteti, 2023 yil.
          
          i Jahonlik moliyaviy yo'l-yo'qlar "yashil" o'sishga qaraganda kam.
          ul 
            li
              | O'zbekiston, ko'rsatib o'tilishicha, xalqaro moliyaviy tashkilotlar va BMT dan olingan grantlar va qarzdorliklar shaklida "yashil" o'sishni qo'llab-quvvatlash uchun 840 mln. AQSH dollarini va 66 mln. AQSH dollarini jalb qildi. O'zbekiston 2023 yilgacha "yashil" o'sish strategik ustuvorliliklarini qo'llab-quvvatlash uchun xalqaro moliyaviy institutlar (MMI) va rivojlanayotgan hamkorlar tomonidan kredit va grant shakllarida 840 mln. AQSH dollarini va 66 mln. AQSH dollarini jalb qildi. "Yashil" o'sishga yordam berishni tizimli monitoring qilishning mavjuddir yo'q, shuning uchun "yashil" o'sishga yordam berishning tendentsiyalarini ko'rib bo'lishni ta'minlaydi. Joriy hisobotda shaxsan BMT UNDP tomonidan o'tilayotgan ishlatildi, lekin bu haqida ma'lumotlar ishonchli emas.
            li
              | 2030 yilgacha "yashil" iqtisodiyotga o'tish milliy strategiyasi doirasida O'zbekiston "yashil" investitsiyalarni jalb qilish uchun "yashil" mablag'lar va "yashil" obligatsiyalarni jalb qilishni o'z ichiga oladigan maxsus fondlar va fondlar yaratishini vaqtincha yaratishini o'z ichiga oladigan qo'shma moliyaviy yordamlarni yaratishni amalga oshirayotgan yopiq-moliyaviy mablag'larini jalb qilishni ta'minlaydi. Mamlakat shu jumladan takrorlanadigan karbon emislari savdo bozorida ishtirok qilmaydi.
        #sub-section-4.sub-section
          h2 5.3 Narxlar va transferlar
          .sub-section_content
            .sub-section_figure
              h3
                i Ekologik soliqdan tushum, % ulush
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Manba: Ekologiya va atrof-muhitni muhofaza qilish davlat qo‘mitasi, 2023 yil.
            ul.sub-section_text
              i 2015-18 yillar davomida atrof-muhitni ifloslantirganlik uchun soliq tushumlarining umumiy daromadlardagi ulushi. 0,02% gacha ko'tarilgan 2017 yil bundan mustasno, 0,01% darajasida doimiy bo'lib qoldi
              li Qattiq maishiy chiqindilarni yig‘ish to‘lovlari 2018-yilda ekologik soliq tushumlarining 57 foizini tashkil etdi. Iqtisodiy o'sish bilan ifloslanish to'lovlaridan atrof-muhit daromadlari odatda oshdi. 2018 yilda (ma’lumotlar mavjud bo‘lgan oxirgi yil) bu daromadlar 2010 yilga nisbatan qariyb to‘rt barobar ko‘p bo‘lib, taxminan 1,7 million dollarni (1 dollar = 8 069 so‘m) tashkil etdi. 2016-17 yillarda atrof-muhitni muhofaza qilishdan tushgan daromadlar ulushining 56 foizga o'sishi iqtisodiy faollikning o'sishi samarasini aks ettiradi. Bu ifloslantiruvchi moddalar emissiyasi va chiqindilarining ko'payishiga olib keldi, natijada ifloslanish uchun to'lovlar ikki baravar ko'paydi. Hisobot ma'lumotlarga kirish imkoni yo'qligi sababli so'nggi tendentsiyalarni baholay olmaydi.
              li
                | Ekologiya davlat qo‘mitasi (hozirgi Ekologiya, atrof-muhitni muhofaza qilish va iqlim o‘zgarishlari vazirligi) tomonidan qayd etilgan ifloslanganlik uchun to‘lovlar to‘g‘risidagi ma’lumotlar bundan mustasno, O‘zbekiston barcha klassik yashil soliq tushumlarini, masalan, energiya, resurs va transportni jami daromadlarga ajratmaydi. daromad miqdori. Bundan tashqari, litsenziyalash va ma'muriy yig'imlardan soliq bo'lmagan tushumlar to'g'risida ma'lumotlar yo'q. Shunday qilib, barcha ekologik soliq va to'lovlardan tushumlarni o'lchash juda qiyin. Bundan tashqari, atrof-muhitni muhofaza qilishdan olinadigan daromadlar umumiy davlat byudjetiga tushayotganligi sababli ularning bevosita atrof-muhitni muhofaza qilishga sarflanganligini kuzatish qiyin. Shunday qilib, ekologik soliqlar va yig'imlardan tushumlarni atrof-muhitni muhofaza qilish xarajatlari bilan bog'lab bo'lmaydi.
          .sub-section_content
            ul.sub-section_text
              i O'zbekiston qazib olinadigan yoqilg'i elektr energiyasini ishlab chiqarish uchun yuqori, ammo kamayib borayotgan subsidiyalar beradi
              li
                | 2010-20 yillarda. Neft, gaz va qazib olinadigan yoqilg‘idan elektr energiyasi ishlab chiqarish uchun subsidiyalar bosqichma-bosqich qisqartirildi. 2020-yilda O‘zbekistonda qazib olinadigan yoqilg‘i asosida elektr energiyasi ishlab chiqarish uchun subsidiyalar 2010-yilga nisbatan 60 foizga qisqartirildi. Biroq, ularning hajmi hali ham 3,8 milliard dollarni yoki YaIM ekvivalentida 6,6 foizni tashkil etadi. Subsidiyalarning eng sezilarli qisqarishi 2016-yilda kuzatilgan, o‘shanda ularning umumiy hajmi 2010-yilga nisbatan 75 foizga kamaygan. Biroq, 2019 yilda subsidiyalar miqdori taxminan ikki baravar oshdi va 2020 yilda yana kamaydi.
              li
                | O‘zbekiston energetika sektori 2030-yilgacha yashil iqtisodiyotga o‘tish chog‘ida kam ta’minlangan aholini himoya qilish uchun qazib olinadigan yoqilg‘i subsidiyalarini bosqichma-bosqich bekor qilishni maqsad qilgan. Bundan tashqari, hukumat yashil energiyaga iste'molchilar sarmoyasini rag'batlantirish uchun "soliq krediti mexanizmini" joriy qildi. Bunday investitsiya imtiyozlari qayta tiklanadigan energiya manbalari va energiya tejamkor texnologiyalardan foydalanishga xizmat qilishi kutilmoqda.
            .sub-section_figure
              h3
                i Elektr uchun subsidiyalar (2019 yil real dollar, million dollar)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Manba: Xalqaro energetika agentligi (2021)
          i Elektr energiyasi va qazib olinadigan yoqilg'i narxi oshib bormoqda, lekin ishlab chiqarish xarajatlarini aks ettirmaydi
          ul 
            li Energiya iste'moli tariflari ishlab chiqarish xarajatlarini aks ettirmaydi, biroq kam ta'minlangan aholini ijtimoiy himoya qilish siyosati bilan bog'liq holda energiya narxini isloh qilish muhokama qilinmoqda (IEA; Jahon banki). Shunga ko‘ra, 2019-yildan boshlab barcha toifadagi iste’molchilar uchun yagona tarif emas, balki turli toifadagi iste’molchilar uchun turli tarif sxemalari o‘rnatildi. Shunday qilib, tijorat iste'molchilari uchun tarif aholiga nisbatan 30-50% yuqori.
            li Hukumat siyosati 2023 yilgacha elektr energiyasi tariflariga bosqichma-bosqich o'tishni talab qiladi. Siyosat, shuningdek, rentabellik 10% dan 20% gacha bo'lishi kerakligini belgilaydi. 2023 yildan boshlab, siyosatga ko'ra, odamlar elektr energiyasi uchun to'lovni kunning vaqtiga qarab to'laydilar.
          i So'nggi to'rt yil ichida suvdan foydalanish narxi oshdi, ammo hali ham subsidiya qilinmoqda
          ul 
            li 2019-22 yillarda Toshkent shahrida suvdan foydalanish narxi o‘rtacha 33 foizga oshdi. Suv tariflari mintaqaga, uy-joy turiga (yakka tartibdagi uy yoki kvartira), shuningdek, suv hisoblagichlarining mavjudligiga bog'liq. Masalan, hududlarda suv narxi Toshkent shahrinikidan, xonadonlarda esa uylardagidan qimmatroq. “O‘zsuvta’minot” aksiyadorlik jamiyati suv tariflarini qayta-qayta ko‘rib chiqadi. Suv tariflari va yig'im stavkalari oshgan bo'lsa-da, ular subsidiya bo'lib qoladigan operatsion xarajatlarni qoplamaydi (Jahon banki, 2022). Hisobotda foydalanilgan maʼlumotnomalarda (Oʻzbekiston Oltin kitobi) faqat 2019-22-yillar uchun narxlar eʼlon qilinganligi sababli suv narxlari boʻyicha tarixiy maʼlumotlar keltirilmagan.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')