doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 2. Экологическая и ресурсная продуктивность экономики
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group2_ru') RU
        a(href='/group2') Eng
        a(href='/group2_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a.nav-active(href='/group2_ru')
          i.fa-solid.fa-seedling
        p.nav-active Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Группа 2. Экологическая и ресурсная продуктивность экономики
    .description
      p
        | В данной главе рассматривается вопрос о том, повышается ли в Узбекистане эффективность использования природных ресурсов и экологических услуг. Индикаторы зеленого роста (ИЗР) отражают эффективность использования энергии, природных ресурсов и материалов в экономической деятельности.
    main
      .section
        #section-1.section-active
            i.fa-solid.fa-file-circle-check
            h3 Показатели экологической и ресурсной продуктивности: Основные выводы
        #section-2
            i.fa-solid.fa-smog
            h3 2.1 Углеродная и энергетическая продуктивность экономики
        #section-3
            i.fa-solid.fa-chart-pie
            h3 2.2 Ресурсная производительность экономики
      .section_text
        #sub-section-1.sub-section.active
          h2 Показатели экологической и ресурсной продуктивности: Основные выводы
          ul 
            li Экономика Узбекистана становится все более эффективной в использовании природных ресурсов. За последние 30 лет увеличилась производительность углерода, энергии, материалов и воды. Однако они по-прежнему значительно ниже средних показателей в Центральной Азии (ЦА) и регионе Восточной Европы, Кавказа и Центральной Азии (ВЕКЦА). Несмотря на обнадеживающий прогресс, использование экологических ресурсов находится на высоком уровне, что влечет за собой нагрузку на природный капитал.
            li По общему объему выбросов парниковых газов (ПГ) Узбекистан занимает второе место в ЦА после Казахстана, а по объему выбросов на единицу валового внутреннего продукта (ВВП) - пятое место в мире. В то же время за последние 20 лет ему удалось снизить выбросы углерода на единицу ВВП примерно на 75%. Таким образом, тенденция обнадеживает.
            li Энергоемкость ВВП в последние годы снижается, но остается одной из самых высоких в мире. В 2022 году Узбекистан занимал восьмое место в мире по энергоемкости. Здания (жилые и коммерческие) потребляют около 45% энергии, промышленность - 21%, транспорт - 18%.
            li Возобновляемые источники энергии, такие как ветровая и солнечная энергия, играют незначительную роль (менее 2%) в энергобалансе Узбекистана, и их доля значительно ниже, чем в среднем по ЦА (15%). Доля возобновляемых источников энергии (ВИЭ) в производстве электроэнергии увеличилась до 9% в 2022 году. Более 90% ВИЭ приходится на гидроэнергетику. Развитие ВИЭ идет медленными темпами, несмотря на высокий потенциал солнечной энергии.
            li За последние 30 лет производительность воды в экономике увеличилась в четыре раза и составила 2 долл. на каждый кубический метр (м3) использованной воды. Несмотря на этот прогресс, производительность остается одной из самых низких по сравнению со средним показателем по региону Европы и Центральной Азии (43 долл./м3) и средним мировым показателем (21 долл./м3).
            li Материалоотдача в экономике (продукция, получаемая при использовании заданного количества металлических, неметаллических материалов и биомассы) за последние 30 лет выросла более чем в два раза. Это значение является третьим по величине в ЦА.
            li В 2021 году в Узбекистане производилось в десять раз больше твердых отходов, чем пять лет назад. В 2021 году в стране образовалось около 6 млн. тонн твердых бытовых отходов, или 165 кг на душу населения. Несмотря на то, что объем образования отходов растет, текущий уровень составляет лишь половину от средней по миру. Однако в 2018 году регулярными услугами по сбору отходов была охвачена лишь половина населения. В 2021 году только четвертая часть твердых отходов будет переработана, хотя объемы переработки растут.
            li В Узбекистане увеличился расход минеральных удобрений на гектар (га) посевных земель, что привело к росту избытка удобрений на гектар пашни. За последние 30 лет он увеличился более чем на 50% и в 2020 году превышал среднемировой показатель на 75%.
        #sub-section-2.sub-section
          h2 2.1 Углеродная и энергетическая продуктивность экономики
          i Выбросы углерода в Узбекистане колебались с общей тенденцией к увеличению
          ul
            li
              | В начале 2000-х годов наблюдался резкий рост выбросов с последующим снижением в период 2012-16 гг. После 2016 г. выбросы возобновили восходящую траекторию с заметным снижением в 2020 г. В 2021 г. выбросы CO₂ на душу населения в Узбекистане, показывающие вклад среднестатистического гражданина в общий объем выбросов, составили 3,6 т. Это значительно меньше, чем в среднем по Центральной Азии (ЦА) - 6,7 т на человека.
            li Несмотря на рост выбросов, Узбекистан вносит незначительный вклад в глобальные выбросы углерода. В 2020 г. объем выбросов был в 20 раз меньше, чем в среднем по странам Восточной Европы, Кавказа и Центральной Азии (ВЕКЦА), и составлял 5% от общего объема выбросов в регионе. За последние три десятилетия доля Узбекистана в глобальных выбросах составляла 0,33%. Основным источником выбросов CO₂ является энергетический сектор, причем 79% выбросов приходится на сжигание газового топлива для производства электрической и тепловой энергии.
          .sub-section_content
            ul.sub-section_text
              i Производительность экономики по углероду увеличилась за 1991-2020 годы
              li
                | Несмотря на рост выбросов, производительность по CO₂ постепенно и стабильно увеличивается, что свидетельствует о росте объема продукции, произведенной на единицу выброшенного CO₂. К 2020 году на килограмм выброшенного CO2 будет производиться 2,39 долл. против 0,6 долл. в 1990 году, что свидетельствует о четырехкратном увеличении производительности углерода в экономике. Однако это значение все еще меньше, чем средний показатель по региону ВЕКЦА, составляющий 2,46 долл. Увеличение углеродной продуктивности обусловлено потреблением газового топлива с меньшим содержанием углерода. В то же время рост выбросов CO₂ происходит на фоне относительно стабильного роста ВВП в указанный период. Эти факторы способствовали устранению зависимости выбросов CO₂ от ВВП и были особенно заметны в период 2012-15 годов, когда ВВП стабильно рос на фоне снижения выбросов CO₂.
            .sub-section_figure
              h3
                i Производительность по CO₂ в ВВП (цена 2015 г.) на единицу CO₂ USD/кг CO₂
              canvas#carbon_productivity(style='max-height: 300px;')
              h4
                i Источник: ОЭСР, 2023 Г.
          i Общее предложение первичной энергии (TPES) в последние пять лет имело общую тенденцию к росту.
          i Доля возобновляемых источников энергии (ВИЭ) в ТЭС и производстве электроэнергии низка и за последние пять лет сократилась.
          ul  
            li ТЭС Узбекистана, состоящая из невозобновляемых источников энергии и ВИЭ, несмотря на снижение в 2020 году, в 2021 году незначительно увеличилась до 49,2 млн. тонн нефтяного эквивалента (тнэ). Хотя энергообеспеченность выше средней по ЦА, в 2020 году она в 280 раз меньше среднемировой и в 20 раз меньше средней по региону ВЕКЦА. По данным IRENA (2022), в 2019 году Узбекистан был самообеспечен энергией на 114%. В том же году страна экспортировала 20% произведенной энергии, а импортировала 5% энергопоставок.
          .sub-section_content
            ul.sub-section_text
              i Доля возобновляемых источников энергии в ТЭС и производстве электроэнергии невелика и за последние пять лет снизилась
              li Доля ВИЭ в первичном энергобалансе в целом снижается и невелика - менее 1% в 2020 году. Почти вся (99%) возобновляемая энергия поступает от гидроэнергетики, за которой следует солнечная энергия - относительно недавний, но растущий по состоянию на 2015 год источник энергии. Несмотря на высокий потенциал, вклад ВИЭ в энергобаланс остается низким, а их производство идет медленными темпами.
              li Узбекистан в значительной степени полагается на невозобновляемые источники, такие как природный газ, нефть и уголь, для обеспечения первичной энергии. В 2021 году из общего объема невозобновляемого ископаемого топлива 85% приходилось на природный газ, 9% - на нефть и 4% - на уголь.
              li Устаревшая инфраструктура, электростанции и сетевые системы были рассчитаны преимущественно на использование традиционных источников энергии. Это создает барьер для быстрой интеграции дополнительных и ВИЭ (IEA, 2022). Например, в 2019 году не было ни одной солнечной электростанции или ветропарка промышленного масштаба.
            .sub-section_figure
              h3
                i Доля возобновляемой электроэнергии, % от источника электроэнергии
              canvas#share_of_renewables(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
          .sub-section_content
            .sub-section_figure
              h3
                i Энергоемкость ВВП, кэ/доллар (2015 г.)
              canvas#energy_intensity(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              i Производительность энергии в Узбекистане за 2000-20 гг. выросла, и поэтому энергоемкость экономики за последние два десятилетия снизилась
              li Узбекистан становится все более эффективным в использовании энергии, о чем свидетельствует постепенный рост энергопроизводительности, которая за период 2005-20 гг. увеличилась в три раза. Рост производительности обусловлен государственной политикой, которая предусматривает приоритетное развитие, продвижение и инвестирование в усовершенствованные энергоэффективные технологии в основных секторах экономики, особенно в промышленности.
              li В 2022 году Узбекистан занимал восьмое место по энергоемкости. В последние годы в стране проводятся реформы, направленные на снижение энергоемкости. Однако сохраняются проблемы, связанные с устаревшей инфраструктурой и медленными темпами ее обновления (IEA, 2022).
        #sub-section-3.sub-section
          h2 2.2 Ресурсная производительность экономики
          i Материалоотдача возросла умеренным темпом в период 1992-2019 гг.
          ul 
            li Экономическая эффективность в Узбекистане, отраженная в показателе материалоотдачи, который измеряет объем продукции, полученной из данного количества материалов, растет. В 2019 году на каждый килограмм использованных материалов (металлических, неметаллических или биомассы) выпуск продукции увеличился в два раза - с 0,4 долл. до 0,9 долл. в 1992 году. В ЦА только Туркменистан и Казахстан превосходят Узбекистан со значениями производительности ЦМД 1,98 и 1,02 долл. соответственно.
          i Использование минеральных удобрений на единицу пашни растет
          ul 
            li За последние 30 лет потребление удобрений на гектар пашни в Узбекистане увеличилось более чем на 50%, что усиливает экологические проблемы. В 2020 году этот показатель составит в среднем 255 кг, что на 75% выше среднемирового уровня. В 2009 году на долю Узбекистана пришлось 0,6% мирового загрязнения окружающей среды удобрениями, полученными за счет 94 кг избыточного азота на гектар.
          i С 2019 года резко возросло количество твердых бытовых отходов, а к 2021 году перерабатывалась лишь четверть от общего объема твердых бытовых отходов
          ul 
            li К 2021 г. ежегодное образование твердых бытовых отходов в Узбекистане составило 5,7 млн. т, или 165 кг на душу населения. По прогнозам правительства, к 2030 году этот показатель может достичь 7,0 млн. т, а еще 1,4 млн. т будет приходиться на коммерческий и государственный секторы. Рост образования отходов не зависит от экономического роста. В составе отходов 25% составляют пищевые продукты, 10% - бумага и 50% - полимеры.
            li Национальные системы обращения с твердыми бытовыми отходами (ТБО) являются рудиментарными. В результате большая часть отходов оказывается на открытых полигонах без существенной переработки.
            li Улучшается ситуация со сбором и переработкой отходов. Хотя в 2018 году общая численность населения, охваченного услугами по сбору отходов, составила всего 48%, это значительный рост по сравнению с 6%, охваченными в 2016 году. Переработка твердых отходов увеличилась с 1,4 млн т в 2019 году (9%) до 1,7 млн т (26%) к 2021 году.
          .sub-section_content
            .sub-section_figure
              h3
                i Производительность воды, USD (2015 г.)
              canvas#water_productivity(style='max-height: 300px;')
              h4
                i Источник: Всемирный банк, 2023 г.
            ul.sub-section_text
              i Производительность воды увеличилась с 2000 года
              li Показатель продуктивности воды в Узбекистане - объем производства на кубический метр воды - в период 1994-2019 гг. увеличился почти в четыре раза: с 0,48 до 1,8 долл. Этот рост объясняется недавними политическими мерами по внедрению водосберегающих технологий и эффективных ирригационных систем в сочетании с ростом ВВП. Тем не менее, в 2020 году уровень продуктивности воды был в 10 раз ниже среднемирового (20 долл. США) и в 23 раза ниже среднего по региону ЕЦА.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group2.js')