doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 5. Economic opportunities and policy responses
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group5_ru') RU
        a.active_language(href='/group5') Eng
        a(href='/group5_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a.nav-active(href='/group5')
          i.fa-solid.fa-users-gear
        p.nav-active Group 5
    .heading
      i.fa-solid.fa-users-gear
      h1 Group 5. Economic opportunities and policy responses
    .description
      p This chapter explores Uzbekistan’s investments in the transition to a green economy and the economic opportunities and benefits green growth generates. The indicators help assess policy effectiveness in green technology and innovation, environment investment and financing, prices, environmental taxes (revenues) and financial transfers. In this way, they capture the economic opportunities associated with green growth (OECD, 2017).
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Policy responses indicators: Key findings
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 Technology and innovations
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 Financial flows
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 Prices and transfers
      .section_text
        #sub-section-1.sub-section.active
          h2 Policy responses indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | Share of environment- related innovations in Uzbekistan is growing. 
                |  Over 15% of the innovations in Uzbekistan in 2018 were environment related; this was 0.02 technologies per capita.
              li 
                b Public expenditures in environmental protection (including SDG 13, Climate Change) are relatively low, but growing. 
                |  On average, environmental expenditure accounted for 0.06% of total government expenditures in 2012–2019. The proportion of environmental protection expenditures relative to GDP was 0.02% In 2019.
            .sub-section_figure
              h3
                i Public expenditures in environment protection
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Source: State Committee for Ecology and Environmental Protection, 2023
          .sub-section_content
            .sub-section_figure
              h3
                i Revenues from environmental tax, % share 
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Source: State Committee for Ecology and Environmental Protection, 2023
            ul.sub-section_text
              li 
                b Increase in economic activity led to increase in environmental revenues  in Uzbekistan. 
                |  The aggregate annual volume of tax revenues from pollutant pays averaged about 0.01% of the state budget for 2015-2018, mostly from solid waste management. 
                b Uzbekistan however does not yet systematically track all ‘green’ revenues from taxes, charges, and fees; thus, the amount of environmental revenue is underestimated.
              li 
                b Uzbekistan’s energy sector aims to phase out the fossil fuel subsidies gradually.
                |  In 2020, Uzbekistan’s subsidies for fossil fuels amounted to 6.6% of the GDP and were reduced by 60% of the 2010 level.  Over half of the fossil fuel subsidy goes to the natural gas sector. 
          .sub-section_content
            ul.sub-section_text
              li 
                b Price for energy is growing 
                |  to reach its market value. Until 2017 there was a single tariff in Uzbekistan for all consumer categories, then Uzbekistan set different tariffs for different categories of consumers. The tariff for commercial consumers was 30% to 50% more than residential use tariffs. 
                b Price for water is also growing.
                |  The tariffs vary by region and have been revised several times. Though water tariff levels and collection rates have increased, it does not cover operational costs.
              li 
                b International financial flows in support of Uzbekistan’s green growth strategy are evolving. 
                |  In 2023, loans and grants for green investments is USD 840 mln and USD 66 mln, respectively. 
            .sub-section_figure
              h3
                i Energy subsidies (USD real 2019, million)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Source: International Energy Agency (2021)
        #sub-section-2.sub-section
          h2 5.1 Technology and innovations
          i The share of environment-related innovations in total innovations and its per capita fluctuated during 1993-2018
          ul
            li
              | Although no data are available for the last five years on environmental technologies, the previous trend shows that Uzbekistan started investing in environmental technologies and innovations in the early 1990s. The share in total innovations varied annually without any clear trend. Over 15% of the innovations in Uzbekistan in 2018 were environment-related, which was higher than the global average of 10%. However, environmental technologies per capita was 0.02, while the global average was 4.9, indicating low environmental innovations among Uzbeks. 
            li Uzbekistan contributed to 0.01% of world environment-related technologies in 2018. Given lack of available data since then, the report does not describe the current situation.
        #sub-section-3.sub-section
          h2 5.2 Financial flows
          i Environmental protection expenditures between 2012-19 are underfunded by the government
          ul
            li
              | Public environmental expenditures are generally increasing, but the value remains small. On average, environmental expenditure accounted for only 0.06% of total government expenditures, or 0.02% of gross domestic product (GDP), in 2012-19. This value may be underestimated as Uzbekistan lacks systematic budget tagging/marking for “green” expenditures. It is thus hard to assess all the investments in the transition to a green economy. 
          i International financial flows to green growth are modest
          ul 
            li
              | Uzbekistan attracts modest green growth finance through grants and loans from multilateral institutions and the United Nations. By 2023, Uzbekistan had mobilised USD 840 million in loans and USD 66 million in grants from international financial institutions (IFIs) and development partners to support the green growth strategic priorities. The lack of systematic monitoring of development assistance for green growth does not allow for monitoring the trends. This report used the work of the United Nations Development Programme in this area, but data is inconclusive.
            li
              | As part of the national Green Economy Transition Strategy to 2030, Uzbekistan has started implementing blended finance to establish special funds and green bonds to unlock green investments, both from public and private sources. The country also mobilises investment in renewable power generation in the framework of public-private collaboration. However, it does not participate in a competitive carbon trading market. 
        #sub-section-4.sub-section
          h2 5.3 Prices and transfers
          i The share of revenues from pollution taxes in  total revenue was constant at 0.01% during 2015-18, except in 2017 when it increased to 0.02%
          ul
            li Solid waste collection fees made up 57% of the environmental tax revenues in 2018. Environmental revenues from pollution fees in general have increased with economic growth. These revenues were almost four times higher in 2018 (the latest year for which data are available) than in 2010, amounting to around USD 1.7 million (1 USD = 8 069 UZS). The 56% spike in the share of environmental revenues between 2016-17 reflects the effect of fast-paced economic activity. This led to increased emissions and discharges of pollutants, doubling pollution fees. The report cannot assess recent trends due to lack of access to data.
            li
              | Except for data on the pollution fees recorded by the State Committee for Ecology (now the Ministry of Ecology, Environment Protection and Climate Change), Uzbekistan does not classify all classical green tax revenues like energy tax, resource tax and transport tax in the total revenue. Moreover, there are no data on non-tax revenues generated from green licence fees and administrative charges. Hence, measuring revenues from all environmental taxes and fees is difficult. Moreover, since the environmental revenues are channelled to the general government budget, it is difficult to track if they are spent explicitly for environmental protection. Thus, it is impossible to correlate environmental tax/fee revenues with environmental expenditure.
          i Uzbekistan provides high, but declining, subsidies for fossil fuel energy 
          ul 
            li
              | Fossil fuel subsidies for oil, gas and fossil fuel electricity generation gradually declined between 2010-20. In 2020, Uzbekistan’s subsidies for fossil fuel energy were reduced by 60% from the 2010 level. However, they still amounted to USD 3.8 billion, making up 6.6% of the GDP equivalent. The most significant subsidy reduction was observed in 2016, when total subsidies declined by 75% from 2010. The subsidy value, however, roughly doubled in 2019 before declining again in 2020.
            li
              | Uzbekistan’s energy sector aims to phase out fossil fuel subsidies gradually to protect the low-income population during the transition to a green economy by 2030. In addition, the government introduced an energy transition “tax credit mechanism” to stimulate consumer investments in green energy [2]. The investment incentive is expected to encourage use of renewable energy and energy-efficient technologies. 
          i Energy prices for electricity and fossil fuels are increasing but do not represent the cost of production 
          ul 
            li Tariffs for energy resource use do not represent production cost, yet energy price reform is debated due to social protection policies for the low-income population (IEA; World Bank). Accordingly, various tariff schemes are set as of 2019 for different categories of consumers rather than a single tariff for all consumer categories. Thus, the tariff for commercial consumers is 30- 50% more than for residential use. 
            li The government policy specifies a more gradual transition for electricity tariffs by 2023. The policy also states that profitability should be between 10% and 20%. As of 2023, the policy indicates that people will pay for electricity depending on the time of day that they use it. 
          i The price of water use increased in the last four years, but is still subsidised
          ul 
            li In 2019-22, the price of water use in Tashkent City increased by 33% on average. Water tariffs vary by region, residence type (individual house or apartment) and by availability of water meters. For instance, water prices are higher in regions than in Tashkent City, and apartments than houses. The Uzsuvtaminot joint stock company revises the water tariffs several times. Although water tariff levels and collection rates have increased, they do not cover operational costs, which are still subsidised (World Bank, 2022). Historical data on water prices are not shown as directory books (Golden book of Uzbekistan) used in the report only published prices for 2019-22.
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')