doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 4-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group4_ru') RU
        a(href='/group4') Eng
        a.active_language(href='/group4_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a.nav-active(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p.nav-active 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-building-columns
      h1 Guruh 4. Hayot sifatining ekologik jihati
    .description
      p Ushbu bobda atrof-muhit holati va xatarlarining odamlar hayot sifati va farovonligi bilan o‘zaro ta’sirini aks ettiruvchi ko‘rsatkichlar ko‘rib chiqiladi. Ular O‘zbekistonda daromadlarning o‘sishi odamlar hayot sifatining oshishi bilan qay darajada bog‘liqligini ko‘rsatadi. 
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Hayot sifatining ekologik jihati: Asosiy natijalar
        #section-2
          i.fa-solid.fa-smog
          h3 4.1 Atrof-muhit salomatligi uchun xavflar va xarajatlar
        #section-3
          i.fa-solid.fa-person-arrow-up-from-line
          h3 4.2 Ekologik xizmatlar
      .section_text
        #sub-section-1.sub-section.active
          h2 Hayot sifatining ekologik jihati: Asosiy natijalar
          ul 
            li O‘zbekiston havo ifloslanishi bo‘yicha dunyoda 20-chi o‘rinni egallaydi. Ifloslantiruvchi moddalarning asosiy manbalari chang zarralari, transport vositalarining chiqindilari va sanoat chiqindilari. So‘nggi o‘n yil ichida havodagi zarrachalar konsentratsiyasi (QZ2,5) Jahon sog‘liqni saqlash tashkiloti (JSST) sog‘liq uchun zararli deb hisoblagan 35 mkg/m3 dan oshib ketdi. 
            li So‘nggi o‘n yil ichida sog‘liq uchun zararli QZ2,5 konsentratsiyasi ta’siri ostida bo‘lgan aholining ulushi taxminan 80 % dan 56% gacha kamaydi. Shunga qaramay, aholining zararlanish darajasi dunyo bo‘yicha o‘rtacha 10 % dan besh baravar yuqoridir. 
            li Havoning ifloslanishi tufayli o‘lim va ijtimoiy ta’minot xarajatlari ortib bormoqda. Hisob-kitoblarga ko‘ra, har yili tashqi havoning ifloslanishi ta’sirida bir mln aholiga 750 dan ortiq odam muddatidan oldin vafot etadi, bu 2019 yilda dunyodagi o‘rtacha 645 kishiga teng bo‘lgan ko‘rsatkichdan yuqoridir. Tashqi havoning ifloslanishi bilan bog‘liq o‘lim holatlari bo‘yicha mamlakat dunyoda uchinchi o‘rinda turadi. Bu bilan bog‘liq ijtimoiy ta’minot xarajatlari ShYeKMO mintaqasidagi 6,5% ga nisbatan YAIMning deyarli 9% teng deb baholanadi. 
            li So‘nggi o‘n yil ichida xavfsiz maishiy ichimlik suvi ta’minotidan foydalanish imkoniyatiga ega bo‘lgan uy xo‘jaliklarining ulushi 10% ga qisqarib, taxminan 70% ni tashkil etgan. Bunga suv infratuzilmasining eskirishi, aholi sonining ko‘payishi va uy-joy qurilishi kabi omillar sabab bo‘lgan va natijada suv ta’minotiga bo‘lgan yuklama ortgan. Bundan tashqari, shaharlar va qishloqlar o‘rtasida ichimlik suvidan foydalanishda katta farq mavjud. Toshkent shahridagi uylarning 97 % dan ortig‘i ichimlik suvidan foydalanish imkoniyatiga ega bo‘lsa-da, qishloq joylarda bu hamon muammoligicha qolmoqda.
            li O‘zbekiston ijtimoiy kanalizatsiya tizimlarini kengaytirishda ma’lum yutuqlarga erishdi. Shunga qaramay, 2022 yilda kanalizatsiya tizimiga uy xo‘jaliklarining yarmidan kamrog‘i (48%) ulangan va hududlar o‘rtasida farq mavjud. Masalan, Toshkent shahridagi barcha turar-joy binolari kanalizatsiya tizimiga ulangan bo‘lsa, Qoraqalpog‘iston mintaqasida bu ko‘rsatkich uy xo‘jaliklarining atigi 16% ni tashkil etadi. 
        #sub-section-2.sub-section
          h2 4.1 Havo ifloslanishiga bog'liq xavf va xarajatlar
          .sub-section_content
            ul.sub-section_text
              i O‘zbekistonda havoning ifloslanishi tobora ortib bormoqda, bu esa uni "dunyoning eng ifloslangan mamlakatlaridan" biriga aylantirmoqda.
              li
                | Atmosferaga chiqariladigan ifloslantiruvchi moddalar hajmida ifodalangan havo ifloslanishi 2010 yildan buyon keskin oshdi. 2015 yilda u yillik eng yuqori darajaga - 975 000 tonnaga (t) yetdi, shundan so‘ng u 2021 yilda 909 000 tonnaga tushdi. Ifloslantiruvchi moddalarning asosan sulfatlar, nitratlar, ammiak, natriy xlorid, qurum, mineral chang va suvdan tarkib topgan. Havoda kattaligi 2,5 mikrometrli mayda zarrachalar (QZ2,5) konsentratsiyasi odatda yuqori. So‘nggi o‘n yil ichida u Jahon sog‘liqni saqlash tashkiloti (JSST) sog‘liq uchun zararli deb hisoblagan bir kubometrga 35 mikrogramm (mkg/m3) ko‘rsatkichidan oshib ketdi. 
                li 2022-yilda O‘zbekiston havo sifati bo‘yicha dunyoning eng ifloslangan mamlakatlar ro‘yxatida 20-o‘rinni egalladi va Markaziy Osiyoda (MO) Tojikistondan keyin ikkinchi bo‘ldi, QZ2,5-larning o‘rtacha yillik konsentratsiyasi 33,5 mkg/m3 ni tashkil etdi. Mamlakatdagi havoning ifloslanishi bilan bog‘liq muammolarning aksariyati Orol dengizining cho‘llanishi va temir oksidi va boshqa zaharli QZlarni tashuvchi chang bo‘ronlari bilan bog‘liq. Shu bilan birga, Toshkent shahridagi ifloslanish asosan transport vositalaridan foydalanish bilan bog‘liq bo‘lib, ular 2021 yilda umumiy manbalarning taxminan 60% ni tashkil etdi. 
            .sub-section_figure
              h3
                i Havo ifloslovchi moddalari, ming tonna
              canvas#air_pollutants(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil.
          i 2010 yildan beri O‘zbekiston aholisining yarmidan ko‘pi havoning zararli darajada ifloslanishi ta’siriga duch kelmoqda.
          ul 
            li
              | So‘nggi o‘n yil ichida sog‘liq uchun zararli QZ 2,5 konsentratsiyasi ta’siri ostida bo‘lgan aholining ulushi taxminan 80 % dan 56% gacha kamaydi. Biroq, 2010-yildan buyon O‘zbekiston aholisining yarmidan ko‘pi har kuni 35 mkg/m3 dan ortiq bo‘lgan QZ2,5 ning zararli konsentratsiyasiga duch kelmoqda. Aholining bu zararli ta’sir darajasi dunyo bo‘yicha o‘rtacha 10% ko‘rsatkichdan besh baravar ko‘p.
          .sub-section_content
            .sub-section_figure
              h3
                i Nafas organlarining kasalliklariga o'lim, umumiy o'limlar sonidan %
              canvas#respiratory_death(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil.
            ul.sub-section_text
              i Havoning ifloslanishi tufayli o‘lim holatlari va erta o‘lim xarajatlari yuqori va dunyo bo‘yicha o‘rtacha ko‘rsatkichdan oshadi.
              li 2022 yilda nafas olish yo‘llari kasalliklari o‘lim holatlarining deyarli 10% ga sabab bo‘ldi. Qoraqalpog‘istonning qurg‘oqchil zonasida surunkali bronxit holatlari mamlakatning qolgan qismiga qaraganda 2,5-3,0 baravar yuqori. O‘zbekistonda tashqi havoning ifloslanishi bilan bog‘liq o‘lim holatlari dunyoda uchinchi o‘rinda turadi (AQSHning O‘zbekistondagi elchixonasi, 2019). Xususan, so‘nggi 30 yil ichida O‘zbekistonda har yili 1 mln aholiga 750 dan ortiq kishi QZ2,5 ta’siridan vafot etdi, bu 2019 yildagi dunyo bo‘yicha o‘rtacha 645 kishilik ko‘rsatkichdan yuqori.
          i Ozon va qo‘rg‘oshin gazlari ta’sirida o‘lim holatlari va ijtimoiy ta’minot xarajatlari kamaydi
          ul
            li Ozon ifloslanish ta’siridan o‘lim holatlari 1990-2019 yillarda kamaydi (5.5-diagramma). Ozon ta’siri 2019 yilda bir mln aholi orasida 7 ta o‘lim holatiga olib keldi, 1990 yilda bu ko‘rsatkich 21 ta o‘lim holatini tashkil etgan. Ozon ta’siri bilan bog‘liq yillik ijtimoiy ta’minot xarajatlari xuddi shu davrda YaIM ekvivalentining 0,26 % dan 0,09% gacha kamaydi (XQP bo‘yicha). Xuddi shunday, 1990-2019 yillar davomida har yili qo‘rg‘oshindan zaharlanish tufayli har mln aholiga 100 kishi vafot etgan. Qo‘rg‘oshindan zaharlanish tufayli kelib chiqadigan iqtisodiy yo‘qotishlar o‘rtacha YAIMning 1,2% ga teng bo‘lgan.
        #sub-section-3.sub-section
          h2 4.2 Ekologik xizmatlar
          .sub-section_content
            ul.sub-section_text
              i Xavfsiz ichimlik suvidan foydalanish imkoniyatiga ega bo‘lgan uy xo‘jaliklarining ulushi 2015 yildan buyon kamaydi va qishloq joylarda undan foydalanish hali ham muammo bo‘lib qolmoqda
              li
                | So‘nggi o‘n yil ichida yaxshilangan va xavfsiz manbadan olingan ichimlik suvidan foydalanish imkoniyatiga ega bo‘lgan uy xo‘jaliklarining ulushi 10% ga kamaydi. 2022-yilda O‘zbekiston uy xo‘jaliklarining 72% xavfsiz ichimlik suvidan foydalanish imkoniyatiga ega bo‘lgan, bu 2010-yildagi 82,5 % dan kam. Bu ulush asosan aholi va uy-joy fondining ko‘payishiga qaramay, suv va kanalizatsiya infratuzilmasi eski holatda saqlanib qolgani tufayli qisqargan yoki o‘zgarmagan. Bu ulush dunyo bo‘yicha o‘rtacha ko‘rsatkichdan kam, shaharlar va qishloqlar o‘rtasida katta farq mavjud. Toshkent shahridagi uylarning 97 % dan ortig‘i ichimlik suvidan foydalanish imkoniyatiga ega bo‘lsa-da, Qashqadaryo viloyati eng past ko‘rstkichga ega.
            .sub-section_figure
              h3
                i Xavfsiz ichimlik suvi va kanalizatsiya ga kirish, uy-hovliqning ulkanligi, %
              canvas#water_sewerage_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023-yil.
          i So‘nggi uch yil ichida kanalizatsiya tizimiga ega bo‘lgan uy xo‘jaliklarining ulushi oshdi
          ul 
            li
              | O‘zbekiston 2020-yildan beri jamoat kanalizatsiya tizimlarini sekin-asta va barqaror kengaytirishda ma’lum yutuqlarga erishdi. Shunga qaramay, 2022-yilda uy xo‘jaliklarining yarmidan kamrog‘i (48%) kanalizatsiya tizimiga ulangan bo‘lib, shaharlar va mintaqalar o‘rtasida farq mavjud. Masalan, Toshkent shahridagi barcha uy xo‘jaliklari kanalizatsiya tozalash tizimiga ulangan. Biroq, Qoraqalpog‘istonda uy xo‘jaliklarining atigi 16% ulangan. Jahon banki (2022) qishloq joylaridagi uy xo‘jaliklarining aksariyati faqat qo‘lbola kanalizatsiya tizimlariga - quruq axlatxonalarga yoki chiqindilari joyida olib tashlanadigan septiklarga ega ekanligini qayd etadi. Bundan tashqari, yig‘ilgan chiqindi suvlar xalqaro standartlarga muvofiq qayta ishlanmaydi.
          .sub-section_content
            .sub-section_figure
              h3
                i Gigiena vositalariga kirish, uy-hovliqning ulkanligi, %
              canvas#sanitation_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023-yil.
            ul.sub-section_text
              i O‘zbekiston aholining yaxshilangan sanitariya sharoitlaridan 100%  foydalanishiga erishdi
              li O‘zbekistonning butun aholisi 2014-yilda yaxshilangan sanitariya sharoitlaridan foydalanish imkoniyatiga ega bo‘lib, 2000-yildagi 93% ga nisbatan taraqqiyot kuzatildi (5.8-diagramma). Shunday qilib, mamlakat sanitariya-gigiyenadan umumaholi foydalanishga erishish yo‘lida BRMdagi 2030 yilgacha oltinchi maqsadga erishdi. 
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group4.js')