doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 5. Экономические возможности и меры политики
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group5_ru') RU
        a(href='/group5') Eng
        a(href='/group5_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a.nav-active(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p.nav-active Group 5
    .heading
      i.fa-solid.fa-users-gear
      h1 Группа 5. Экономические возможности и ответные меры политики
    .description
      p В данной главе рассматриваются инвестиции Узбекистана в переход к "зеленой" экономике, а также экономические возможности и выгоды, которые дает "зеленый" рост. Показатели помогают оценить эффективность политики в области "зеленых" технологий и инноваций, инвестиций и финансирования природоохранной деятельности, цен, экологических налогов (доходов) и финансовых трансфертов. Таким образом, они отражают экономические возможности, связанные с "зеленым" ростом (OECD, 2017).
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Экономические возможности и ответные меры политики: Основные выводы
        #section-2
          i.fa-solid.fa-seedling
          h3 5.1 Технологии и инновации
        #section-3
          i.fa-solid.fa-hand-holding-hand
          h3 5.2 Финансовые потоки
        #section-4
          i.fa-solid.fa-plug-circle-bolt
          h3 5.3 Цены и трансферы
      .section_text
        #sub-section-1.sub-section.active
          h2 Экономические возможности и ответные меры политики: Основные выводы
          ul 
            li Необходимо и дальше поощрять разработку и патентование "зеленых" технологий. По данным патентных заявок, Узбекистан инвестирует в экологические технологии с начала 1990-х годов. Более 15% инноваций в Узбекистане в 2018 году были связаны с экологией, что выше среднемирового показателя в 10%. Однако уровень экологических технологий на душу населения остается низким (0,02 технологии на душу населения) по сравнению со средним показателем по ОЭСР (10 технологий на душу населения).
            li Необходимо привлекать больше "зеленых" инвестиций, а также использовать методы "зеленых" бюджетных меток. Расходы на охрану окружающей среды в целом имеют тенденцию к росту, но остаются незначительными. В среднем за последние десять лет они составили лишь 0,06% от общих государственных расходов или 0,02% от ВВП. Эта величина может быть недооценена, поскольку в Узбекистане отсутствует систематическая маркировка "зеленых" расходов в бюджете, что затрудняет отслеживание всех "зеленых" инвестиций.
            li Доля экологических доходов в государственном бюджете в 2015-18 гг. оставалась неизменной и составляла в среднем 0,01%. Доминирующее положение занимает плата за вывоз твердых бытовых отходов, которая составляет 57% экологических доходов. Несмотря на отсутствие систематического учета всех налогов, связанных с охраной окружающей среды, экологические доходы от платы за загрязнение окружающей среды, включая плату за сбор твердых отходов и сточных вод, в целом выросли.
            li Субсидии на ископаемое топливо в энергетическом секторе должны быть еще более сокращены. Субсидии в энергетике постепенно снижаются, но остаются высокими. В 2020 году субсидии на ископаемое топливо были на 60% ниже, чем в 2010 году, но составили почти 4 млрд. долларов США (1 доллар США = 10 065 сум), что эквивалентно 6,6% ВВП.
            li Тарифы на энергоресурсы и водопользование должны постепенно отражать рыночную стоимость для покрытия эксплуатационных расходов. Тарифы (цены для конечного потребителя) на энергоресурсы и водопользование выросли, и для защиты малообеспеченных слоев населения установлены различные тарифные схемы для разных категорий потребителей. Однако тарифы не отражают себестоимость продукции.
        #sub-section-2.sub-section
          h2 5.1 Технологии и инновации
          i Доля инноваций, связанных с охраной окружающей среды, в общем объеме инноваций и в расчете на душу населения колебалась в 1993-2018 гг.
          ul
            li
              | Хотя данные за последние пять лет по природоохранным технологиям отсутствуют, предыдущая тенденция показывает, что Узбекистан начал инвестировать в природоохранные технологии и инновации в начале 1990-х годов. Доля в общем объеме инноваций ежегодно менялась без какой-либо четкой тенденции. В 2018 году более 15% инноваций в Узбекистане были связаны с экологией, что выше среднемирового показателя в 10%. Однако доля экологических технологий на душу населения составила 0,02 при среднемировом показателе 4,9, что свидетельствует о низком уровне экологических инноваций среди узбекистанцев.
            li В 2018 году на долю Узбекистана пришлось 0,01% мировых технологий, связанных с охраной окружающей среды. Ввиду отсутствия доступных данных за прошедший период отчет не описывает текущую ситуацию.
        #sub-section-3.sub-section
          h2 5.2 Финансовые потоки
          .sub-section_content
            ul.sub-section_text
              i Расходы на охрану окружающей среды в 2012-19 гг. недофинансируются государством
              li
                | Государственные расходы на охрану окружающей среды в целом растут, но их величина остается небольшой. В среднем в 2012-19 гг. расходы на охрану окружающей среды составляли всего 0,06% от общих государственных расходов, или 0,02% от валового внутреннего продукта (ВВП). Эта величина может быть занижена, так как в Узбекистане отсутствует систематическая бюджетная маркировка "зеленых" расходов. Поэтому сложно оценить все инвестиции в переход к "зеленой" экономике.
            .sub-section_figure
              h3
                i Государственные расходы на охрану окружающей среды
              canvas#environment_expenditures(style='max-height: 300px;')
              h4
                i Источник: Государственный комитет по экологии и охране окружающей среды, 2023 г.
          
          i Международные финансовые потоки в "зеленый" рост незначительны
          ul 
            li
              | Узбекистан привлекает небольшие объемы финансирования "зеленого" роста в виде грантов и займов от многосторонних организаций и ООН. К 2023 году Узбекистан привлек 840 млн. долл. США в виде кредитов и 66 млн. долл. США в виде грантов от международных финансовых институтов (МФИ) и партнеров по развитию для поддержки стратегических приоритетов "зеленого" роста. Отсутствие систематического мониторинга помощи на цели "зеленого" роста не позволяет отслеживать тенденции. В настоящем отчете использовалась работа Программы развития ООН в этой области, однако данные по ней неубедительны.
            li
              | В рамках национальной стратегии перехода к "зеленой" экономике до 2030 года Узбекистан приступил к внедрению смешанного финансирования, предусматривающего создание специальных фондов и "зеленых" облигаций для привлечения "зеленых" инвестиций как из государственных, так и из частных источников. Страна также мобилизует инвестиции в возобновляемую энергетику в рамках государственно-частного сотрудничества. Однако страна не участвует в конкурентном рынке торговли квотами на выбросы углерода.
        #sub-section-4.sub-section
          h2 5.3 Цены и трансферы
          .sub-section_content
            .sub-section_figure
              h3
                i Доходы от экологического налога, % доля
              canvas#environment_revenue(style='max-height: 300px;')
              h4
                i Источник: Государственный комитет по экологии и охране окружающей среды, 2023 г.
            ul.sub-section_text
              i Доля поступлений от налогов на загрязнение окружающей среды в общем объеме доходов в течение 2015-18 гг. оставалась постоянной и составляла 0,01%, за исключением 2017 г., когда она увеличилась до 0,02%
              li Плата за сбор твердых бытовых отходов составила 57% поступлений от экологического налога в 2018 году. Экологические доходы от платы за загрязнение окружающей среды в целом увеличивались по мере экономического роста. В 2018 году (последний год, по которому имеются данные) эти доходы были почти в четыре раза выше, чем в 2010 году, и составили около 1,7 млн долл. (1 долл. = 8 069 сумов). Скачок доли экологических поступлений на 56% в 2016-17 годах отражает эффект быстро развивающейся экономической деятельности. Это привело к увеличению выбросов и сбросов загрязняющих веществ, что привело к удвоению платы за загрязнение окружающей среды. В отчете невозможно оценить последние тенденции из-за отсутствия доступа к данным.
              li
                | За исключением данных о плате за загрязнение окружающей среды, зарегистрированных Государственным комитетом по экологии (ныне Министерство экологии, охраны окружающей среды и изменения климата), Узбекистан не классифицирует все классические поступления от "зеленых" налогов, таких как энергетический, ресурсный и транспортный, в общей сумме доходов. Кроме того, отсутствуют данные о неналоговых доходах от лицензионных и административных сборов. Таким образом, измерить доходы от всех экологических налогов и сборов достаточно сложно. Кроме того, поскольку экологические доходы поступают в общий государственный бюджет, трудно отследить, расходуются ли они непосредственно на охрану окружающей среды. Таким образом, невозможно соотнести поступления от экологических налогов и сборов с расходами на охрану окружающей среды.
          .sub-section_content
            ul.sub-section_text
              i Узбекистан предоставляет высокие, но снижающиеся субсидии на энергетику, работающую на ископаемом топливе
              li
                | В период 2010-20 гг. субсидии на производство электроэнергии на нефти, газе и ископаемом топливе постепенно снижались. В 2020 году субсидии Узбекистана на производство электроэнергии на ископаемом топливе были сокращены на 60% по сравнению с уровнем 2010 года. Однако их объем по-прежнему составляет 3,8 млрд. долл. США, или 6,6% в эквиваленте ВВП. Наиболее значительное сокращение субсидий наблюдалось в 2016 году, когда их общий объем снизился на 75% по сравнению с 2010 годом. Однако в 2019 году величина субсидий примерно удвоилась, а в 2020 году вновь снизилась.
              li
                | Энергетический сектор Узбекистана стремится постепенно отказаться от субсидий на ископаемое топливо, чтобы защитить население с низкими доходами при переходе к "зеленой" экономике к 2030 году. Кроме того, правительство ввело "механизм налоговых кредитов" для стимулирования инвестиций потребителей в "зеленую" энергетику. Ожидается, что такое стимулирование инвестиций будет способствовать использованию возобновляемых источников энергии и энергоэффективных технологий.
            .sub-section_figure
              h3
                i Субсидии на электроэнергию (долл. в реальном выражении в 2019 г., млн. долл.)
              canvas#energy_subsidies(style='max-height: 300px;')
              h4
                i Источник: Международное энергетическое агентство (2021 г.)
          i Цены на электроэнергию и ископаемое топливо растут, но не отражают себестоимость продукции
          ul 
            li Тарифы на потребление энергоресурсов не отражают себестоимость продукции, однако реформа цен на энергоресурсы обсуждается в связи с политикой социальной защиты населения с низкими доходами (МЭА; Всемирный банк). Соответственно, с 2019 года для разных категорий потребителей установлены различные тарифные схемы, а не единый тариф для всех категорий потребителей. Так, тариф для коммерческих потребителей на 30-50% выше, чем для населения.
            li Государственная политика предусматривает более постепенный переход на тарифы на электроэнергию к 2023 году. Политика также предусматривает, что рентабельность должна составлять от 10% до 20%. Начиная с 2023 года, согласно политике, население будет платить за электроэнергию в зависимости от времени суток, в которое оно ее использует.
          i Цена за пользование водой за последние четыре года выросла, но по-прежнему субсидируется
          ul 
            li В 2019-22 гг. цена за пользование водой в городе Ташкенте увеличилась в среднем на 33%. Тарифы на воду зависят от региона, типа жилья (индивидуальный дом или квартира), а также от наличия приборов учета воды. Например, в регионах цены на воду выше, чем в городе Ташкенте, а в квартирах - выше, чем в домах. Акционерная компания "Узсувтаминот" неоднократно пересматривает тарифы на воду. Хотя уровень тарифов на воду и ставки сбора повысились, они не покрывают эксплуатационные расходы, которые по-прежнему субсидируются (Всемирный банк, 2022). Исторические данные по ценам на воду не приводятся, так как в справочниках (Золотая книга Узбекистана), использованных в отчете, опубликованы цены только на 2019-22 гг.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group5.js')