doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 1-guruh: Ijtimoiy-iqtisodiy kontekst
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a(href='/group1') Eng
        a.active_language(href='/group1_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a.nav-active(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 1-guruh. Ijtimoiy-iqtisodiy kontekst
    .description
      p
        | Ushbu bobda O‘zbekistonning ijtimoiy-iqtisodiy konteksti va o‘sish xususiyatlarini tavsiflovchi ko‘rsatkichlar ko‘rib chiqiladi. U asosiy ma’lumotlarni taqdim etadi va "yashil o‘sish" siyosatining rivojlanishga ta’sirini kuzatishga yordam beradi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Ijtimoiy-iqtisodiy ko'rsatkichlar: Asosiy xulosalar
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. Iqtisodiy o'sish va raqobatbardoshlik
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 Mehnat bozori va ijtimoiy-demografik tuzilmalar
      .section_text
        #sub-section-1.sub-section.active
          h2 Ijtimoiy-iqtisodiy ko'rsatkichlar: Asosiy xulosalar
          ul 
            li So‘nggi o‘n yil ichida iqtisodiyot yiliga taxminan 6% ga o‘sdi. So‘nggi uch yil ichida inflyatsiya o‘rtacha 11% ni tashkil etganiga qaramay, O‘zbekistonning aholi jon boshiga to‘g‘ri keladigan yalpi ichki mahsuloti 2022-yilda taxminan 2009 AQSH dollarini tashkil etdi (2022-yilda 1 AQSH dollari = 11 000 so‘m) , ya’ni o‘n yil ichida yetti baravar o‘sdi.
            li O‘zbekistonda savdo-sotiqning ochiqligi oshdi va 2016 yilga kelib mamlakat tovarlar va xizmatlarning sof importchisiga aylandi. Importning umumiy qiymati 2021-yilda 25,5 mlrd AQSH dollariga oshdi, eksport qiymati esa 16,7 mlrd AQSH dollarini (1 AQSH dollari = 10 623 so‘m) tashkil etdi.
            li Salbiy sof tashqi migratsiyaga qaramay, aholi soni har yili 1,6% ga o‘sib bormoqda. 2022 yilda aholining soni 35 mlndan oshdi, uning 54% 30 yoshdan kichik bo‘lganlardir. 2021-yilda jami ishchi kuchida ish bilan band bo‘lganlarning ulushi taxminan 70% gacha oshdi. Asosiy ish beruvchilar bu xizmat ko‘rsatish sohasi (51%), undan keyin sanoat (25%) va qishloq xo‘jaligidir (24%).
            li 2021 yilda boshlang‘ich va o‘rta ta’lim muassasalariga qabul qilishning umumiy ko‘rsatkichi 100% bo‘lishi bilan bir qatorda oliy o‘quv yurtlariga qabul qilish ta’lim olish huquqiga ega bo‘lgan o‘quvchilar sonining atigi beshdan bir qismini tashkil etdi.
        #sub-section-2.sub-section
          h2 1.1. Iqtisodiy o'sish va raqobatbardoshlik
          .sub-section_content
            ul.sub-section_text
              i O‘zbekistonda iqtisodiyot va aholi jon boshiga daromad so‘nggi o‘ttiz yil mobaynida barqaror o‘sib bormoqda.
              li 2011-22 yillarda O‘zbekiston yalpi ichki mahsuloti real ko‘rinishda 49,5 mlrd AQSH dollaridan 70,9 mlrd AQSH dollarigacha (yoki 84,9 trillion so‘mdan 780,3 trillion so‘mgacha) o‘sdi. Xuddi shunday, aholi jon boshiga real YaIM 2011 yildan beri sakkiz baravar ko‘payib, 2022 yilda 2000 AQSH dollaridan (yoki 22,1 mln so‘m) ziyod bo‘ldi. Ushbu tendensiya iqtisodiy o‘sish bilan birga fuqarolar farovonligining oshishi kuzatilayotganini ko‘rsatmoqda. Bundan tashqari, COVID-19 pandemiyasidan zarar ko‘rgan aholi jon boshiga daromad 2021 yilda tiklandi va COVIDdan oldingi ko‘rsatkichlardan oshdi.
              li O‘zbekistonda iqtisodiy o‘sish markazlashtirilgan rejalashtirilgan va investisiyalarga yo‘naltirilgan iqtisodiy strategiya bilan qo‘llab-quvvatlanadi. 2010 yildan beri o‘sishning salmoqli qismi asosiy kapital va oltin hamda tabiiy gaz kabi tabiiy zaxiralarni eksport qilish qiymatini oshirish orqali ta’minlandi.
            .sub-section_figure
              h3
                i Aholi jon boshiga real YaIM, million so‘m
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi maʼlumotlari asosida mualliflarning hisob-kitoblari
          .sub-section_content
            .sub-section_figure
              h3
                i Tashqi savdo, million AQSH dollar
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i Tashqi savdo O‘zbekiston iqtisodiyotida tobora muhim omil bo‘lmoqda
              li So‘nggi o‘n yil ichida import va eksport hajmi sezilarli darajada oshdi. Import hajmi 2000 yildagi 3 mlrd AQSH dollaridan 2021 yilda 25,5 mlrd AQSH dollarigacha o‘sdi. Shu bilan birga, shu davrda eksport hajmi 3,2 mlrd AQSH dollaridan 16,7 mlrd AQSH dollarigacha o‘sdi.
          .sub-section_content
            ul.sub-section_text
              i O‘zbekistonda inflyatsiya darajasi 2016 yildan beri o‘sib bormoqda 
              li
                | Iste’mol narxlari indeksida ifodalangan inflyatsiya darajasi 2016 yildan beri ikki xonali raqamlarda tavsiflanadi. So‘nggi uch yil ichida o‘rtacha ko‘rsatkich 11% ni tashkil etishi bilan, 2019-yilda u eng yuqori 15,2% ga yetdi,  Inflyatsiyaning yuqori sur’atlari valyuta kursining barqaror pasayishi, narxlarning tartibga solinishning bekor qilinishi, narxlarning oshishi va so‘nggi paytlarda global tendensiyalar, jumladan, ta’minot zanjiri muammolari va mahsulot narxlarining oshishi bilan bog‘liq.
        #sub-section-3.sub-section
          h2 1.2 Mehnat bozori va ijtimoiy-demografik tuzilmalar
          i Kam daromadli aholining ulushi COVID-19 pandemiyasiga qadar kamayib kelgan
          ul 
            li
              | 2002 yildan 2019 yilgacha kam ta’minlangan aholi ulushi ikki baravar kamaydi. Biroq, 2020 yilda u COVID-19 pandemiyasi tufayli 0,5% ga o‘sdi. 2021-yilda kambag‘allik darajasi yangi hisoblash usuli asosida 17% ni tashkil etdi.
          .sub-section_content
            ul.sub-section_text
              i Aholining yarmidan ko‘pi ish bilan ta’minlangan, ammo 2017 yilga kelib band bo‘lgan ishchi kuchining soni kamaygan
              li 2021-yilda O‘zbekiston ishchi kuchining umumiy soni 19,3 mln kishini tashkil etgan (jami aholining yarmidan ko‘pi), shundan 15 mln kishi iqtisodiy faol bo‘lgan. Band bo‘lgan ishchi kuchining ulushi 2017 yilgacha o‘sib kelgan, ammo 2021 yilda 70% ga qadar pasaygan. 
              li So‘nggi yigirma yil ichida o‘rtacha ishchi kuchining jon boshiga bandlik darajasi 71% ni tashkil etgan. 
            .sub-section_figure
              h3
                i Tarmoqlar bo‘yicha bandlik, jami bandlikning %
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
          i Talabalarni oliy ta’lim muassasalariga qabul qilish darajasi pastligicha qolmoqda
          ul 
            li O‘zbekiston boshlang‘ich va o‘rta ta’limni qamrab olishning yuqori umumiy ko‘rsatkichlariga erishgan bo‘lsa-da, oliy ta’lim muassasalarida talabalar soni pastligicha qolmoqda. Yangi mahalliy universitetlar va xorijiy ta’lim muassasalarining filiallari tashkil etilishi bilan 2016-21 yillarda oliy ta’lim muassasalariga qabul qilinganlar soni 8,5 % dan 21,2% ga oshdi. Biroq, bu ko‘rsatkich hali ham past va 2020 yilda dunyo bo‘yicha 40%-li maktab qamroviga nisbatan atigi yarmini tashkil etadi. 
            li So‘nggi o‘n yil ichida oliy ta’lim muassasalarida tahsil olayotgan talabalar soni to‘rt baravar ko‘paydi. Bundan tashqari, oliy ta’lim muassasalarida tahsil olayotgan talabalarning umumiy sonida ayol talabalar ulushi 2010 yildagi 40 % dan 2023 yilda 47% gacha oshdi. Shu bilan birga, ta’lim sifatini oshirish va uning mehnat bozori ehtiyojlariga muvofiqligini oshirish zarurati mavjud.  
          i So‘nggi o‘ttiz yil ichida O‘zbekiston aholisi muntazam o‘sib bordi
          ul 
            li Aholi soni yiliga o‘rtacha 1,6% ga o‘sib, 2022 yilga kelib 35 mlndan ortiq kishiga yetdi (2.17-diagramma). Erkaklar va ayollar soni mutanosib bo‘lib, aholining yarmidan ko‘pi shaharlarda yashaydi (O‘zbekiston aholisining aksariyati yosh, 2022 yilda 30 yoshgacha bo‘lganlar 54% ni  tashkil etgan). O‘zbekiston Markaziy Osiyodagi aholisi eng zich joylashgan davlatdir. Iqtisodiy o‘sish bilan O‘zbekistonda erkaklar va ayollar uchun umr ko‘rish davomiyligi oshib, 2019-yilda 75 yoshga yetdi. Biroq, pandemiya davrida umr ko‘rish davomiyligi 2020 yilda 73 yoshgacha kamaydi.
          i So‘nggi o‘ttiz yil ichida O‘zbekistonda salbiy sof tashqi migratsiya kuzatildi
          ul 
            li Sof migratsiya ko‘rsatkichi mamlakatga kelganlardan ko‘ra uni tark etgan odamlar ko‘proq ekanligini ko‘rsatmoqda. 1990-yillarning boshlarida bozor islohotlari va iqtisodiy noaniqlik ichki va tashqi migratsiyani keltirib chiqardi. Bu, asosan, munosib ish bilan ta’minlash imkoniyatlarining yetishmasligi bilan bog‘liq edi. Tashqi mehnat migratsiyasi pul o‘tkazmalarining jiddiy oqimiga olib keldi, bu esa 2020 yilda O‘zbekistonni xalqaro pul o‘tkazmalarini oluvchi Osiyo mamlakatlari orasida YaIM ulushi bo‘yicha oltinchi o‘ringa qo‘ydi. 2021 yilda olingan shaxsiy pul o‘tkazmalarining yalpi ichki mahsulotdagi ulushi 13,3% ni tashkil etdi. 
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')