doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 4-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group4_ru') RU
        a(href='/group4') Eng
        a.active_language(href='/group4_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a.nav-active(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p.nav-active 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-building-columns
      h1 Guruh 4. Hayot sifati ekologik o'lchov
    .description
      p Ushbu bobda ekologik holatlar va risklar bilan fuqarolarning hayoti va tinchlik darajasining qanday darajada bog'liqligini ko'rsatadigan ko'rsatkichlar ko'rsatilgan. Ular O'zbekistonda daromadning oshishi bilan fuqarolar hayotining sifatini qanday darajada oshirishini ko'rsatadi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Hayot sifati ko'rsatkichlari: Asosiy natijalar
        #section-2
          i.fa-solid.fa-smog
          h3 4.1 Atrof-muhit salomatligini muhofaza qilishning xavf-xatarlari va xarajatlari
        #section-3
          i.fa-solid.fa-person-arrow-up-from-line
          h3 4.2 Ekologik xizmatlar
      .section_text
        #sub-section-1.sub-section.active
          h2 Hayot sifati ko'rsatkichlari: Asosiy natijalar
          ul 
            li O'zbekiston havo ifloslanish darajasi bo'yicha jahonida 20-o'rinda joylashgan. Asosiy ifloslanish tarkibchilari toza zarrachalar, transport vositalarining ishora qazmalari va sanoat bozori chiqindilar. 2,5 mikrometr o'lchamdagi tuzukli zarrachalar (PM2.5) g'ovosida oxirgi o'n yillarda doimiy qandaydar 35 mkq/m3 darajasini oshib ketmoqda, bu Vsemirniy sog'liqni saqlash tashkiloti (VOZ) tomonidan noaniq hisoblanadi.
            li PM2.5 konsentratsiyasiga xavfli samolyotlar uchun fuqarolar qisqargani paydo bo'lgan yillar davomida, oxirgi o'n yillarda esa 80% dan 56% gacha kamaydi. Biroq, 2010 yildan boshlab O'zbekiston fuqarolarining yarimdan ortiqiga kundalik ravishda qandaydar 35 mkq/m3 ni oshib ketadigan konsentratsiyalarga qarshi tushirishi mumkin. Ushbu samolyotlar vaqtida miqyoslangan dunyo miqyosidan 10% tashkil etadi.
            li Havo ifloslanishiga bog'liq o'limlar va fuqarolarning xayot daromadlariga qiladigan xarajatlar o'sadi. Yillik hisoblarga ko'ra, 2019 yilda har million fuqarodan 750 dan ortiq odam havo ifloslanishining ta'siri tufayli avvaldan yokiqtirib o'tgan, bu 2019 yilda 645 odam bo'lgan dunyo miqyosidan yuqori natijani oshiradi. Havo ifloslanishiga bog'liq o'limlar dunyo miqyosida uchinchilik o'rinda joylashadi. Fuqarolarning xayot daromadlari uchun xarajatlar, VOZ mintaqasida 6,5% ga qaraganda, Qoraqalpog'iston respublikasida 9% ga tenglanadi.
            li Omon pishloq suv ta'minoti uchun kirishqa ega uyning ulushi oxirgi o'n yillarda 10% kamayib, yaqin 70% ga yetib, bu esa suv ta'minoti infrastrukturasi qochib qolgan, fuqarolar sonining o'sishi va suvni omborini yengillatgan uy yo'lni oshirish sababli yuzaga keladi. Bundan tashqari, shaharlarda va qishloq xo'jaligida pishloq suviga kirishda katta farq ko'rsatiladi. Masalan, Toshkent shahrida joylashgan uyning 97% dan ortiqiga xavfsiz pishloq suvi bor, qishloq xo'jaligida esa bu erqinlikni o'z ichiga oladi.
            li O'zbekiston kommunal kanalizatsiya tizimini kengaytirishda ma'lum bir progress qilindi. Biroq, 2022 yilda kamida yarimi (48%) uy xo'jaliklari kanalizatsiya tizimiga ulanmagan, va mintaqalar orasida tenglik ko'rsatiladi. Masalan, Toshkent shahrida barcha joylashgan uy xo'jaliklari kanalizatsiya tizimiga ulangan, qandayki Qoraqalpog'iston respublikasida faqat 16% ulangan.
        #sub-section-2.sub-section
          h2 4.1 Havo ifloslanishiga bog'liq xavf va xarajatlar
          .sub-section_content
            ul.sub-section_text
              i O'zbekistonda havo ifloslanishi o'sib borayotgan va u dunyoning "eng ifloslangan mamlakatlari"dan biriga ayiladi
              li
                | Havo ifloslanishi, atmosferaga zarrachalar tarkibidagi ifloslovchi vositalarni emissiyalar hajmi shaklida ifodalaydi, 2010 yildan boshlab kuchayib bordi. Asosiy zarrachalar tarkibchilari sulfatlar, nitratlar, ammiak, natriy xloridi, texnik o't, mineral tozalik va suv sifatida.
                li Mamlakatda havo ifloslanishi muammolari katta qismi O'rmonning parchalanishi va zarbab burunlar o'tkir zarrachalarini olib keladigan to'qimachilik furtunalariga asoslangan. Shuningdek, Toshkent shahridagi havo ifloslanishi avtoulovning ishlatilishi bilan bog'liq, 2021 yilda qo'yilgan umumiy emissiyalarining ayni davrida 60%ini tashkil qilgan.
            .sub-section_figure
              h3
                i Havo ifloslovchi moddalari, ming tonna
              canvas#air_pollutants(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil.
          i 2010 yilidan boshlab O'zbekiston fuqarolarining yarimdan ortiqi havo ifloslanishining noaniq darajasiga tushadi
          ul 
            li
              | Oxirgi o'n yillarda PM2.5 konsentratsiyasiga xavfli samolyotlarga ega fuqarolarning, 80% dan 56% gacha kamaydi. Biroq, 2010 yildan boshlab O'zbekiston fuqarolarining yarimdan ortiqiga kundalik ravishda 35 mkq/m3 dan zyada konsentratsiyalarga qarshi tushirishi mumkin. Ushbu darajadagi ta'sir fuqarolar uchun dunyo miqyosidan 5 marta yuqori natijaga yetadi, bu 10% hisoblanadi.
          .sub-section_content
            .sub-section_figure
              h3
                i Nafas organlarining kasalliklariga o'lim, umumiy o'limlar sonidan %
              canvas#respiratory_death(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil.
            ul.sub-section_text
              i Havo ifloslanishi tufayli o'limlar va avval vaqtida umumiy o'limlar uchun xarajatlar yuqori va dunyo miqyosidan yuqori natijalarga yetadi
              li 2022 yilida og'irdillarning sababiga 10% ga yaqin o'limlar sababi bo'ldi. Qon bosimi kasalligi tarmoqlarini olish, quruq yo'nalishli qishloq rayonida boshqa qismlarga nisbatan 2,5-3,0 marta ko'proq bo'lishi (IQAIR, 2021). Havo ifloslanishiga bog'liq o'limlar O'zbekistonda jahon miqyosida uchinchilik o'rinda joylashadi (AQSH elchixonaligi O'zbekistonda, 2019). Ma'lumotlar bo'yicha, O'zbekistonda oxirgi 30 yilda PM2.5 ta'siri tufayli har yil million kishi boshiga 750 dan ortiq odam o'limi yuz beradi, bu 2019 yilda 645 kishi bo'lgan dunyo miqyosidan yuqori natijani oshiradi.
          i Ozon va plumb gazlarining ta'siri natijasida o'limlar va ijtimoiy ta'minot uchun xarajatlar kamaydi
          ul
            li Ozon ifloslovchining ta'siri sababli 1990-2019 yillarda o'limlar miqdori kamaydi. Ozonning ta'siri 2019 yilda har million fuqarodan 7 ta o'limga olib keldi, 1990 yilda esa 21 o'limga olib keldi. Ozonning ta'siri olib kelingan hisobiga, yillik hisoblarga ko'ra, 1990-2019 yillarda ozon ta'siri tufayli ijtimoiy ta'minotga har yil 0,26% dan 0,09% gacha kamaydi (rasm. 5.5). Oxirgi o'tishlar qarabg'og'oz zarrachalariga zararli ta'siri tufayli har yil o'rtacha har million kishi boshiga 100 kishi o'limi olib keldi. Iqtisodiy zarar ozon zarrachalarining ta'siri natijasida o'rtacha 1,2% ga tenglandi (rasm. 5.5).
        #sub-section-3.sub-section
          h2 4.2 Ekologicheskii xizmatlar
          .sub-section_content
            ul.sub-section_text
              i Yashayotgan uy-xona ulkanligining, xavfsiz ichimlik suvi bilan ta'minlangan uy-hovliqiga tegishli ulkanlik 2015-yil dan ortiq pasaygan va qishloq xo'jaligi uchun bu hali muammoli saqlab qolmoqda.
              li
                | O'zining kerak bo'lgan holatda, ohanglangan va xavfsiz manbai ichimlik suvi yo'liga kirishga ega uy-hovliqining ulkanligi o'z on yillik davrda 10% g'ayrioldin pasaygan. 2022-yilda O'zbekiston aholining 72% oilasiga xavfsiz ichimlik suvi ta'minlandi, bu 2010-yilga nisbatan (82,5%) kamroq. Ushbu ko'rsatkich jahon miqyosidan pastroq, shuningdek, shaharlar va qishloq xo'jaliklari o'rtasida aham nisbatta farq ko'rinadi. Toshkent shahrida uy-hovliq suviga 97% dan ortiq uy-hovliq suvi mavjud, bu esa Qashqadaryo viloyatida eng past ko'rsatkich.
            .sub-section_figure
              h3
                i Xavfsiz ichimlik suvi va kanalizatsiya ga kirish, uy-hovliqning ulkanligi, %
              canvas#water_sewerage_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023-yil.
          i Kanalizatsiyaga kirishga ega uy-hovliqlarning ulkanligi uch yilda pasaygan
          ul 
            li
              | 2020-yilidan boshlab O'zbekiston ommalashuvchi va mustaqil kanalizatsiya tizimini osonroq va barqarorroq kengaytirishda ma'lum bir progress qildi. Biroq, 2022-yilda qishloq xo'jaliklari oilasining 48% dan pastroq uy-hovliq tizimiga ulanishiga erishdi, va shuningdek, shahar va viloyatlarda bu bir xil ravishda bo'lmagan. Masalan, Toshkent shahrida barcha uy-hovliqlar kanalizatsiya tizimiga ulangan. Shuningdek, Qoraqalpog'iston viloyatida faqat 16% uy-hovliqlar tizimiga ulangan. Jahon banki (2022) ma'lumotlariga ko'ra, ko'p oilali uy-hovliqlar qishloq xo'jaliklarida faqat o'zi ichi ishlangan o'zaro tuzatma yoki septiklarga ega. Bundan tashqari, to'plangan atrof-muhit suvlari xalqaro standartlarga muvofiq tozalanmaydi.
          .sub-section_content
            .sub-section_figure
              h3
                i Gigiena vositalariga kirish, uy-hovliqning ulkanligi, %
              canvas#sanitation_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023-yil.
            ul.sub-section_text
              i O'zbekiston aholisinigA yangi quloqli sanitar-hijob sharoitlariga kirish 100% ulangan
              li O'zbekiston aholisi 2014-yilda allaqachon yangi quloqli sanitar-hijob sharoitlariga kirishga ega bo'ldi, bu 2000-yilda 93% ga nisbatan o'rtacha darajada tajribaga ega. Shunday qilib, mamlakat san'ati o'rtasida ommalashish manbalari kengaytirilishiga oid 6-maqosning barcha odamning gigiena vositalariga umumiy kirishga erishilishi maqsadida 2030-yilga yaqqol maqsadga erishdi.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group4.js')