doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 3-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group3_ru') RU
        a(href='/group3') Eng
        a.active_language(href='/group3_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a.nav-active(href='/group3_uz')
          i.fa-brands.fa-envira
        p.nav-active 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-brands.fa-envira
      h1 Guruh 3. Tabiiy zaxiralarning asoslari
    .description
      p Ushbu bobda iqtisodiyot o‘sishi bilan tabiiy zaxiralar bazasi miqdor, sifat yoki qiymat jihatidan barqaror chegara qiymatlarida saqlanib turishini aks ettiradigan "yashil o‘sish" ko‘rsatkichlari (YAO‘K) guruhi o‘lchanadi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Tabiiy zaxiralarning asoslari: asosiy topilmalar
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 Qayta tiklanadigan tabiiy boyliklar
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 Qayta tiklanmaydigan resurslar
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 Biologik xilma-xillik
      .section_text
        #sub-section-1.sub-section.active
          h2 Tabiiy zaxiralarning asoslari: asosiy topilmalar
          ul
            li Noto‘g‘ri sug‘orish, yaylovlar va go‘ngdan oqilona foydalanmaslik natijasida yerlarning yaroqsiz holga kelishi O‘zbekistonda asosiy muammolardan biri bo‘lib qolmoqda. Yer maydonlari asosan qishloq xo‘jaligi uchun mo‘ljallangan. Yer maydonining haydaladigan, doimiy ekinlar va doimiy yaylovlar ostida bo‘lgan qismi deb ta’riflangan qishloq xo‘jaligi yerlari umumiy maydonning deyarli 60% ni tashkil qiladi. Hisob-kitoblarga ko‘ra, yerlarning yaroqsiz holga kelishi bilan bog‘liq yo‘qotishlar yillik YAIMning taxminan 5% ga teng. Yo‘qotishlar qishloq xo‘jaligi mahsuldorligining pasayishi, tuproq yemirilishining kuchayishi, suvdan foydalanish imkoniyatining kamayishi, uglerod yig‘ilishining va ekotizim xizmatlarining yo‘qotilishini o‘z ichiga oladi.  
            li Organik dehqonchilik hajmi 2010 yildan beri o‘sib bormoqda, ammo qishloq xo‘jaligi yerlarining atigi 0,004% ni tashkil etadi. 
            li O‘zbekiston dunyodagi eng yirik suv tanqisligi kuzatilayotgan davlatlardan biridir. Suv tanqisligi darajasi yoki ishlatilgan suvning mavjud suvga nisbati so‘nggi 20 yil ichida taxminan 50 % dan deyarli 70% gacha sezilarli darajada oshdi. Qishloq xo‘jaligi tarmog‘i olingan chuchuk suvning 90 % dan ortig‘ini sarflaydi. Jiddiy stressga qaramay, qishloq xo‘jaligi suvining 40% eskirgan sug‘orish infratuzilmasi tufayli yo‘qotiladi. O‘zbekiston suv stressini yumshatish uchun yanada samarali sug‘orish tizimlariga, suv zaxiralarini boshqarish va suvni tejashning takomillashtirilgan usullariga sarmoya kiritmoqda.
            li O‘rmonlar maydoni va daraxt zaxiralari ko‘paymoqda. O‘rmonlar umumiy yer maydonining taxminan 8% ni tashkil qiladi, bu 2014 yilga nisbatan 30 % dan ziyodga ko‘proqdir.
            li O‘zbekistonda 40 dan ortiq muhofaza etiladigan tabiiy hududlar mavjud. Ular so‘nggi o‘n yil ichida 300 % dan ko‘proq oshib, umumiy yer maydonining 8% ni tashkil qilmoqda. Xuddi shu davrda, qo‘riqlanadigan hududlarning kengayishiga qaramay, yo‘qolib ketish xavfi ostida bo‘lgan hayvonlar va o‘simliklarning deyarli 20 turi Milliy Qizil kitobga kiritilgan. Xavfning oshishiga iqlim o‘zgarishi, yaylovlardan xo‘jasizlarcha foydalanish, betartib ov va brakonyerlik kabi omillar sabab bo‘lgan.
            li Tabiiy zaxiralar hajmiga kelsak, O‘zbekiston tabiiy gaz qazib olish bo‘yicha 11-o‘rinni va uning zaxiralari bo‘yicha dunyoda 14-o‘rinni egallaydi. 2021-yilda ishlab chiqarish hajmi 54 mlrd m3 ga yetganligi sababli qazib olish va gaz iste’moli o‘rtasidagi tafovut kamaydi. Tabiiy gaz zaxiralari 20-30 yilga yetishi taxmin qilinmoqda. Tabiiy gaz iste’molidagi yo‘qotishlar eskirgan infratuzilma tufayli katta muammo bo‘lib qolmoqda.
        #sub-section-2.sub-section
          h2 3.1 Qayta tiklanadigan tabiiy resurslar
          .sub-section_content
            ul.sub-section_text
              i O‘zbekiston hududining o‘rmon bilan qoplanish darajasi 2014-2020 yillarda ortgan
              li
                | 2014-2020 yillarda O‘zbekiston o‘rmonlari maydoni uchdan bir qismga - 9 mln gektardan 12 mln gektargacha oshgan, bu 2020 yildagi umumiy yer maydonining 8,4% ni tashkil etadi (4.1-diagramma). 2020 yilga kelib O‘zbekiston Markaziy Osiyodagi o‘rmonlar maydoni bo‘yicha Turkmanistondan keyin ikkinchi o‘rinni egalladi. Ushbu o‘sishga qaramay, qamrov Yevropa va Markaziy Osiyo mintaqasi (YeMO) bo‘yicha o‘rtacha 38,5% va umumjahon bo‘yicha o‘rtacha 31,2% bo‘lgan ko‘rsatkichlardan pastligicha qolmoqda [1]. O‘rmon daraxtlari zaxiralari hajmi to‘g‘risidagi so‘nggi ma’lumotlar 1990 yildagi 70,8 mln kubometrdan (m
                sup 3
                | ) 2015 yilda 76,2 mln m
                sup 3
                |  gacha o‘sganligini ko‘rsatadi.
            .sub-section_figure
              h3
                i Oʻrmon maydoni, million gektar va yer maydonining %
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Sektorlar bo'yicha chuchuk suvdan foydalanish, chuchuk suv olish hajmining %
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
            ul.sub-section_text
              i Chuchuk suv zaxiralariga tushayotgan yuklama yildan yilga ortib bormoqda
              li
                | Ikki yirik daryo – Amudaryo va Sirdaryo yer usti suvlari O‘zbekistonda chuchuk suvning asosiy manbalari hisoblanadi. O‘zbekistonning milliy chegaralaridan tashqarida boshlanadigan va qo‘shni Markaziy Osiyo mamlakatlari bilan birga foydalaniladigan bu daryolar ko‘pincha zaxiralarni taqsimlash bo‘yicha tortishuvlarga sabab bo‘ladi. Quyi oqimda joylashgan O‘zbekistonning suv ta’minoti miqdori va sifati jihatdan suv sarfidagi har qanday og‘ishlarga qarshi himoyasiz bo‘lib qolmoqda. 
              li
                | O‘zbekiston o‘z suv resurslariga tobora ko‘proq bosim o‘tkazmoqda. Suv iste’molining uning mavjudligiga nisbatini tavsiflovchi stress darajasi 1995-2019 yillarda 53% dan 68% gacha oshgan. Suv olish darajasi yiliga 16 mlrd m
                sup 3
                |  ni tashkil etadigan tiklanuvchi chuchuk suv resursidan sezilarli darajada oshadi. Jahon resurslari instituti taxminlari shuni ko‘rsatadiki, agar hozirgi amaliyot davom etsa, bu stress darajasi 2040 yilgacha saqlanib qoladi. Qishloq xo‘jalida eskirgan sug‘orish infratuzilmasi tufayli suvning qariyb 40%  yo‘qolishi muammoni yanada murakkablashtiradi. Bunga javoban O‘zbekiston suv resurslarini boshqarishni takomillashtirish, irrigatsiya tizimlarini modernizatsiya qilish va suvni tejashga alohida e’tibor qaratish strategiyasini joriy etmoqda.
        #sub-section-3.sub-section
          h2 3.2 Qayta tiklanmaydigan resurslar
          i 1991 yildan 2020 yilgacha bo‘lgan davrda O‘zbekistonning quruqlik maydoni 3,6% ga oshdi
          ul
            li
              | O‘zbekistonning quruqlik maydoni oshdi, bu Orol dengizi kabi suv havzalarining quruqlik landshaftlariga aylanishi bilan bog‘liq bo‘lishi mumkin. 1991 yildan 2020 yilgacha bo‘lgan davrda quruqlik maydoni 425 400 kv.km dan 440 650 kv.km (44 mln ga) gacha oshdi. Bu o‘zgarishlarning yaqqol misoli sifatida bir paytlar dunyodagi to‘rtinchi yirik ichki suv havzasi bo‘lgan Orol dengizi 85% ga qisqarganini keltirish mumkin. 1960-2018 yillarda u 68000 kv.km dan 10200 kv.km gacha kamaydi.
          .sub-section_content
            ul.sub-section_text
              i 2000 yildan boshlab qishloq xo‘jaligi yerlarining ulushi kamaydi.
              li
                | Qishloq xo‘jaligi yerlari bir necha sabablarga ko‘ra sezilarli darajada yaroqsiz holga kelgan. Masalan, noto‘g‘ri sug‘orish kabi omillar tuproqning sho‘rlanishiga olib keladi. Boshqa omillar sirasiga yaylovni yomon boshqarish, va go‘ngdan samarasiz foydalanish, shuningdek, haddan tashqari chorva boqish kiradi. O‘zbekiston - mamlakatda iqlimni rivojlantirish dasturida (Jahon banki, nashrga tayyorlanmoqda) yerlarning jiddiy yaroqsizlanishi bilan bog‘liq xarajatlarni yalpi ichki mahsulot (YAIM) ning 4,6% miqdorida baholagan. Boshqa omillar qatorida, bu qishloq xo‘jaligi mahsuldorligining pasayishi, tuproq yemirilishining kuchayishi, suv mavjudligi darajasining pasayishi, uglerod yig‘ilishining va ekotizim xizmatlarining yo‘qolishini hisobga oladi. 
              li
                | 2010 yildan beri O‘zbekistonda organik dehqonchilik o‘sganiga qaramay, bunday dehqonchilik bilan qamrab olingan yer maydoni juda kam. Organik qishloq xo‘jaligi yerlarining ulushi atigi 932 gektarni tashkil etdi, bu 2021 yilda qishloq xo‘jaligi yerlari umumiy maydonining 0,004% ni tashkil etadi. Ushbu amaliyotni kengaytirish uchun hukumat ba’zi hududlarda pilot loyihalarni boshladi. Nodavlat tashkilotlar va xalqaro institutlar ham organik dehqonchilik usullarini ilgari surishda yordam bermoqda. 
            .sub-section_figure
              h3
                i Ekin maydonlari, '000 ga
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil (1 km2 = 100 ga)
          i 2015 yildan buyon tabiiy gaz qazib olish va iste’mol qilish hajmi ortgan.
          ul 
            li O‘zbekiston tabiiy gaz qazib olish bo‘yicha 11-o‘rinni va tabiiy gaz zaxiralari bo‘yicha 14-o‘rinni egallaydi. Tabiiy gaz qazib olish 2008 yildan 2014 yilgacha kamaygan bo‘lsa-da, ammo 2021 yilda u 54 mlrd m
            sup 3 
            li  gacha tiklandi. Ishlab chiqarilgan tabiiy gazning 80 % dan ortig‘i mamlakat ichida iste’mol qilinadi. So‘nggi paytlarda ishlab chiqarish va iste’mol o‘rtasidagi farq minimal darajada edi. 
            li  Importning, ayniqsa, qish faslida oshganiga qaramay, 2000-yillarning boshidan Xitoy Xalq Respublikasi, Rossiya Federatsiyasi, Qozogʻiston kabi mamlakatlarga eksport qilish asosiy eʼtiborga qaratildi. Prognozlarga ko'ra, gaz zaxiralari 20-30 yil ichida tugashi mumkin. Shu munosabat bilan hukumat 2025 yilga kelib gaz eksportini to‘xtatishga qaror qildi, bunda ichki ehtiyojlarga ustuvor ahamiyat berildi (Jahon banki, kelgusida). Biroq, sohada samarasizlik odatiy holdir. Gaz uzatish va taqsimlash tizimiga kirishdan boshlab va tarqatish tizimiga qadar hajmlardagi nomutanosiblik aniq.
        #sub-section-4.sub-section
          h2 3.3 Biologik xilma-xillik
          .sub-section_content
            .sub-section_figure
              h3
                i '000 gektar muhofaza qilinadigan hudud
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i 2011 yildan 21 yilgacha O‘zbekistonda muhofaza etiladigan tabiiy hududlar soni uch baravar ko‘paydi
              li
                | O‘zbekistonda biologik xilma-xillik va ekotizimlarni saqlash uchun zarur bo‘lgan 41 ta muhofaza etiladigan tabiiy hudud mavjud (UNEP-WCMC, 2023). Muhofaza etiladigan tabiiy hududlar maydoni uch baravar - 2011 yildagi 0,8 mln gektardan 2021 yilda 3,5 mln gektar, yoki 34 578 kv.km
                sup 2
                |  gacha (quruqlik maydonining 8%) oshdi. 2021-yil holatiga ko‘ra, O‘zbekistonning 13 ta hududidan 8 tasida muhofaza etiladigan yerlar tashkil etilgan bo‘lib, ularning 75% Qoraqalpog‘iston Respublikasiga to‘g‘ri kelgan. Ekologiya, atrof-muhitni muhofaza qilish va iqlim o‘zgarishi vazirligi muhofaza qilinadigan hududlarni boshqaradi va me’yoriy hujjatlarga rioya etilishini ta’minlaydi. O‘zbekiston Milliy bioxilma-xillikni saqlash strategiyasi va harakatlar rejasida va "2019-2028 yillar uchun bioxilma-xillikni saqlash strategiyasi"da ko‘rsatilganidek, 2028 yilga kelib muhofaza etiladigan hududlarning umumiy qamrovini o‘z hududining 12% gacha oshirish majburiyatini oldi.
          i O‘zbekistonda "Qizil kitob"ga kiritilgan noyob va yo‘qolib ketish xavfi ostida turgan turlar soni ortib bormoqda
          ul 
            li
              | O‘zbekistonning biologik xilma-xilligi 4300 dan ortiq o‘simlik turlarini (flora) va 15000 turdagi hayvonlarni (fauna) o‘z ichiga oladi, ko‘plab endemik turlar mamlakatning xilma-xil ekotizimini aks ettiradi. Noyob va yo‘qolib ketish xavfi ostida turgan yovvoyi tabiat va o‘simlik turlarini o‘z ichiga olgan O‘zbekiston Qizil kitobida 2009-yilda 498 ta yo‘qolib ketish xavfi ostidagi turlar kiritilgan bo‘lsa, 2019-yilda Qizil kitobning beshinchi nashrida ularning soni 516 taga yetgan. Iqlim o‘zgarishi, yaylovlardan xo‘jasizlarcha foydalanish, betartib ov va brakonyerlik kabi omillar bu turlarning omon qolishiga tahdid soladi. Masalan, Buxoro kiyiklari va Turkiston silovsini populyasiyasi kamayib bormoqda, bu birinchi navbatda ov va brakonyerlik bilan bog‘liq. 
          i O‘zbekistonda o‘rtacha yillik harorat (°C) 50 yil ichida 35% ga oshdi. 
          ul 
            li O‘zbekistonda o‘rtacha yillik sirt harorati ellik yil ichida 35% ga (3,5°C) oshdi. Masalan, 1972 yilda 11°C bo‘lgan o‘rtacha yillik harorat 2021 yilda 14,8°C gacha ko‘tarildi. Haroratning ko‘tarilishi ekotizimlarni o‘zgartirdi, bu esa tabiiy yashash joylari va ularning hisobiga yashaydigan boy biologik xilma-xillikning yo‘qolishiga olib keldi. Bu o‘zgarishlarning yuki asosan Orol dengizi mintaqasi hududiga tushdi.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')