doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 1: The socio-economic context and charactersists of growth
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a(href='/group1') Eng
        a.active_language(href='/group1_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a.nav-active(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active Group 1
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 Group 1. The socio-economic context and characteristics of growth
    .description
      p
        | This group of indicators examines the socio-economic context and growth characteristics through nine indicators. These range from the growth and structure of the gross domestic product to economically active population, unemployment and population density to life expectancy, income equality and enrolment in education. These indicators help track the affects of green growth policies and measures on growth and development, linking green growth indicators to social goals: economic growth, productivity and competitiveness, labour market, education and income.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Socio-economic indicators: Key findings
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. GDP growth
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 GDP Structure
        #section-4
          i.fa-solid.fa-people-roof
          h3 1.3 Economically active population
        #section-5
          i.fa-solid.fa-users-gear
          h3 1.4 Unemployment
        #section-6
          i.fa-solid.fa-users
          h3 1.5 Population
        #section-7
          i.fa-solid.fa-people-line
          h3 1.6 Population density
        #section-8
          i.fa-solid.fa-hand-holding-heart
          h3 1.7 Life expectancy
        #section-9
          i.fa-solid.fa-coins
          h3 1.8 Income inequality
        #section-10
          i.fa-solid.fa-book-open
          h3 1.9 Enrolment in education
      .section_text
        #sub-section-1.sub-section.active
          h2 Socio-economic indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li
                b
                  | Uzbekistan&rsquo;s economy has been steadily growing annually by 6% on average in the last decade.
                | The real GDP value in Uzbekistan soums was UZS 160 trillion in 2022 (1 USD= 11,000 UZS). In 2022 The service sector dominated Uzbekistan&grave;s GDP (41.5%).
              li
                b Uzbekistan&apos;s real GDP per capita increased
                |  to to UZS 4.6 million in 2022 (1 USD= 11,000 UZS), compared to UZS 2.8 million in 2010 (1USD=1700 UZS), despite double-digit inflation at an average rate of 11% in the last three years.
            .sub-section_figure
              h3
                i Real GDP per capita, million UZS
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Source: Authors&grave; calculations using Statistics Agency data
          .sub-section_content
            .sub-section_figure
              h3
                i Foreign Trade, million USD
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li
                b Uzbekistan has maintained income equality with a Gini index of 0.28.
                |  The country was on a trend of reducing the proportion of the low-income population (from 26.55 in 2002 to 11.5 in 2019); however, the proportion increased by 0.5 percentage points during the 2020 pandemic.
              li
                b Uzbekistan is a net importer of goods and services as of 2016. 
                |  The total import value was USD 25 billion in 2021, while the export value was USD 16 billion.
              li
                b Uzbekistan&rsquo;s population is growing at an annual rate of 1.6%.
                |  In 2022The population was over 35 million, with 54% of the population below 30. In 2019, Life expectancy increased was 75.
          .sub-section_content
            ul.sub-section_text
              li
                | Uzbekistan has achieved 100% gross enrolment rates in primary and secondary education; 
                b enrollment in tertiary institutions is however only 21% in 2021.
              li
                b In 2021, Uzbekistan&rsquo;s 70% labour force was employed.
                |  The primary employers are the service (51%), followed by the industry (25%) and the agriculture (24%) sectors.
              li
                | Uzbekistan has a negative net external migration during the last three decades, showing an excess of persons leaving the country.
            .sub-section_figure
              h3
                i Employment by sector, % of total employment
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
        #sub-section-2.sub-section
          h2 Indicator 1.1. GDP growth
          i Key message
          ul 
            li
              | In recent years, the economy grew at a modest pace, but this was not  enough to significantly improve living standards for most people.  The national economy is still  affected by systemic problems such as low competition, corruption and a limited labour  force. These are accompanied by an increasing number of shocks  generated by extreme weather events such as floods, drought or frosts. Frequent  political unrest also affected the capacity of state institutions to respond to  crises. In 2020, for example, the state provided only limited social and  economic support in response to the COVID-19 pandemic.
          i Indicator trend
          ul 
            li
              | The economy  has registered some improvements over the past decade. Except for 2012  (drought), 2015 (bank fraud) and 2020 (COVID-19 pandemic), the country had  economic growth of at least 3-4% (Figure 1). This is confirmed by the GDP trend,  which in 2020 doubled in nominal terms and increased by about 30% in real terms  (compared to 2010). Nonetheless, the level of registered economic growth is  still too modest to approach the growth of countries from Central and Eastern  Europe or to significantly increase people&rsquo;s living standards. There are  multiple causes &ndash; from extreme weather events and the increasingly frequent  migration of labour to commercial divergences with key foreign partners (diminished exports to the Russian Federation after signing the  Association Agreement with the European Union). These are accompanied by shocks  generated by events such as banking fraud or political crises that have  weakened governance in state institutions and undermined capacity to respond to crises such as the COVID-19 pandemic.
            li
              | Although the national economy has generally grown, the quality of growth is fragile, raising questions about its sustainability. An economic growth model based on consumption is limited given that migration trends are changing from periodic migration for employment to definitive migration based on factors that are not necessarily economic. These vulnerabilities have emerged in the context of the COVID-19 pandemic. The crisis hit the country at a moment of low competitiveness and economic freedom, coupled with the escalation of systemic vulnerabilities related to corruption, competition or access to funding (Expert-Grup, 2020a). As a result, the state offered a modest response towards the pandemic of 0.4% of GDP, while other countries were allocating up to 5% of GDP. In this context, the pandemic had a major impact on GDP, generating a 7% downturn in 2020. Despite GDP growth, the per capita ratio is only USD 12 300, the lowest among European countries (Figure 2).
        #sub-section-3.sub-section
          h2 Indicator 1.2 GDP Structure
          i Key message
          ul 
            li
              | The structure of the national economy has not changed significantly over the past decade. The economic growth model based on consumption and financed by remittances brings the trade sector to the forefront. This model also stimulates construction activity, a sector that is growing steadily and seems poised to continue. On the other side, traditional sectors such as agriculture or industry have registered only modest gains as they remain vulnerable to shocks outside the realm of decision makers. These include climate conditions for agriculture or the export potential of many other industries.
          i Indicator trend
          ul
            li
              | The  economic structure of Moldova has not changed significantly since 2010. Trade  contributes most to GDP due to the annual volumes of remittances. Trade is  followed by the processing industry, which has surpassed agriculture in recent  years as a result of foreign investments and higher export capacities. On the  other side, agriculture depends greatly on climate conditions and generates  only modest results during years affected by drought. Despite efforts to  modernise the agricultural sector, systemic problems are not solved and some  have worsened. Thus, irrigation and access to water sources is still a major  problem given the increased frequency of droughts. Also, various agricultural  products (e.g. apples and other fruits) still depend on export markets  influenced by political decisions. The agro-industrial sector also faces certain  problems as livestock products have a hard time finding external markets. With many  economic sectors affected by problems, sectors like construction, transport or  services (particularly IT) are better positioned to succeed. Construction  registered important growth given the strong demand for apartments,  particularly in Chisinau, which motivated the developers to launch many  residential projects. This demand is fuelled both by remittances and by access  to real estate loans. These loans became more accessible following  implementation of the state&apos;s &ldquo;Prima Casa&rdquo; programme and financial system  reforms (Figure 3).
        #sub-section-4.sub-section
          h2 Indicator 1.3 Economically active population
          i Key message 
          ul 
            li
              | The 2014 Population and Housing Census revealed a much clearer picture of the labour force situation, especially the impact of emigration. All relevant indicators were adjusted significantly, reflecting a negative macroeconomic outlook. Moreover, the outlook has worsened since the Census, with no prospects in sight to reverse the trend. Indicators such as &ldquo;economically active population&rdquo; or &ldquo;participation rate&rdquo; continue to show a decrease and extremely low levels compared with European countries.
          i Indicator trend 
          ul 
            li
              | Over the past two decades, emigration has been one of the primary factors that characterised the macroeconomic evolution of the country. The declining population has a direct impact on the volume and quality of labour available to the national economy. Once the &ldquo;usual resident population&rdquo; was introduced after the 2014 Census, labour force indicators underwent significant changes as well. Thus, the number of economically active people in 2014 (employed population plus unemployed) was lower than 1 million, decreasing steadily over the past seven years to about 867 000 in 2020. At the same time, the participation rate of labour force expressed as the ratio of economically active population to total population aged 15+ also shrank from a high of almost 45.9% in 2018 to 40.3% (Figure 4).
            li
              | The seriousness of the labour force situation is also confirmed by comparison at the European level (Figure 5). Moldova ranks last among European countries in terms of labour force participation. It has a participation rate of under 45%; two other countries are between 45-50%, while most have a rate above 55%. Moreover, Moldova has one of the fastest decreases, starting already from a low level (compared with 2014), while other countries either register a decrease from a high level or an improvement.
        #sub-section-5.sub-section
          h2 Indicator 1.4 Unemployment
          i Key message 
          ul
            li
              | The 2014 Population and Housing Census revealed a much clearer picture of the labour force situation, including for unemployment. Although the unemployment level is low (under 5%), it does not count unemployed people who are not actively seeking work. Many people are reluctant to register with the National Employment Agency (NEA) because they migrate periodically abroad and are stuck in a pattern of seasonal migration.
          i Indicator trend
          ul 
            li
              | The unemployment rate has not changed much since 2014. The introduction in 2018 of a 12% flat personal income tax, as part of the tax reform, reduced both the population engaged in informal employment and the number of unemployed by tens of thousands of people. As a result, the unemployment rate hit in 2018 a historic low &ndash; slightly less than 3% (Figure 6).
            li
              | The level of unemployment in Moldova is among the lowest in European countries (Figure 2.7). Nonetheless, these results occur in the context of high levels of informal employment throughout the entire economy &ndash; about 16% of employed persons. Sectors such as construction or agriculture are at the top of the list when it comes to informally employed persons with more than half of the total. In addition, a high number of citizens do not have a job but are not searching for one; hence, they do not meet the requirements to be called &ldquo;unemployed persons&rdquo;. The term refers to persons with a temporary job abroad and who alternate between staying at home and working.
        #sub-section-6.sub-section
          h2 Indicator 1.5 Population
          i Key message 
          ul 
            li
              | Moldova is in a period of demographic transition that will generate significant effects in the long run. Emigration remains a central feature of society, both for short periods (for work), and for long periods or even permanently. The characteristics of emigration are even more significant; it is no longer temporary and for employment. Rather, people emigrate to live abroad. Moldova also registers a continuous negative natural population growth and a rapid depopulation of rural areas. Given these conditions, the population with &ldquo;usual residence&rdquo; in Moldova over the past seven years decreased by 225 000, leaving the total population at 2.6 million.
          i Indicator trend 
          ul 
            li
              | Massive emigration over the past two decades significantly affected national demographics. Because many people with Moldovan citizenship do not live in the country, certain measures were needed to describe the actual demographics. Thus, in 2014, the National Bureau of Statistics introduced the usual resident population indicator. This refers to the number of people who lived predominantly in the country over the past 12 months, regardless of temporary absences. The population with usual residence is based on the 2014 Population and Housing Census, then adjusted with natural population growth (births minus deaths) plus net migration. Besides migration, negative natural population growth has been registered for many years, as well as a rapid and persistent depopulation of rural areas, which puts more pressure on demographic indicators. 
            li  
              | This change of focus resulted in a sharp drop in population. Using the new indicator, 3.5 million people held residence in the country, including those temporarily absent who left to live abroad (stable population). At the same time, an increasingly higher number of public authorities make decisions based on other figures, such as population with a usual residence that amounts to 2.6 million people (Figure 8). This report uses this figure predominantly to analyse different per capita indicators because it best captures the real number of people on the territory of the country.
        #sub-section-7.sub-section
          h2 Indicator 1.6 Population density
          i Key message 
          ul 
            li
              | Population density registers the same downward trend as the number of people. In 2020, Moldova had an average of 89 persons per square kilometre &ndash; 8 persons fewer than in 2014. At the same time, significant changes took place at the regional level following a rapid depopulation of rural areas and concentration of population in urban areas, particularly in Chisinau municipality.
          i Indicator trend
          ul 
            li
              | Demographic trends characterised by emigration and negative natural population growth have an impact on population density. Based on population with usual residence (i.e. how many people live in the country), population density reaches only 89 persons per square kilometre. This level represents the situation in Moldova only for 2020, without the Transnistrian region, and projects a continuous decrease of one person on average annually. Figure 9 compares Moldova with European countries in 2018, showing the country ranks below the EU average of 118 persons per square kilometre.
        #sub-section-8.sub-section
          h2 Indicator 1.7 Life expectanc
          i Key message
          ul 
            li
              | Even if life expectancy at birth has improved in recent years, Moldova ranks at the lowest level among European countries with an average for both genders of only 70.9 years. Disaggregated by genders, women live on average eight more years than men &ndash; a high gap compared with other countries. At the same time, the COVID-19 pandemic significantly affected the general level of the indicator in 2020, translating into a higher number of deaths and a lower number of births. Thus, in 2020, life expectancy at birth decreased by about 1 year, reaching 65.9 years for men and 75.1 years for women.
          i Indicator Trend
          ul 
            li
              | Life expectancy at birth in Moldova has improved marginally over the past few years, but the COVID-19 pandemic had a strong impact in 2020. Until 2019, life expectancy had continued to increase and reached 70.9 years for both genders (69.3 years in 2014). In 2020, Moldova registered a decrease of about one year due to a higher number of deaths from COVID-19 and a lower number of births (probably for the same reason). Women still surpass men in terms of life expectancy at birth, reaching 73.9 years compared with 75.1 years in 2019. For their part, men live on average 8 years less than women in 2020: their life expectancy is 65.9 years, 1.1 years less than in 2019. Apart from 2020, life expectancy has increased in recent years due to a reduced overall mortality rate and infant mortality rate. The improved health of the population is essential in this regard, achieved through greater access to health care services rather than through improvements to the environment. Thus, the morbidity rate did not change significantly. However, Moldova has made important technological progress in health care services and better access to medicines and treatment.
            li
              | For comparison, Moldova is still at the bottom of the list among European countries with respect to life expectancy at birth (Figure 2.11). Western European countries are at the top of this ranking with a life expectancy of over 80 years, while Eastern countries, including Romania and Ukraine, register a level under 75 years. This is due to different factors, including access to health care goods and services, sanitation, quality of life and overall living standards.
            li
              | Another indicator for human capital is related to the Human Development Index (HDI), which comprises indexes on life expectancy, education level and living standards. According to the 2019 ranking, Moldova ranks 107th among world countries with HDI equal to 0.711 (i.e. among countries with high human development). Moldova jumped into the second group of countries after being included among countries with a medium level of human development for many years. Neighbouring countries, Romania and Ukraine, rank 52nd (HDI &ndash; 0.816) and 88th (HDI &ndash; 0.750), respectively, while Georgia ranks 70 (HDI &ndash; 0.786). EU countries belong to the group with a high level of human development.
        #sub-section-9.sub-section
          h2 Indicator 1.8 Income inequality
          i Key message 
          ul 
            li
              | Socio-economic inequalities in Moldova tend to decrease following an increase in people&rsquo;s income. This is due largely to labour migration, which brings a significant volume of remittances into the national economy every year. Thus, on the one hand, the income of the population from the most vulnerable group increased and, on the other, the number of households with precarious economic situations decreased. Nonetheless, the COVID-19 pandemic revealed that economic precarity continues for groups that lost part of their income or even their jobs due to lockdown.
          i Indicator trend 
          ul 
            li
              | After a period of marginal improvement, the level of inequalities in Moldovan society has being increasing since 2018. Thus, the GINI coefficient reached 0.33 (0 &ndash; perfect equality, 1 &ndash; maximum inequality) at the end of 2020 (Figure 12). Increasing external migration of the low-income population contributed to diminishing inequalities until 2018. As a result, the share of remittances by households from quintile I (20% of the population with the lowest income) has doubled up to 18% of their total disposable income. This level is comparable with that of households from quintile V (20% of the population with the highest income). This also results from coefficient values that decreased both for total available income of the population and overall consumer spending. Basically, the number of households with unfavourable socio-economic status diminished, particularly the number of those employed in the agricultural sector where salaries are among the lowest.
            li
              | Despite the somewhat positive trends in diminishing inequalities, their level is most likely underestimated because households struggle to obtain a higher level of income. In addition, during the household survey, people tend to underestimate income compared with consumption expenses. The level of inequalities was clearly visible during the COVID-19 pandemic. During the lockdown, for example, people with low income and without savings were the ones most affected by the inability to carry out certain economic activities. Over the past ten years, the level of inequality has been essentially unchanged in most of Central and Eastern European countries. Moldova was the only country in the region that registered a significant positive performance on this front. Even so, the values of the GINI coefficient are among the lowest in Moldova, surpassed only by countries such as the Czech Republic, Poland and Slovenia. However, these comparisons should be analysed carefully given that national income cannot be compared.
        #sub-section-10.sub-section
          h2 Indicator 1.9 Enrolment in education
          i Key message 
          ul 
            li
              | The enrolment rate in education differs depending on educational level. All children are enrolled in mandatory education, and to a lesser extent in preschool education. Education reforms of recent years have led to increased registration in secondary or tertiary education and efforts to correlate the educational offer with labour market requirements.
          i Indicator trend 
          ul
            li
              | The enrolment rate in education continues to be high, although it differs depending on educational level. During the academic year 2019/20, about 435 000 persons were enrolled in the education system, or 16% of the population with a usual residence. The highest level of enrolment is registered at the level of primary and secondary education. The rate for mandatory education is still relatively constant and even exceeds 100% given children are enrolled in the first grade before the age of seven. The next highest rate is for preschool education (90.3%). 
            li
              | This rate has stayed constant in recent years and shows the interest of parents for their children to attend kindergarten. On the other side, gross enrolment grew significantly in secondary (high school and technical vocational education) and tertiary education (university). Thus, enrolment in secondary education grew by about 16 percentage points up to 82.5%, while enrolment in tertiary education grew by about 12 percentage points. These figures confirm the increasing interest of students in high school, vocational or even university education. These trends are also determined by a better correlation between the labour market and the education system to reach a higher impact on economic growth. A good example in this regard is vocational education that allows certain individuals to adapt easier to the labour market requirement. Despite the above-mentioned figures, the actual number of persons enrolled in certain levels of education is decreasing continuously and significantly. The number of students has dropped twice over the past 12 years to about 61 000. The number of students enrolled in primary and general secondary education also decreased by about 28% down to about 334 000 students during the 2018/19 academic year. There are multiple reasons for these trends related to emigration &ndash; from families moving abroad together with their children to better conditions for studies and opportunities abroad.
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')