doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 3-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group3_ru') RU
        a(href='/group3') Eng
        a.active_language(href='/group3_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a.nav-active(href='/group3_uz')
          i.fa-brands.fa-envira
        p.nav-active 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-brands.fa-envira
      h1 Guruh 3. Tabiiy aktivlar bazasi
    .description
      p Ushbu bobda tabiiy aktivlar bazasi iqtisodiyotning o'sishi bilan miqdor, sifat yoki qiymat bo'yicha barqaror chegaralarni saqlab turishini o'lchaydigan bir guruh yashil o'sish ko'rsatkichlari ("GGIs") ko'rib chiqiladi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Tabiiy aktivlar bazasi ko'rsatkichlari: asosiy topilmalar
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 Qayta tiklanadigan tabiiy resurslar
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 Qayta tiklanmaydigan resurslar
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 Biologik xilma-xillik
      .section_text
        #sub-section-1.sub-section.active
          h2 Tabiiy aktivlar bazasi ko'rsatkichlari: asosiy topilmalar
          ul
            li Yoritishlar maydoni va yovvozlarning zapaslari oshmoqda. Yoritishlar yiroqlarning umumiy maydonining 8% ini tashkil qiladi, bu 2014 yilgacha nisbatan 30% dan ko'proqdir.
            li O'zbekiston dunyoning suv kam qolgan mamlakatlaridan biri hisoblanadi. O'z suvi talqini va mavjud suv o'rtasidagi munosabat, oxirgi 20 yilda ko'proq qoldi - 50% dan 70% gacha. Qishloq xo'jaligi qabul qilingan tuzilgan suvning 90% dan ko'proq qismini ishlatadi. Zoragarchilikni ko'rsatadigan, qishloq xo'jaligi suvining 40% qanchalikini yo'qotadi, deb qarab turing, sabab - eski irrigatsiya infrastrukturasi. Suv qorishini kamaytirish maqsadida O'zbekiston, suv resurslarini yaxshilash, suv boshqarish usullarini islohlash va suvni tejovuz qilish yo'nalishlariga investitsiya qilmoqda.
            li Yerlarning notijoriy suyuqotishi, o'simliklarni noaniqlik bilan ishlatish va govalar va guvachi ishlatish tufayli O'zbekistonning asosiy muammolardan biri hisoblanadi. Yerlarning aksariyati asosan qishloq xo'jaligi maqsadiga mo'ljallangan. Qishloq xo'jaligi yerlari, qoralar, ekinlar yoki guvach bo'lib hisoblanadigan yerlar, umumiy maydonning qarib 60% sini tashkil qiladi. Hisoblamalarga ko'ra, yerlarning yozilishi milliy daromadning yillik 5% g'arqib ketishiga olib keladi. Ushbu xarajatlar qishloq xo'jaligining mahsulotliktan yo'qolishi, yer eroziyasi, suvga murojatni pastayish, karbonni bog'lovchi va ekosistem xizmatlarini yo'qotishi kabi qo'shimcha xarajatlarni o'z ichiga oladi.
            li 2010 yilidan buyon ekologik qishloq xo'jaligi oshdi, lekin bu faqatgina qishloq xo'jaligi yerlarining 0,004% ini tashkil qiladi.
            li O'zbekistonda 40 dan ortiq himoyalangan tabiiy hudud mavjud. Ular hududlar umumiy hududning 8% ini tashkil qiladi, va ularning maydoni o'tgan on yillik davrda 300% dan ziyod o'sdi. Ushbu davr ichida, himoyalangan tabiiy hududlarining maydonini o'sishi, jami 20 dan ortiq hayvon va o'simlik turlarini qo'shib, uning yo'qolishi havo o'zgarishlari (va natijada harorat oshishi), hayvonlarning bekor qilinishi va tanqis olib borish bilan bog'liq. Kengaytirilgan xavotirlilik o'zgargan hayvonlar va o'simliklar sonini 20 ni oshgan oylab chiqadi, qo'rqin talonchilik va braconerlik bilan bog'liq.
        #sub-section-2.sub-section
          h2 3.1 Qayta tiklanadigan tabiiy resurslar
          .sub-section_content
            ul.sub-section_text
              i 2014-20-yillarda Oʻzbekistonning oʻrmon maydoni koʻpaydi
              li
                | 2014-20-yillarda O‘zbekistonning o‘rmon maydoni uchdan birga – 9 million gektardan 12 million gektarga ko‘paydi, bu 2020-yilda umumiy maydonning 8,4 foizini tashkil etadi. 2020 yilga kelib O‘zbekiston o‘rmonlar maydoni bo‘yicha Markaziy Osiyoda (CA) Turkmanistondan keyin ikkinchi o‘rinni egalladi. Rivojlanishga qaramay, qamrov Yevropa va Markaziy Osiyo (ECA) mintaqaviy oʻrtacha 38,5% va global oʻrtacha 31,2%dan pastligicha qolmoqda. O'rmon daraxtlari zaxiralari bo'yicha so'nggi mavjud ma'lumotlar 1990 yildagi 70,8 million kub metrdan (m
                sup 3
                | 3) 2015 yilda 76,2 million m
                sup 3
                |  gacha o'sganligini ko'rsatadi.
            .sub-section_figure
              h3
                i Oʻrmon maydoni, million gektar va yer maydonining %
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Sektorlar bo'yicha chuchuk suvdan foydalanish, chuchuk suv olish hajmining %
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
            ul.sub-section_text
              i Yillar davomida chuchuk suv resurslariga bosim ortib bormoqda
              li
                | Ikki yirik daryo – Amudaryo va Sirdaryoning er usti suvlari Oʻzbekistondagi chuchuk suvning asosiy manbalari hisoblanadi. Oʻzbekistondan tashqarida boshlanib, qoʻshni Markaziy Osiyo davlatlari bilan birga chiqadigan bu daryolar koʻpincha suv taqsimoti boʻyicha kelishmovchiliklar markaziga aylanadi. O'zbekistonning suv ta'minoti quyi oqimdagi mamlakat sifatida oqimning miqdoriy va sifat jihatidan har qanday og'ishlariga nisbatan zaifligicha qolmoqda.
              li
                | O‘zbekiston suv resurslariga bosim kuchayib bormoqda. Suv olish darajasi qayta tiklanadigan chuchuk suv resurslari darajasidan sezilarli darajada oshadi, bu 16 mlrd.
                sup 3
                | yilda. Agar joriy amaliyotlar davom etsa, Jahon Resurslari Institutiga ko'ra, bu stress darajalari 2040 yilgacha davom etadi. Muammoni murakkablashtirgan holda, qishloq xo‘jaligidagi suvning qariyb 40 foizi eskirgan sug‘orish infratuzilmasi tufayli yo‘qotilmoqda. Bunga javoban O‘zbekiston suv resurslarini boshqarishni takomillashtirish, irrigatsiya tizimlarini modernizatsiya qilish va suvni tejash bo‘yicha strategiyalarni ishlab chiqmoqda.
        #sub-section-3.sub-section
          h2 3.2 Qayta tiklanmaydigan resurslar
          i 1991-2020 yillar uchun O'zbekiston hududi. 3,6% ga oshdi
          ul
            li
              | Oʻzbekistonning yer maydoni koʻpaydi, bu Orol dengizi kabi suv havzalarining quruqlik landshaftiga aylanishi bilan bogʻliq boʻlishi mumkin. Kuchli degradatsiya mamlakat erlarining qariyb 30 foiziga (13 million gektar) ta'sir ko'rsatadi, degradatsiyaga uchragan erlarning yarmi tabiiy yaylovlarda uchraydi (Jahon banki, kelgusida). Degradatsiyaning asosiy sabablari suv tanqisligi, tuproqning degradatsiyasi va sho'rlanishi hisoblanadi.
          .sub-section_content
            ul.sub-section_text
              i 2000-yildan boshlab qishloq xoʻjaligi yerlarining ulushi kamaydi
              li
                | Qishloq xo'jaligi erlari bir necha sabablarga ko'ra sezilarli darajada degradatsiyaga uchraydi. Masalan, noto'g'ri sug'orish tuproqning sho'rlanishiga olib keladi. Yaylov va go‘ngdan beqaror foydalanish, shuningdek, o‘tlarning haddan tashqari ko‘tarilishi boshqa omillardir. Jahon bankining hisob-kitoblariga ko'ra, erning jiddiy degradatsiyasi bilan bog'liq xarajatlar yalpi ichki mahsulotning (YaIM) 4,6 foizini tashkil qiladi. Bunga qishloq xo'jaligi mahsuldorligining pasayishi, tuproq eroziyasining kuchayishi, suv bilan ta'minlanishining pasayishi, uglerod sekvestri va ekotizim xizmatlarining yo'qolishi va boshqa omillar kiradi.
              li
                | O‘zbekistonda 2010-yildan buyon organik dehqonchilik rivojlanib borayotganiga qaramay, uning maydoni unchalik katta emas. 2021 yilda organik qishloq xoʻjaligi yerlarining ulushi bor-yoʻgʻi 932 gektarni yoki umumiy qishloq xoʻjaligi yerlarining 0,004 foizini tashkil etdi. Ushbu amaliyotni kengaytirish uchun hukumat ayrim hududlarda pilot loyihalarni ishga tushirdi. Nodavlat notijorat tashkilotlari va xalqaro institutlar ham organik dehqonchilik amaliyotini targ‘ib qilishda yordam ko‘rsatmoqda.
            .sub-section_figure
              h3
                i Ekin maydonlari, '000 ga
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil (1 km2 = 100 ga)
          i 2015 yildan beri tabiiy gaz ishlab chiqarish va iste'mol qilish ortdi
          ul 
            li O‘zbekiston qazib olish bo‘yicha 11-o‘rinda, tabiiy gaz zaxiralari bo‘yicha esa 14-o‘rinda turadi. 2008 yildan 2014 yilgacha tabiiy gaz ishlab chiqarish qisqardi, ammo keyin 54 mlrd.
            sup 3 
            li 2021 yilda ishlab chiqarilgan tabiiy gazning 80% dan ortig'i mamlakat ichkarisida iste'mol qilinadi. So'nggi paytlarda ishlab chiqarish va iste'mol o'rtasidagi farq minimal bo'ldi.
            li  Importning, ayniqsa, qish faslida oshganiga qaramay, 2000-yillarning boshidan Xitoy Xalq Respublikasi, Rossiya Federatsiyasi, Qozogʻiston kabi mamlakatlarga eksport qilish asosiy eʼtiborga qaratildi. Prognozlarga ko'ra, gaz zaxiralari 20-30 yil ichida tugashi mumkin. Shu munosabat bilan hukumat 2025 yilga kelib gaz eksportini to‘xtatishga qaror qildi, bunda ichki ehtiyojlarga ustuvor ahamiyat berildi (Jahon banki, kelgusida). Biroq, sohada samarasizlik odatiy holdir. Gaz uzatish va taqsimlash tizimiga kirishdan boshlab va tarqatish tizimiga qadar hajmlardagi nomutanosiblik aniq.
        #sub-section-4.sub-section
          h2 3.3 Biologik xilma-xillik
          .sub-section_content
            .sub-section_figure
              h3
                i '000 gektar muhofaza qilinadigan hudud
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i O‘zbekistonda 2011-21 yillardagi alohida muhofaza etiladigan tabiiy hududlar soni. uch barobar oshdi
              li
                | O‘zbekistonda bioxilma-xillik va ekotizimlarni saqlash uchun zarur bo‘lgan 41 ta qo‘riqlanadigan tabiiy hududlar mavjud (UNEP-WCMC, 2023). Muhofaza etiladigan tabiiy hududlar maydoni uch baravar oshdi - 2011 yildagi 0,8 million gektardan 2021 yilda 3,5 million gektarga yoki 34 578 km
                sup 2
                |  (hududning 8%). 2021-yil holatiga ko‘ra, O‘zbekistonda 13 ta viloyatdan 8 tasida qo‘riqlanadigan tabiiy hududlar tashkil etilgan bo‘lib, ularning 75 foizi Qoraqalpog‘iston viloyatida. Ekologiya, atrof-muhitni muhofaza qilish va iqlim o‘zgarishi vazirligi qo‘riqlanadigan hududlarni boshqaradi va qoidalarga rioya etilishini nazorat qiladi. Biologik xilma-xillikni saqlash bo‘yicha Milliy strategiya va harakatlar rejasi hamda “2019-2028 yillarga mo‘ljallangan biologik xilma-xillikni saqlash strategiyasi” [6] ga muvofiq O‘zbekiston muhofaza etiladigan tabiiy hududlarning umumiy maydonini 12 foizgacha oshirish majburiyatini olgan. 2028 yilga kelib butun mamlakat hududi.
          i O‘zbekistonda “Qizil kitob”ga kiritilgan noyob va yo‘qolib ketish xavfi ostida turgan turlar soni ortib bormoqda
          ul 
            li
              | Oʻzbekiston bioxilma-xilligi 4300 dan ortiq oʻsimlik (flora) va 15000 dan ortiq hayvon (fauna) turlarini, jumladan, koʻplab endemiklarni oʻz ichiga oladi, bu mamlakat ekotizimlarining xilma-xilligini aks ettiradi. O‘zbekiston Qizil kitobining 2019-yilda noyob va yo‘qolib ketish xavfi ostida turgan yovvoyi hayvonlar va o‘simliklar ro‘yxati kiritilgan beshinchi nashriga 516 ta yo‘qolib ketish xavfi ostida turgan turlar kiritilgan bo‘lsa, 2009-yilda ularning soni 498 taga yetdi. Iqlim o‘zgarishi, nazoratsiz yaylovlar, tartibsiz ov va brakonerlik kabi omillar. bu turlarning saqlanib qolishiga soya soladi. Masalan, Buxoro bug‘usi va Turkiston silovsisi populyatsiyasi kamayib bormoqda, bu birinchi navbatda ov va brakonerlik bilan bog‘liq.
          i Oʻzbekistonda oʻrtacha yillik harorat (°C) 50 yil ichida 35% ga oshdi
          ul 
            li Oʻzbekistonda besh oʻn yillikda oʻrtacha yillik sirt harorati 35 foizga (3,5 °C) oshdi. Masalan, 1972-yilda 11°C boʻlgan oʻrtacha yillik harorat 2021-yilda 14,8°C gacha koʻtarildi. Haroratning ko'tarilishi ekotizimlarni o'zgartirdi, natijada tabiiy yashash joylari va ular qo'llab-quvvatlaydigan boy bioxilma-xillikni yo'qotdi. Orolbo‘yi kabi hududlar bu o‘zgarishlarning og‘irligini ko‘tarmoqda.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')