doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 3
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group3_ru') RU
        a.active_language(href='/group3') Eng
        a(href='/group3_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a.nav-active(href='/group3')
          i.fa-brands.fa-envira
        p.nav-active Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-brands.fa-envira
      h1 Group 3. The natural asset base
    .description
      p This chapter measures the group of green growth indicators (GGIs) that reflect whether the natural asset base maintains sustainable thresholds in quantity, quality or value as the economy grows.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Natural asset base indicators: Key findings
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 Renewable natural resources
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 Non-renewable resources
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 Biodiversity
      .section_text
        #sub-section-1.sub-section.active
          h2 Natural asset base indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li Forested area and tree stocks have been increasing. Forests make up around 8% of total land area, an increase of more than 30% from 2014.
            .sub-section_figure
              h3
                i Forest area, million ha and % of land area
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 
          .sub-section_content
            .sub-section_figure
              h3
                i Freshwater use by sector, % of freshwater withdrawal
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
            ul.sub-section_text
              li Uzbekistan is one of the most water-stressed countries in the world. The water stress level, or the ratio of water used relative to available water, has significantly increased in the last 20 years from around 50% to almost 70%. The agriculture sector uses over 90% of the freshwater withdrawn. Despite the severe stress, 40% of agricultural water is lost due to outdated irrigation infrastructure. Uzbekistan is investing in more efficient irrigation systems, improved water management practices and water conservation to mitigate water stress.
          .sub-section_content
            ul.sub-section_text
              li Land degradation due to inappropriate irrigation, poor pastureland and manure management is a major challenge in Uzbekistan. Land area is predominantly agricultural. Agricultural land, defined as area that is either arable, under permanent crops or under permanent pastures, makes up almost 60% of total surface area. Land degradation is estimated to cost close to 5% of annual GDP. The cost includes the loss of agriculture productivity, increased soil erosion, reduced water availability and loss of carbon sequestration and ecosystem services. 
              li Organic farming has increased since 2010, but only makes up 0.004% of agricultural land.
            .sub-section_figure
              h3
                i Cultivated land area, in ‘000 ha
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 (1km2= 100ha)
          .sub-section_content
            .sub-section_figure
              h3
                i Protected area in '000 ha
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li Uzbekistan has more than 40 protected natural areas. They make up 8% of total land area, an increase of more than 300% in the last ten years. Over the same period, despite the expansion of protected areas, nearly 20 threatened animal and plant species were added to the national Red Book. The heightened risk is due to climate change (and resulting temperature increase), unchecked overgrazing, indiscriminate hunting and poaching.
        #sub-section-2.sub-section
          h2 3.1 Renewable natural resources
          i Uzbekistan’s forest cover increased in 2014-20
          ul
            li
              | In 2014-20, Uzbekistan’s forest area increased by one-third – from 9 million hectares (ha) to 12 million ha, representing 8.4% of the total land area in 2020. By 2020, Uzbekistan had the second largest forest coverage in Central Asia (CA) next to Turkmenistan. Despite this progress, the coverage remains below the European and Central Asia (ECA) regional average of 38.5% and world average of 31.2%. Recent available data on the volume of forest tree stocks indicate an increase from 70.8 million cubic metres (m3) in 1990 to 76.2 million m3 in 2015.
          i Pressure on freshwater resources has increased over the years
          ul 
            li
              | Surface water from two major rivers – Amu Darya and the Syr Darya – are the main sources for Uzbekistan’s freshwater. These rivers, originating beyond its national borders and shared with neighbouring CA countries, often become focal points of allocation disputes. As a downstream nation, Uzbekistan's water supply remains vulnerable to any deviations in water flow, both in terms of quantity and quality.
            li
              | Uzbekistan is putting more pressure on its water resources. The level of water withdrawals largely exceeds the renewable freshwater resource level of 16 billion m3 per year Projections by the World Resources Institute suggest this stress level will persist until 2040 if current practices continue. Compounding the challenge, nearly 40% of agricultural water is lost to outdated irrigation infrastructure. In response, Uzbekistan is rolling out strategies to improve water management, modernise irrigation systems and emphasise water conservation.
        #sub-section-3.sub-section
          h2 3.2 Non-renewable resources
          i Uzbekistan’s land area has increased between 1991-2020 by 3.6%
          ul
            li
              | Uzbekistan’s land area increased, which may be due to the conversion of bodies of water, such as the Aral Sea, into terrestrial landscapes. Severe degradation impacts around 30% (13 million ha) of the nation’s land, with natural pasturelands making up half of the degraded land (World Bank, forthcoming). Water stress, soil deterioration and salinisation are the primary causes of the degradation.
          i The share of agricultural land has decreased since 2000
          ul 
            li
              | Agricultural land faces significant degradation for several reasons. Practices like improper irrigation, for example, result in soil salination. Other factors include poor pasture and manure management, as well as overgrazing. Uzbekistan – Country Climate Development (World Bank, forthcoming) estimates the costs associated with severe land degradation equal 4.6% of gross domestic product (GDP). Among other factors, this considers the loss of agriculture productivity, increased soil erosion, reduced water availability, and loss of carbon sequestration and ecosystem services. 
            li
              | Although organic farming in Uzbekistan has grown since 2010, the land coverage is negligible (Kodirkhonov, Uljabaev and Kholdorov, 2022). The share of organic farmland was only 932 ha representing 0.004% of total agricultural land in 2021 (Kodirkhonov, Uljabaev and Kholdorov, 2022). To scale up the practice, the government has launched pilot projects in certain regions. Non-governmental organisations and international institutions have also provided support to promote organic farming practices. 
          i Natural gas production and consumption has increased since 2015
          ul 
            li Uzbekistan ranks 11th in production and 14th in natural gas reserves. Natural gas production declined between 2008 and 2014, but it rebounded to 54 billion m3 in 2021. Over 80% of natural gas produced is consumed domestically. Recently, the gap between production and consumption has been minimal.
            li  While imports have increased, especially during winter, exports to nations like the People’s Republic of China, the Russian Federation and Kazakhstan have been a mainstay since the early 2000s. Forecasts suggest that gas reserves might be depleted in 20-30 years. This has prompted the government's decision to halt exports by 2025, giving priority to domestic needs (World Bank, forthcoming). Still, inefficiencies in the sector are common. Disparities in volume, from entry in the transmission and distribution system to the sales system, are evident. In 2022, such losses, including theft, represented 2.4% of overall gas consumption, although national statistics remain undisclosed (World Bank, forthcoming). 
        #sub-section-4.sub-section
          h2 3.3 Biodiversity
          i The number of protected natural areas in Uzbekistan tripled between 2011-21
          ul
            li
              | Uzbekistan has 41 protected natural areas essential for preserving biodiversity and ecosystems (UNEP-WCMC, 2023). Protected natural areas tripled in size from 0.8 million ha in 2011 to 3.5 million ha or 34 578 km2 (8% of the land area) in 2021. As of 2021, Uzbekistan had established protected areas in 8 of 13 regions, with 75% in the Republic of Karakalpakstan region. The Ministry of Ecology, Environment Protection and Climate Change manages protected areas and enforces regulations. Uzbekistan has committed to increasing the total protected areas coverage to 12% of its territory by 2028, as outlined in the National Biodiversity Strategy and Action Plan and the “Biodiversity Conservation Strategy for 2019-2028”.
          i Uzbekistan has an increasing number of rare and endangered species in the “Red Book” 
          ul 
            li
              | Uzbekistan's biodiversity comprises more than 4 300 species of plants (flora) and 15 000 animals (fauna), with many endemic species reflecting the country’s diverse ecosystem. In 2019, the fifth edition of the Red Book of Uzbekistan, which enlists the rare and endangered species of wild animals and plants, had 516 endangered species, up from 498 in 2009. Factors like climate change, unchecked grazing, indiscriminate hunting, and poaching cast a shadow over the survival of these species. For instance, the Bukhara deer and the Turkestan lynx populations are dwindling, a loss primarily attributed to hunting and poaching. 
          i The annual average temperature(°C) in Uzbekistan escalated by 35% in 50 years 
          ul 
            li The annual surface mean temperature in Uzbekistan has increased by 35% (3.5oC) over five decades. For example, the mean annual temperature in 1972 of 11°C climbed to 14.8°C in 2021. The temperature rise has altered ecosystems, resulting in the loss of natural habitats and the rich biodiversity they supported. Regions like the Aral Sea area bear the brunt of these changes.
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')