doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 1-guruh: Ijtimoiy-iqtisodiy kontekst
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group1_ru') RU
        a(href='/group1') Eng
        a.active_language(href='/group1_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a.nav-active(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p.nav-active 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-arrow-up-right-dots
      h1 1-guruh. Ijtimoiy-iqtisodiy kontekst
    .description
      p
        | Ushbu bobda O'zbekistonning ijtimoiy-iqtisodiy konteksti va o'sish xususiyatlarini tavsiflovchi ko'rsatkichlar ko'rib chiqilgan. U fon ma'lumotlarini taqdim etadi va yashil o'sish siyosatining rivojlanishga ta'sirini kuzatishga yordam beradi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Ijtimoiy-iqtisodiy ko'rsatkichlar: Asosiy xulosalar
        #section-2
          i.fa-solid.fa-chart-line
          h3 1.1. Iqtisodiy o'sish va raqobatbardoshlik
        #section-3
          i.fa-solid.fa-chart-pie
          h3 1.2 Mehnat bozori va ijtimoiy-demografik xususiyatlari
      .section_text
        #sub-section-1.sub-section.active
          h2 Ijtimoiy-iqtisodiy ko'rsatkichlar: Asosiy xulosalar
          ul 
            li So‘nggi o‘n yil ichida yillik iqtisodiy o‘sish 6 foiz atrofida bo‘ldi. Oxirgi uch yilda ikki raqamli inflyatsiya darajasi o'rtacha 11% ga teng bo'lishiga qaramay , O'zbekistonning aholi jon boshiga to'g'ri keladigan Real YIMi 2,009 yilda 2022 AQSh dollari atrofida (1-yilda 11 000 AQSh dollari= 2022 so'm) bo'lib, o'n yil ichida yetti barobardan ziyod o'sdi.
            li O'zbekistonda savdoning ochiqligi oshdi va 2016 yildan boshlab tovar va xizmatlarning sof importyoriga aylandi. Umumiy import qiymati 25,5 yilda 2021 milliard AQSh dollariga oshdi, eksport qiymati esa 16,7 milliard AQSh dollarini tashkil etdi (1 AQSh dollari = 10 623 so'm).
            li Salbiy sof tashqi migratsiyaga qaramay, aholining yillik o'sishi 1,6% ni tashkil qiladi. 2022 yilda aholi soni 35 milliondan oshdi, ularning 54 foizi 30 yoshgacha bo'lganlar. 2021-yilda bandlikning umumiy ishchi kuchidagi ulushi qariyb 70 foizgacha oshdi. Asosiy ish beruvchilar - xizmat ko'rsatish sohasi (51%), undan keyin sanoat (25%) va qishloq xo'jaligi (24%).
            li Boshlang‘ich va o‘rta ta’limda yalpi o‘qishga kirganlar soni 100% ga nisbatan 2021-yilda talabalik huquqiga ega bo‘lgan talabalarning beshdan bir qismigina oliy ta’limga o‘qishga kirdi.
        #sub-section-2.sub-section
          h2 1.1. Iqtisodiy o'sish va raqobatbardoshlik
          .sub-section_content
            ul.sub-section_text
              i O‘zbekistonda iqtisodiyot va aholi jon boshiga to‘g‘ri keladigan daromad so‘nggi o‘ttiz yillikda barqaror o‘sib bormoqda
              li 2011-22-yillarda O‘zbekistonda yalpi ichki mahsulot real ko‘rinishda 43 foizga – 49,5 milliard dollardan 70,9 milliard dollarga o‘sdi.Xuddi shunday, aholi jon boshiga real YaIM hajmi 2011-yildan buyon sakkiz baravarga o‘sdi va 2022-yilda 2000 AQSh dollaridan (yoki 22,1 million so‘m) ortiqni tashkil etadi. Bu tendentsiya iqtisodiy o'sish fuqarolar farovonligining oshishi bilan birga kechayotganidan dalolat beradi. Bundan tashqari, COVID-19 pandemiyasi ta'sirida bo'lgan aholi jon boshiga daromad 2021 yilda yana COVID-dan oldingi darajadan oshib ketdi.
              li O'zbekistonda iqtisodiy o'sish markaziy rejalashtirish va investitsion iqtisodiy strategiya bilan ta'minlanadi. 2010 yildan beri o'sishning katta qismi kapital qo'yilmalar va oltin va tabiiy gaz kabi tabiiy resurslar eksporti qiymatining o'sishi hisobiga to'g'ri keldi.
            .sub-section_figure
              h3
                i Aholi jon boshiga real YaIM, million so‘m
              canvas#real-gdp(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi maʼlumotlari asosida mualliflarning hisob-kitoblari
          .sub-section_content
            .sub-section_figure
              h3
                i Tashqi savdo, million dollar
              canvas#foreign-trade(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              i Tashqi savdo O‘zbekiston iqtisodiyotining muhim omiliga aylanib bormoqda
              li So'nggi o'n yillikda import va eksport hajmi sezilarli darajada oshdi. 2016-yil holatiga ko‘ra, O‘zbekiston sof importyor hisoblanadi. Uygʻunlashtirilgan tizim kodlariga koʻra, Oʻzbekiston qimmatbaho metallar, tabiiy resurslar va malakasiz ishchi kuchini eksport qiladi. Boshqa tomondan, importda mashinalar va transport uskunalari ustunlik qiladi.
          .sub-section_content
            ul.sub-section_text
              i O‘zbekistonda inflyatsiya darajasi 2016-yildan buyon o‘sib bormoqda
              li
                | CPIda ifodalangan inflyatsiya 2016 yildan beri ikki xonali raqamda bo'ldi. Yuqori inflyatsiya sur'atlari rublning doimiy qadrsizlanishi, narxlarning tartibga solinishi, narxlarning ko'tarilishi va yaqinda global tendentsiyalar, jumladan etkazib berish zanjiri muammolari va tovarlar narxining oshishi bilan bog'liq.  
        #sub-section-3.sub-section
          h2 1.2 Mehnat bozori va ijtimoiy-demografik xususiyatlari
          i Kam daromadli aholi ulushi COVID-19 pandemiyasigacha pasayib bordi
          ul 
            li
              | 2002-19 yillardagi kam daromadli aholi ulushi. yarmiga qisqartirildi. Biroq, 2020 yilda COVID-19 pandemiyasi tufayli u 0,5% ga oshdi. 2021-yilda qashshoqlik darajasi yangi hisoblash usuli bo‘yicha 17 foizni tashkil etdi. 2019 yildan beri ortib borayotgan daromadlar tengsizligi COVID-19 pandemiyasi tufayli yanada kuchaydi. Biroq O‘zbekiston tengsizlikning past darajasi bilan ajralib turadi (Jini indeksi 0,3 dan past). Hukumat siyosat va hukumat transferlari orqali daromadlar tengsizligini cheklaydi.
          .sub-section_content
            ul.sub-section_text
              i Aholining yarmidan ko'pi ish bilan ta'minlangan, ammo 2017 yilga kelib ish bilan band ishchi kuchi kamaydi
              li 2021-yilda O‘zbekistonda jami mehnat resurslari 19,3 million kishini (jami aholining yarmidan ko‘prog‘i) tashkil etdi, shundan 15 million nafari iqtisodiy faol. Yoshlar va aholi sonining yuqori nisbati ishsizlikni yanada kuchaytirmoqda, bu esa yoshlarni ish bilan ta'minlash siyosatini va faol mehnat bozori siyosatini taqozo etadi.
              li Oxirgi yigirma yil ichida ish kuchiga to'g'ri keladigan o'rtacha bandlik darajasi 71 foizni tashkil etdi.
            .sub-section_figure
              h3
                i Tarmoqlar bo‘yicha bandlik, jami bandlikning %
              canvas#employment-by-sector(style='max-height: 300px;')
              h4
                i Manba: Jahon banki, 2023 yil
          i Oliy o‘quv yurtlariga talabalarni qabul qilish darajasi pastligicha qolmoqda
          ul 
            li Boshlangʻich va oʻrta taʼlimda yalpi qamrab olish koeffitsienti yuqori boʻlishiga qaramay, Oʻzbekistonda oliy taʼlimga qabul qilish darajasi pastligicha qolmoqda. Yangi mahalliy universitetlar va xorijiy ta’lim muassasalari filiallarining tashkil etilishi tufayli 2016-21-yillarda oliy ta’limni qamrab olish. 8,5% dan 21,2% gacha oshdi. Biroq, bu ko'rsatkich hali ham past va 2020 yilda 40% ni tashkil etuvchi global ro'yxatga olish darajasining yarmini tashkil etadi.
            li So‘nggi o‘n yillikda oliy ta’lim muassasalarida tahsil olayotgan talabalar soni to‘rt barobar oshdi. Bundan tashqari, oliy o‘quv yurtlarida tahsil olayotgan talabalar umumiy sonida qizlarning ulushi 2010-yildagi 40 foizdan 2023-yilda 47 foizga ko‘paydi. Shu bilan birga, ta’lim sifati va mehnat bozori ehtiyojlariga mosligini oshirish zarurati mavjud.
          i O‘tgan o‘ttiz yillikda O‘zbekiston aholisining soni barqaror o‘sib bormoqda
          ul 
            li Aholining o'rtacha yillik o'sishi 1,6 foizni tashkil etadi va 2022 yilda uning aholisi 35 milliondan ortiq kishiga yetdi. Aholisi mutanosib ravishda erkak va ayol boʻlib, aholining yarmidan koʻpi shaharlarda yashaydi. O‘zbekiston Markaziy Osiyodagi eng ko‘p aholi yashaydigan davlatdir. Iqtisodiy o‘sish tufayli O‘zbekistonda erkaklar va ayollarning o‘rtacha umr ko‘rish davomiyligi 2019-yilda 75 yoshga yetdi. Biroq, pandemiya davrida o'rtacha umr ko'rish 2020 yilda 73 yoshga qisqardi.
          i So‘nggi o‘ttiz yillikda O‘zbekistonda salbiy sof tashqi migratsiya kuzatildi
          ul 
            li Sof migratsiya darajasi mamlakatga kirgandan ko'ra ko'proq odam chiqib ketganligini ko'rsatadi. Tashqi mehnat migratsiyasi pul o‘tkazmalarining katta oqimiga olib keldi, natijada O‘zbekiston 2020-yilda yalpi ichki mahsulot ulushi bo‘yicha xalqaro pul o‘tkazmalari oladigan Osiyo davlatlari orasida oltinchi o‘rinni egalladi. 2021 yilda qabul qilingan shaxsiy pul o‘tkazmalarining YaIMdagi ulushi 13,3 foizni tashkil etadi.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group1.js')