doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Группа 3. База природных активов
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/group3_ru') RU
        a(href='/group3') Eng
        a(href='/group3_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a.nav-active(href='/group3_ru')
          i.fa-brands.fa-envira
        p.nav-active Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-brands.fa-envira
      h1 Группа 3. База природных активов
    .description
      p В данной главе рассматривается группа индикаторов "зеленого" роста ("GGI"), которые отражают, сохраняет ли база природных активов устойчивые пороговые значения по количеству, качеству или стоимости по мере роста экономики.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Показатели базы природных активов: Основные выводы
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 Возобновляемые природные ресурсы
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 Невозобновляемые ресурсы
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 Биоразнообразие
      .section_text
        #sub-section-1.sub-section.active
          h2 Показатели базы природных активов: Основные выводы
          ul
            li Площадь лесов и запасы древесины увеличиваются. Леса составляют около 8% от общей площади суши, что более чем на 30% больше, чем в 2014 году.
            li Узбекистан является одной из наиболее вододефицитных стран мира. Уровень водного стресса, или соотношение используемой и доступной воды, за последние 20 лет значительно вырос - с 50% до почти 70%. Сельское хозяйство использует более 90% забираемой пресной воды. Несмотря на серьезный стресс, 40% сельскохозяйственной воды теряется из-за устаревшей ирригационной инфраструктуры. Для снижения водного стресса Узбекистан инвестирует в более эффективные ирригационные системы, совершенствование методов управления водными ресурсами и водосбережение.
            li Деградация земель из-за неправильного орошения, нерационального использования пастбищ и навоза является одной из основных проблем Узбекистана. Земельные угодья имеют преимущественно сельскохозяйственное назначение. Сельскохозяйственные угодья, определяемые как пашни, посевы или пастбища, составляют почти 60% от общей площади. По оценкам, деградация земель обходится почти в 5% годового ВВП. Эти затраты включают потерю продуктивности сельского хозяйства, усиление эрозии почв, снижение доступности воды, потерю связывания углерода и экосистемных услуг.
            li С 2010 года органическое земледелие увеличилось, но составляет всего 0,004% сельскохозяйственных угодий.
            li В Узбекистане насчитывается более 40 охраняемых природных территорий. Их площадь составляет 8% от общей площади территории, увеличившись за последние десять лет более чем на 300%. За этот же период, несмотря на увеличение площади охраняемых природных территорий, в национальную Красную книгу было внесено около 20 видов животных и растений, находящихся под угрозой исчезновения. Повышенная опасность связана с изменением климата (и, как следствие, повышением температуры), бесконтрольным выпасом скота, неизбирательной охотой и браконьерством.
        #sub-section-2.sub-section
          h2 3.1 Возобновляемые природные ресурсы
          .sub-section_content
            ul.sub-section_text
              i В 2014-20 годах площадь лесов Узбекистана увеличилась
              li
                | В 2014-20 годах площадь лесов Узбекистана увеличилась на треть - с 9 млн. га до 12 млн. га, что составляет 8,4% от общей площади территории в 2020 году. К 2020 году Узбекистан занял второе место по площади лесов в Центральной Азии (ЦА) после Туркменистана. Несмотря на достигнутый прогресс, уровень покрытия остается ниже среднего регионального показателя по Европе и Центральной Азии (ЕЦА), составляющего 38,5%, и среднего мирового показателя, равного 31,2%. Последние имеющиеся данные по объему запасов лесных деревьев свидетельствуют об их увеличении с 70,8 млн. кубических метров (м
                sup 3
                | ) в 1990 г. до 76,2 млн. м
                sup 3
                | в 2015 г.
            .sub-section_figure
              h3
                i Площадь лесов, млн. га и % от площади суши
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
          .sub-section_content
            .sub-section_figure
              h3
                i Использование пресной воды по секторам, % от объема забора пресной воды
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Источник: Всемирный банк, 2023 г.
            ul.sub-section_text
              i Нагрузка на ресурсы пресной воды с годами возрастает
              li
                | Поверхностные воды двух крупных рек - Амударьи и Сырдарьи - являются основными источниками пресной воды в Узбекистане. Эти реки, берущие начало за пределами Узбекистана и имеющие общий доступ к соседним странам ЦА, часто становятся центрами споров о распределении воды. Как страна, расположенная ниже по течению, водоснабжение Узбекистана остается уязвимым к любым отклонениям в стоке как в количественном, так и в качественном отношении.
              li
                | Узбекистан испытывает все большую нагрузку на свои водные ресурсы. Уровень забора воды значительно превышает уровень возобновляемых ресурсов пресной воды, составляющий 16 млрд. м
                sup 3
                | в год. По прогнозам Института мировых ресурсов, при сохранении нынешней практики этот уровень стресса сохранится до 2040 года. Проблема усугубляется тем, что около 40% воды в сельском хозяйстве теряется из-за устаревшей ирригационной инфраструктуры. В ответ на это в Узбекистане разрабатываются стратегии по улучшению управления водными ресурсами, модернизации ирригационных систем и водосбережению.
        #sub-section-3.sub-section
          h2 3.2 Невозобновляемые ресурсы
          i Площадь территории Узбекистана за период 1991-2020 гг. увеличилась на 3,6%
          ul
            li
              | Площадь суши Узбекистана увеличилась, что может быть связано с преобразованием водоемов, таких как Аральское море, в наземные ландшафты. Сильная деградация затрагивает около 30% (13 млн. га) земель страны, причем половина деградированных земель приходится на естественные пастбища (World Bank, готовится к публикации). Основными причинами деградации являются дефицит воды, деградация и засоление почв.
          .sub-section_content
            ul.sub-section_text
              i Доля сельскохозяйственных земель сократилась с 2000 года
              li
                | Сельскохозяйственные земли подвергаются значительной деградации по нескольким причинам. Например, неправильное орошение приводит к засолению почвы. К другим факторам относятся нерациональное использование пастбищ и навоза, а также перевыпас скота. По оценкам Всемирного банка, затраты, связанные с сильной деградацией земель, составляют 4,6% от валового внутреннего продукта (ВВП). Среди прочих факторов здесь учитывается снижение продуктивности сельского хозяйства, усиление эрозии почв, снижение доступности воды, потеря связывания углерода и экосистемных услуг.
              li
                | Несмотря на то, что с 2010 г. органическое земледелие в Узбекистане развивается, его площадь незначительна. В 2021 г. доля органических сельскохозяйственных угодий составляла всего 932 га, или 0,004% от общей площади сельскохозяйственных угодий. Для расширения масштабов этой практики правительство запустило пилотные проекты в некоторых регионах. Неправительственные организации и международные институты также оказывают поддержку в продвижении практики органического земледелия.
            .sub-section_figure
              h3
                i Площадь возделываемых земель, в '000 га
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г. (1 км2 = 100 га)
          i Добыча и потребление природного газа выросли с 2015 года
          ul 
            li Узбекистан занимает 11-е место по добыче и 14-е место по запасам природного газа. В период с 2008 по 2014 год добыча природного газа сократилась, но затем возросла до 54 млрд. м
            sup 3 
            li в 2021 году более 80% добываемого природного газа потребляется внутри страны. В последнее время разрыв между добычей и потреблением был минимальным.
            li  Несмотря на рост импорта, особенно в зимний период, с начала 2000-х годов основным направлением является экспорт в такие страны, как Китайская Народная Республика, Российская Федерация и Казахстан. По прогнозам, запасы газа могут быть исчерпаны через 20-30 лет. В связи с этим правительство приняло решение прекратить экспорт газа к 2025 году, отдав предпочтение внутренним потребностям (World Bank, готовится к публикации). Тем не менее, неэффективность в секторе является обычным явлением. Очевидны диспропорции в объемах, начиная от входа в систему передачи и распределения газа и заканчивая системой сбыта.
        #sub-section-4.sub-section
          h2 3.3 Биоразнообразие
          .sub-section_content
            .sub-section_figure
              h3
                i Охраняемая площадь в '000 га
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Источник: Агентство по статистике, 2023 г.
            ul.sub-section_text
              i Количество особо охраняемых природных территорий в Узбекистане за период 2011-21 гг. увеличилось в три раза
              li
                | В Узбекистане имеется 41 охраняемая природная территория, необходимая для сохранения биоразнообразия и экосистем (UNEP-WCMC, 2023). Площадь охраняемых природных территорий увеличилась в три раза - с 0,8 млн. га в 2011 году до 3,5 млн. га или 34 578 км
                sup 2
                | (8% территории) в 2021 году. По состоянию на 2021 год в Узбекистане ООПТ созданы в 8 из 13 регионов, причем 75% из них - в Каракалпакской области. Министерство экологии, охраны окружающей среды и климатических изменений управляет ООПТ и следит за соблюдением правил. В соответствии с Национальной стратегией и планом действий по сохранению биоразнообразия и "Стратегией сохранения биоразнообразия на 2019-2028 годы" [6] Узбекистан взял на себя обязательство увеличить к 2028 году общую площадь охраняемых территорий до 12% от всей территории страны.
          i В Узбекистане растет число редких и исчезающих видов, занесенных в "Красную книгу"
          ul 
            li
              | Биоразнообразие Узбекистана насчитывает более 4 300 видов растений (флора) и 15 000 видов животных (фауна), среди которых много эндемиков, отражающих разнообразие экосистем страны. В 2019 году в пятое издание Красной книги Узбекистана, в которую занесены редкие и исчезающие виды диких животных и растений, было включено 516 исчезающих видов, в то время как в 2009 году их было 498. Такие факторы, как изменение климата, бесконтрольный выпас скота, беспорядочная охота и браконьерство, бросают тень на выживание этих видов. Например, популяции бухарского оленя и туркестанской рыси сокращаются, что в первую очередь связано с охотой и браконьерством.
          i Среднегодовая температура (°C) в Узбекистане за 50 лет выросла на 35%
          ul 
            li За пять десятилетий среднегодовая температура поверхности в Узбекистане увеличилась на 35% (3,5 °C). Так, например, среднегодовая температура 1972 года, составлявшая 11°C, повысилась до 14,8°C в 2021 году. Повышение температуры привело к изменению экосистем, что повлекло за собой утрату естественных мест обитания и поддерживаемого ими богатого биоразнообразия. Такие регионы, как район Аральского моря, несут на себе основную тяжесть этих изменений.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')