doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/static/styles/styles1.css')
  title Группа 1: Социально-экономический контекст и характеристики роста
header
  div
    a(href='/group1_ru') RU
    a(href='/group1') Eng
  p From 2023
.navigation
  a(href='/ru')
    i.fa-solid.fa-house-flag
  a(href='/introduction_ru')
    i.fa-regular.fa-file-lines
  a.nav-active(href='/group1_ru')
    i.fa-solid.fa-arrow-up-right-dots
  a(href='/group2_ru')
    i.fa-solid.fa-seedling
  a(href='/group3_ru')
    i.fa-brands.fa-envira
  a(href='/group4_ru')
    i.fa-solid.fa-building-columns
  a(href='/group5_ru')
    i.fa-solid.fa-users-gear
.heading
  i.fa-solid.fa-arrow-up-right-dots
  h1 Группа 1. Социально-экономический контекст и характеристики роста
.description
  p эта группа показателей исследует социально-экономический контекст и характеристики роста с помощью девяти показателей. Они варьируются от роста и структуры валового внутреннего продукта до экономически активного населения, безработицы и плотности населения до ожидаемой продолжительности жизни, равенства доходов и охвата образованием. Эти показатели помогают отслеживать влияние политики и мер зеленого роста на рост и развитие, связывая показатели зеленого роста с социальными целями: экономическим ростом, производительностью и конкурентоспособностью, рынком труда, образованием и доходом.

main
  .section
    #section-1.section-active
      i.fa-solid.fa-file-circle-check
      h3 Социально-экономические показатели: основные выводы
    #section-2
      i.fa-solid.fa-chart-line
      h3 1.1. Рост ВВП
    #section-3
      i.fa-solid.fa-chart-pie
      h3 1.2 Структура ВВП
    #section-4
      i.fa-solid.fa-people-roof
      h3 1.3 Экономически активное население
    #section-5
      i.fa-solid.fa-users-gear
      h3 1.4 Безработица
    #section-6
      i.fa-solid.fa-users
      h3 1.5 Население
    #section-7
      i.fa-solid.fa-people-line
      h3 1.6 Плотность населения
    #section-8
      i.fa-solid.fa-hand-holding-heart
      h3 1.7 Продолжительность жизни
    #section-9
      i.fa-solid.fa-coins
      h3 1.8 Дифференциация доходов
    #section-10
      i.fa-solid.fa-book-open
      h3 1.9 Зачисление в образование
  .section_text
    #sub-section-1.sub-section.active
      h2 Социально-экономические показатели: основные выводы
      ul
        li
          b Рост ВВП
          | : из-за скромного роста валового внутреннего продукта (ВВП) и многочисленных рецессий экономический рост не позволил сблизиться со странами Центральной и Восточной Европы и значительно повысить уровень жизни людей.
        li
          b Структура ВВП
              | : ВВП существенно не изменился, при этом наибольший вклад в экономический рост внесла торговля. Годовой объем денежных переводов закрепил за собой лидирующие позиции торговли, за которой следовали промышленное производство и, в меньшей степени, сельское хозяйство.
        li
          b Экономически активное население
          | : из-за эмиграции численность экономически активного населения за последние семь лет уменьшилась, упав до примерно 867 000 человек в 2020 г. + сократился с 45,9% в 2018 году до 40,3%.
          u
        li
          b Безработица:
          |  в то время как безработица оставалась низкой (ниже 5%), этот показатель не актуален для Республики Молдова (далее &ldquo;Молдова&rdquo;). В дополнение к высокой резервной заработной плате многие люди не хотят регистрироваться в Национальном агентстве занятости (НАЗ), потому что они работают за границей и застряли в волне сезонной миграции.
          u
        li
          b Население
          | : из-за эмиграции в Молдове наблюдался постоянный отрицательный естественный прирост населения и быстрая депопуляция, в основном в сельской местности. В этих условиях за последние семь лет численность населения с обычным местом жительства сократилась на 225 000 человек до 2,6 млн человек в 2020 году.
          u
        li
          b Плотность населения:
          |  это регистрирует ту же тенденцию к снижению, что и количество людей. В 2020 году на квадратный километр км2 приходилось в среднем 89 человек &ndash; на 8 человек меньше, чем в 2014 году.
          u
        li
          b Ожидаемая продолжительность жизни:
          |  даже если ожидаемая продолжительность жизни при рождении в последние годы улучшилась, Молдова остается на самом низком уровне среди европейских стран со средним показателем для обоих полов всего 70,9 лет.
          u
        li
          b Дифференциация доходов:
          |  после некоторого незначительного улучшения уровень неравенства в молдавском обществе с 2018 года снова повышается. Таким образом, коэффициент Джини достиг 0,33 на конец 2020 года.
          u
        li
          b Зачисление в образование
          | : Несмотря на общий высокий уровень охвата, фактическое число лиц, зачисленных на определенные уровни образования, постоянно и значительно сокращается. За последние 12 лет количество студентов сократилось вдвое, достигнув в самой низкой точке около 61 000 студентов.
    #sub-section-2.sub-section
      h2 Индикатор 1.1. Рост ВВП
      p
        i
          | Ключевое сообщение 
          br
        | В последние годы экономика росла скромными темпами, но этого было недостаточно для значительного повышения уровня жизни большинства людей. Национальная экономика по-прежнему страдает от системных проблем, таких как низкая конкуренция, коррупция и ограниченность рабочей силы. Они сопровождаются увеличением числа потрясений, вызванных экстремальными погодными явлениями, такими как наводнения, засухи или морозы. Частые политические волнения также повлияли на способность государственных учреждений реагировать на кризисы. В 2020 году, например, государство оказало лишь ограниченную социальную и экономическую поддержку в ответ на пандемию COVID-19.
      p
        i Тренд индикатора
        br
        | За последнее десятилетие в экономике были отмечены некоторые улучшения. За исключением 2012 г. (засуха), 2015 г. (банковское мошенничество) и 2020 г. (пандемия COVID-19), в стране наблюдался экономический рост не менее 3-4% (рис. 1). Это подтверждается динамикой ВВП, который в 2020 г. удвоился в номинальном выражении и увеличился примерно на 30% в реальном выражении (по сравнению с 2010 г.). Тем не менее, уровень зарегистрированного экономического роста все еще слишком скромен, чтобы приблизиться к росту стран Центральной и Восточной Европы или значительно повысить уровень жизни людей. Существует множество причин &ndash; от экстремальных погодных явлений и все более частой миграции рабочей силы до коммерческих расхождений с ключевыми зарубежными партнерами (например, сокращение экспорта в Российскую Федерацию после подписания Соглашения об ассоциации с Европейским союзом). Они сопровождаются потрясениями, вызванными такими событиями, как банковское мошенничество или политические кризисы, которые ослабили управление в государственных учреждениях и подорвали способность реагировать на кризисы, такие как пандемия COVID-19.
      p
        i Рисунок 1. Динамика валового внутреннего продукта (ВВП)
      p
        | Хотя национальная экономика в целом выросла, качество роста неустойчиво, что вызывает вопросы о его устойчивости. Модель экономического роста, основанная на потреблении, ограничена, учитывая, что тенденции миграции меняются от периодической миграции в поисках работы к окончательной миграции, основанной на факторах, которые не обязательно являются экономическими. Эти уязвимости появились в контексте пандемии COVID-19. Кризис ударил по стране в момент низкой конкурентоспособности и экономической свободы в сочетании с эскалацией системной уязвимости, связанной с коррупцией, конкуренцией или доступом к финансированию (Expert-Grup, 2020a). В результате государство предложило скромный ответ на пандемию в размере 0,4% ВВП, в то время как другие страны выделяли до 5% ВВП. В этом контексте пандемия оказала серьезное влияние на ВВП, вызвав 7-процентный спад в 2020 году. Несмотря на рост ВВП, показатель на душу населения составляет всего 12 300 долларов США, что является самым низким показателем среди европейских стран (рис. 2).
        br
      p
        i Рисунок 2. ВВП на душу населения (ППС, 2017 г., долл. США)

    #sub-section-3.sub-section
      h2 Индикатор 1.2 Структура ВВП
      p
        i
          | Ключевое сообщение
        br
        | Структура национальной экономики существенно не изменилась за последнее десятилетие. Модель экономического роста, основанная на потреблении и финансируемом за счет денежных переводов, выдвигает на первый план сектор торговли. Эта модель также стимулирует строительную деятельность, сектор, который неуклонно растет и, похоже, будет продолжаться. С другой стороны, в традиционных секторах, таких как сельское хозяйство или промышленность, отмечен лишь скромный рост, поскольку они остаются уязвимыми для потрясений, не входящих в круг полномочий лиц, принимающих решения. К ним относятся климатические условия для сельского хозяйства или экспортный потенциал многих других отраслей.
      p
        i
          | Тренд индикатора
          br
        | Структура экономики Молдовы не претерпела существенных изменений с 2010 года. Торговля вносит наибольший вклад в ВВП из-за ежегодных объемов денежных переводов. За торговлей следует обрабатывающая промышленность, которая в последние годы превзошла сельское хозяйство в результате иностранных инвестиций и более высоких экспортных мощностей. С другой стороны, сельское хозяйство сильно зависит от климатических условий и дает лишь скромные результаты в засушливые годы. Несмотря на усилия по модернизации аграрного сектора, системные проблемы не решаются, а некоторые усугубляются. Таким образом, орошение и доступ к источникам воды по-прежнему являются серьезной проблемой, учитывая увеличение частоты засух. Кроме того, различные сельскохозяйственные продукты (например, яблоки и другие фрукты) по-прежнему зависят от экспортных рынков, на которые влияют политические решения. С определенными проблемами сталкивается и агропромышленный сектор, поскольку продукция животноводства с трудом находит внешние рынки сбыта.
        br
        |Поскольку многие секторы экономики затронуты проблемами, такие сектора, как строительство, транспорт или услуги (особенно ИТ), имеют больше шансов на успех. В строительстве отмечен значительный рост, учитывая высокий спрос на квартиры, особенно в Кишиневе, что побудило девелоперов запустить множество жилых проектов. Этот спрос подпитывается как денежными переводами, так и доступом к кредитам на недвижимость. Эти кредиты стали более доступными после реализации государственной программы &ldquo;Prima Casa&rdquo; программы и реформы финансовой системы (рис. 3).
      p
        i Рисунок 3. Вклад экономической деятельности в ВВП (в процентах)

    #sub-section-4.sub-section 
      h2 Индикатор 1.3 Экономически активное население
      p
        i Ключевое сообщение 
        br
        | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину ситуации с рабочей силой, особенно влияния эмиграции. Все соответствующие показатели были значительно скорректированы, что отражает негативный макроэкономический прогноз. Кроме того, перспективы ухудшились после переписи, и не видно никаких перспектив переломить эту тенденцию. Такие показатели, как &ldquo;экономически активное население&rdquo; или &ldquo;коэффициент участия&rdquo; продолжают демонстрировать снижение и крайне низкие уровни по сравнению с европейскими странами.
      p
        i Тренд индикатора
        br
        | За последние два десятилетия эмиграция была одним из основных факторов, характеризующих макроэкономическую эволюцию страны. Сокращение населения оказывает прямое влияние на объем и качество рабочей силы, доступной для национальной экономики. Как только &ldquo;обычное постоянное население&rdquo; была введена после переписи 2014 г., показатели рабочей силы также претерпели значительные изменения. Так, численность экономически активного населения в 2014 г. (занятое население плюс безработные) составляла менее 1 млн человек, неуклонно снижаясь в течение последних семи лет до примерно 867 000 человек в 2020 г. В то же время коэффициент участия в рабочей силе, выраженный как Отношение экономически активного населения к общей численности населения в возрасте 15+ также сократилось с почти 45,9% в 2018 году до 40,3% (Рисунок 4).
      p
        i Рисунок 4. Экономически активное население и уровень участия 
      p
        |Серьезность ситуации с рабочей силой также подтверждается сравнением на европейском уровне (Рисунок 5). Молдова занимает последнее место среди европейских стран по уровню участия в рабочей силе. Он имеет уровень участия менее 45%; две другие страны составляют от 45 до 50%, в то время как в большинстве из них этот показатель превышает 55%. Причем в Молдове наблюдается одно из самых быстрых снижений, начиная уже с низкого уровня (по сравнению с 2014 г.), в то время как в других странах регистрируется либо снижение с высокого уровня, либо улучшение.
      p
        i Рисунок 5. Уровень участия в рабочей силе на международном уровне

    #sub-section-5.sub-section 
      h2 Индикатор 1.4 Безработица
      p
        i Ключевое сообщение 
        br
        | Перепись населения и жилого фонда 2014 года выявила гораздо более четкую картину положения с рабочей силой, в том числе с точки зрения безработицы. Хотя уровень безработицы низкий (менее 5%), он не учитывает безработных, которые активно не ищут работу. Многие люди не хотят регистрироваться в Национальном агентстве занятости (НАЗ), потому что они периодически мигрируют за границу и застряли в модели сезонной миграции.
      p
        i Тренд индикатора
        br
        | Уровень безработицы практически не изменился с 2014 г. Введение в 2018 г. 12-процентной плоской ставки налога на доходы физических лиц в рамках налоговой реформы сократило как численность населения, занятого в неформальной занятости, так и численность безработных на десятки тысяч человек. В результате уровень безработицы в 2018 году достиг исторического минимума &ndash; чуть менее 3% (рис. 6).
      p
        i Рисунок 6. Численность безработных и уровень безработицы (в процентах)
      p
        | Уровень безработицы в Молдове один из самых низких в европейских странах (Рисунок 2.7). Тем не менее, эти результаты имеют место в контексте высокого уровня неформальной занятости во всей экономике &ndash; около 16% работающих. Такие сектора, как строительство или сельское хозяйство, находятся в верхней части списка, когда речь идет о неформально занятых лицах, на которые приходится более половины от общего числа. Кроме того, большое количество граждан не имеют работы, но не ищут ее; следовательно, они не соответствуют требованиям, чтобы называться «безработными». Этот термин относится к лицам, имеющим временную работу за границей и чередующим пребывание дома и работу.
      p
        i Рисунок 7. Уровень безработицы на международном уровне

    #sub-section-6.sub-section 
      h2 Индикатор 1.5 Население
      p
        i Ключевое сообщение
        br
        | Молдова находится в периоде демографического перехода, который в долгосрочной перспективе будет иметь значительные последствия. Эмиграция остается центральной чертой общества как на короткие периоды (по работе), так и на длительные периоды или даже постоянно. Характеристики эмиграции еще более значительны; это уже не временно и для трудоустройства. Скорее, люди эмигрируют, чтобы жить за границей. В Молдове также регистрируется постоянный отрицательный естественный прирост населения и быстрая депопуляция сельских районов. В этих условиях население с &laquo;обычного проживания&raquo; в Молдове за последние семь лет сократилось на 225 000 человек, в результате чего общая численность населения составила 2,6 млн человек.
      p
        i Тренд индикатора
        br
        | Массовая эмиграция за последние два десятилетия существенно повлияла на национальную демографию. Поскольку многие люди с молдавским гражданством не проживают в стране, для описания фактической демографии требовались определенные меры. Так, в 2014 году Национальное бюро статистики ввело обычный показатель постоянного населения. Имеется в виду количество людей, проживавших преимущественно в стране за последние 12 месяцев, независимо от временного отсутствия. Население с обычным местом жительства основано на данных переписи населения и жилого фонда 2014 года, затем скорректировано с учетом естественного прироста населения (рождаемость минус смертность) плюс чистая миграция. Помимо миграции, уже много лет фиксируется отрицательный естественный прирост населения, а также быстрое и неуклонное сокращение населения сельских территорий, что оказывает дополнительное давление на демографические показатели.
        br
        | This change of focus resЭто изменение фокуса привело к резкому сокращению населения. По новому показателю в стране проживало 3,5 млн человек, в том числе временно отсутствующие, уехавшие жить за границу (стабильное население). В то же время все большее число органов государственной власти принимают решения на основе других показателей, таких как численность населения с обычным местом жительства, которое составляет 2,6 млн человек (Рисунок 8). В данном отчете эта цифра используется преимущественно для анализа различных показателей на душу населения, поскольку она лучше всего отражает реальное количество людей на территории страны.ulted in a sharp drop in population. Using the new indicator, 3.5 million people held residence in the country, including those temporarily absent who left to live abroad (stable population). At the same time, an increasingly higher number of public authorities make decisions based on other figures, such as population with a usual residence that amounts to 2.6 million people (Figure 8). This report uses this figure predominantly to analyse different per capita indicators because it best captures the real number of people on the territory of the country.
      p
        i
          | Рисунок 8. Численность населения (тыс. человек) и демографическая структура по полу

    #sub-section-7.sub-section 
      h2 Индикатор 1.6 Плотность населения
      p
        i Ключевое сообщение
        br
        | Плотность населения регистрирует ту же тенденцию к снижению, что и количество людей. В 2020 г. в Молдове проживало в среднем 89 человек на квадратный километр &ndash; на 8 человек меньше, чем в 2014 году. В то же время значительные изменения произошли на региональном уровне в связи с быстрой депопуляцией сельских районов и концентрацией населения в городских районах, особенно в мун. Кишинэу.
      p
        i
          | Тренд индикатора
          br
        | На плотность населения влияют демографические тенденции, характеризующиеся эмиграцией и отрицательным естественным приростом населения. Исходя из населения с обычным местом жительства (т.е. сколько людей проживает в стране), плотность населения достигает всего 89 человек на квадратный километр. Этот уровень представляет ситуацию в Молдове только на 2020 г., без приднестровского региона, и прогнозирует постоянное сокращение в среднем на одного человека в год. Рисунок 9 сравнивает Молдову с европейскими странами в 2018 году, показывая, что страна занимает место ниже среднего показателя по ЕС, составляющего 118 человек на квадратный километр.
      p
        i Рисунок 9. Плотность населения (чел./км² в 2018 г.)

    #sub-section-8.sub-section 
      h2 Индикатор 1.7 Ожидаемая продолжительность жизни
      p
        i
          | Ключевое сообщение
          br
        | Несмотря на то, что ожидаемая продолжительность жизни при рождении за последние годы улучшилась, Молдова находится на самом низком уровне среди европейских стран со средним показателем для обоих полов всего 70,9 года. В разбивке по полу женщины живут в среднем на восемь лет больше, чем мужчины &ndash; большой разрыв по сравнению с другими странами. В то же время пандемия COVID-19 существенно повлияла на общий уровень показателя в 2020 году, выразившись в увеличении числа смертей и снижении числа рождений. Так, в 2020 г. ожидаемая продолжительность жизни при рождении снизилась примерно на 1 год, составив 65,9 года у мужчин и 75,1 года у женщин.
      p
        i Тренд индикатора
        br
        | Ожидаемая продолжительность жизни при рождении в Молдове незначительно улучшилась за последние несколько лет, но пандемия COVID-19 оказала сильное влияние на 2020 г. До 2019 г. ожидаемая продолжительность жизни продолжала расти и достигла 70,9 лет для обоих полов (69,3 года в 2014 г.). . В 2020 г. в Молдове было зарегистрировано снижение примерно на год из-за большего числа смертей от COVID-19 и меньшего числа рождений (вероятно, по той же причине). Женщины по-прежнему превосходят мужчин по ожидаемой продолжительности жизни при рождении, достигнув 73,9 года по сравнению с 75,1 года в 2019 году. Со своей стороны, мужчины живут в среднем на 8 лет меньше, чем женщины в 2020 году: их ожидаемая продолжительность жизни составляет 65,9 года, что на 1,1 года меньше, чем в 2020 году. 2019.
        br
        | За исключением 2020 года, ожидаемая продолжительность жизни в последние годы увеличилась за счет снижения общего уровня смертности и младенческой смертности. В этой связи важное значение имеет улучшение здоровья населения, достигаемое за счет расширения доступа к услугам здравоохранения, а не за счет улучшения состояния окружающей среды. Таким образом, уровень заболеваемости существенно не изменился. Тем не менее, Молдова добилась значительного технического прогресса в сфере медицинских услуг и в улучшении доступа к лекарствам и лечению.
      p
        i Рисунок 10. Ожидаемая продолжительность жизни при рождении в Молдове
      p
        | Для сравнения, Молдова по-прежнему находится в конце списка европейских стран по ожидаемой продолжительности жизни при рождении (Рисунок 2.11). Страны Западной Европы находятся на вершине этого рейтинга с ожидаемой продолжительностью жизни более 80 лет, а страны Восточной Европы, включая Румынию и Украину, регистрируют уровень ниже 75 лет. Это связано с различными факторами, включая доступ к товарам и услугам здравоохранения, санитарии, качество жизни и общий уровень жизни.
      p
        i Рисунок 11. Ожидаемая продолжительность жизни при рождении на международном уровне
      p
        | Еще один показатель человеческого капитала связан с индексом человеческого развития (ИРЧП), который включает в себя индексы ожидаемой продолжительности жизни, уровня образования и уровня жизни. Согласно рейтингу 2019 года, Молдова занимает 107-е место среди стран мира с ИЧР, равным 0,711 (т.е. среди стран с высоким уровнем человеческого развития). Молдова перескочила во вторую группу стран после того, как много лет находилась в числе стран со средним уровнем человеческого развития. Соседние страны, Румыния и Украина, занимают 52-е место (ИЧР — 0,816) и 88-е место (ИЧР — 0,750) соответственно, а Грузия — 70-е (ИЧР — 0,786). Страны ЕС относятся к группе с высоким уровнем человеческого развития.

    #sub-section-9.sub-section 
      h2 Индикатор 1.8 Неравенство доходов
      p
        i Ключевое сообщение 
        br
        |Социально-экономическое неравенство в Молдове имеет тенденцию к уменьшению вслед за ростом доходов населения. Во многом это связано с трудовой миграцией, которая ежегодно приносит значительный объем денежных переводов в национальную экономику. Таким образом, с одной стороны, увеличились доходы населения из наиболее незащищенной группы, а с другой - уменьшилось количество домохозяйств с неблагополучным экономическим положением. Тем не менее пандемия COVID-19 показала, что экономическая нестабильность сохраняется для групп, которые потеряли часть своего дохода или даже работу из-за блокировки.
      p
        i Тренд индикатора 
        br
        | После периода незначительного улучшения уровень неравенства в молдавском обществе с 2018 г. увеличивается. Так, коэффициент Джини достиг 0,33 (0 – абсолютное равенство, 1 – максимальное неравенство) на конец 2020 г. (Рисунок 12). Увеличение внешней миграции малообеспеченного населения способствовало уменьшению неравенства вплоть до 2018 г. В результате доля денежных переводов домохозяйств из I квинтиля (20% населения с самыми низкими доходами) удвоилась до 18% от их общего располагаемого доход. Этот уровень сопоставим с уровнем домохозяйств V квинтиля (20% населения с наибольшим доходом). Это также является следствием снижения значений коэффициентов как для совокупных располагаемых доходов населения, так и для общих потребительских расходов. В основном уменьшилось количество домохозяйств с неблагополучным социально-экономическим положением, особенно количество занятых в сельскохозяйственном секторе, где заработная плата одна из самых низких.
      p
        i Рисунок 12. Коэффициент Джини
      p
        | Несмотря на несколько позитивные тенденции в уменьшении неравенства, его уровень, скорее всего, занижен, поскольку домохозяйства борются за получение более высокого уровня доходов. Кроме того, при обследовании домохозяйств люди склонны занижать доходы по сравнению с потребительскими расходами. Уровень неравенства был отчетливо виден во время пандемии COVID-19. Например, во время карантина люди с низким доходом и без сбережений больше всего пострадали от невозможности заниматься определенной экономической деятельностью.
        br
        | За последние десять лет уровень неравенства практически не изменился в большинстве стран Центральной и Восточной Европы. Молдова была единственной страной в регионе, добившейся значительных положительных результатов на этом фронте. Несмотря на это, значения коэффициента Джини являются одними из самых низких в Молдове, уступая только таким странам, как Чехия, Польша и Словения. Однако эти сравнения следует тщательно анализировать, учитывая, что нельзя сравнивать национальный доход.
      p
        i Рисунок 13. Коэффициент Джини в странах Европы, 2018 г.

    #sub-section-10.sub-section 
      h2 Индикатор 1.9 Охват образованием
      p
        i Ключевое сообщение 
        br
        | Уровень охвата образованием различается в зависимости от уровня образования. Все дети охвачены обязательным образованием и в меньшей степени дошкольным образованием. Реформы образования последних лет привели к увеличению регистрации в средних и высших учебных заведениях и усилиям по соотнесению образовательных предложений с требованиями рынка труда.
      p
        i Тренд индикатора 
        br
        |Уровень охвата образованием по-прежнему высок, хотя он различается в зависимости от уровня образования. В 2019/20 учебном году в системе образования обучалось около 435 000 человек, или 16% населения с обычным местом жительства. Самый высокий уровень зачисления зарегистрирован на уровне начального и среднего образования. Доля обязательного образования по-прежнему относительно постоянна и даже превышает 100%, учитывая, что дети зачислены в первый класс в возрасте до семи лет. Следующим по величине показателем является дошкольное образование (90,3%). Этот показатель остается постоянным в последние годы и свидетельствует о заинтересованности родителей в том, чтобы их дети посещали детский сад.
        br
        | С другой стороны, валовой охват значительно вырос в среднем (средняя школа и профессионально-техническое образование) и высшем образовании (университеты). Так, охват средним образованием вырос примерно на 16 процентных пунктов до 82,5%, а прием в высшие учебные заведения вырос примерно на 12 процентных пунктов. Эти цифры подтверждают растущий интерес учащихся к среднему, профессиональному и даже университетскому образованию. Эти тенденции также определяются лучшей корреляцией между рынком труда и системой образования для достижения большего влияния на экономический рост. Хорошим примером в этом отношении является профессиональное образование, которое позволяет определенным лицам легче адаптироваться к требованиям рынка труда.
        br
        | Несмотря на приведенные выше цифры, фактическое количество лиц, обучающихся на определенных уровнях образования, постоянно и значительно сокращается. Количество учащихся сократилось вдвое за последние 12 лет и составило около 61 000 человек. Количество учащихся, обучающихся в начальных и средних учебных заведениях, также сократилось примерно на 28% и составило около 334 000 учащихся в 2018/19 учебном году. Есть несколько причин этих тенденций, связанных с эмиграцией – &ndash; от семей, выезжающих за границу вместе со своими детьми, к лучшим условиям для учебы и возможностям за границей.
      p
        i Рисунок 14. Валовой охват образованием по уровням образования (в процентах)



footer
  p &copy; 2023. Все права защищены

script(src='/static/javascripts/script.js')
