doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 4-guruh
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group4_ru') RU
        a(href='/group4') Eng
        a.active_language(href='/group4_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a.nav-active(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p.nav-active 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-solid.fa-building-columns
      h1 4-guruh. Hayot sifatining ekologik o'lchovi
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Atrof-muhitning hayot sifati ko'rsatkichlari: asosiy topilmalar
        #section-2
          i.fa-solid.fa-smog
          h3 4.1 section title
        #section-3
          i.fa-solid.fa-person-arrow-up-from-line
          h3 4.2 section title
        #section-4
          i.fa-solid.fa-faucet-drip
          h3 4.3 section title
        #section-5
          i.fa-solid.fa-arrow-up-from-water-pump
          h3 4.4 section title
      .section_text
        #sub-section-1.sub-section.active
          h2 Atrof-muhitning hayot sifati ko'rsatkichlari: asosiy topilmalar
          .sub-section_content
            ul.sub-section_text
              li 
                b
                  | O‘zbekistonda havo ifloslanishi ortib bormoqda va 2021 yilda havoda 909 ming tonna ifloslantiruvchi moddalar mavjud.
                | O'zbekiston aholisining yarmidan ko'pi har kuni 35 mkg/m3 dan ortiq zarracha moddalar (PM2.5) ta'siriga duchor bo'ladi.
              li 
                b 2021 yilda Toshkent shahri PM2.5 ning oʻrtacha yillik kontsentratsiyasi boʻyicha dunyo miqyosida har qanday shaharlar orasida havo sifati eng yomon 10-oʻringa ega boʻlgan boʻlsa, Oʻzbekiston esa eng yomon 12-oʻrinni egalladi.
                |  O‘zbekiston 2019-yilda Markaziy Osiyoda Tojikistondan keyin ikkinchi eng ifloslangan davlat bo‘ldi.
            .sub-section_figure
              h3
                i Atmosferani ifloslantiruvchi moddalar, ming tonna
              canvas#air_pollutants(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Nafas olish kasalliklari tufayli o'lim, o'lim %
              canvas#respiratory_death(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              li 
                |  Oʻzbekistonda har yili 1 million aholidan 750 dan ortiq kishi PM2.5 taʼsiridan vafot etadi. 2022-yilda O‘zbekistonda o‘lim holatlarining deyarli 10 foizi nafas yo‘llari kasalliklari bilan bog‘liq.
                b  PM ta'siridan erta o'lim va boshqa sog'liq muammolari har yili YaIM ekvivalentining 8,7% ni tashkil qiladi.
              li 
                b 2021 yilga kelib O‘zbekistondagi uy xo‘jaliklarining atigi 68 foizi toza ichimlik suviga ega bo‘ldi. Bu ulush 2010 yildagi 82,5 foizdan kamaydi.
                |  Oʻzbekistonning eskirgan suv taʼminoti infratuzilmasi suv xizmatlari koʻrsatishda toʻxtab qolgan yoki pasaygan. Qishloq joylarda toza ichimlik suvi bilan ta'minlash yomonroq.
          .sub-section_content
            ul.sub-section_text
              li 
                b O‘zbekiston 2030-yilga qadar sanitariya-gigiyena vositalaridan umumiy foydalanish bo‘yicha SDGga erishdi.
                |  2014-yildayoq O‘zbekistonning barcha aholisi (100%) yaxshilangan sanitariya-gigiyena vositalaridan foydalanish imkoniyatiga ega edi. Bu 2000-yildagi 93% ga nisbatan o‘sishdir.
            .sub-section_figure
              h3
                i Xavfsiz ichimlik suvidan foydalanish imkoniyati, % uylar
              canvas#water_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
          .sub-section_content
            .sub-section_figure
              h3
                i Kanalizatsiyaga kirish, % uylar
              canvas#sewerage_access(style='max-height: 300px;')
              h4
                i Manba: Statistika agentligi, 2023 yil
            ul.sub-section_text
              li
                b O‘zbekistondagi uylarning atigi 44 foizi kanalizatsiya tizimiga ega.
                |  Qishloq joylaridagi ko'pgina uy xo'jaliklarida o'z-o'zidan qurilgan sanitariya-tesisat mavjud - quruq hojatxonalar yoki joylarda utilizatsiya qilinadigan septik tanklar. Oqava suvlar xalqaro standartlarga muvofiq tozalanmaydi.
        #sub-section-2.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul 
            li
              | text
          i text
          ul
            li
              | text
            li
              | text
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    footer
      .contacts
        p Kontaktlar:
        p
          | 100047 Toshkent Xalqaro Vestminster universiteti, Toshkent, Istiqbol koʻchasi, 12-uy.
        p Elektron pochta: cpro@wiut.uz
        p Telefon:+998 71 238 74 48
      .rights
        p
          | Platforma Germaniyaning Atrof-muhit, tabiatni muhofaza qilish, yadroviy xavfsizlik va iste'molchilar huquqlarini himoya qilish federal vazirligining (BMUV) moliyaviy ko'magida tayyorlangan bo'lib, uning Xalqaro iqlim tashabbusi orqali taqdim etilgan.
        i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group4.js')