doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 3
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/group3_ru') RU
        a.active_language(href='/group3') Eng
        a(href='/group3_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a(href='/introduction')
          i.fa-regular.fa-file-lines
        p Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a.nav-active(href='/group3')
          i.fa-brands.fa-envira
        p.nav-active Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-brands.fa-envira
      h1 Group 3. The natural asset base
    .description
      p text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Natural asset base indicators: Key findings
        #section-2
          i.fa-solid.fa-faucet-drip
          h3 3.1 section text
        #section-3
          i.fa-solid.fa-tree
          h3 3.2 section text
        #section-4
          i.fa-solid.fa-sun-plant-wilt
          h3 3.3 section text
        #section-5
          i.fa-solid.fa-tractor
          h3 3.4 section text
        #section-6
          i.fa-solid.fa-binoculars
          h3 3.5 section text
        #section-7
          i.fa-solid.fa-shield
          h3 3.6 section text
      .section_text
        #sub-section-1.sub-section.active
          h2 Natural asset base indicators: Key findings
          .sub-section_content
            ul.sub-section_text
              li 
                | Uzbekistan has seen a
                b  significant increase in forest area and stock. 
                |  In 2020, the forest area grew 35% larger than in 1992. In 2015, there were 76 million m3 of trees and shrubs in the forest, compared to 70.8 million m3in 1990.
              li 
                b Uzbekistan faces high water stress (68%), 
                |  with agriculture consuming over 90% of the freshwater resources. 
            .sub-section_figure
              h3
                i Forest area, million ha and % of land area
              canvas#forest_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 
          .sub-section_content
            .sub-section_figure
              h3
                i Freshwater use by sector, % of freshwater withdrawal
              canvas#freshwater_by_sector(style='max-height: 300px;')
              h4
                i Source: World Bank, 2023
            ul.sub-section_text
              li 
                b Uzbekistan has a large land area of 440,650 km2, with agriculture making up more than half of it. 
                |   However, the amount of agricultural land has decreased over time. 
          .sub-section_content
            ul.sub-section_text
              li
                b Over 3 million hectares of land are cultivated, but the land faces degradation 
                |  due to unsustainable practices like overgrazing and inappropriate irrigation, which are costly for the country. Uzbekistan also invests in organic farming, which is increasing in popularity and covers over 200,000 hectares of land.
            .sub-section_figure
              h3
                i Cultivated land area, in ‘000 ha
              canvas#cultivated_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023 (1km2= 100ha)
          .sub-section_content
            .sub-section_figure
              h3
                i Protected area in '000 ha
              canvas#protected_area(style='max-height: 300px;')
              h4
                i Source: Statistics Agency, 2023
            ul.sub-section_text
              li
                b Uzbekistan has growing protected natural areas 
                |  covering 7.8% of the land.  The country is home to many species of plants and animals, including migratory bird species, but climate change, overgrazing, hunting, and poaching threaten their survival. 
        #sub-section-2.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-3.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-4.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-5.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-6.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
        #sub-section-7.sub-section
          h2 text
          i text
          ul
            li
              | text
          i text
          ul 
            li
              | text
            li
              | text
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')
    script(src='/static/javascripts/group3.js')