doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan Web Portal
  body
    .container
      section.one
        video.back-video(autoplay='', loop='', muted='', plays-inline='')
          source(src='/static/images/425699_Forest Trees Vegetation Top Shot_By_Paride_Musci_Artlist_HD.mp4', type='video/mp4')
        nav
          div
            a(href='/ru') Ru
            a.active(href='/') Eng
          p From 2023
        .poster
          h1 GGI Uzbekistan Web Portal
          h2
            | Greening the Economy in Uzbekistan: the state of play in 2023: Monitoring progress based on the OECD Green Growth Indicators
          a(href='/home') Visit the Portal For More
      section.two
        h1 About the Project
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Foreword
              p
                | The Ministry of Economy and Finance is pleased to present this first monitoring report on progress towards
                | Uzbekistan&rsquo;s green economy transition using OECD&rsquo;s Green Growth Indicators framework.
                | In December 2022, the President of Uzbekistan approved a green growth strategic framework program and action plan for a transition to a green economy by 2030.
                | The action plan has eight national green growth indicators and targets, which progress will be monitored by our Ministry- MoEF.
            .card.swiper-slide
              h2 Foreword
              p
                | In this context, this report helps to answer four essential questions:
              p
                | Is Uzbekistan becoming more efficient in using natural resources and environmental services?
              | &#x9;
              p Is the natural asset base of Uzbekistan&rsquo;s economy being maintained?
              | &#x9;
              p Does greening economic growth generate quality of life for people in Uzbekistan?
              | &#x9;
              p How does greening growth generate economic opportunities in Uzbekistan?
            .card.swiper-slide
              h2 Foreword
              p
                | As supported by the findings in this report, Uzbekistan has made several positive trends towards green growth:
              p
                | 1) carbon, energy, material, and water productivity are rising, meaning less emissions and efficient energy and resource use while the economy is growing.
              p
                | 2) the share of forest area is increasing while agricultural land is decreasing as a proportion of the total land area.
            .card.swiper-slide
              h2 Foreword
              p Despite progress, several challenges remain:
              p non-renewable fossil fuels dominate the energy supply mix (99% in 2021).
              p
                | the water stress level is as high as 68%, and only 26% of municipal solid waste produced annually is recycled (in 2021).
              p
                | The Government of Uzbekistan affirms its commitment to a greener economy. The Ministry expresses its gratitude to the donor- the German government, the continuous support from the Organization for Economic Cooperation and Development, and the technical collaboration with the Westminster International University in Tashkent.
            .card.swiper-slide
              h2 Acknowledgement
              p
                | This green growth monitoring report is the outcome of joint efforts from Westminster International University in Tashkent (WIUT),
                | the Ministry of Economy and Finance (MoEF), and the Statistics Agency (SA),
                | working together to establish a reliable monitoring system towards a green economy.
                | The report is prepared by a team of experts from the WIUT, under the leadership of Bakhrom Mirkasimov (Rector) and Etenesh B. Asfaw (Senior Research Fellow at the Centre for Policy Research and Outreach). The research team includes Etenesh Asfaw, Nargiza Alimukhamedova, Omonjon Ganiev, Zohid Askarov, Akhtem Useinov, Angelo Battaglia, Kamilla Sultanova and Abdulaziz Dusbabaev.
            .card.swiper-slide
              h2 Acknowledgement
              p
                | This work is supervised by Krzysztof Michalak, Isabella Neuweg and Irina Belkahia from the Organization for Economic Cooperation and Development (OECD) Environment Directorate. The report is developed in the framework of the OECD project &lsquo;Improving the Incentive Frameworks and Capacity for
                | Green Climate-Related Investment in Eastern Partnership Countries and Central Asia&rsquo;. For the WIUT,
                | the work is a continuation of the OECD-supported project that started as part of Uzbekistan&rsquo;s COVID-19 green recovery efforts in 2021 and paved the way for contributing to the transition to a green economy.
            .card.swiper-slide
              h2 Acknowledgement
              p
                | The WIUT team is grateful for the insights and contributions from the MoEF and the national statistical data provided by the Statistics Agency under the President of the Republic of Uzbekistan (SA).
                | The authors are thankful for the inputs from various national stakeholders, including the former Institute for
                | Forecasting and Macroeconomic Reforms (IFMR) now  xxxx and the former Ministry of Natural Resources (MoNR) now xxxx, during the project kick-off event on 16th February 2023. The authors also acknowledge the valuable contributions of language translators, editors, proof-readers, and designers.
            .card.swiper-slide
              h2 Acknowledgement
              p
                | The analytical work encountered limitations related to open access to national data sets and inconsistency of information with regards to definition and measurement units when available.
                | The report attempts to analyse available national data; and, in its absence, uses international datasets for Uzbekistan. The work is translated into the local language and is available on the web sites of the WIUT, the MoEF and the OECD.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Main Findings
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2
                | Uzbekistan is becoming more efficient in using natural resources and environmental services, but the pressure on natural capital remains.
              ul
                li
                  | Generally, the GGIs that measure carbon, energy and water productivity have improved. Consequently, the economy grew faster than the use of natural resources and economic growth partially decoupled from carbon dioxide (CO2) emissions. Despite this progress, the level of environmental resource productivity is lower than average compared to Central Asia and the Eastern Europe, Caucasus, and Central Asia region(ECCCA). Thus, the intensity of environmental resource use remains high, which implies pressures on natural capital and delays sustainable economic development.
                li
                  | Carbon emissions between 1990-2020 remained below 125 mln tonnes with slight annual variation. Uzbekistan accounts for only 0.3% of world carbon emissions and is 20 times less emitter than the average in the Eastern Europe, Caucasus, and Central Asia (EECCA) region. It is, however, above the average emission in Central Asia. The relative stability of CO2 emissions combined with growth in the gross domestic product (GDP) resulted in increased carbon productivity to USD 2.39 per kg of CO2 emitted in 2020 Vs USD 0.6 in 1990. The higher carbon productivity shows that economic growth decoupled from CO2 emissions. Despite this progress, Uzbekistan&apos;s CO2 productivity remains lower than the ECCA region average (USD 2.5) and CA average (USD 2.9) in 2020.
                li
                  | The country total primary energy supply (TPES) increased slightly in the last three decades, and in 2021, the energy supply reached 49.2 mln tonnes of oil equivalent (toe). Though the supply is higher than the average for CA, it is 280 times lower than the world average in 2020.
                li
                  | Although generally increasing since 2016, renewables play a minor role (below 2%) in the energy mix of Uzbekistan which is significantly lower than the CA average (15%). The share of renewables in electricity generation increased to 9% (over 90% hydroelectric) in 2022. The development of renewables is slow, despite the high potential for solar energy.
                li
                  | The energy productivity (economic benefit per toe energy used) increased to USD 5,798 in 2020, vs USD 1,643 per toe in 1990, showing that Uzbekistan is improving its energy efficiency, higher than the ECCA region. Nonetheless, Uzbekistan&apos;s energy productivity is lower than the CA average (USD 6,744), the lowest next to Turkmenistan in 2020.
                li
                  | Uzbekistan&rsquo;s energy intensity of GDP has been declining, but it remains one of the world&apos;s most energy intense countries (8th in 2022). In 2021 the energy intensity was 0.14 koe per USD, declining from 1.03 koe per USD in 2000. About 45% of the energy is consumed by buildings (residential and commercial), while industry consumes 21% and transport 18%.
                li
                  | Water productivity in the economy increased to 2 USD per m3 of water used in 2020, compared to 0.48 USD in 1994. Despite this progress, the level of productivity remains one of the lowest compared to the European and Central Asia (ECA) region (43 USD/m3) and the world (21 USD/m3).
                li
                  | The material productivity in the economy (output generated from using a given amount of metal, non-metal, and biomass material) increased to USD 0.9/kg in 2019 from USD 0.4 in 1992, showing a slight increase in material use efficiency. The value is the third largest in CA.
                li
                  | Waste generation is rising. In 2021, Uzbekistan generated around six mln tonnes of household solid waste, amounting to 165 kg per capita, but less than the world&apos;s 290 kg per capita. Regular waste collection services cover only half of the population (2018). Although the rate of solid waste recycling improved from 1.4 mln in 2019 to 1.7 mln tonnes in 2021, it is only 26%.
                li
                  | Fertiliser consumption (chemical fertiliser used per hectare of cropland) increased in Uzbekistan, leading to a rise in excess fertiliser per hectare (ha) of cropland. It increased from 163kg/ ha in 1992 to 254.5kg/ha in 2020 and was 75% higher than the world average (146 kg/ ha).
            .swiper-slide.key_findings
              h2 The natural asset base of Uzbekistan&apos;s economy needs more protection. 
              ul
                li
                  | Despite that the share of agricultural land declined to 58% of land area in 2020, from 65% of land area in 1990, Uzbekistan&apos;s land area is predominantly agricultural. The arable/cultivated land declined from 3.4 mln ha in 2000 to 3.2 mln ha (12.5% of the agricultural land in 2020). However, land degradation due to inappropriate irrigation and poor pastureland and manure management is a major problem in agriculture, costing 4.6% of GDP equivalent in 2022. The cost includes the loss of agriculture productivity, increased soil erosion, reduced water availability, and loss of carbon sequestration and ecosystem services.
                li
                  | Though organic farming areas in Uzbekistan have increased since 2010, it offers only a modest contribution to the sector. The land coverage of certified organic farming areas is negligible- 200 000 ha (5%) in 2019. Nevertheless, Uzbekistan is one of Central Asia&apos;s leading organic farming countries.
                li
                  | Uzbekistan has limited freshwater  resources from Amu Darya and Syr Darya, which originate outside the country and are shared with neighbouring CA countries. The amount of water withdrawn annually increased to 59 bln m3 in 2019 from 54 bln m3 in 1995, making the country one of the most water-stressed countries globally. The water stress level (the ratio of water uses relative to water availability) significantly increased in the last two decades (69% in 2021 Vs 51 in 2000). The agriculture sector uses over 90% of the freshwater withdrawn. Despite the water stress, 40% of agricultural water is lost due to outdated irrigation infrastructure. Uzbekistan is implementing various measures to mitigate water stress, such as improving water management practices, implementing more efficient irrigation systems, and investing in water conservation efforts.
                li
                  | The share of forest area slightly increased to 8.4% (12 mln ha) of the land area in 2020, compared to 8% of land in 2014 and was the second largest in CA. Despite the increase, it is four times lower than the share in ECA (38.5%). The recent available data on the volume of forest tree stocks also increased to 76 mln m3 in 2015 from 72 mln m3 in 1990.
                li
                  | Protected areas increased to 3.5 mln ha (8% of the land area) in 2021, Vs 0.8 mln ha in 2011. Despite the expansion of biodiversity in protected areas, 52 species of all known animal and plant species in the country were threatened with extinction by 2018 due to climate change, overgrazing, hunting, and poaching.
                li
                  | Uzbekistan ranks 11th in natural gas production and 14th in reserves globally. The natural gas reserves are forecasted to last for 20-30 years. The gap between production and demand for natural gas has increased yearly despite increased natural gas production reaching 54 bln m3 in 2021. Natural gas losses pose a significant challenge in Uzbekistan due to outdated infrastructure.
            .swiper-slide.key_findings
              h2 Some GGIs in quality of life for people are improving, while challenges remain. 
              ul
                li
                  | Air pollution is declining as of 2014, reaching 909 thousand tonnes of pollutants in 2021, Major pollutants are dust particles, vehicle emissions, and industrial emissions. Though the particulate matter (PM2.5) concentration in the air is less than the world&apos;s 43&micro;g/m3 and is on a declining trend, it is still above the WHO unhealthy level of 35&micro;g/m3 making Uzbekistan one of the most polluted countries (12th) in the world in 2021.
                li
                  | Exposure of the population to PM2.5 exceeding 35 &micro;g/m3 declined to 56% in 2019 Vs 81% of the population in 2011. Nonetheless, the exposure level is five times higher than the World average 10% of the population.
                li
                  | Mortality and welfare costs due to air pollution show an increasing trend. Annually, over 750 people per mln inhabitants are estimated to die prematurely due to exposure to outdoor air pollution, positioning the country above the world average of 645 people in 2019. The annual welfare cost due to exposure to air pollution represents 8.7% of the GDP equivalent vs 6.4% for the ECCA region in 2019. Deaths related to outdoor air pollution are the third highest globally.
                li
                  | The access topublic safe drinking water supply declined to 72% of houses in 2022 Vs 82% in 2010. The outdated water supply infrastructure, increased population growth and housing are  the reasons for the declining access. There is high inequality between cities and rural areas. Although over 97% of Tashkent houses have access to safe drinking water, it is still a challenge in rural areas.
                li
                  | Uzbekistan had some progress in expanding public sewerage systems. Nevertheless, less than half (48%) of households are connected to a sewerage system in 2022, and there is inequality between regions. While all residents in Tashkent are connected to sewerage, only 16% of households are connected in the Karakalpakstan region.
            .swiper-slide.key_findings
              h2
                | More economic opportunities need to be tapped in the transition to the green economy.
              ul
                li
                  | Though no recent data is available (in the last five years) on environmentally friendly technologies, the previous trend shows that Uzbekistan started investing in environmental technologies in the early 1990s. Over 15% of the innovations in Uzbekistan in 2018 were environment-related (higher than the world&apos;s 10%); contributing to 0.01% of world environment-related inventions. Technologies per capita were 0.02 and lower than the world average of 4.9 per person.
                li
                  | Environmental expenditures are generally showing an upward trend but are small. On average, environmental expenditure accounted for only 0.06% of total government expenditures or 0.02% of GDP in 2012&ndash;2019. The value can be underestimated as Uzbekistan lacks systematic budget tagging for &apos;green&apos; expenditures and revenues and thus making it hard to assess all the green investments. Expenditure, however, dropped and was only 0.1% of the total in 2022, mainly due to increased post-COVID recovery expenditures, showing that environmental expenditures are sacrificed for other policy priorities.
                li
                  | Environmental revenues in the state budget increased from 0.01% in 2015 to 1% in 2018, with the lion&apos;s share (44%) generated from solid waste pollution fees. The revenues from pollution fees have increased, amounting to UZS 14.1 bln in 2018, compared to UZS 3.2 bln in 2010. The revenue increase reflects the cumulative effect of speeding economic activity, consequently increasing emissions and discharges of pollutants, and a doubling of tax rates/fees in 2017, when revenues increased by 56% compared to 2016. The report cannot assess the recent trends due to a lack of access to up-to-date data.
                li
                  | Energy subsidies are gradually declining. Energy subsidies take the form of tax relief on gas, oil and electricity production for households. Subsidies for fossil fuels amounted to USD 3.8 bln (6.6% of the GDP) in 2020 and were reduced by 60% of the 2010 level.
                li
                  | Tariffs for energy resources do not represent the production cost and are debated constantly due to social protection policies for low-income populations. Though water tariff levels have increased, it is still subsidised and does not cover the operational cost. The price of water is higher in regions compared to Tashkent city, and the rates vary by region, the consumer residence type, as well as the availability of water. Similarly, electric tariffs increased, but Uzbekistan set various tariff schemes as of 2019 for different categories of consumers. Thus, the tariff for commercial consumers was 30% to 50% more than residential use tariffs.
            .swiper-slide.key_findings
              h2 Main socio-economic characteristics in Uzbekistan are promising.
              ul
                li
                  | The economy has steadily grown by 6% annually in the last decade. Despite double-digit inflation at an average rate of 11% in the last three years, Uzbekistan&apos;s real GDP per capita increased to UZS 4.6 million in 2022 (1 USD= 11,000 UZS), from UZS 2.8 million in 2010 (1 USD=1700 UZS).
                li
                  | Uzbekistan&apos;s trade openness increased. It is a net importer of goods and services as of 2016. The total import value increased by USD 25 billion in 2021, while the export value was USD 16 billion.
                li
                  | The population is growing annually at 1.6% despite negative net external migration. The population was over 35 million in 2022, with 54% of the population below 30, with increasing demographic dividend opportunities. The share of the employed labour force increased and was about 70% of the labour force in 2021. The primary employers are the service (51%), followed by the industry (25%) and the agriculture (24%) sectors.
                li
                  | Enrolment in tertiary institutions increased to only 21% in 2021, despite achieving 100% gross enrolment rates in primary and secondary education.
            .swiper-slide.key_findings
              h2
                | Uzbekistan did well in terms of achieving some of the strategic targets set for 2022 in the green growth strategic framework for 2030
              ul
                li
                  | Uzbekistan exceeded its target of reducing energy intensity by 5% in 2022, set in the national Programme on the green economy transition. energy intensity declined by 12.6% compared to 2021; It overachieved the 2022 target of 8% share of renewable sources in total electricity generation by 0.8 percentage points; and exceeded the construction of new solar panel capacity targets (10 MW) for 2022 by five times more. In addition, the proportion of houses that access drinking water was 27% higher than the target (69.7%) set for 2022.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/federal_ministry_for_the_environment.png', alt='federal ministry for the Environment')
            li
              img(src='/static/images/iki.jpg', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Contacts:
            p
              | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
            p Email: cpro@wiut.uz
            p Phone:+998 71 238 74 48
          .rights
            p
              | This site was created with the financial support of the European Union. The opinions expressed in this document may in no case be considered as a reflection of the official opinions of the European Union, its members or the governments of the Eastern Partnership countries. This site, as well as all content contained therein, is without prejudice to the status or sovereignty of any territory, the delimitation of international borders and frontiers, and the name of any territory, city or region.
            i (c) 2023. All rights reserved.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')