doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan veb-portali
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a(href='/') Eng
            a.active(href='/uz') UZB
          p 2023 Edition
        .poster
          h1 GGI Uzbekistan veb-portali
          h2
            | O‘zbekistonda iqtisodiyotni yashillashtirish: 2023 yildagi o‘yin holati: OECD Yashil o‘sish ko‘rsatkichlari asosida taraqqiyot monitoringi
          a(href='/home_uz') Batafsil ma'lumot uchun portalga tashrif buyuring
      section.two
        h1 Loyiha haqida
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Foreword
              p text
              ul 
                li text
                li text
                li text
              p text
              ul 
                li
                  | text
                li
                  | text
              p text
              ul
                li 
                  | text
                li
                  | text
                li
                  | text
              p text
            .card.swiper-slide
              h2 Acknowledgement
              p text
              p text
              p text
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Main Findings
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2
                | text
              ul
                li
                  | text
                li
                  | text
            .swiper-slide.key_findings
              h2 text
              ul
                li
                  | text
                li
                  | text
                li
                  | text
                li
                  | text
            .swiper-slide.key_findings
              h2 text
              ul
                li
                  | text
                li
                  | text
                li
                  | text
            .swiper-slide.key_findings
              h2
                | text
              ul
                li
                  | text
                li
                  | text
                li
                  | text
            .swiper-slide.key_findings
              h2 text
              ul
                li
                  | text
            .swiper-slide.key_findings
              h2
                | text
              ul
                li
                  | text
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Contacts:
            p
              | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
            p Email: cpro@wiut.uz
            p Phone:+998 71 238 74 48
          .rights
            p
              | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
            i (c) 2023. All rights reserved.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')