doctype html
html(lang='uz')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan veb-portali
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a(href='/') Eng
            a.active(href='/uz') UZB
          p 2023 yil nashri
        .poster
          h1 GGI Uzbekistan veb-portali
          h2
            | O‘zbekistonda iqtisodiyotni yashillashtirish: 2023 yildagi o‘yin holati: OECD Yashil o‘sish ko‘rsatkichlari asosida taraqqiyot monitoringi
          a(href='/home_uz') Batafsil ma'lumot uchun portalga tashrif buyuring
      section.two
        h1 Loyiha haqida
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Muqaddima
              p 2022 yil dekabr oyida O'zbekiston Respublikasi Prezidenti "yashil o'sish" strategik dasturini va 2030 yilga kelib "yashil" iqtisodiyotga o'tish bo'yicha harakatlar rejasini tasdiqladi. Harakatlar rejasi sakkizta milliy ko'rsatkich va "yashil" o'sish maqsadlarini o'z ichiga oladi, ular orqali iqtisodiyot va moliya vazirligi taraqqiyotni kuzatib boradi. Shu nuqtai nazardan, ushbu hisobot to'rtta asosiy savolga javob berishga yordam beradi:
              ul 
                li • O'zbekiston tabiiy resurslar va ekologik xizmatlardan foydalanishda samaraliroqmi?
                li • O'zbekiston iqtisodiyotining tabiiy aktivlari bazasi saqlanib qoladimi?
                li • Iqtisodiy o'sishni ko'kalamzorlashtirish O'zbekiston aholisining hayot sifatini yaxshilashga yordam beradimi?
                li • Qanday qilib o'sishni ko'kalamzorlashtirish O'zbekistonda iqtisodiy imkoniyatlar yaratmoqda?
              p 
                | Ushbu hisobotda olingan natijalar" yashil " o'sish yo'nalishidagi bir nechta ijobiy tendentsiyalarni ochib beradi:
              ul 
                li • Uglerod, energiya, materiallar va suvning unumdorligi oshib bormoqda, bu esa chiqindilarni kamaytirishga va iqtisodiy o'sish bilan bir qatorda energiya va resurslardan yanada samarali foydalanishga olib keladi.
                li • O'rmonlar va qo'riqlanadigan tabiiy hududlarning ulushi ortib bormoqda va qishloq xo'jaligi erlarining umumiy er maydonidagi ulushi kamaymoqda.
              p 
                | Erishilgan yutuqlarga qaramay, bir qator muammolar davom etmoqda:
              ul 
                li • 2021 yilda energiya ta'minoti tarkibida 99% qayta tiklanmaydigan qazilma yoqilg'i ustunlik qildi.
                li • Suv stressi darajasi yuqori va o'sishda davom etmoqda.
                li • Ishlab chiqarilgan qattiq chiqindilarning faqat to'rtdan bir qismi qayta ishlanadi.
                li • Havoning ifloslanishi dunyodagi eng kuchli narsalardan biridir
            .card.swiper-slide
              h2 Minnatdorchilik
              p Monitoring hisoboti Toshkentdagi Vestminster xalqaro universiteti (WIUT), iqtisodiyot va moliya vazirligi (IEF) va O'zbekiston Respublikasi Prezidenti huzuridagi statistika agentligi (SA) tomonidan "yashil" iqtisodiyot yo'lida ishonchli monitoring tizimini yaratish bo'yicha birgalikdagi sa'y-harakatlari natijasidir.
              p Hisobot xalqaro iqlim tashabbusi (IKI) doirasida Germaniya atrof-muhit, tabiatni muhofaza qilish va yadroviy reaktorlar xavfsizligi federal vazirligi tomonidan moliyalashtirilgan OECDning "Sharqiy sheriklik va Markaziy Osiyo mamlakatlarida yashil iqlim investitsiyalari uchun rag'batlantirish va salohiyat tizimini takomillashtirish "loyihasi doirasida tayyorlangan. Loyihani izabela Noyveg (OECD) boshqargan. WIUT uchun bu ish 2021-yilda boshlangan OECDning O'zbekistonning COVID-19 ni "yashil" qayta tiklash borasidagi sa'y-harakatlarini qo'llab-quvvatlash bo'yicha loyihasining davomi bo'lib, u "yashil" iqtisodiyotga qo'shimcha hissa qo'shishga yo'l ochdi.
              p Monitoring hisoboti ichki ishlar vazirligining Bahrom Mirkasimov (rektor) va Etenesh B. Asfav (amaliy tadqiqotlar markazining katta ilmiy xodimi) boshchiligidagi ekspertlar guruhi tomonidan tayyorlangan. Tadqiqot guruhi tarkibiga Etenesh Asfav, Nargiza Alimuhamedova, Omonjon G'aniyev, Zagit Asqarov, Axtem Useynov, Angelo Battalya, Kamilla Sultonova va Abdulaziz Dusbabayev kirdi. Ish Izabella Noyveg, Irina Belkaxiya va Kshishtof Mixalak ( OECD atrof-muhit bo'yicha butun direktsiyasi) rahbarligida amalga oshirildi.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Asosiy jihatlari
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 Veb-Portal tuzilishi
              ul
                li
                  | • Kirish - OECDning yashil o'sish ko'rsatkichlari metodologiyasi va tizimini tavsiflaydi.
                li
                  | • 1-guruh - O'zbekiston iqtisodiyotining ijtimoiy-iqtisodiy konteksti va o'sish xususiyatlarini ifodalaydi.
                li
                  | • 2-guruh - O'zbekistonda iqtisodiy faoliyatni amalga oshirishda energiya, boshqa tabiiy resurslar, materiallar va ekologik xizmatlardan foydalanish samaradorligini ko'rib chiqadi.
                li
                  | • 3-guruh - O'zbekistonning tabiiy boyliklari bazasi saqlanib qoladimi yoki yo'qmi degan savolni ko'rib chiqmoqda.
                li
                  | • 4-guruh - hayot sifatining ekologik o'lchovini taqdim etadi va atrof-muhit sharoitlari va xatarlari O'zbekiston aholisi farovonligi bilan qanday o'zaro ta'sir qilishini ko'rsatadi.
                li
                  | • 5-guruh - O'zbekistonda "yashil" o'sishning iqtisodiy imkoniyatlari va siyosatning javob choralarini aks ettiradi.
            .swiper-slide.key_findings
              h2 Hisobotdan asosiy xulosalar
              ul
                li
                  | • O'zbekiston tabiiy resurslar va ekologik xizmatlardan foydalanishda yanada samarali bo'lmoqda, biroq tabiiy kapitalga yuklanish davom etmoqda.
                li
                  | • O'zbekiston iqtisodiyotining tabiiy aktivlari qo'shimcha yordamga muhtoj.
                li
                  | • Aholining hayot sifatining ba'zi ko'rsatkichlari yaxshilanmoqda, ammo muammolar saqlanib qolmoqda.
                li
                  | • Yashil iqtisodiyotga o'tishda ko'proq iqtisodiy imkoniyatlardan foydalanish kerak.
                li
                  | • O'zbekistonning asosiy ijtimoiy-iqtisodiy xususiyatlari istiqbolli.
                li
                  | • O'zbekiston "yashil" iqtisodiyotga o'tish dasturi va harakatlar rejasida 2022 yilga belgilangan ba'zi strategik maqsadlarga erishishda yaxshi natijalarga erishdi.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Kontaktlar:
            p
              | Westminster International University in Tashkent, 12 Istiqbol ko'chasi, Toshkent 100047
            p Elektron pochta: cpro@wiut.uz
            p Telefon:+998 71 238 74 48
          .rights
            p
              | Platforma Germaniyaning atrof-muhitni muhofaza qilish, Tabiatni muhofaza qilish, yadro xavfsizligi va iste'molchilar huquqlarini himoya qilish Federal vazirligining (BMUV) xalqaro iqlim tashabbusi orqali taqdim etilgan moliyaviy ko'magi bilan tayyorlangan.
            i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')