doctype html
html(lang='uz')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan veb-portali
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a(href='/') Eng
            a.active(href='/uz') UZB
          p 2023 yil nashri
        .poster
          h1 GGI Uzbekistan veb-portali
          h2
            | O‘zbekistonda “yashil” iqtisodiyotga o‘tish: 2023 yildagi vaziyat: IHTT yashil o‘sish ko‘rsatkichlari asosida taraqqiyot monitoringi
          a(href='/home_uz') Batafsil ma'lumot uchun portalga tashrif buyuring
      section.two
        h1 Loyiha haqida
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Muqaddima
              p 2022-yil dekabr oyida O‘zbekiston Respublikasi Prezidenti "yashil o‘sish" Strategik bazaviy dasturini va 2030-yilga borib "yashil iqtisodiyot"ga o‘tish bo‘yicha Harakatlar rejasini tasdiqladi. Harakatlar rejasi Iqtisodiyot va moliya vazirligi taraqqiyotni kuzatib boradigan sakkizta milliy YAO‘K va maqsadli ko‘rsatkichlarni o‘z ichiga oladi. Shu nuqtai nazardan, ushbu hisobot quyidagi to‘rtta asosiy savolga javob berishga yordam beradi:
              ul 
                li • O‘zbekistonning tabiiy resurslar va ekologik xizmatlardan foydalanish samaradorligi oshmoqdami?
                li • O‘zbekiston iqtisodiyotining tabiiy bazasi qo‘llab-quvvatlanadimi?
                li • “yashil” Iqtisodiyotga o‘tish O‘zbekistonda odamlarning hayot sifatini yaxshilashga yordam beradimi?
                li • Ekologik o‘sish O‘zbekistonda qay tarzda iqtisodiy imkoniyatlarni yaratmoqda?
              p 
                | Ushbu hisobotdagi natijalar yashil o‘sish yo‘nalishidagi bir nechta ijobiy tendensiyalarni ochib beradi:
              ul 
                li • Uglerod chiqindilari, energiya, materiallar va suv bo‘yicha samaradorlik oshib bormoqda, bu esa chiqindilarni kamaytirishga va iqtisodiy o‘sish bilan bir qatorda energiya va resurslardan yanada samarali foydalanishga olib keladi.
                li • O‘rmonlar va qo‘riqlanadigan tabiiy hududlarning ulushi ortib bormoqda, shu bilan birga, umumiy yer maydonida qishloq xo‘jaligi yerlarining ulushi kamaymoqda.
              p 
                | Erishilgan yutuqlarga qaramay, quyidagi bir qator muammolar saqlanib qolmoqda: 
              ul 
                li •  Qayta tiklanmaydigan qazilma yoqilg‘ilar ulushi 2021-yilda energiya ta’minoti tuzilmasining 99%  tashkil etgan.
                li •  Suv stressi darajasi yuqori va o‘sishda davom etmoqda. 
                li •  Hosil bo‘lgan qattiq chiqindilarning faqat to‘rtdan bir qismi qayta ishlanadi.
                li •  Havoning ifloslanish darajasi dunyoda eng yuqori ko‘rsatkichlaridan biri hisoblanadi.
            .card.swiper-slide
              h2 E‘tirof 
              p Monitoring hisoboti Toshkent shahridagi Xalqaro Vestminster universiteti (TXVU), Iqtisodiyot va moliya vazirligi (IMV) va O‘zbekiston Respublikasi Prezidenti Huzuridagi Statistika Agentligi (SA) "yashil" iqtisodiyot yo‘lida ishonchli monitoring tizimini yaratish bo‘yicha birgalikdagi sa’y-harakatlari natijasidir.
              p Hisobot IHTTning Germaniya Atrof-muhit, tabiatni muhofaza qilish va yadro xavfsizligi federal vazirligining moliyaviy ko‘magi bilan uning Xalqaro iqlim tashabbusi (XIT) doirasida Sharqiy sheriklik va Markaziy Osiyo mamlakatlarida ekologiya-iqlim bilan bog‘liq investisiyalarni rag‘batlantirish mexanizmlari va salohiyatini takomillashtirish loyihasi doirasida ishlab chiqilgan. Loyihaga Izabella Noyveg (IHTT) rahbarlik qilgan. TXVU uchun ushbu ish 2021-yilda boshlangan IHTT loyihasining davomi bo‘lib, u "yashil" iqtisodiyotga yanada ko‘proq hissa qo‘shish uchun yo‘l ochgan O‘zbekistonning COVID-19 dan keyin "yashil" tiklanish bo‘yicha sa’y-harakatlarini qo‘llab-quvvatlashga qaratilgan.
              p Monitoring hisoboti TXVU ekspertlari guruhi tomonidan Bahrom Mirqosimov (rektor) va Etenesh B. Asfau (Siyosiy tadqiqotlar va targ‘ibot ishlari markazining katta ilmiy xodimi) rahbarligida tayyorlangan. Tadqiqot guruhiga Etenesh Asfau, Nargiza Alimuhamedova, Omonjon Gʻaniyev, Zohid Asqarov, Axtem Useinov, Angelo Battalya, Kamilla Sultonova va Abdulaziz Dusbabayev kirdilar. Ishni Izabella Noyveg, Irina Belkaxiya va Kshishtof Mixalak (IHTTning atrof-muhit bo‘yicha barcha direktorlari) boshqardilar. 
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Asosiy jihatlari
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 Veb-Portal tuzilishi
              ul
                li
                  | • Kirish - IHTT (OECD) yashil o'sish ko'rsatkichlari uslubiyoti va tuzilishi tavsiflangan.
                li
                  | • 1-guruh - O‘zbekiston iqtisodiy o‘sishining ijtimoiy-iqtisodiy konteksti va xususiyatlari keltirilgan.
                li
                  | • 2-guruh - O‘zbekiston iqtisodiy faoliyatida energiya, boshqa tabiiy resurslar, materiallar va ekologik xizmatlardan foydalanish samaradorligi ko‘rib chiqiladi.
                li
                  | • 3-guruh - O‘zbekistonning tabiiy zaxiralari saqlanib qoladimi yoki yo‘qmi degan savol ko‘rib chiqiladi.
                li
                  | • 4-guruh - hayot sifatining ekologik jihatlari tahlil qilingan hamda ekologik shart-sharoitlar va xavf-xatarlarning O‘zbekiston aholisi farovonligiga qanday ta’sir qilishi ko‘rsatilgan.
                li
                  | • 5-guruh - O‘zbekistonning "yashil" o‘sishining iqtisodiy imkoniyatlari va siyosatning javob choralari ko‘rib chiqiladi.
            .swiper-slide.key_findings
              h2 Hisobotdan asosiy xulosalar
              ul
                li
                  | • O‘zbekiston tabiiy zaxiralar va ekologik xizmatlardan foydalanishda tobora samarali bo‘lib bormoqda, ammo tabiiy kapitalga nisbatan bosim saqlanib qolmoqda.
                li
                  | • O‘zbekiston iqtisodiyotining tabiiy zaxiralari bazasi qo‘shimcha qo‘llab-quvvatlanishga muhtoj.
                li
                  | • Aholi hayot sifatining ba’zi ko‘rsatkichlari yaxshilanmoqda, shu bilan birga muammolar saqlanib qolmoqda. 
                li
                  | • "Yashil iqtisodiyot"ga o‘tishda ko‘proq iqtisodiy imkoniyatlardan foydalanish kerak.
                li
                  | • O‘zbekistonning asosiy ijtimoiy-iqtisodiy xususiyatlari istiqbolli.
                li
                  | • O‘zbekiston 2022-yilda "yashil iqtisodiyot"ga o‘tish dasturi va harakatlar rejasida belgilangan ba’zi strategik maqsadlarga erishishda muvaffaqiyat qozondi. 
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Kontaktlar:
            p
              | Westminster International University in Tashkent, 12 Istiqbol ko'chasi, Toshkent 100047
            p Elektron pochta: cpro@wiut.uz
            p Telefon:+998 71 238 74 48
          .rights
            p
              | Platforma Germaniyaning atrof-muhitni muhofaza qilish, Tabiatni muhofaza qilish, yadro xavfsizligi va iste'molchilar huquqlarini himoya qilish Federal vazirligining (BMUV) xalqaro iqlim tashabbusi orqali taqdim etilgan moliyaviy ko'magi bilan tayyorlangan.
            i © 2023. Barcha huquqlar himoyalangan.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')