doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title Веб-портал GGI Узбекистан
  body
    .container
      section.one
        nav
          div
            a.active(href='/ru') Ru
            a(href='/') Eng
            a(href='/uz') UZB
          p 2023 Edition
        .poster
          h1 Веб-портал GGI Узбекистан
          h2
            | Экологизация экономики в Узбекистане: состояние дел в 2023 году: мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
          a(href='/home_ru') Посетите портал, чтобы узнать больше
      section.two
        h1 О проекте
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Предисловие
              p text
              ul 
                li
                  | text
                li 
                  | text
                li 
                  | text
                li 
                  | text
              p
                | text
              ul 
                li
                  | text
                li
                  | text
              p text
              ul 
                li
                  | text
                li
                  | text
                li
                  | text
            .card.swiper-slide
              h2 признание и предыстория
              p text 
              p text
              p text
              p text
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Главные находки
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 text
              ul
                li text
                li text
            .swiper-slide.key_findings
              h2 text
              ul
                li text
                li text
                li text
            .swiper-slide.key_findings
              h2 text
              ul
                li text
                li text
                li text
            .swiper-slide.key_findings
              h2
                | text
              ul
                li
                  | text
                li
                  | text
                li
                  | text
                li
                  | text
            .swiper-slide.key_findings
              h2 text
              ul
                li text
            .swiper-slide.key_findings
              h2
                | text
              ul
                li
                  | text
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Контакты:
            p
              | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
            p Электронная почта: cpro@wiut.uz
            p Телефон:+998 71 238 74 48
          .rights
            p
              | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
            i (c) 2023 г. Все права защищены.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')