doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title Веб-портал GGI Узбекистан
  body
    .container
      section.one
        nav
          div
            a.active(href='/ru') Ru
            a(href='/') Eng
            a(href='/uz') UZB
          p Выпуск 2023 г.
        .poster
          h1 Веб-портал GGI Узбекистан
          h2
            | Озеленение экономики в Узбекистане: состояние дел в 2023 году: Мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
          a(href='/home_ru') Посетите портал, чтобы узнать больше
      section.two
        h1 О проекте
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Предисловие
              p В декабре 2022 года Президент Республики Узбекистан утвердил Стратегическую программу "Зеленый рост" и План действий по переходу к "зеленой" экономике к 2030 году. План действий включает восемь национальных показателей и целей "зеленого" роста, по которым Министерство экономики и финансов будет отслеживать прогресс. В этом контексте настоящий отчет помогает ответить на четыре основных вопроса:
              ul 
                li • Становится ли Узбекистан более эффективным в использовании природных ресурсов и экологических услуг?
                li • Сохраняется ли база природных активов экономики Узбекистана?
                li • Способствует ли экологизация экономического роста повышению качества жизни населения Узбекистана?
                li • Каким образом экологизация роста создает экономические возможности в Узбекистане?
              p 
                | Результаты, полученные в данном отчете, выявляют несколько положительных тенденций в направлении "зеленого" роста:
              ul 
                li • Производительность углерода, энергии, материалов и воды растет, что приводит к сокращению выбросов и более эффективному использованию энергии и ресурсов наряду с экономическим ростом.
                li • Доля лесов и охраняемых природных территорий увеличивается, а доля сельскохозяйственных угодий в общей площади земель сокращается.
              p 
                | Несмотря на достигнутый прогресс, по-прежнему сохраняется ряд проблем:
              ul 
                li • В 2021 году в структуре энергоснабжения на 99% преобладало невозобновляемое ископаемое топливо.
                li • Уровень водного стресса высок и продолжает расти.
                li • Только четверть производимых твердых отходов перерабатывается.
                li • Загрязнение воздуха - одно из самых сильных в мире
            .card.swiper-slide
              h2 Признательность
              p Отчет о мониторинге является результатом совместных усилий Вестминстерского международного университета в Ташкенте (МВУТ), Министерства экономики и финансов (МЭФ) и Агентства по статистике, направленных на создание надежной системы мониторинга на пути к "зеленой" экономике. Отчет подготовлен в рамках проекта ОЭСР "Совершенствование системы стимулов и потенциала для "зеленых" климатических инвестиций в странах Восточного партнерства и Центральной Азии" при финансовой поддержке Федерального министерства окружающей среды, охраны природы и безопасности ядерных реакторов Германии в рамках Международной климатической инициативы (IKI). Руководила проектом Изабелла Нойвег (ОЭСР). Для МВУТ эта работа является продолжением начатого в 2021 году проекта ОЭСР по поддержке усилий Узбекистана по "зеленому" восстановлению COVID-19, который проложил путь к дальнейшему вкладу в "зеленую" экономику.
              p Отчет о мониторинге был подготовлен группой экспертов из МВУТ под руководством Бахрома Миркасимова (ректор) и Этенеш Б. Асфав (старший научный сотрудник Центра прикладных исследований). В состав исследовательской группы вошли Этенеш Асфав, Наргиза Алимухамедова, Омонжон Ганиев, Зохид Аскаров, Ахтем Усейнов, Анджело Батталья, Камилла Султанова и Абдулазиз Дусбабаев. Работа выполнялась под руководством Изабеллы Нойвег, Ирины Белкахия и Кшиштофа Михалака ( весь Директорат по окружающей среде ОЭСР).
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Главные выводы
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 Узбекистан становится более эффективным в использовании природных ресурсов и экологических услуг, но нагрузка на природный капитал сохраняется
              ul
                li
                  | • По общему объему выбросов парниковых газов (ПГ) Узбекистан занимает второе место в Центральной Азии после Казахстана, а по объему выбросов на единицу валового внутреннего продукта (ВВП) - пятое место в мире
                li
                  | • Энергоемкость ВВП в последние годы снижается, но остается одной из самых высоких в мире
                li
                  | • Возобновляемые источники энергии, такие как ветровая и солнечная энергия, играют незначительную роль (менее 2%) в энергобалансе Узбекистана, и их доля значительно ниже, чем в среднем по ЦА (15%)
                li
                  | • Производительность воды в экономике за последние 30 лет увеличилась в четыре раза и составила 2 долл. на каждый кубический метр (м3) использованной воды
                li
                  | • Материальная производительность в экономике (продукция, получаемая при использовании заданного количества металлических, неметаллических материалов и биомассы) за последние 30 лет выросла более чем в два раза. Это значение является третьим по величине в ЦА
                li
                  | • В 2021 году в Узбекистане было произведено в десять раз больше твердых бытовых отходов, чем пять лет назад. В 2021 году в стране образовалось около 6 млн. тонн твердых бытовых отходов, или 165 кг на душу населения
                li
                  | • В Узбекистане увеличился расход минеральных удобрений на гектар посевной площади, что привело к росту избытка удобрений на гектар посевной площади
            .swiper-slide.key_findings
              h2 Природные активы экономики Узбекистана нуждаются в дополнительном поддержании 
              ul
                li
                  | • Деградация земель из-за неправильного орошения, нерационального использования пастбищ и навоза является одной из основных проблем в Узбекистане
                li
                  | • С 2010 года органическое выращивание увеличилось, но составляет всего 0,004% сельскохозяйственных угодий
                li
                  | • Узбекистан является одной из наиболее вододефицитных стран мира. Уровень водного стресса, или соотношение используемой и доступной воды, за последние 20 лет значительно увеличился - с 50% до почти 70%.
                li
                  | • Площадь лесов и запасы деревьев увеличиваются. Леса составляют около 8% от общей площади суши, что более чем на 30% больше, чем в 2014 году
                li
                  | • В Узбекистане насчитывается более 40 охраняемых природных территорий. Они составляют 8% от общей площади территории, увеличившись за последние десять лет более чем на 300%.
                li
                  | • По объему природных ресурсов Узбекистан занимает 11-е место в мире по добыче природного газа и 14-е - по запасам.
            .swiper-slide.key_findings
              h2 Некоторые показатели качества жизни населения улучшаются, но проблемы остаются
              ul
                li
                  | • Узбекистан занимает 20-е место в мире по уровню загрязнения воздуха. Основными источниками загрязняющих веществ являются пылевые частицы, выхлопы транспортных средств и промышленные выбросы
                li
                  | • Доля населения, подвергающегося воздействию вредных для здоровья концентраций PM2.5, за последние десять лет снизилась примерно с 80% до 56%. Тем не менее, уровень воздействия на население более чем в пять раз превышает среднемировой показатель, составляющий 10%.
                li
                  | • Смертность и расходы на благосостояние, связанные с загрязнением воздуха, растут
                li
                  | • Доля домохозяйств, имеющих доступ к безопасному питьевому водоснабжению, за последние десять лет снизилась на 10% и составила около 70%, что связано с устаревшей инфраструктурой водоснабжения, ростом численности населения и строительством жилых домов, увеличивающих нагрузку на водопроводную сеть
                li
                  | • Узбекистан добился определенного прогресса в расширении систем коммунальной канализации. Тем не менее, в 2022 году менее половины (48%) жилищ были подключены к канализационной системе, и существует неравенство между регионами
            .swiper-slide.key_findings
              h2
                | При переходе к "зеленой" экономике необходимо задействовать больше экономических возможностей
              ul
                li
                  | • Данные об инвестициях в природоохранные технологии за последние пять лет отсутствуют. Однако предыдущая тенденция показывает, что Узбекистан инвестировал в природоохранные технологии с начала 1990-х годов
                li
                  | • Расходы на охрану окружающей среды в целом имеют тенденцию к росту, но остаются незначительными. В среднем за последние десять лет они составили всего 0,06% от общих государственных расходов или 0,02% от ВВП
                li
                  | • Доля поступлений от экологического налога в государственный бюджет в 2015-18 гг. оставалась неизменной и составляла в среднем 0,01%. Плата за сбор твердых бытовых отходов составляет 57% поступлений от экологического налога. Несмотря на отсутствие систематического учета всех экологических налогов, поступления от платы за загрязнение окружающей среды в целом выросли
                li
                  | • Субсидии на энергоносители постепенно снижаются, но остаются высокими
                li
                  | • Тарифы на использование энергоресурсов не отражают себестоимости их производства. Однако политика, защищающая малообеспеченные слои населения от экстремальных реформ цен на энергоносители
            .swiper-slide.key_findings
              h2 Основные социально-экономические характеристики Узбекистана являются перспективными
              ul
                li
                  | • В течение последних десяти лет ежегодный рост экономики составлял около 6%.
                li
                  | • Открытость торговли в Узбекистане увеличилась, и по состоянию на 2016 год он стал нетто-импортером товаров и услуг
                li
                  | • Ежегодный прирост населения составляет 1,6%, несмотря на отрицательную чистую внешнюю миграцию
                li
                  | • В 2021 году в высшие учебные заведения была зачислена лишь пятая часть студентов, имеющих право на обучение, по сравнению со 100%-ным валовым показателем охвата начальным и средним образованием.
            .swiper-slide.key_findings
              h2 Узбекистан добился хороших результатов в достижении некоторых стратегических целей, поставленных на 2022 год в программе и плане действий по переходу к "зеленой" экономике
              ul
                li • Узбекистан перевыполнил поставленную на 2022 год задачу по снижению энергоемкости на 5%: по сравнению с 2021 годом энергоемкость снизилась более чем на 10%
                li • Также на 0,8 процентных пункта перевыполнен целевой показатель на 2022 год, предусматривающий 8%-ную долю ВИЭ (возобновляемых источников энергии) в общем объеме производства электроэнергии. В пять раз превышен показатель строительства новых мощностей солнечных батарей в 10 мегаватт.
                li • Достигнута цель по увеличению доли жилищ, имеющих доступ к безопасной питьевой воде, примерно до 70%
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Контакты:
            p
              | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
            p Электронная почта: cpro@wiut.uz
            p Телефон:+998 71 238 74 48
          .rights
            p
              | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
            i (c) 2023 г. Все права защищены.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')