doctype html
html(lang='uz')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan veb-portali
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a(href='/') Eng
            a.active(href='/uz') UZB
          p 2023 yil nashri
        .poster
          h1 GGI Uzbekistan veb-portali
          h2
            | O‘zbekistonda iqtisodiyotni yashillashtirish: 2023 yildagi o‘yin holati: OECD Yashil o‘sish ko‘rsatkichlari asosida taraqqiyot monitoringi
          a(href='/home_uz') Batafsil ma'lumot uchun portalga tashrif buyuring
      section.two
        h1 Loyiha haqida
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Muqaddima
              p 2022 yil dekabr oyida O'zbekiston Respublikasi Prezidenti "yashil o'sish" strategik dasturini va 2030 yilga kelib "yashil" iqtisodiyotga o'tish bo'yicha harakatlar rejasini tasdiqladi. Harakatlar rejasi sakkizta milliy ko'rsatkich va "yashil" o'sish maqsadlarini o'z ichiga oladi, ular orqali iqtisodiyot va moliya vazirligi taraqqiyotni kuzatib boradi. Shu nuqtai nazardan, ushbu hisobot to'rtta asosiy savolga javob berishga yordam beradi:
              ul 
                li • O'zbekiston tabiiy resurslar va ekologik xizmatlardan foydalanishda samaraliroqmi?
                li • O'zbekiston iqtisodiyotining tabiiy aktivlari bazasi saqlanib qoladimi?
                li • Iqtisodiy o'sishni ko'kalamzorlashtirish O'zbekiston aholisining hayot sifatini yaxshilashga yordam beradimi?
                li • Qanday qilib o'sishni ko'kalamzorlashtirish O'zbekistonda iqtisodiy imkoniyatlar yaratmoqda?
              p 
                | Ushbu hisobotda olingan natijalar" yashil " o'sish yo'nalishidagi bir nechta ijobiy tendentsiyalarni ochib beradi:
              ul 
                li • Uglerod, energiya, materiallar va suvning unumdorligi oshib bormoqda, bu esa chiqindilarni kamaytirishga va iqtisodiy o'sish bilan bir qatorda energiya va resurslardan yanada samarali foydalanishga olib keladi.
                li • O'rmonlar va qo'riqlanadigan tabiiy hududlarning ulushi ortib bormoqda va qishloq xo'jaligi erlarining umumiy er maydonidagi ulushi kamaymoqda.
              p 
                | Erishilgan yutuqlarga qaramay, bir qator muammolar davom etmoqda:
              ul 
                li • 2021 yilda energiya ta'minoti tarkibida 99% qayta tiklanmaydigan qazilma yoqilg'i ustunlik qildi.
                li • Suv stressi darajasi yuqori va o'sishda davom etmoqda.
                li • Ishlab chiqarilgan qattiq chiqindilarning faqat to'rtdan bir qismi qayta ishlanadi.
                li • Havoning ifloslanishi dunyodagi eng kuchli narsalardan biridir
            .card.swiper-slide
              h2 Minnatdorchilik
              p Monitoring hisoboti Toshkentdagi Vestminster xalqaro universiteti (MVUT), iqtisodiyot va moliya vazirligi (IEF) va statistika agentligining yashil iqtisodiyot yo'lida mustahkam monitoring tizimini yaratishga qaratilgan birgalikdagi sa'y-harakatlari natijasidir. Hisobot xalqaro iqlim tashabbusi (IKI) doirasida Germaniya atrof-muhit, tabiatni muhofaza qilish va yadroviy reaktorlar xavfsizligi federal vazirligi tomonidan moliyalashtirilgan OECDning "Sharqiy sheriklik va Markaziy Osiyo mamlakatlarida yashil iqlim investitsiyalari uchun rag'batlantirish va salohiyat tizimini takomillashtirish "loyihasi doirasida tayyorlangan. Loyihani izabela Noyveg (OECD) boshqargan. MVUT uchun bu ish 2021-yilda boshlangan OECDning O'zbekistonning COVID-19 ni "yashil" tiklash bo'yicha sa'y-harakatlarini qo'llab-quvvatlash bo'yicha loyihasining davomi bo'lib, u "yashil" iqtisodiyotga yanada hissa qo'shishga yo'l ochdi.
              p Monitoring hisoboti ichki ishlar vazirligining Bahrom Mirkasimov (rektor) va Etenesh B. Asfav (amaliy tadqiqotlar markazining katta ilmiy xodimi) boshchiligidagi ekspertlar guruhi tomonidan tayyorlangan. Tadqiqot guruhi tarkibiga Etenesh Asfav, Nargiza Alimuhamedova, Omonjon G'aniyev, Zagit Asqarov, Axtem Useynov, Angelo Battalya, Kamilla Sultonova va Abdulaziz Dusbabayev kirdi. Ish Izabella Noyveg, Irina Belkaxiya va Kshishtof Mixalak ( OECD atrof-muhit bo'yicha butun direktsiyasi) rahbarligida amalga oshirildi.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Asosiy xulosalar
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 O'zbekiston tabiiy resurslar va ekologik xizmatlardan foydalanishda yanada samarali bo'lmoqda, biroq tabiiy kapitalga yuklanish davom etmoqda
              ul
                li
                  | • Issiqxona gazlari (ig) chiqindilarining umumiy hajmi bo'yicha O'zbekiston Markaziy Osiyoda Qozog'istondan keyin ikkinchi, yalpi ichki mahsulot (YAIM) birligiga to'g'ri keladigan emissiya hajmi bo'yicha dunyoda beshinchi o'rinda turadi
                li
                  | • So'nggi yillarda YaIMning energiya intensivligi pasayib bormoqda, ammo dunyodagi eng yuqori ko'rsatkichlardan biri bo'lib qolmoqda
                li
                  | • Shamol va quyosh energiyasi kabi qayta tiklanadigan energiya manbalari O'zbekiston energiya balansida ahamiyatsiz (2% dan kam) rol o'ynaydi va ularning ulushi Markaziy Afrika Respublikasi o'rtacha ko'rsatkichidan (15%)ancha past
                li
                  | • So'nggi 30 yil ichida iqtisodiyotda suv unumdorligi to'rt baravar oshdi va 2 dollarni tashkil etdi. har bir kubometr uchun (m3) ishlatilgan suv
                li
                  | • So'nggi 30 yil ichida iqtisodiyotdagi moddiy mahsuldorlik (ma'lum miqdordagi metall, metall bo'lmagan materiallar va biomassadan olingan mahsulotlar) ikki baravar oshdi. Bu qiymat Qirollik qiymati bo'yicha uchinchi o'rinda turadi
                li
                  | • 2021-yilda O'zbekistonda besh yil oldingiga qaraganda o'n baravar ko'p qattiq maishiy chiqindilar ishlab chiqarilgan. 2021 yilda mamlakatda 6 million tonnaga yaqin qattiq maishiy chiqindilar yoki aholi jon boshiga 165 kg hosil bo'lgan
                li
                  | • O'zbekistonda har gektar ekin maydoniga mineral o'g'itlar iste'moli oshdi, bu esa har gektar ekin maydoniga ortiqcha o'g'itlarning ko'payishiga olib keldi
            .swiper-slide.key_findings
              h2 O'zbekiston iqtisodiyotining tabiiy aktivlari qo'shimcha yordamga muhtoj
              ul
                li
                  | • Noto'g'ri sug'orish, yaylov va go'ngdan oqilona foydalanmaslik tufayli yerlarning degradatsiyasi O'zbekistondagi asosiy muammolardan biri hisoblanadi
                li
                  | • 2010 yildan beri organik etishtirish ko'paygan, ammo qishloq xo'jaligi erlarining atigi 0,004 foizini tashkil etadi
                li
                  | • O'zbekiston dunyodagi eng suv tanqis davlatlardan biri hisoblanadi. So'nggi 20 yil ichida suv stressi darajasi yoki ishlatilgan va mavjud bo'lgan suv nisbati sezilarli darajada oshdi - 50% dan deyarli 70% gacha.
                li
                  | • O'rmon maydoni va daraxt zaxiralari ko'paymoqda. O'rmonlar umumiy er maydonining taxminan 8% ni tashkil qiladi, bu 2014 yilga nisbatan 30% dan ortiq
                li
                  | • O'zbekistonda 40 dan ortiq muhofaza etiladigan tabiiy hududlar mavjud. Ular umumiy maydonning 8 foizini tashkil etadi, bu so'nggi o'n yil ichida 300 foizdan oshdi.
                li
                  | • Tabiiy resurslar hajmi bo'yicha O'zbekiston tabiiy gaz qazib olish bo'yicha dunyoda 11-o'rinni, zaxiralar bo'yicha esa 14-o'rinni egallaydi.
            .swiper-slide.key_findings
              h2 Aholining hayot sifatining ba'zi ko'rsatkichlari yaxshilanmoqda, ammo muammolar saqlanib qolmoqda
              ul
                li
                  | • O'zbekiston havo ifloslanishi bo'yicha dunyoda 20-o'rinni egallaydi. Ifloslantiruvchi moddalarning asosiy manbalari chang zarralari, transport vositalarining chiqindilari va sanoat chiqindilari
                li
                  | • PM2.5 ning zararli kontsentratsiyasiga duchor bo'lgan aholining ulushi so'nggi o'n yil ichida taxminan 80% dan 56% gacha kamaydi. Shunga qaramay, aholiga ta'sir qilish darajasi global o'rtacha 10% dan besh baravar ko'p.
                li
                  | • Havoning ifloslanishi bilan bog'liq o'lim va farovonlik xarajatlari ortib bormoqda
                li
                  | • So'nggi o'n yil ichida xavfsiz ichimlik suvi ta'minotidan foydalanish imkoniyatiga ega bo'lgan uy xo'jaliklarining ulushi 10% ga kamaydi va taxminan 70% ni tashkil etdi, bu eskirgan suv infratuzilmasi, aholi sonining ko'payishi va suv ta'minoti tarmog'idagi yukni oshiradigan turar-joy binolari qurilishi bilan bog'liq
                li
                  | • O'zbekiston kommunal kanalizatsiya tizimlarini kengaytirishda ma'lum yutuqlarga erishdi. Shunga qaramay, 2022 yilda uy-joylarning yarmidan kamrog'i (48%) kanalizatsiya tizimiga ulangan va mintaqalar o'rtasida tengsizlik mavjud
            .swiper-slide.key_findings
              h2
                | Yashil iqtisodiyotga o'tishda ko'proq iqtisodiy imkoniyatlardan foydalanish kerak
              ul
                li
                  | • So'nggi besh yil ichida tabiatni muhofaza qilish texnologiyasiga investitsiyalar bo'yicha ma'lumotlar mavjud emas. Biroq, oldingi tendentsiya shuni ko'rsatadiki, O'zbekiston 1990-yillarning boshidan beri tabiatni muhofaza qilish texnologiyasiga sarmoya kiritgan
                li
                  | • Atrof-muhitni muhofaza qilish xarajatlari umuman o'sishga intiladi, ammo ahamiyatsiz bo'lib qolmoqda. So'nggi o'n yil ichida o'rtacha hisobda ular umumiy davlat xarajatlarining atigi 0,06 foizini yoki YaIMning 0,02 foizini tashkil etdi
                li
                  | • 2015-18 yillarda davlat byudjetiga ekologik soliq tushumlarining ulushi o'zgarishsiz qoldi va o'rtacha 0,01% ni tashkil etdi. Qattiq maishiy chiqindilarni yig'ish uchun to'lov ekologik soliq tushumlarining 57 foizini tashkil qiladi. Barcha ekologik soliqlarning tizimli hisobi yo'qligiga qaramay, ifloslanish to'lovlaridan tushgan tushumlar umuman oshdi
                li
                  | • Energiya subsidiyalari asta-sekin pasayib bormoqda, ammo yuqori darajada qolmoqda
                li
                  | • Energiya manbalaridan foydalanish tariflari ularni ishlab chiqarish xarajatlarini aks ettirmaydi. Biroq, kam ta'minlangan aholini energiya narxlarining haddan tashqari islohotlaridan himoya qiluvchi siyosat
            .swiper-slide.key_findings
              h2 O'zbekistonning asosiy ijtimoiy-iqtisodiy xususiyatlari istiqbolli
              ul
                li
                  | • So'nggi o'n yil ichida iqtisodiyotning yillik o'sishi taxminan 6% ni tashkil etdi.
                li
                  | • O'zbekistonda savdo-sotiqning ochiqligi oshdi va 2016 yilga kelib tovarlar va xizmatlarning aniq importchisi bo'ldi
                li
                  | • Salbiy sof tashqi migratsiyaga qaramay, aholining yillik o'sishi 1,6% ni tashkil qiladi
                li
                  | • 2021 yilda boshlang'ich va o'rta ta'limni qamrab olishning 100% yalpi ko'rsatkichiga nisbatan o'qish huquqiga ega bo'lgan talabalarning atigi beshdan bir qismi oliy o'quv yurtlariga qabul qilindi.
            .swiper-slide.key_findings
              h2 O'zbekiston "yashil" iqtisodiyotga o'tish dasturi va harakatlar rejasida 2022 yilga belgilangan ba'zi strategik maqsadlarga erishishda yaxshi natijalarga erishdi
              ul
                li • O'zbekiston 2022-yilda belgilangan energiya sig'imini 5 foizga kamaytirish vazifasini oshirib yubordi: 2021-yilga nisbatan energiya sig'imi 10 foizdan ko'proqqa kamaydi%
                li • Shuningdek, 2022-yil uchun elektr energiyasi ishlab chiqarishning umumiy hajmidagi REE (qayta tiklanadigan energiya manbalari) ning 8 foiz ulushini nazarda tutuvchi maqsadli ko'rsatkich 0,8 foiz punktga oshib ketdi. 10 megavatt quvvatga ega quyosh batareyalarining yangi quvvatlarini qurish ko'rsatkichidan besh baravar ko'p.
                li • Xavfsiz ichimlik suvidan foydalanish imkoniyatiga ega bo'lgan uy-joylar ulushini taxminan 70% gacha oshirish maqsadiga erishildi%
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Kontaktlar:
            p
              | Westminster International University in Tashkent, 12 Istiqbol ko'chasi, Toshkent 100047
            p Elektron pochta: cpro@wiut.uz
            p Telefon:+998 71 238 74 48
          .rights
            p
              | Platforma Germaniyaning atrof-muhitni muhofaza qilish, Tabiatni muhofaza qilish, yadro xavfsizligi va iste'molchilar huquqlarini himoya qilish Federal vazirligining (BMUV) xalqaro iqlim tashabbusi orqali taqdim etilgan moliyaviy ko'magi bilan tayyorlangan.
            i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')