doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan Web Portal
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a.active(href='/') Eng
            a(href='/uz') UZB
          p 2023 Edition
        .poster
          h1 GGI Uzbekistan Web Portal
          h2
            | Greening the Economy in Uzbekistan: the state of play in 2023: Monitoring progress based on the OECD Green Growth Indicators
          a(href='/home') Visit the Portal For More
      section.two
        h1 About the Project
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Foreword
              p
                | In December 2022, the President of Uzbekistan approved the Green Growth Strategic Framework Programme and Action Plan to transition to a green economy by 2030. The action plan has eight national GGIs and targets against which the Ministry of Economy and Finance will monitor progress. In this context, this report helps answer four essential questions:
              ul 
                li • Is Uzbekistan becoming more efficient in using natural resources and environmental services?
                li • Is the natural asset base of Uzbekistan’s economy being maintained?
                li • Does greening economic growth generate quality of life for people in Uzbekistan?
                li • How does greening growth generate economic opportunities in Uzbekistan?
              p 
                | The findings in this report identify several positive trends towards green growth:
              ul 
                li • Carbon, energy, material and water productivity are rising, resulting in fewer emissions and more efficient energy and resource use alongside economic growth.
                li • The share of forest and protected natural areas is increasing, while agricultural land is decreasing as a proportion of total land area.
              p 
                | Despite progress, several challenges remain: 
              ul 
                li • Non-renewable fossil fuels dominated 99% of the energy supply mix in 2021.
                li • Water stress levels are high and rising. 
                li • Only a quarter of solid waste produced is recycled.
                li • Air pollution is one of the worst in the world.
            .card.swiper-slide
              h2 Acknowledgement
              p The monitoring report is the outcome of joint efforts from Westminster International University in Tashkent (WIUT), the Ministry of Economy and Finance (MoEF) and the Statistics Agency, working together to establish a reliable monitoring system towards a green economy. The report was developed in the framework of the OECD project Improving the Incentive Frameworks and Capacity for Green Climate-Related Investment in Eastern Partnership Countries and Central Asia with financial support from Germany’s Federal Ministry for the Environment, Nature Conservation and Nuclear Safety through its International Climate Initiative (IKI). Isabella Neuweg (OECD) managed the project. For the WIUT, the work furthers the OECD project that started in 2021 to support Uzbekistan's COVID-19 green recovery efforts, which paved the way for further contributions to a green economy. 
              p The monitoring report was prepared by a team of experts from the WIUT under the leadership of Bakhrom Mirkasimov (Rector) and Etenesh B. Asfaw (Senior Research Fellow at the Centre for Policy Research and Outreach). The research team includes Etenesh Asfaw, Nargiza Alimukhamedova, Omonjon Ganiev, Zohid Askarov, Akhtem Useinov, Angelo Battaglia, Kamilla Sultanova and Abdulaziz Dusbabaev. The work was supervised by Isabella Neuweg, Irina Belkahia and Krzysztof Michalak (all OECD Environment Directorate). 
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Main Findings
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2 Uzbekistan is becoming more efficient in using natural resources and environmental services, but the pressure on natural capital remains
              ul
                li
                  | • Uzbekistan’s total greenhouse gas (GHG) emissions are the second largest in CA after Kazakhstan, and its emissions per unit of gross domestic product (GDP) are the fifth largest in the world
                li
                  | • The energy intensity of GDP has been declining in recent years but remains one of the world’s highest
                li
                  | • Renewable energy sources such as wind and solar energy play a minor role (below 2%) in Uzbekistan’s energy mix and their share is significantly lower than the CA average (15%)
                li
                  | • Water productivity in the economy increased fourfold to USD 2 per cubic metre (m3) of water used in the past 30 years
                li
                  | • Material productivity in the economy (output generated from using a given amount of metal, non-metal and biomass material) more than doubled over the last 30 years. The value is the third highest in CA
                li
                  | • In 2021, Uzbekistan produced ten times more solid waste than five years ago. It generated around 6 million tonnes of household solid waste or 165 kg per capita in 2021
                li
                  | • Mineral fertiliser used per hectare (ha) of cropland increased in Uzbekistan, leading to a rise in excess fertiliser per ha of cropland
            .swiper-slide.key_findings
              h2 The natural asset base of Uzbekistan's economy needs more maintenance 
              ul
                li
                  | • Land degradation due to inappropriate irrigation, poor pastureland and manure management is a major challenge in Uzbekistan
                li
                  | • Organic farming has increased since 2010, but only makes up 0.004% of agricultural land
                li
                  | • Uzbekistan is one of the most water-stressed countries in the world. The water stress level, or the ratio of water used relative to available water, has significantly increased in the last 20 years from around 50% to almost 70%
                li
                  | • Forested area and tree stocks have been increasing. Forests make up around 8% of total land area, an increase of more than 30% from 2014
                li
                  | • Uzbekistan has more than 40 protected natural areas. They make up 8% of total land area, an increase of more than 300% in the last ten years
                li
                  | • In terms of natural resources, Uzbekistan ranks 11th in natural gas production and 14th in reserves globally
            .swiper-slide.key_findings
              h2 Some GGIs in the population’s quality of life are improving, while challenges remain 
              ul
                li
                  | • Uzbekistan is 20th most air polluted country in the world. Major sources of pollutants are dust particles, vehicle emissions and industrial emissions
                li
                  | • The share of the population exposed to unhealthy concentration levels of PM2.5 declined from around 80% to 56% over the past ten years. Nonetheless, population exposure level is more than five times higher than the world average of 10%
                li
                  | • Mortality and welfare costs due to air pollution are increasing
                li
                  | • The share of households with access to safe public drinking water supply declined by 10% to around 70% over the past ten years due to outdated water supply infrastructure, increased population and construction of houses, adding burden to the supply
                li
                  | • Uzbekistan made some progress in expanding public sewerage systems. Nevertheless, less than half (48%) of households were connected to a sewerage system in 2022, and there is inequality between regions
            .swiper-slide.key_findings
              h2
                | More economic opportunities need to be tapped in the transition to the green economy 
              ul
                li
                  | • No data are available for the last five years on investments in environmental technologies. However, the previous trend shows that Uzbekistan has invested in environmental technologies since the early 1990s
                li
                  | • Environmental expenditures are generally showing an upward trend but remain small. On average, they accounted for only 0.06% of total government expenditures or 0.02% of GDP over more than the past ten years
                li
                  | • The share of environmental tax revenues in the state budget remained constant at a 0.01% average for 2015-18. Solid waste collection fees make up 57% of environmental tax revenues. Despite the lack of systematic accounting of all environment-related taxes, environmental revenues from pollution fees in general have increased
                li
                  | • Energy subsidies are gradually declining but remain high
                li
                  | • Tariffs for energy resource use do not represent the production cost. However, policies that protect the low-income populations object extreme energy price reforms
            .swiper-slide.key_findings
              h2 The main socio-economic characteristics in Uzbekistan are promising
              ul
                li
                  | • The economy has grown by around 6% annually in the past ten years
                li
                  | • Trade openness increased in Uzbekistan, and it became a net importer of goods and services as of 2016
                li
                  | • The population is growing annually at 1.6%, despite negative net external migration
                li
                  | • Enrolment in tertiary education institutions was only one-fifth of eligible students in 2021 compared to 100% gross enrolment rates in primary and secondary education.
            .swiper-slide.key_findings
              h2 Uzbekistan did well in achieving some of the strategic targets set for 2022 in its green economy transition programme and action plan 
              ul
                li • Uzbekistan exceeded its 2022 target of reducing energy intensity by 5%: energy intensity declined by more than 10% compared to 2021
                li • It also overachieved the 2022 target of an 8% share of RES in total electricity generation by 0.8 percentage points. It exceeded the construction of a new solar panel capacity target of 10 megawatts by five times
                li • It met the target of increasing the proportion of households with access to safe drinking water to around 70%
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='german bundestag')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Contacts:
            p
              | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
            p Email: cpro@wiut.uz
            p Phone:+998 71 238 74 48
          .rights
            p
              | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
            i (c) 2023. All rights reserved.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')