doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title Веб-портал GGI Узбекистан
  body
    .container
      section.one
        nav
          div
            a.active(href='/ru') Ru
            a(href='/') Eng
            a(href='/uz') UZB
          p From 2023
        .poster
          h1 Веб-портал GGI Узбекистан
          h2
            | Экологизация экономики в Узбекистане: состояние дел в 2023 году: мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
          a(href='/home_ru') Посетите портал, чтобы узнать больше
      section.two
        h1 О проекте
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Предисловие
              p
                | Министерство экономики и финансов с радостью представляет этот первый отчет о мониторинге прогресса в
                | Переход Узбекистана к «зеленой» экономике с использованием системы показателей зеленого роста ОЭСР.
                | В декабре 2022 года Президент Узбекистана утвердил стратегическую рамочную программу зеленого роста и план действий по переходу к зеленой экономике до 2030 года.
                | План действий включает восемь национальных индикаторов и целей зеленого роста, выполнение которых будет контролироваться нашим Министерством-МЭФ.
            .card.swiper-slide
              h2 Предисловие
              p
                | В этом контексте настоящий отчет помогает ответить на четыре основных вопроса:
              ul 
                li
                  | Становится ли Узбекистан более эффективным в использовании природных ресурсов и экологических услуг?
                li 
                  | Сохраняется ли база природных активов экономики Узбекистана?
                li 
                  | Повышает ли «озеленение» экономического роста качество жизни людей в Узбекистане?
                li 
                  | Как экологический рост создает экономические возможности в Узбекистане?
            .card.swiper-slide
              h2 Предисловие
              p
                | Как подтверждают выводы, содержащиеся в этом отчете, Узбекистан добился нескольких положительных тенденций в направлении «зеленого» роста:
              ul 
                li
                  | 1) продуктивность углерода, энергии, материалов и воды растет, что означает сокращение выбросов и эффективное использование энергии и ресурсов при росте экономики.
                li
                  | 2) доля площади лесов увеличивается, а сельскохозяйственных угодий уменьшается в процентном отношении к общей площади земель.
            .card.swiper-slide
              h2 Предисловие
              p Несмотря на прогресс, остается несколько проблем:
              ul 
                li
                  | невозобновляемые ископаемые виды топлива преобладают в структуре поставок энергии (99% в 2021 году).
                li
                  | уровень водного стресса достигает 68 %, и только 26 % ежегодно образующихся твердых бытовых отходов перерабатываются (в 2021 г.).
                li
                  | Правительство Узбекистана подтверждает свою приверженность более экологичной экономике. Министерство выражает благодарность донору – правительству Германии, постоянной поддержке со стороны Организации экономического сотрудничества и развития, а также техническому сотрудничеству с Вестминстерским международным университетом в Ташкенте.
            .card.swiper-slide
              h2 признание и предыстория
              p
                | Этот отчет о мониторинге зеленого роста является результатом совместных усилий Вестминстерского международного университета в Ташкенте (WIUT),
                | Министерство экономики и финансов (MoEF) и Агентство по статистике (SA),
                | работать вместе над созданием надежной системы мониторинга в направлении «зеленой» экономики.
                | Отчет подготовлен группой экспертов WIUT под руководством Бахрома Миркасимова (ректор) и Этенеша Б. Асфау (старший научный сотрудник Центра политических исследований и информационно-разъяснительной работы). В исследовательскую группу входят Этенеш Асфау, Наргиза Алимухамедова, Омонжон Ганиев, Зохид Аскаров, Ахтем Усеинов, Анджело Батталья, Камилла Султанова и Абдулазиз Дусбабаев.
            .card.swiper-slide
              h2 признание и предыстория
              p
                | Эту работу курируют Кшиштоф Михалак, Изабелла Нойвег и Ирина Белкахия из Директората по окружающей среде Организации экономического сотрудничества и развития (ОЭСР). Отчет разработан в рамках проекта ОЭСР «Улучшение системы стимулирования и потенциала для
                | Зеленые инвестиции, связанные с климатом, в странах Восточного партнерства и Центральной Азии». Для ВИУТ,
                | эта работа является продолжением проекта, поддерживаемого ОЭСР, который был начат в рамках усилий Узбекистана по «зеленому» восстановлению после COVID-19 в 2021 году и проложил путь для содействия переходу к «зеленой» экономике.
            .card.swiper-slide
              h2 признание и предыстория
              p
                | Команда WIUT благодарна за понимание и вклад МЭФ и национальных статистических данных, предоставленных Агентством по статистике при Президенте Республики Узбекистан (РУ).
                | Авторы благодарны за вклад различных национальных заинтересованных сторон, в том числе бывшего Института
                | Прогнозирование и макроэкономические реформы (IFMR) теперь xxxx и бывшее Министерство природных ресурсов (МПР) теперь xxxx во время стартового мероприятия проекта 16 февраля 2023 года. Авторы также признают ценный вклад языковых переводчиков, редакторов, корректоров. , и дизайнеры.
            .card.swiper-slide
              h2 признание и предыстория
              p
                | Аналитическая работа столкнулась с ограничениями, связанными с открытым доступом к национальным наборам данных и несоответствием информации в отношении определений и единиц измерения, когда они были доступны.
                | В отчете предпринята попытка проанализировать имеющиеся национальные данные; а при его отсутствии использует международные наборы данных по Узбекистану. Работа переведена на местный язык и доступна на веб-сайтах WIUT, МЭФ и ОЭСР.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Главные находки
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
              h2
                | Узбекистан становится более эффективным в использовании природных ресурсов и экологических услуг, но давление на природный капитал сохраняется.
              ul
                li
                  | В целом GGI, измеряющие продуктивность углерода, энергии и воды, улучшились. Следовательно, экономика росла быстрее, чем использование природных ресурсов, и экономический рост частично не связан с выбросами углекислого газа (CO2). Несмотря на этот прогресс, уровень продуктивности природных ресурсов ниже среднего по сравнению с Центральной Азией и регионом Восточной Европы, Кавказа и Центральной Азии (ECCCA). Таким образом, интенсивность использования ресурсов окружающей среды остается высокой, что влечет за собой нагрузку на природный капитал и задерживает устойчивое экономическое развитие.
                li
                  | Выбросы углерода в период с 1990 по 2020 год оставались ниже 125 млн тонн с небольшими годовыми колебаниями. На долю Узбекистана приходится всего 0,3% мировых выбросов углерода, а уровень выбросов в 20 раз меньше, чем в среднем по региону Восточной Европы, Кавказа и Центральной Азии (ВЕКЦА). Однако это выше среднего уровня выбросов в Центральной Азии. Относительная стабильность выбросов CO2 в сочетании с ростом валового внутреннего продукта (ВВП) привела к увеличению углеродной производительности до 2,39 долларов США на кг выбросов CO2 в 2020 году по сравнению с 0,6 долларов США в 1990 году. Более высокая углеродная продуктивность показывает, что экономический рост не связан с выбросами CO2. . Несмотря на этот прогресс, продуктивность CO2 в Узбекистане остается ниже, чем в среднем по региону ECCA (2,5 доллара США) и в среднем по ЦА (2,9 доллара США) в 2020 году.
                li
                  | Общее предложение первичной энергии (ОППЭ) в стране несколько увеличилось за последние три десятилетия, и в 2021 году предложение энергии достигло 49,2 млн тонн нефтяного эквивалента (тнэ). Хотя предложение выше, чем в среднем по ЦА, оно в 280 раз ниже, чем в среднем по миру в 2020 году.
                li
                  | Хотя с 2016 года возобновляемые источники энергии в целом увеличиваются, они играют незначительную роль (ниже 2%) в энергетическом балансе Узбекистана, что значительно ниже, чем в среднем по ЦА (15%). Доля возобновляемых источников энергии в выработке электроэнергии увеличилась до 9% (более 90% гидроэлектроэнергии) в 2022 году. Развитие возобновляемых источников энергии идет медленно, несмотря на высокий потенциал солнечной энергетики.
                li
                  | Энергопроизводительность (экономическая выгода на тнэ потребленной энергии) увеличилась до 5 798 долларов США на тнэ в 2020 году по сравнению с 1643 долл. США на тнэ в 1990 году, что свидетельствует о том, что Узбекистан повышает свою энергоэффективность выше, чем в регионе ECCA. Тем не менее, энергоэффективность Узбекистана ниже, чем в среднем по ЦА (6 744 доллара США), что является самым низким показателем после Туркменистана в 2020 году.
                li
                  | Энергоемкость ВВП Узбекистана снижается, но он остается одной из самых энергоемких стран мира (8-е место в 2022 году). В 2021 году энергоемкость составила 0,14 тыс. н.э. на доллар США, снизившись с 1,03 тыс. н.э. на доллар США в 2000 году. Около 45% энергии потребляется зданиями (жилыми и коммерческими), в то время как промышленность потребляет 21% и транспорт 18%.
                li
                  | Продуктивность воды в экономике увеличилась до 2 долларов США на м3 используемой воды в 2020 году по сравнению с 0,48 долларов США в 1994 году. Несмотря на этот прогресс, уровень продуктивности остается одним из самых низких по сравнению с регионом Европы и Центральной Азии (ЕЦА) (43 USD/м3) и мире (21 USD/м3).
                li
                  | Материальная производительность в экономике (выпуск, полученный от использования определенного количества металла, неметалла и биомассы) увеличилась до 0,9 долл. США/кг в 2019 г. с 0,4 долл. США в 1992 г., что свидетельствует о небольшом повышении эффективности использования материалов. Значение является третьим по величине в CA.
                li
                  | Образование отходов растет. В 2021 году в Узбекистане образовалось около шести миллионов тонн твердых бытовых отходов, что составляет 165 кг на душу населения, но меньше 290 кг на душу населения в мире. Регулярные услуги по вывозу мусора охватывают лишь половину населения (2018 г.). Несмотря на то, что уровень переработки ТБО увеличился с 1,4 млн тонн в 2019 году до 1,7 млн ​​тонн в 2021 году, он составляет всего 26%.
                li
                  | Потребление удобрений (химических удобрений, используемых на гектар пахотных земель) увеличилось в Узбекистане, что привело к увеличению избытка удобрений на гектар (га) пахотных земель. Он увеличился со 163 кг/га в 1992 году до 254,5 кг/га в 2020 году и был на 75% выше, чем в среднем по миру (146 кг/га).
            .swiper-slide.key_findings
              h2 База природных активов экономики Узбекистана нуждается в большей защите.
              ul
                li
                  | Несмотря на то, что доля сельскохозяйственных угодий снизилась до 58% площади земель в 2020 году с 65% площади земель в 1990 году, земли Узбекистана преимущественно сельскохозяйственные. Пахотные/обрабатываемые земли сократились с 3,4 млн га в 2000 г. до 3,2 млн га (12,5% сельскохозяйственных угодий в 2020 г.). Тем не менее, деградация земель из-за ненадлежащего орошения и плохого управления пастбищами и навозом является серьезной проблемой в сельском хозяйстве и обойдется в 4,6% эквивалента ВВП в 2022 году. Стоимость включает потерю продуктивности сельского хозяйства, усиление эрозии почвы, снижение доступности воды и потерю ресурсов. секвестрация углерода и экосистемные услуги.
                li
                  | Хотя площади органического земледелия в Узбекистане увеличились с 2010 года, они вносят лишь скромный вклад в сектор. Земельный покров сертифицированных площадей органического земледелия незначителен - 200 000 га (5%) в 2019 году. Тем не менее, Узбекистан является одной из ведущих стран Центральной Азии в области органического земледелия.
                li
                  | Узбекистан имеет ограниченные ресурсы пресной воды из Амударьи и Сырдарьи, которые берут начало за пределами страны и используются совместно с соседними странами ЦА. Объем ежегодно забираемой воды увеличился до 59 млрд м3 в 2019 г. с 54 млрд м3 в 1995 г., что сделало страну одной из стран с наибольшим дефицитом воды в мире. Уровень водного стресса (отношение водопользования к водообеспеченности) значительно увеличился за последние два десятилетия (69% в 2021 г. по сравнению с 51% в 2000 г.). Сельскохозяйственный сектор использует более 90% забираемой пресной воды. Несмотря на нехватку воды, 40% сельскохозяйственной воды теряется из-за устаревшей ирригационной инфраструктуры. Узбекистан реализует различные меры по смягчению водного стресса, такие как совершенствование методов управления водными ресурсами, внедрение более эффективных ирригационных систем и инвестиции в усилия по сохранению водных ресурсов.
                li
                  | Доля площади лесов несколько увеличилась до 8,4% (12 млн га) от площади земель в 2020 г. по сравнению с 8% земель в 2014 г. и была второй по величине в ЦА. Несмотря на рост, она в четыре раза ниже доли в ЕЦА (38,5%). Имеющиеся в последнее время данные об объеме запасов лесных деревьев также увеличились до 76 млн м3 в 2015 г. с 72 млн м3 в 1990 г.
                li
                  | Площадь ООПТ увеличилась до 3,5 млн га (8% площади суши) в 2021 г. по сравнению с 0,8 млн га в 2011 г. Несмотря на расширение биоразнообразия на ООПТ, 52 вида всех известных в стране видов животных и растений оказались под угрозой исчезновения. к 2018 году из-за изменения климата, чрезмерного выпаса скота, охоты и браконьерства.
                li
                  | Узбекистан занимает 11-е место в мире по добыче природного газа и 14-е место по запасам. Прогнозируется, что запасов природного газа хватит на 20-30 лет. Разрыв между производством и спросом на природный газ ежегодно увеличивается, несмотря на увеличение добычи природного газа, достигшее 54 млрд м3 в 2021 году. Потери природного газа представляют собой серьезную проблему в Узбекистане из-за устаревшей инфраструктуры.
            .swiper-slide.key_findings
              h2 Некоторые GGI в отношении качества жизни людей улучшаются, в то время как проблемы остаются.
              ul
                li
                  | Загрязнение воздуха снижается по состоянию на 2014 год, достигнув 909 тысяч тонн загрязняющих веществ в 2021 году. Основными загрязнителями являются частицы пыли, выбросы транспортных средств и промышленные выбросы. Хотя концентрация твердых частиц (PM2,5) в воздухе ниже общемирового уровня 43 мкг/м3 и имеет тенденцию к снижению, она по-прежнему превышает нездоровый уровень ВОЗ в 35 мкг/м3, что делает Узбекистан одной из самых загрязненных стран (12-е место). ) в мире в 2021 году.
                li
                  | Воздействие на население PM2,5, превышающего 35 мкг/м3, снизилось до 56 % в 2019 г. по сравнению с 81 % населения в 2011 г. Тем не менее уровень воздействия в пять раз превышает среднемировой показатель для 10 % населения.
                li
                  | Смертность и затраты на социальное обеспечение из-за загрязнения воздуха демонстрируют тенденцию к увеличению. По оценкам, ежегодно более 750 человек на миллион жителей умирают преждевременно из-за воздействия загрязнения атмосферного воздуха, что ставит страну выше среднемирового показателя в 645 человек в 2019 году. Годовые расходы на благосостояние из-за воздействия загрязнения воздуха составляют 8,7% ВВП. эквивалент по сравнению с 6,4% для региона ECCA в 2019 году. Смертность, связанная с загрязнением атмосферного воздуха, занимает третье место в мире.
                li
                  | Доступ к общественному безопасному питьевому водоснабжению снизился до 72% домов в 2022 году по сравнению с 82% в 2010 году. Причинами снижения доступа являются устаревшая инфраструктура водоснабжения, ускоренный рост населения и жилья. Существует большое неравенство между городами и сельскими районами. Хотя более 97% ташкентских домов имеют доступ к безопасной питьевой воде, в сельской местности это все еще проблема.
                li
                  | Узбекистан добился определенного прогресса в расширении систем канализации общего пользования. Тем не менее, к 2022 году к канализации подключено менее половины (48%) домохозяйств, и существует неравенство между регионами. В то время как все жители Ташкента подключены к канализации, в Каракалпакстане подключено только 16% домохозяйств.
            .swiper-slide.key_findings
              h2
                | При переходе к «зеленой» экономике необходимо использовать больше экономических возможностей.
              ul
                li
                  | Хотя недавние данные (за последние пять лет) об экологически безопасных технологиях отсутствуют, предыдущая тенденция показывает, что Узбекистан начал инвестировать в экологически чистые технологии в начале 1990-х годов. Более 15 % инноваций в Узбекистане в 2018 г. были связаны с окружающей средой (больше 10 % в мире); на их долю приходится 0,01% мировых изобретений, связанных с окружающей средой. Технологии на душу населения составили 0,02 и ниже среднемирового показателя 4,9 на человека.
                li
                  | Расходы на охрану окружающей среды в целом демонстрируют тенденцию к росту, но они невелики. В среднем расходы на охрану окружающей среды составляли лишь 0,06% от общих государственных расходов или 0,02% ВВП в 2012–2019 годах. Значение может быть недооценено, поскольку в Узбекистане отсутствует систематическая бюджетная маркировка «зеленых» расходов и доходов, что затрудняет оценку всех «зеленых» инвестиций. Расходы, однако, сократились и составили всего 0,1% от общего объема в 2022 году, в основном из-за увеличения расходов на восстановление после COVID, что свидетельствует о том, что расходы на охрану окружающей среды приносятся в жертву другим приоритетам политики.
                li
                  | Экологические доходы в государственном бюджете увеличились с 0,01% в 2015 году до 1% в 2018 году, при этом львиная доля (44%) приходится на платежи за загрязнение твердыми отходами. Поступления от платежей за загрязнение выросли и составили 14,1 млрд сумов в 2018 году по сравнению с 3,2 млрд сумов в 2010 году. Увеличение доходов отражает кумулятивный эффект ускорения экономической активности, как следствие, увеличения выбросов и сбросов загрязняющих веществ, а также удвоения налоговых ставок. /fees в 2017 году, когда выручка увеличилась на 56% по сравнению с 2016 годом. В отчете невозможно оценить последние тенденции из-за отсутствия доступа к актуальным данным.
                li
                  | Энергетические субсидии постепенно сокращаются. Энергетические субсидии принимают форму налоговых льгот на производство газа, нефти и электроэнергии для домашних хозяйств. Субсидии на ископаемые виды топлива в 2020 году составили 3,8 млрд долларов США (6,6% ВВП) и были сокращены на 60% по сравнению с уровнем 2010 года.
                li
                  | Тарифы на энергоресурсы не отражают себестоимость продукции и постоянно обсуждаются в связи с политикой социальной защиты малообеспеченных слоев населения. Несмотря на повышение уровня тарифов на воду, они по-прежнему субсидируются и не покрывают эксплуатационные расходы. Цена воды в регионах выше, чем в г.Ташкенте, и тарифы варьируются в зависимости от региона, типа проживания потребителя, а также наличия воды. Точно так же выросли тарифы на электроэнергию, но Узбекистан установил различные тарифные схемы с 2019 года для разных категорий потребителей. Таким образом, тариф для коммерческих потребителей был на 30-50% выше тарифа для бытового использования.
            .swiper-slide.key_findings
              h2 Основные социально-экономические характеристики Узбекистана обнадеживают.
              ul
                li
                  | В последнее десятилетие экономика неуклонно росла на 6% в год. Несмотря на двузначную инфляцию со средним уровнем 11% за последние три года, реальный ВВП Узбекистана на душу населения увеличился до 4,6 млн сумов в 2022 году (1 доллар США = 11 000 сумов) с 2,8 млн сумов в 2010 году (1 доллар США = 1700 сумов). ).
                li
                  | Торговая открытость Узбекистана увеличилась. По состоянию на 2016 год он является нетто-импортером товаров и услуг. Общая стоимость импорта увеличилась на 25 миллиардов долларов США в 2021 году, а стоимость экспорта составила 16 миллиардов долларов США.
                li
                  | Население ежегодно увеличивается на 1,6%, несмотря на отрицательное сальдо внешней миграции. В 2022 году население составляло более 35 миллионов человек, при этом 54% населения моложе 30 лет, с растущими возможностями демографического дивиденда. Доля занятой рабочей силы увеличилась и составила около 70% рабочей силы в 2021 году. Основными работодателями являются сфера услуг (51%), за ними следуют промышленность (25%) и сельское хозяйство (24%).
                li
                  | Зачисление в высшие учебные заведения увеличилось до 21% в 2021 году, несмотря на достижение 100% валового охвата в начальных и средних школах.
            .swiper-slide.key_findings
              h2
                | Узбекистан добился хороших результатов в достижении некоторых стратегических целей, установленных на 2022 год в стратегической программе зеленого роста на период до 2030 года.
              ul
                li
                  | Узбекистан перевыполнил цель по снижению энергоемкости на 5% в 2022 году, установленную в национальной Программе перехода к «зеленой» экономике. энергоемкость снизилась на 12,6% по сравнению с 2021 годом; Он перевыполнил цель 2022 года по доле возобновляемых источников в 8% в общем объеме производства электроэнергии на 0,8 процентных пункта; и превысила план строительства новых солнечных панелей (10 МВт) на 2022 год еще в пять раз. Кроме того, доля домов, имеющих доступ к питьевой воде, была на 27% выше целевого показателя (69,7%), установленного на 2022 год.
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/federal_ministry_for_the_environment.png', alt='federal ministry for the Environment')
            li
              img(src='/static/images/iki.jpg', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Контакты:
            p
              | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
            p Электронная почта: cpro@wiut.uz
            p Телефон:+998 71 238 74 48
          .rights
            p
              | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
            i (c) 2023 г. Все права защищены.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')