doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title Веб-портал GGI Узбекистан
  body
    .container
      section.one
        nav
          div
            a.active(href='/ru') Ru
            a(href='/') Eng
            a(href='/uz') UZB
          p Выпуск 2023 г.
        .poster
          h1 Веб-портал GGI Узбекистан
          h2
            | Озеленение экономики в Узбекистане: состояние дел в 2023 году: Мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
          a(href='/home_ru') Посетите портал, чтобы узнать больше
      section.two
        h1 Предисловие и признание
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Предисловие
              p В декабре 2022 года Президент Республики Узбекистан утвердил Стратегическую программу "Зеленый рост" и План действий по переходу к "зеленой" экономике к 2030 году. План действий включает восемь национальных показателей и целей "зеленого" роста, по которым Министерство экономики и финансов будет отслеживать прогресс. В этом контексте настоящий отчет помогает ответить на четыре основных вопроса:
              ul 
                li • Становится ли Узбекистан более эффективным в использовании природных ресурсов и экологических услуг?
                li • Сохраняется ли база природных активов экономики Узбекистана?
                li • Способствует ли экологизация экономического роста повышению качества жизни населения Узбекистана?
                li • Каким образом экологизация роста создает экономические возможности в Узбекистане?
              p 
                | Результаты, полученные в данном отчете, выявляют несколько положительных тенденций в направлении "зеленого" роста:
              ul 
                li • Производительность углерода, энергии, материалов и воды растет, что приводит к сокращению выбросов и более эффективному использованию энергии и ресурсов наряду с экономическим ростом.
                li • Доля лесов и охраняемых природных территорий увеличивается, а доля сельскохозяйственных угодий в общей площади земель сокращается.
              p 
                | Несмотря на достигнутый прогресс, по-прежнему сохраняется ряд проблем:
              ul 
                li • В 2021 году в структуре энергоснабжения на 99% преобладало невозобновляемое ископаемое топливо.
                li • Уровень водного стресса высок и продолжает расти.
                li • Только четверть производимых твердых отходов перерабатывается.
                li • Загрязнение воздуха - одно из самых сильных в мире
            .card.swiper-slide
              h2 Признательность
              p Отчет о мониторинге является результатом совместной работы Вестминстерского международного университета в Ташкенте (WIUT), Министерства экономики и финансов (МЭФ) и Агентства по статистике при Президенте Республики Узбекистан (АС) по созданию надежной системы мониторинга на пути к "зеленой" экономике.
              p Отчет подготовлен в рамках проекта ОЭСР "Совершенствование системы стимулов и потенциала для "зеленых" климатических инвестиций в странах Восточного партнерства и Центральной Азии" при финансовой поддержке Федерального министерства окружающей среды, охраны природы и безопасности ядерных реакторов Германии в рамках Международной климатической инициативы (IKI). Руководила проектом Изабелла Нойвег (ОЭСР). Для WIUT эта работа является продолжением начатого в 2021 году проекта ОЭСР по поддержке усилий Узбекистана по "зеленому" восстановлению COVID-19, который проложил путь к дальнейшему вкладу в "зеленую" экономику.
              p Отчет о мониторинге был подготовлен группой экспертов из МВУТ под руководством Бахрома Миркасимова (ректор) и Этенеш Б. Асфав (старший научный сотрудник Центра прикладных исследований). В состав исследовательской группы вошли Этенеш Асфав, Наргиза Алимухамедова, Омонжон Ганиев, Зохид Аскаров, Ахтем Усейнов, Анджело Батталья, Камилла Султанова и Абдулазиз Дусбабаев. Работа выполнялась под руководством Изабеллы Нойвег, Ирины Белкахия и Кшиштофа Михалака ( весь Директорат по окружающей среде ОЭСР).
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Основные аспекты
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
                h2 Структура веб-портала
                ul
                  li
                    | • Введение - описывает методологию и систему индикаторов зеленого роста ОЭСР.
                  li
                    | • Группа 1 - представляет социально-экономический контекст и особенности роста экономики Узбекистана.
                  li
                    | • Группа 2 - рассматривает эффективность использования энергии, других природных ресурсов, материалов и экологических услуг при осуществлении хозяйственной деятельности в Узбекистане.
                  li
                    | • Группа 3 - рассматривает вопрос о том, сохраняется ли база природных богатств Узбекистана.
                  li
                    | • Группа 4 - представляет экологическое измерение качества жизни и показывает, как условия и риски окружающей среды взаимодействуют с благосостоянием населения Узбекистана.
                  li
                    | • Группа 5 - отражает экономические возможности "зеленого" роста в Узбекистане и ответные меры политики.
            .swiper-slide.key_findings
              h2 Общие выводы по результатам отчета
              ul
                li
                  | • Узбекистан становится более эффективным в использовании природных ресурсов и экологических услуг, однако нагрузка на природный капитал сохраняется.
                li
                  | • Природные активы экономики Узбекистана нуждаются в дополнительном обслуживании.
                li
                  | • Некоторые показатели качества жизни населения улучшаются, но проблемы остаются
                li
                  | • При переходе к "зеленой" экономике необходимо задействовать больше экономических возможностей 
                li
                  | • Основные социально-экономические характеристики Узбекистана являются перспективными
                li
                  | • Узбекистан добился хороших результатов в достижении некоторых стратегических целей, поставленных на 2022 год в программе и плане действий по переходу к "зеленой" экономике
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='international climate initiative')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Контакты:
            p
              | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
            p Электронная почта: cpro@wiut.uz
            p Телефон:+998 71 238 74 48
          .rights
            p
              | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
            i © 2023 г. Все права защищены.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')