doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/styles/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css')
    link(rel='stylesheet', href='/static/styles/home_page.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
    title GGI Uzbekistan Web Portal
  body
    .container
      section.one
        nav
          div
            a(href='/ru') Ru
            a.active(href='/') Eng
            a(href='/uz') UZB
          p 2023 Edition
        .poster
          h1 GGI Uzbekistan Web Portal
          h2
            | Greening the Economy in Uzbekistan: the state of play in 2023: Monitoring progress based on the OECD Green Growth Indicators
          a(href='/home') Visit the Portal For More
      section.two
        h1 Foreword & Acknowledgement
        .swiper.mySwiper
          .swiper-wrapper
            .card.swiper-slide
              h2 Foreword
              p
                | In December 2022, the President of Uzbekistan approved the Green Growth Strategic Framework Programme and Action Plan to transition to a green economy by 2030. The action plan has eight national GGIs and targets against which the Ministry of Economy and Finance will monitor progress. In this context, this report helps answer four essential questions:
              ul 
                li • Is Uzbekistan becoming more efficient in using natural resources and environmental services?
                li • Is the natural asset base of Uzbekistan’s economy being maintained?
                li • Does greening economic growth generate quality of life for people in Uzbekistan?
                li • How does greening growth generate economic opportunities in Uzbekistan?
              p 
                | The findings in this report identify several positive trends towards green growth:
              ul 
                li • Carbon, energy, material and water productivity are rising, resulting in fewer emissions and more efficient energy and resource use alongside economic growth.
                li • The share of forest and protected natural areas is increasing, while agricultural land is decreasing as a proportion of total land area.
              p 
                | Despite progress, several challenges remain: 
              ul 
                li • Non-renewable fossil fuels dominated 99% of the energy supply mix in 2021.
                li • Water stress levels are high and rising. 
                li • Only a quarter of solid waste produced is recycled.
                li • Air pollution is one of the worst in the world.
            .card.swiper-slide
              h2 Acknowledgement
              p The monitoring report is the outcome of joint efforts from Westminster International University in Tashkent (WIUT), the Ministry of Economy and Finance (MoEF) and the Statistics Agency Under The President of the Republic of Uzbekistan (SA), working together to establish a reliable monitoring system towards a green economy. 
              p The report was developed in the framework of the OECD project Improving the Incentive Frameworks and Capacity for Green Climate-Related Investment in Eastern Partnership Countries and Central Asia with financial support from Germany’s Federal Ministry for the Environment, Nature Conservation and Nuclear Safety through its International Climate Initiative (IKI). Isabella Neuweg (OECD) managed the project. For the WIUT, the work furthers the OECD project that started in 2021 to support Uzbekistan's COVID-19 green recovery efforts, which paved the way for further contributions to a green economy. 
              p The monitoring report was prepared by a team of experts from the WIUT under the leadership of Bakhrom Mirkasimov (Rector) and Etenesh B. Asfaw (Senior Research Fellow at the Centre for Policy Research and Outreach). The research team includes Etenesh Asfaw, Nargiza Alimukhamedova, Omonjon Ganiev, Zohid Askarov, Akhtem Useinov, Angelo Battaglia, Kamilla Sultanova and Abdulaziz Dusbabaev. The work was supervised by Isabella Neuweg, Irina Belkahia and Krzysztof Michalak (all OECD Environment Directorate). 
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.three
        h1 Main Aspects
        .swiper.mySwiper
          .swiper-wrapper
            .swiper-slide.key_findings
                h2 Web Portal Structure
                ul
                  li
                    | • Introduction - describes the methodology and OECD GGIs framework.
                  li
                    | • Group 1 - provides the socio-economic context and characteristics of the growth of Uzbekistan.
                  li
                    | • Group 2 - discusses the efficiency with which economic activities in Uzbekistan use energy, other natural resources, materials and environmental services.
                  li
                    | • Group 3 - reflects on whether the natural asset base of Uzbekistan is being kept intact.
                  li
                    | • Group 4 - presents the environmental dimension of quality of life and shows how environmental conditions and risks interact with the well-being of Uzbekistan people.
                  li
                    | • Group 5 - captures the economic opportunities in Uzbekistan’s green growth and policy responses.
            .swiper-slide.key_findings
              h2 General Report Findings
              ul
                li
                  | • Uzbekistan is becoming more efficient in using natural resources and environmental services, but the pressure on natural capital remains
                li
                  | • The natural asset base of Uzbekistan's economy needs more maintenance 
                li
                  | • Some GGIs in the population’s quality of life are improving, while challenges remain 
                li
                  | • More economic opportunities need to be tapped in the transition to the green economy 
                li
                  | • The main socio-economic characteristics in Uzbekistan are promising
                li
                  | • Uzbekistan did well in achieving some of the strategic targets set for 2022 in its green economy transition programme and action plan 
          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination
      section.four
        .partners
          ul
            li
              img(src='/static/images/German_Bundestag.png', alt='german bundestag')
            li
              img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative')
            li
              img(src='/static/images/wiut.png', alt='Westminster International University in Tashkent')
            li
              img(src='/static/images/imv.png', alt='imv')
            li
              img(src='/static/images/OECD-social-sharex.jpg', alt='OECD')
        footer
          .contacts
            p Contacts:
            p
              | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
            p Email: cpro@wiut.uz
            p Phone:+998 71 238 74 48
          .rights
            p
              | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
            i © 2023. All rights reserved.
    script(src='/static/javascripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js')
    script(src='/static/javascripts/home.js')