doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Green Growth Indicators for Uzbekistan
    link(rel='stylesheet', href='/static/styles/index.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/home_ru') RU
        a.active(href='/home') Eng
        a(href='/home_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .top-logos#large-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    main
      h1 Green Growth Indicators for Uzbekistan
      h2 Monitoring progress based on the OECD green growth indicators
      .groups
        a.sub-group(href='/introduction')
          h3 Introduction
          .group-text
            .introduction_icon
            p OECD Green Growth Indicators Framework and country context
        a.sub-group(href='/group1')
          h3 Group 1
          .group-text
            .group-1_icon
            p Socio-economic Context
        a.sub-group(href='/group2')
          h3 Group 2
          .group-text
            .group-2_icon
            p Environmental and Resource Productivity of the Economy
        a.sub-group(href='/group3')
          h3 Group 3
          .group-text
            .group-3_icon
            p The Natural Asset Base
        a.sub-group(href='/group4')
          h3 Group 4
          .group-text
            .group-4_icon
            p The Environmental Dimension of Quality of Life
        a.sub-group(href='/group5')
          h3 Group 5
          .group-text
            .group-5_icon
            p Economic Opportunities and Policy Responses
    .accordion-wrapper
      button.accordion Publications and References
      .panel
        p
          | 2023 official report - 
          a(href='/static/data/Uzbekistan_GGI_Report_Eng.pdf' target = "_blank" title="Uzbekistan GGI Report (English)")
            | Greening the Economy in Uzbekistan: State of Play in 2023. Monitoring progress based on the OECD green growth indicators
        p 
          a(href='https://www.oecd.org/greengrowth/green-growth-indicators/') OECD Green Growth Indicators Framework
        p 
          a(href='https://www.oecd.org/environment/outreach/green-action-task-force/') GREEN Action Task Force: Greening the Economy in Eastern Europe, Caucasus and Central Asia
        button.sub_accordion Reference List for Introduction section
        .sub-panel
          ul 
            li Amirova, I., E. Asfaw and K. Sultanova (2021), “Assessment of potential environment, social and  economic impacts of Uzbekistan’s COVID-19 response”, report commissioned by the OECD under the Project for a Green and Inclusive COVID-19 Recovery in Uzbekistan, Westminster International University in Tashkent, Tashkent.
            li Mirkasimov, B. et al. (2023), “Determinants of carbon emission and the potential economic impact of 'green' economy strategies in Central Asia: Kazakhstan and Uzbekistan” in Chapter 5, CAREC Institute. Available at: 
              a(href='https://www.carecinstitute.org/wp-content/uploads/2023/01/Chapter-5.pdf', target = "_blank") Chapter-5.pdf (carecinstitute.org).
            li OECD (2017), Green Growth Indicators 2017, OECD Green Growth Studies, OECD Publishing, Paris. 
              a(href='http://dx.doi.org/10.1787/9789264268586-en', target = "_blank") http://dx.doi.org/10.1787/9789264268586-en.
            li OECD (2011), Towards Green Growth, OECD Green Growth Studies, OECD Publishing, Paris. 
              a(href='http://dx.doi.org/10.1787/9789264111318-en', target = "_blank") http://dx.doi.org/10.1787/9789264111318-en. 
        button.sub_accordion Group 1
        .sub-panel
          ul 
            li Dugarova, E. (2019), “Poverty Reduction through Social Protection and Labor Policies in the Former Soviet Union', in Social Policy, Poverty and Inequality in Central and Eastern Europe and  the Former Soviet Union, p. 45, 
              a(href='https://www.crop.org/social-policy-poverty-and-inequality-in-central-and-eastern-europe-and-the-former-soviet-union.aspx', target = "_blank") www.crop.org/social-policy-poverty-and- inequality-in-central-and-eastern-europe-and-the-former-soviet-union.aspx.
            li EBRD (2017), Transition Report 2017-18, Country Assessments: Uzbekistan, 
              a(href='https://www.ebrd.com/documents/oce/pdf-transition-report-201718-uzbekistan.pdf', target = "_blank") www.ebrd.com/documents/oce/pdf-transition-report-201718-uzbekistan.pdf.
            li Gazeta.uz. (2022), Внешнеторговый оборот Узбекистана в 2021 году увеличился на 16%. 
              a(href='https://www.gazeta.uz/ru/2022/01/21/trade/', target = "_blank") www.gazeta.uz/ru/2022/01/21/trade/.
            li Honorati, M. and A. Marguerie (2021), Youth Employment in Uzbekistan: Opportunities and    Challenges, World Bank, Washington, DC, 
              a(href='https://documents.worldbank.org/pt/publication/documents-reports/documentdetail/666311634704762319/youth-employment-in-uzbekistan-opportunities-and-challenges', target = "_blank") https://documents.worldbank.org/pt/publication/documents-reports/documentdetail/666311634704762319/youth-employment-in-uzbekistan-opportunities-and-challenges. 
            li IOM (2022), World Migration Report 2022, International Organization for Migration, Geneva, 
              a(href='https://worldmigrationreport.iom.int/wmr-2022-interactive/', target = "_blank") https://worldmigrationreport.iom.int/wmr-2022-interactive/.
            li ILO (2021), Towards Full and Productive Employment in  Uzbekistan: Achievements and Challenges, International Labour Organization, Geneva,
              a(href='https://www.ilo.org/moscow/information-resources/publications/WCMS_782059/lang-- en/index.html', target = "_blank") www.ilo.org/moscow/information-resources/publications/WCMS_782059/lang-- en/index.html.
            li IMF (2022), Uzbekistan's Transition to Inflation Targeting,       Working Paper, International Monetary Fund, Washington, DC, 
              a(href='https://www.imf.org/en/Publications/WP/Issues/2022/11/18/Uzbekistan-s-Transition-to- Inflation-Targeting-525745', target = "_blank") www.imf.org/en/Publications/WP/Issues/2022/11/18/Uzbekistan-s-Transition-to- Inflation-Targeting-525745.
            li World Bank (2022), Toward a Prosperous and Inclusive Future: The Second Systematic Country Diagnostic for Uzbekistan, World Bank, Washington, DC, 
              a(href='https://documents1.worldbank.org/curated/en/933471650320792872/pdf/Toward-a-Prosperous-and-Inclusive-Future-The-Second-Systematic-Country-Diagnostic-for-Uzbekistan.pdf', target = "_blank") https://documents1.worldbank.org/curated/en/933471650320792872/pdf/Toward-a-Prosperous-and-Inclusive-Future-The-Second-Systematic-Country-Diagnostic-for-Uzbekistan.pdf.
        button.sub_accordion Group 2
        .sub-panel 
          ul 
            li IEA (2022), Energy Policy Review: Uzbekistan,
              a(href='https://iea.blob.core.windows.net/assets/0d00581c-dc3c-466f-b0c8- 97d25112a6e0/Uzbekistan2022.pdf', target = "_blank") https://iea.blob.core.windows.net/assets/0d00581c-dc3c-466f-b0c8- 97d25112a6e0/Uzbekistan2022.pdf.
            li IEA (2020), Uzbekistan Energy Profile Country Report, International Energy Agency, Paris.
            li IRENA (2022), Energy Profile: Uzbekistan, International Renewable Energy Agency, Masdar City,  
              a(href='https://www.irena.org/media/Files/IRENA/Agency/Statistics/Statistical_Profiles/Asia/Uzbekistan_Asia_RE_SP.pdf', target = "_blank") www.irena.org/media/Files/IRENA/Agency/Statistics/Statistical_Profiles/Asia/Uzbekistan_Asia_RE_SP.pdf.
            li Mirkasimov, B. et al. (2023), “Determinants of carbon   emission and the potential economic impact of ‘green’ economy strategies” in Central Asia: Kazakhstan and Uzbekistan, CAREC Institute, 
              a(href='https://www.carecinstitute.org/wp-content/uploads/2023/01/Chapter-5.pdf', target = "_blank") Chapter-5.pdf (carecinstitute.org).
            li OECD (2014), Green Growth Indicators 2014, OECD Publishing, Paris 
              a(href='http://dx.doi.org/10.1787/9789264202030-en', target = "_blank") http://dx.doi.org/10.1787/9789264202030-en.
            li OECD (2017), Green Growth Indicators 2017, OECD Publishing, Paris.
            li OWD (2023), “CO2 emissions”, Our World in Data (database), 
              a(href='https://ourworldindata.org/co2-emissions', target = "_blank") https://ourworldindata.org/co2-emissions (accessed 13, 04 2023).
            li Roser, M., H. Ritchie and E. Ortiz-Ospina (2021), “Excess fertiliser: How over-fertilization harms  the environment and food security”, Our World in Data (database), 
              a(href='https://ourworldindata.org/excess-fertilizer', target = "_blank") https://ourworldindata.org/excess-fertilizer (accessed 05 06 2023).
        button.sub_accordion Group 3
        .sub-panel 
          ul 
            li Fangdi, S. and R. Ma (2019), “Hydrologic changes of Aral Sea: A reveal by the combination of radar altimeter data and optical images”, Annals of GIS, Vol. 25/3, pp. 247-261, 
              a(href='https://doi.org/10.1080/19475683.2019.1626909', target = "_blank") https://doi.org/10.1080/19475683.2019.1626909. 
            li Kodirkhonov, B., J. Uljabaev and S. Kholdorov (2022), “Organic agriculture in Uzbekistan: SWOT analysis”, OP Conference Series: Earth and Environmental Science, Volume 979, International Scientific and Practical Conference "Improving Energy Efficiency, Environmental Safety and Sustainable Development in Agriculture" (EESTE 2021) 19/10/2021 - 24/10/2021 Moscow B M IOP Conf. Ser.: Earth Environmental Science Vol. 979/012140, 
              a(href='http://doi.org/10.1088/1755-1315/979/1/012140', target = "_blank") http://doi.org/10.1088/1755-1315/979/1/012140.
            li Ministry of Agriculture (2019), Protected Natural Areas of Uzbekistan, 
              a(href='https://uzbekistanembassy.in/docs/Protected_Natural_Areas_of_Uzbekistan.pdf', target = "_blank") https://uzbekistanembassy.in/docs/Protected_Natural_Areas_of_Uzbekistan.pdf.
            li United Nations Development Program (UNDP) (2015), Fifth National Report of the Republic of Uzbekistan on Conservation of Biodiversity. Tashkent Uzbekistan, 
              a(href='https://www.cbd.int/doc/world/uz/uz-nr-05-en.pdf', target = "_blank") www.cbd.int/doc/world/uz/uz-nr-05-en.pdf. 
            li United Nations Environment Program (UNEP-WCMC) (2023), Protected Area Profile for Uzbekistan from the World Database on Protected Areas, August 2023, 
              a(href='https://www.protectedplanet.net', target = "_blank") www.protectedplanet.net.
            li World Bank (forthcoming), Uzbekistan Country Climate Development Report, Tashkent.
        button.sub_accordion Group 4
        .sub-panel 
          ul 
            li Eurasianet (2022), “Uzbekistan: Tashkent bemoans worsening pollution”, 19 October. 
            li OECD (2014), Green Growth Indicators 2014, OECD Publishing, Paris, 
              a(href='http://dx.doi.org/10.1787/9789264202030-en', target = "_blank") http://dx.doi.org/10.1787/9789264202030-en
            li OECD (2017), Green Growth Indicators 2017, OECD Publishing, Paris.
            li IQAIR (2021), World Air Quality Report: Region & City PM2.5 Ranking. 
              a(href='https://www.iqair.com/us/world-most-polluted-countries', target = "_blank") https://www.iqair.com/us/world-most-polluted-countries.
            li US Embassy in Uzbekistan (2019), “Let’s take a breather: The importance of air quality for health, the economy, and the environment”, 
              a(href='https://uz.usembassy.gov/lets-take-a-breather-the-importance-of-air-quality-for-health-the-economy-and-the-environment/', target = "_blank") https://uz.usembassy.gov/lets-take-a-breather-the-importance-of-air-quality-for-health-the-economy-and-the-environment/
            li World Bank (2022), Uzbekistan Public Expenditure Review. Better Value for Money in Human Capital and Water Infrastructure, World Bank, Washington, DC.
        button.sub_accordion Group 5
        .sub-panel 
          ul 
            li OECD (2017), Green Growth Indicators, 2017, OECD Green Growth Studies, OECD Publishing, Paris, 
              a(href='https://doi.org/10.1787/9789264268586-en', target = "_blank") https://doi.org/10.1787/9789264268586-en. 
            li World Bank (2022), Uzbekistan Public Expenditure Review. Better Value for Money in Human Capital and Water Infrastructure, World Bank, Washington, DC.
    .top-logos#small-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i © 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script.
      function toggleAccordion(event) {
      const panel = event.target.nextElementSibling;
      const isActive = event.target.classList.contains('active');

      // Close all panels first if it's a sub-accordion and it's active
      if (!event.target.classList.contains('accordion') && isActive) {
        const subPanels = document.querySelectorAll('.sub-panel');
        subPanels.forEach(subPanel => {
          subPanel.classList.remove('show');
        });
      }

      // Toggle active class for accordion or sub-accordion button
      event.target.classList.toggle('active');

      // Toggle display for the panel
      if (isActive) {
        panel.classList.remove('show');
      } else {
        panel.classList.add('show');
      }
      }

      // Add event listeners to the general and sub-accordion buttons
      const allAccordionButtons = document.querySelectorAll('.accordion, .sub_accordion');
      allAccordionButtons.forEach(button => {
        button.addEventListener('click', toggleAccordion);
      });





