doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title O'zbekiston uchun yashil o'sish ko'rsatkichlari
    link(rel='stylesheet', href='/static/styles/index.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/home_ru') RU
        a(href='/home') Eng
        a.active(href='/home_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .top-logos#large-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    main
      h1 O'zbekiston uchun yashil o'sish ko'rsatkichlari
      h2 OECD yashil o'sish ko'rsatkichlari asosida taraqqiyotni kuzatish
      .groups
        a.sub-group(href='/introduction_uz')
          h3 Kirish
          .group-text
            .introduction_icon
            p Metodologiya va OECD yashil o'sish ko'rsatkichlari doirasi
        a.sub-group(href='/group1_uz')
          h3 Guruh 1
          .group-text
            .group-1_icon
            p Ijtimoiy-Iqtisodiy Kontekst
        a.sub-group(href='/group2_uz')
          h3 Guruh 2
          .group-text
            .group-2_icon
            p Iqtisodiyotning ekologik va resurs unumdorligi
        a.sub-group(href='/group3_uz')
          h3 Guruh 3
          .group-text
            .group-3_icon
            p Tabiiy Aktivlar Bazasi
        a.sub-group(href='/group4_uz')
          h3 Guruh 4
          .group-text
            .group-4_icon
            p Hayot sifatining ekologik o'lchovi
        a.sub-group(href='/group5_uz')
          h3 Guruh 5
          .group-text
            .group-5_icon
            p Iqtisodiy imkoniyatlar va siyosat javoblari
    .accordion-wrapper
      button.accordion Nashrlar va ma'lumotnomalar
      .panel
        p
          | 2023 yilgi rasmiy hisobot - 
          a(href='/static/data/GGI_Report.pdf' target = "_blank")
            | O'zbekistonda iqtisodiyotni ko'kalamzorlashtirish: 2023 yildagi o'yin holati. OECD yashil o'sish ko'rsatkichlari asosida taraqqiyotni kuzatish
        p 
          a(href='https://www.oecd.org/greengrowth/green-growth-indicators/') OECD yashil o'sish ko'rsatkichlari doirasi
        p 
          a(href='https://www.oecd.org/environment/outreach/green-action-task-force/') GREEN Action Task Force: Sharqiy Evropa, Kavkaz va Markaziy Osiyoda iqtisodiyotni ko'kalamzorlashtirish
    .top-logos#small-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    footer
      .contacts
        p Kontaktlar:
        p
          | 100047 Toshkent Xalqaro Vestminster universiteti, Toshkent, Istiqbol koʻchasi, 12-uy.
        p Elektron pochta: cpro@wiut.uz
        p Telefon:+998 71 238 74 48
      .rights
        p
          | Platforma Germaniyaning Atrof-muhit, tabiatni muhofaza qilish, yadroviy xavfsizlik va iste'molchilar huquqlarini himoya qilish federal vazirligining (BMUV) moliyaviy ko'magida tayyorlangan bo'lib, uning Xalqaro iqlim tashabbusi orqali taqdim etilgan.
        i (c) 2023. Barcha huquqlar himoyalangan.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script.
      var acc = document.getElementsByClassName("accordion");
      var i;
      var currentlyOpen = null;
      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      if (currentlyOpen && currentlyOpen !== this) {
      currentlyOpen.classList.remove("active");
      currentlyOpen.nextElementSibling.style.display = "none";
      }
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
      panel.style.display = "none";
      } else {
      panel.style.display = "block";
      }
      currentlyOpen = this.classList.contains("active") ? this : null;
      });
      }