doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/styles/styles.css')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  title Towards Green Transformation of teh Republic of Uzbekistan
header
  div
    a(href='/ru') RU
    a(href='/') Eng
  p From 2023
.top-logos
  img(src='/static/images/1578566221870.jpg' alt='CPRO' width='200px' height='200px')
  img(src='/static/images/f_Gk14C4ug.jpg' alt='OECD' width='150px' height='150px')
main
  h1 Green Growth Indicators for Uzbekistan
  h2 Monitoring progress based on the OECD green growth indicators
  .groups
    a.sub-group(href='/introduction')
      i.fa-regular.fa-file-lines
      .group-text
        h3 Introduction
        p Methodology and OECD green growth indicators framework
    a.sub-group(href='/group1')
      i.fa-solid.fa-arrow-up-right-dots
      .group-text
        h3 Group 1
        p The socio-economic context and characteristics of growth
    a.sub-group(href='/group2')
      i.fa-solid.fa-seedling
      .group-text
        h3 Group 2
        p The environmental and resource productivity of the economy
    a.sub-group(href='/group3')
      i.fa-brands.fa-envira
      .group-text
        h3 Group 3
        p The natural asset base
    a.sub-group(href='/group4')
      i.fa-solid.fa-building-columns
      .group-text
        h3 Group 4
        p The environmental dimension of quality of life
    a.sub-group(href='/group5')
      i.fa-solid.fa-users-gear
      .group-text
        h3 Group 5
        p Economic opportunities and policy responses
.main_findings
  h3 Main Findings
  .accordion-wrapper
    button.accordion What are the main socio-economic trends in Uzbekistan?
    .panel
      p
        |•	The economy of Uzbekistan has been steadily growing on average by 6% annually in the last decade. The real GDP value in Uzbekistan soums was UZS 160 trillion in 2022 (1 USD= 11,000 UZS). The service sector dominated Uzbekistan`s production contributing 38.6% of the total value added in the 2022 GDP.<br>
        <br>
        |•	Despite double-digit inflation at an average rate of 11% in the last three years Uzbekistan's real GDP per capita increased to UZS 4.6 million in 2022 (1 USD= 11,000 UZS), compared to UZS 2.8 million in 2010 (1USD=1700 UZS)..<br>
        <br>
        |•	Uzbekistan has maintained a relative income equality with a Gini index of 0.28. The country was on a trend of reducing the proportion of low-income population (from 26.55 in 2002 to 11.5 in 2019); however the proportion increased by 0.5 percentage points during the 2020 pandemic.<br>
        <br>
        |•	Uzbekistan is a net importer of goods and services as of 2016. The total import value was USD 25 billion in 2021, while the export value was USD 16 billion.<br>
        <br>
        |•	Uzbekistan’s population is growing at an annual rate of 1.6%. The population was over 35 million in 2022, with 54% of the population below 30. Life expectancy increased over the years and was 75 in 2019.<br>
        <br>
        |•	Although Uzbekistan has achieved 100% gross enrollment rates in primary and secondary education, enrollment in tertiary institutions is only 21% in 2021.<br>
        <br>
        |•	Uzbekistan’s 70% labour force was employed in 2021. The primary employers are the service (51%), followed by the industry(25%) and the agriculture (24%) sectors.<br>
        <br>
        |•	The net external migration for Uzbekistan has been negative during the last three decades, showing an excess of persons leaving the country.<br>

    button.accordion Is Uzbekistan becoming more efficient in using natural resources and environmental services?
    .panel
      p
        | •	Uzbekistan emits, on average, 109 mln tonnes CO2 per year, with its lion's share of nearly 80% coming from burning natural gas fuel. The energy sector is the major CO2 emitter in the country.<br>
        <br>
        | •	Uzbekistan is generating more economic benefits per unit of CO2 emitted (USD 2.5) in 2020, compared to USD 0.6 in 1990.<br>
        <br>
        | •	Uzbekistan’s total primary energy supply (TPES) in 2021 was 49.2 mln tonnes oil equivalent (toe). Renewables play a minor role (below 2%) in the energy mix of Uzbekistan, and non-renewable fossil fuels continue to dominate the TPES. Only 9 % of the electricity is generated from renewable sources in 2022.<br>
        <br>
        |  •	Uzbekistan generated economic benefit of USD 5,798 per toe primary energy in 2020, compared to USD 1,643 per toe in 1990, showing the country is improving its energy productivity. The main energy consumers in the country are the housing and commercial sector(45%), industry(20.5%) and transport(18.2%) sectors. The energy intensity of GDP in 2021 was 0.14 koe per USD and is on a declining trend, despite being one of the highest energy intense countries.<br>
        <br>
        |  •	Uzbekistan’s material productivity improved to USD 0.9/Kg in 2019, compared to USD 0.4 in 1992, showing increased output generated from using a given amount of materials in the economy.<br>
        <br>
        |  •	Around six mln tonnes of municipal solid waste was produced in Uzbekistan in 2021. Regular waste collection services cover only half of the population (2018). Solid waste recycling progressively improved from 1.4 mln in 2019 to 1.7 mln tonnes in 2021, with only 26% of MSW recycled.<br>
        <br>
        |  •	Uzbekistan has high excess fertilizer use per hectare (ha) of cropland. Crop production on average used 255 kg of fertilizer per ha in 2020. The value is 75% higher than the world average (146 Kg/ha).<br>

    button.accordion Is the natural asset base of Uzbekistan’s economy being maintained?
    .panel
      p
        | •	Uzbekistan had a land area of 440,650 km2 (44.1 mln ha) in 2020. Agriculture lands comprised 58% (256,000 km2 or 25.6 mln ha) of the land area in 2020. The share of agricultural land declined compared to 65% in 1990. Over 3.2 mln ha of agriculture land was cultivated in 2020, declining from 3.4 mln ha in 2000.<br>
        <br>
        |•	Uzbekistan’s forest area accounted for 8.4% (12 mln ha) of the land area in 2020. The volume of forest tree stocks was 76 mln m3 in 2015, compared to 72 mln m3 in 1990.<br>
        <br>
        |•	On average, Uzbekistan withdrew 52.6 bln m3 of freshwater per annum in the last three decades, making the country one of the most water-stressed countries in the world. The water stress level significantly increased in the last two decades (68% in 2019). The agriculture sector uses over 90% of the freshwater withdrawn. Water productivity in the economy improved to 1.8 USD in 2019 from 0.48 USD per m3 of water in 1994.<br>
        <br>
        |•	Uzbekistan’s protected areas comprised about 3.5 mln ha (8 % of the land area in 2021). By 2018, 52 species(36 animal and 16 plant) of all known species in the country were threatened with extinction.<br>
        <br>
        |•	The annual mean temperature in Uzbekistan was 14.8 oC in 2021 and was 35% higher than 50 years ago (11oC).<br>

    button.accordion Does greening economic growth generate benefits for people in Uzbekistan?
    .panel
      p
        | •	For the past decade, the concentration of fine particulate matter (PM2.5) pollutants in the air was above the unhealthy level of 35µg/m3; and over half of Uzbekistan's population has been exposed to PM2.5 daily concentration above 35µg/m3. National statistics show that in 2021 Uzbekistan had 909 tousand tonnes of polutants in the air.
        <br>
        |•	Over 750 people per mln inhabitants are estimated to die prematurely annually in Uzbekistan due to exposure to outdoor air pollution (PM2.5). This represents an annual welfare cost of 8.7% of GDP equivalent. Exposure to ozone caused seven deaths/per mln inhabitants in 2019, with an average welfare cost of 0.09% of GDP equivalent per year. Similarly, 100 people per mln inhabitants die annually due to lead poisoning, with an average welfare cost of 1.2% of GDP equivalent per year.
        <br>
        |•	Most people in Uzbekistan (nearly 60%)have access to safe drinking water, and 100% of the population has access to improved sanitation facilities in 2020.

    button.accordion How does greening growth generate economic opportunities in Uzbekistan?
    .panel
      p
        | •	Uzbekistan has an upward trend in developing environmentally-friendly technologies, representing 65% of all innovations in 2000, though the worldwide contribution of Uzbekistan to innovations in green growth remains low (0.01%).<br>
        <br>
        |•	The government of Uzbekistan annually invested 0.06% of total expenditures for environmental protection over 2012–19 and 0.1% of total government expenditures over 2019-2022 for climate action (SDG 13).<br>
        <br>
        |•	The environment pollution tax generates about 0.01% of revenues in the state budget. Uzbekistan does not yet systematically tag or register all ‘green’ revenues from taxes or non-tax revenues; thus, the amount of environmental revenue is underestimated.<br>
        <br>
        |•	In 2020, Uzbekistan’s fossil fuel subsidies amounted to USD 3.8 bln (6.6% of the GDP) . The Government aims to gradually phase out fossil fuel subsidies in the energy sector.<br>
        <br>
        |•	Uzbekistan’s government spending on environmental research and development (R&D) is rising. However, it is difficult to statistically capture progress on green innovation and associated green jobs and opportunities.<br>
        <br>
        |•	The concept of carbon markets, green jobs and environmental goods and services is new to Uzbekistan.<br>
        <br>
        |•	International financial flows in support of Uzbekistan’s green growth strategy are evolving. Development loans and grants for priority GG areas were estimated to be USD 840 mln and USD 66 mln, respectively in 2023. Support for the efficient use of natural resources and resilience to climate change attracted the most financing.<br>

    button.accordion What is the progresses in monitoring the priority national GGSF indicators for 2030?
    .panel
      p
        | •	Uzbekistan’s GGSF actionplan adopted in 2022, identifies eight main indicators with target values (for 2022,2024, 2026, 2028 and 2030), to monitor the implementation of the strategy. The action plan does not establish the source of data for future traking of the indicators nor does it provide baseline values for the indicators.<br>
        <br>
        | •	The GGSF action plan intends to establish a modern Monitoring, Verification and Reporting (MVR) system in 2024. The system needs to clarify the definitions and methods/procedures for calculation of the indicators, to help the MoEF to objectively assess the progress in achiving the targets.<br>

.explanation
  em
    | This green growth monitoring report is the outcome of joint efforts from Westminster International University in Tashkent (WIUT), the Ministry of Economy and Finance (MoEF), and the Statistics Agency (SA), working together to establish a reliable monitoring system towards a green economy. The report is prepared by a team of experts from the WIUT, under the leadership of <b>Bakhrom Mirkasimov (Rector)</b> and <b>Etenesh B. Asfaw (Senior Research Fellow at the Centre for Policy Research and Outreach)</b>. The research team includes Etenesh Asfaw, Nargiza Alimukhamedova, Omonjon Ganiev, Zohid Askarov, Akhtem Useinov, Angelo Battaglia, Kamilla Sultanova and Abdulaziz Dusbabaev.
footer
  p &copy; 2023. All right reserved
script.
  var acc = document.getElementsByClassName("accordion");
  var i;
  var currentlyOpen = null;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      if (currentlyOpen && currentlyOpen !== this) {
        currentlyOpen.classList.remove("active");
        currentlyOpen.nextElementSibling.style.display = "none";
      }

      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }

      currentlyOpen = this.classList.contains("active") ? this : null;
    });
  }