doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/styles/styles.css')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  title На пути к «зеленой трансформации» Республики Узбекистан
header
  div
    a(href='/ru') RU
    a(href='/') Eng
  p From 2023
.top-logos
  img(src='/static/images/1578566221870.jpg' alt='CPRO' width='200px' height='200px')
  img(src='/static/images/f_Gk14C4ug.jpg' alt='OECD' width='150px' height='150px')
main
  h1 Индикаторы зеленого роста для Узбекистана
  h2 Мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
  .groups
    a.sub-group(href='/introduction_ru')
      i.fa-regular.fa-file-lines
      .group-text
        h3 Введение
        p Методология и система показателей зеленого роста ОЭСР
    a.sub-group(href='/group1_ru')
      i.fa-solid.fa-arrow-up-right-dots
      .group-text
        h3 Группа 1
        p Социально-экономический контекст и характеристики роста
    a.sub-group(href='/group2_ru')
      i.fa-solid.fa-seedling
      .group-text
        h3 Группа 2
        p Экологическая и ресурсная продуктивность экономики
    a.sub-group(href='/group3_ru')
      i.fa-brands.fa-envira
      .group-text
        h3 Группа 3
        p База природных активов
    a.sub-group(href='/group4_ru')
      i.fa-solid.fa-building-columns
      .group-text
        h3 Группа 4
        p Экологический аспект качества жизни
    a.sub-group(href='/group5_ru')
      i.fa-solid.fa-users-gear
      .group-text
        h3 Группа 5
        p Экономические возможности и меры политики
.main_findings
  h3 Основные результаты
  .accordion-wrapper
    button.accordion Глава 1
    .panel
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    button.accordion Глава 2
    .panel
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    button.accordion Глава 3
    .panel
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.explanation
  em
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facilis cum libero veniam amet necessitatibus numquam, tenetur minus molestias ipsum quos. Quidem quia, possimus nostrum itaque suscipit labore quod autem?
footer
  p &copy; 2023. Все права защищены
script.
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var panel = this.nextElementSibling;
  if (panel.style.display === "block") {
  panel.style.display = "none";
  } else {
  panel.style.display = "block";
  }
  });
  }
