doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title На пути к «зеленой трансформации» Республики Узбекистан
    link(rel='stylesheet', href='/static/styles/index.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active(href='/home_ru') RU
        a(href='/home') Eng
        a(href='/home_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page')
    .top-logos#large-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    main
      h1 Индикаторы зеленого роста для Узбекистана
      h2 Мониторинг прогресса на основе индикаторов зеленого роста ОЭСР
      .groups
        a.sub-group(href='/introduction_ru')
          h3 Введение
          .group-text
            .introduction_icon
            p Методология и система индикаторов "зеленого" роста ОЭСР
        a.sub-group(href='/group1_ru')
          h3 Группа 1
          .group-text
            .group-1_icon
            p Социально-экономический контекст
        a.sub-group(href='/group2_ru')
          h3 Группа 2
          .group-text
            .group-2_icon
            p Экологическая и ресурсная продуктивность экономики
        a.sub-group(href='/group3_ru')
          h3 Группа 3
          .group-text
            .group-3_icon
            p База природных активов
        a.sub-group(href='/group4_ru')
          h3 Группа 4
          .group-text
            .group-4_icon
            p Экологический аспект качества жизни
        a.sub-group(href='/group5_ru')
          h3 Группа 5
          .group-text
            .group-5_icon
            p Экономические возможности и меры политики
    .accordion-wrapper
      button.accordion Публикации и ссылки
      .panel
        p
          | Официальный отчет за 2023 год -
          a(href='/static/data/GGI_Report.pdf' target = "_blank")
            | Greening the Economy in Uzbekistan: State of Play in 2023. Monitoring progress based on the OECD green growth indicators
        p
          | Документ об основных выводах -
          a(href='/static/data/Main_Findings.pdf' target = "_blank") Main Findings on GGI study
    .top-logos#small-screen
      img(src='/static/images/German_Bundestag.png', alt='german bundestag' width = '150px')
      img(src='/static/images/IKI_logo_GB_rgb.png', alt='international climate initiative' width = '150px')
      img(src='/static/images/1578566221870.jpg', alt='CPRO', width='150px')
      img(src='/static/images/f_Gk14C4ug.jpg', alt='OECD', width='150px')
      img(src="/static/images/imv.png", alt="imv" width = '150px')
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Этот сайт создан при финансовой поддержке Европейского Союза. Мнения, выраженные в этом документе, ни в коем случае не могут рассматриваться как отражение официальных мнений Европейского Союза, его членов или правительств стран Восточного партнерства. Этот сайт, а также все его содержимое не наносят ущерба статусу или суверенитету какой-либо территории, делимитации международных границ и границ, а также наименованию любой территории, города или региона.
        i (c) 2023 г. Все права защищены.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script.
      var acc = document.getElementsByClassName("accordion");
      var i;
      var currentlyOpen = null;
      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      if (currentlyOpen && currentlyOpen !== this) {
      currentlyOpen.classList.remove("active");
      currentlyOpen.nextElementSibling.style.display = "none";
      }
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
      panel.style.display = "none";
      } else {
      panel.style.display = "block";
      }
      currentlyOpen = this.classList.contains("active") ? this : null;
      });
      }