doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 1: The socio-economic context and charactersists of growth
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/introduction_ru') RU
        a.active_language(href='/introduction') Eng
        a(href='/introduction_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a.nav-active(href='/introduction')
          i.fa-regular.fa-file-lines
        p.nav-active Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-regular.fa-file-lines
      h1 Introduction. Methodology and OECD green growth indicators framework
    .description
      p
        | This chapter introduces the OECD Green Growth Indicators (GGIs) framework, developed to monitor progress towards a green economy in OECD member states, and its pilot application in Uzbekistan
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 1.1 Introduction to the OECD green growth indicators framework
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 1.2 Country context and national processes with relevance to a green economy 
      .section_text
        #sub-section-1.sub-section.active
          h2 1.1 Introduction to the OECD green growth indicators framework
          ul
            li The OECD defines green growth as “fostering economic growth and development while ensuring that natural assets continue to provide the resources and environmental services on which our well-being relies”. It is the point where twin challenges meet – the need to expand economic opportunities, while addressing environmental pressures. It is also about exploiting the opportunities to realise the two together (OECD, 2017). 
            li In 2011, the OECD developed a green growth monitoring framework to support implementation of a Green Growth Strategy in its member countries. Since then, it has been widely applied among OECD members and beyond, including in Central Asia (CA) (Kyrgyzstan and Kazakhstan). The approach is kept flexible to allow adaptation to the national context. 
            li Green economy policies need to be supported with appropriate indicators to monitor progress. The OECD Green Growth Indicators (GGIs) framework helps countries to:
              p • track and communicate progress in greening economic growth 
              p • make informed decisions 
              p • demonstrate accountability to national and international stakeholders 
              p • raise public awareness about the links between economic growth and the environment 
              p • compare progress with other countries
            li The GGIs framework comprises 26 main indicators grouped around four dimensions of green growth:
              p • environmental and resource productivity of the economy
              p • natural asset base
              p • environmental dimension of quality of life
              p • economic opportunities and policy responses
            li The GGIs framework also captures information on the socio-economic context of a country to complement the four green growth dimensions.
        #sub-section-2.sub-section
          h2 1.2 Country context and national processes with relevance to a green economy 
          ul
            li Uzbekistan is the world’s 42nd largest greenhouse gas (GHG) emitter with a 0.37% share in 2019. It is the second largest emitter in CA, after Kazakhstan. Finally, its emissions per unit of gross domestic product (GDP) are the fifth largest in the world [2]. In 2019, the government adopted a strategy for transition to a green economy by 2030 to reverse this trend, framing the country’s strategic vision to decouple economic growth from environmental degradation [3]. The green strategy sets six core priorities followed by three cross-cutting priorities: 
              p 
                | 1. ensuring efficient use of natural resources
              p 
                | 2. strengthening the resilience of the economy to natural disasters and climate change
              p 
                | 3. ensuring low-carbon emissions of the economy, in particular, the industry sector
              p 
                | 4. introducing innovations and attracting green investments
              p 
                | 5. developing sustainable urbanisation, with expanding urban green spaces 
              p 6.	supporting the population most affected during the transition to a green economy
              p 7. building human capacity on the green economy and enhancing green thinking
              p 8. developing an enabling policy environment (institutions, data collection and monitoring)
              p 9. increasing flows of green financing.
            li The GGSF Programme and Action Plan envisions establishing a modern monitoring, reporting, and validation (MRV) system for inventory of GHG emissions. The MoEF will implement the GGSF in collaboration with the MoEEPCC – Uzhydromet Centre from 1 January 2024. The national GGSF monitoring indicators and processes are further discussed in Chapter 7 of the report. 
            li The national SDG indicators, the eight GGSF Programme and Action Plan indicators by 2030 and the OECD GGIs partially overlap. It is vital to ensure these three monitoring streams complement rather than duplicate to maximise the value added of each monitoring exercise. 
            li Uzbekistan’s mandated public authorities – the MoEF and the SA – may establish a mechanism for regular data collection and reporting on GGIs. Developing a national OECD-based set of GGIs for Uzbekistan will complement the existing national monitoring processes. Although the national SDGs and the 2030 GGSF have a set of target values used in the monitoring processes , the OECD-based GGIs do not require established targets. Rather, they show a trend over time for supporting policy makers to make informed decisions. The OECD GGIs also enable comparison of Uzbekistan with other countries.
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')