doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Group 1: The socio-economic context and charactersists of growth
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/introduction_ru') RU
        a.active_language(href='/introduction') Eng
        a(href='/introduction_uz') UZB
      a.home_page_link(href='/' title = 'Home Page') 
    .navigation
      div
        a(href='/home')
          i.fa-solid.fa-house-flag
        p Home Page
      div
        a.nav-active(href='/introduction')
          i.fa-regular.fa-file-lines
        p.nav-active Introduction
      div
        a(href='/group1')
          i.fa-solid.fa-arrow-up-right-dots
        p Group 1
      div
        a(href='/group2')
          i.fa-solid.fa-seedling
        p Group 2
      div
        a(href='/group3')
          i.fa-brands.fa-envira
        p Group 3
      div
        a(href='/group4')
          i.fa-solid.fa-building-columns
        p Group 4
      div
        a(href='/group5')
          i.fa-solid.fa-users-gear
        p Group 5
    .heading
      i.fa-regular.fa-file-lines
      h1 Introduction. Methodology and OECD green growth indicators framework
    .description
      p
        | text
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 section title
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 section title
        #section-3
          i.fa-solid.fa-file-circle-check
          h3 section title
      .section_text
        #sub-section-1.sub-section.active
          h2 Title
          ul
            li text
            li text
            li text
            li text
            li text
            li text
        #sub-section-2.sub-section
          h2 title
          p text
          ul 
            li 
              | text
            li 
              | text
            li 
              | text
            li 
              | text
            li 
              | text
        #sub-section-3.sub-section
          h2 text
          ul 
            li
              | text
            li  
              | text
            li  
              | text
            li  
              | text
            li  
              | text
            li  
              | text
    p.disclaimer 
      | This platform, as well as any data and map included herein, are without prejudice to the status of or sovereignty over any territory, to the delimitation of international frontiers and boundaries and to the name of any territory, city or area.
    footer
      .contacts
        p Contacts:
        p
          | Westminster International University in Tashkent, 12 Istiqbol street, Tashkent 100047
        p Email: cpro@wiut.uz
        p Phone:+998 71 238 74 48
      .rights
        p
          | The platform was prepared with the financial support of Germany’s Federal Ministry for the Environment, Nature Conservation, Nuclear Safety and Consumer Protection (BMUV), provided through its International Climate Initiative. 
        i (c) 2023. All rights reserved.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')