doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Introduction RU
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a.active_language(href='/introduction_ru') RU
        a(href='/introduction') Eng
        a(href='/introduction_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a.nav-active(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p.nav-active Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-regular.fa-file-lines
      h1 Введение. Система индикаторов "зеленого роста" ОЭСР и контекст страны
    .description
      p
        | В данной главе представлена система индикаторов зеленого роста ОЭСР (GGIs), разработанная для мониторинга прогресса на пути к зеленой экономике в странах-членах ОЭСР, и ее пилотное применение в Узбекистане.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 1.1 Введение в систему показателей "зеленого" роста ОЭСР
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 1.2 Контекст страны и национальные процессы, имеющие отношение к "зеленой" экономике 
      .section_text
        #sub-section-1.sub-section.active
          h2 1.1 Введение в систему показателей "зеленого" роста ОЭСР
          ul
            li ОЭСР определяет "зеленый рост" как "стимулирование экономического роста и развития при одновременном обеспечении того, чтобы природные активы продолжали предоставлять ресурсы и экологические услуги, от которых зависит наше благосостояние". Это точка, где встречаются две задачи - необходимость расширения экономических возможностей при одновременном решении экологических проблем. Речь также идет об использовании возможностей для их совместной реализации.
            li В 2011 году ОЭСР разработала систему мониторинга "зеленого" роста для поддержки реализации стратегии "зеленого" роста в странах-членах. С тех пор она широко применяется среди членов ОЭСР и за ее пределами, в том числе в Центральной Азии (ЦА) (Кыргызстан и Казахстан). Подход отличается гибкостью, позволяющей адаптировать его к национальным условиям.
            li Политика "зеленой" экономики должна подкрепляться соответствующими индикаторами для мониторинга прогресса. Система индикаторов зеленого роста ОЭСР (GGIs) помогает странам:
              p • отслеживать и информировать о прогрессе в деле экологизации экономического роста
              p • принимать обоснованные решения
              p • демонстрировать подотчетность перед национальными и международными заинтересованными сторонами 
              p • повысить осведомленность общественности о взаимосвязи между экономическим ростом и охраной окружающей среды
              p • сравнить достигнутый прогресс с другими странами
            li Система GGI включает в себя 26 основных показателей, сгруппированных по четырем измерениям "зеленого" роста:
              p • экологическая и ресурсная продуктивность экономики
              p • база природных активов
              p • экологическое измерение качества жизни
              p • экономические возможности и политические меры
            li Система GGIs также учитывает информацию о социально-экономическом контексте страны в дополнение к четырем измерениям "зеленого" роста.
        #sub-section-2.sub-section
          h2 1.2 Контекст страны и национальные процессы, имеющие отношение к "зеленой" экономике
          ul
            li Узбекистан занимает 42-е место в мире по выбросам парниковых газов (ПГ) с долей 0,37% в 2019 г. Он является вторым по величине источником выбросов в ЦА после Казахстана, а по выбросам на единицу валового внутреннего продукта (ВВП) занимает пятое место в мире. В 2019 году правительство приняло стратегию перехода к "зеленой" экономике к 2030 году, чтобы переломить эту тенденцию, сформулировав стратегическое видение страны, направленное на отказ от экономического роста и деградации окружающей среды.
            li Национальные "зеленые" приоритеты сочетаются с амбициозными международными обязательствами Узбекистана. В 2018 году правительство приняло Повестку дня на период до 2030 года, включая обязательства по экологическим показателям. В 2021 году в рамках выполнения Парижского соглашения на 26-й сессии Конвенции ООН об изменении климата (COP26) правительство обязалось сократить выбросы парниковых газов на единицу ВВП на 35% в 2030 году по сравнению с уровнем 2010 года. В 2022 г. страна присоединилась к Глобальному обещанию по снижению выбросов метана для достижения коллективной цели по сокращению выбросов метана на 30% к 2030 г. по сравнению с уровнем 2020 г. (190,6 мегатонн CO2-экв.).
            li В 2022 году в рамках "Указа Президента Республики Узбекистан о мерах по повышению эффективности реформ, направленных на переход Узбекистана к "зеленой" экономике до 2030 года" (далее - "Национальная стратегическая схема зеленого роста") была введена система мониторинга зеленого роста, состоящая из восьми индикаторов.
            li Национальные индикаторы ЦУР, восемь индикаторов Программы и Плана действий ГСГФ и ИГ ОЭСР частично дублируют друг друга. Крайне важно обеспечить взаимодополняемость этих трех направлений мониторинга. Хотя национальные ЦУР и ПГФ-2030 имеют набор целевых значений, используемых в процессе мониторинга, ПГИ ОЭСР не требуют установленных целевых показателей. Скорее, они показывают тенденцию изменения показателей во времени, что помогает политикам принимать обоснованные решения. ПГИ ОЭСР также позволяют сравнивать Узбекистан с другими странами.
            li Данная работа является первой попыткой оценить прогресс Узбекистана на пути к "зеленой" экономике с использованием набора ИГР ОЭСР, адаптированных к национальному контексту. В отчете раскрываются исторические тенденции "зеленого" роста в период с 1991 по 2022 год или по последним имеющимся данным.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')