doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/d638520dfa.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/static/styles/styles1.css')
  title Введение. Методология и система показателей зеленого роста ОЭСР
header
  div
    a(href='/introduction_ru') RU
    a(href='/introduction') Eng
  p From 2023
.navigation
  a(href='/ru')
    i.fa-solid.fa-house-flag
  a.nav-active(href='/introduction_ru')
    i.fa-regular.fa-file-lines
  a(href='/group1_ru')
    i.fa-solid.fa-arrow-up-right-dots
  a(href='/group2_ru')
    i.fa-solid.fa-seedling
  a(href='/group3_ru')
    i.fa-brands.fa-envira
  a(href='/group4_ru')
    i.fa-solid.fa-building-columns
  a(href='/group5_ru')
    i.fa-solid.fa-users-gear
.heading
  i.fa-regular.fa-file-lines
  h1 Введение. Методология и система показателей зеленого роста ОЭСР
.description
  p
    |Эта группа показателей исследует социально-экономический контекст и характеристики роста с помощью девяти показателей. Они варьируются от роста и структуры валового внутреннего продукта до экономически активного населения, безработицы и плотности населения до ожидаемой продолжительности жизни, равенства доходов и охвата образованием. Эти показатели помогают отслеживать влияние политики и мер зеленого роста на рост и развитие, связывая показатели зеленого роста с социальными целями: экономическим ростом, производительностью и конкурентоспособностью.
    |рынок труда, образование и доход.
main
  .section
    #section-1.section-active
      i.fa-solid.fa-file-circle-check
      h3 Общая информация
    #section-2
      i.fa-solid.fa-file-circle-check
      h3 Преимущества мониторинга прогресса на пути к «зеленой» экономике
    #section-3
      i.fa-solid.fa-file-circle-check
      h3 Мониторинг устойчивого развития и зеленого роста в Узбекистане
  .section_text
    #first.sub-section.active
      h2 Общая информация
      p
        |Отправной точкой для подготовки этого документа послужили Отчет об оценке эффективности развития «зеленой» экономики в Молдове (2017 г.) и Программа продвижения «зеленой» экономики на 2018-2020 гг. Программа представляла собой национальный документ среднесрочной политики по продвижению «зеленой» экономики на национальном уровне в различных областях: энергоэффективность, возобновляемые источники энергии, «зеленые» малые и средние предприятия, «зеленое» сельское хозяйство, чистое производство и устойчивое потребление.
        |Этот отчет был основан на анализе тенденций показателей в вышеупомянутой Программе, но также рассматривал меняющиеся показатели. В отчете подчеркивается анализ временных рядов и международная сопоставимость показателей, включенных в Национальную программу. Однако он также рассчитал новые показатели, отражающие зеленый рост. Кроме того, были предложены показатели для включения в следующий отчет об оценке политики зеленого роста.
        |В отчете представлены две категории показателей. Первый состоит из индикаторов с временными рядами, полученными путем сбора данных из национальных или международных общедоступных источников. Для этой категории отчет подтвердил качество данных и удостоверился, что индикаторы соответствуют рекомендациям Руководства EaP GREEN (EaP GREEN, 2016). Во второй категории используются рассчитываемые авторами показатели, такие как продуктивность углерода или воды. Эти показатели также были рассчитаны на основе рекомендаций EaP GREEN Guide.
        |Все показатели, относящиеся к ВВП или общей численности населения, были пересчитаны. Сначала численность населения была пересчитана по результатам переписи 2014 года. Во-вторых, Система национальных счетов ООН 2008 г. обусловила переход на новый метод расчета ВВП.
        |В этом отчете каждому показателю посвящен отдельный раздел, в котором кратко описывается показатель и анализируется его эволюция. Большинство показателей также представлены в международных сравнениях с другими европейскими странами. Все методологии, связанные с показателями, представлены в заключительных приложениях к настоящему отчету. В первом приложении представлена ​​таблица со списком показателей зеленого роста для Молдовы. В таблице представлены 33 экологических показателя в отчете за 2017 год. В нем также перечислены национальные и международные показатели (используемые для сравнения с другими европейскими странами), которые были рассчитаны для данного отчета. Наконец, в таблицу включены рекомендуемые показатели для будущей оценки прогресса на пути к «зеленой» экономике. Во втором приложении есть таблица, объясняющая используемую методологию (источники данных и описание метода расчета) для всех показателей.
    #second.sub-section
      h2 Преимущества мониторинга прогресса на пути к «зеленой» экономике
      p
        | Политика зеленого роста должна быть подкреплена соответствующими показателями для отслеживания прогресса. Индикаторы зеленого роста могут помочь:
      ul
        li отслеживать и сообщать о прогрессе в экологизации экономического роста
        li информировать решения
        li продемонстрировать подотчетность национальным и международным заинтересованным сторонам
        li
          | повышать осведомленность общественности о связях между экономическим ростом и окружающей средой
        li сравнить прогресс между странами.
    #third.sub-section
      h2 Sustainable development and green growth monitoring in Moldova
      p
        | Moldova integrated environment and green growth objectives into its strategic policy planning framework, which is periodically evaluated. The government Activity Programme contains a dedicated chapter on promotion of green and circular economy. The National Development Strategy &ldquo;Moldova 2030&rdquo;, which is the country&rsquo;s most important strategic plan, is under revision with adoption expected in 2022. It includes among its key priorities the development of a sustainable and green economy, as well as climate change adaptation in all economic sectors. This is reflected in the first objective (building a sustainable economy) and in the tenth objective (promoting a green agenda).
        | The vision outlined in Moldova 2030 is anchored in two strategic international commitments. The first one is the Association Agreement with the European Union, signed in 2014, which commits the Parties to co&#x2011;operate on environment matters. Moldova agrees to act on several fronts to support sustainable development and greening of the economy to generate benefits for citizens and businesses. Specifically, Moldova agrees to enhance public health, conserve natural resources, increase economic and environmental efficiency, integrate the environment into other policy areas and use modern, cleaner technologies that contribute to a more sustainable production model. Co&#x2011;operation is based on equality and mutual benefit, as well as interdependence in the field of environmental protection and multilateral agreements in this field (article 86).
        | The second major international commitment is outlined in Agenda 2030 for Sustainable Development. Namely, Sustainable Development Goal (SDG) 8.4, adopted by the Moldovan government in 2017, states that authorities commit to improve progressively, through 2030, resource efficiency in consumption and production to decouple economic growth from environmental degradation. In addition, SDG 12 is dedicated to responsible consumption and production. Thus, according to the commitments, Moldova will fully incorporate the principles of sustainable development and procurement, as well as efficient management of national resources, in national policymaking and regulations. Meanwhile, it will encourage industries and businesses to adopt resource-efficient production and to share responsibility for disposal of toxic waste and pollutants. SDG 12 also states that people should take responsibility in regard to consumption of economic goods and natural resources by reducing waste and increasing recycling. The synergy and participation of all actors in this production&ndash;consumption chain will save and preserve natural resources and reduce the ecological damage caused by economic growth.
        | Progress against Agenda 2030 was assessed in 2020 under the Voluntary National Review Progress Report 2020 (Government of Moldova, 2020). Despite some progress, the review found many shortcomings:
        | Environmental protection faces a shortage of institutional capacities and funding from the state budget, as the financial resources available every year for environmental protection are clearly lower than what is required to address the existing challenges; sectoral strategies and programmes estimate the cost to be hundreds of millions of euros. Therefore, it is quite important to re-evaluate funding in this field and streamline budgetary allocations so that financial resources will be used transparently and in accordance with the priorities set out in policy documents for environmental protection and promotion of the green economy.
        | Finally, the main sectoral policy planning document &ndash; the Environment Strategy for 2014-23 (Government of Moldova, 2014a) &ndash; lists as one of its priorities the integration of principles of sustainable and green economy into all economic sectors. The Ministry of Environment periodically monitors and evaluates this strategy.
footer
  p &copy; 2023. All right reserved

script(src='/static/javascripts/scripts.js')
