doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Introduction RU
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/introduction_ru') RU
        a(href='/introduction') Eng
        a.active_language(href='/introduction_uz') UZB
      a.home_page_link(href='/ru' title = 'Home Page') 
    .navigation
      div
        a(href='/home_ru')
          i.fa-solid.fa-house-flag
        p Главная страница
      div
        a.nav-active(href='/introduction_ru')
          i.fa-regular.fa-file-lines
        p.nav-active Введение
      div
        a(href='/group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
        p Группа 1
      div
        a(href='/group2_ru')
          i.fa-solid.fa-seedling
        p Группа 2
      div
        a(href='/group3_ru')
          i.fa-brands.fa-envira
        p Группа 3
      div
        a(href='/group4_ru')
          i.fa-solid.fa-building-columns
        p Группа 4
      div
        a(href='/group5_ru')
          i.fa-solid.fa-users-gear
        p Группа 5
    .heading
      i.fa-regular.fa-file-lines
      h1 Введение. Методология и система показателей зеленого роста ОЭСР
    .description
      p
        | Эта группа показателей исследует социально-экономический контекст и характеристики роста с помощью девяти показателей. Они варьируются от роста и структуры валового внутреннего продукта до экономически активного населения, безработицы и плотности населения до ожидаемой продолжительности жизни, равенства доходов и охвата образованием. Эти показатели помогают отслеживать влияние политики и мер зеленого роста на рост и развитие, связывая показатели зеленого роста с социальными целями: экономическим ростом, производительностью и конкурентоспособностью. 
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 Общая информация
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 Преимущества мониторинга прогресса на пути к «зеленой» экономике
        #section-3
          i.fa-solid.fa-file-circle-check
          h3 Мониторинг устойчивого развития и зеленого роста в Узбекистане
      .section_text
        #sub-section-1.sub-section.active
          h2 Общая информация
          ul
            li Отправной точкой для подготовки этого документа послужили Отчет об оценке эффективности развития «зеленой» экономики в Молдове (2017 г.) и Программа продвижения «зеленой» экономики на 2018-2020 гг. Программа представляла собой национальный документ среднесрочной политики по продвижению «зеленой» экономики на национальном уровне в различных областях: энергоэффективность, возобновляемые источники энергии, «зеленые» малые и средние предприятия, «зеленое» сельское хозяйство, чистое производство и устойчивое потребление.
            li Этот отчет был основан на анализе тенденций показателей в вышеупомянутой Программе, но также рассматривал меняющиеся показатели. В отчете подчеркивается анализ временных рядов и международная сопоставимость показателей, включенных в Национальную программу. Однако он также рассчитал новые показатели, отражающие зеленый рост. Кроме того, были предложены показатели для включения в следующий отчет об оценке политики зеленого роста.
            li В отчете представлены две категории показателей. Первый состоит из индикаторов с временными рядами, полученными путем сбора данных из национальных или международных общедоступных источников. Для этой категории отчет подтвердил качество данных и удостоверился, что индикаторы соответствуют рекомендациям Руководства EaP GREEN (EaP GREEN, 2016). Во второй категории используются рассчитываемые авторами показатели, такие как продуктивность углерода или воды. Эти показатели также были рассчитаны на основе рекомендаций EaP GREEN Guide.
            li Все показатели, относящиеся к ВВП или общей численности населения, были пересчитаны. Сначала численность населения была пересчитана по результатам переписи 2014 года. Во-вторых, Система национальных счетов ООН 2008 г. обусловила переход на новый метод расчета ВВП.
            li В этом отчете каждому показателю посвящен отдельный раздел, в котором кратко описывается показатель и анализируется его эволюция. Большинство показателей также представлены в международных сравнениях с другими европейскими странами. Все методологии, связанные с показателями, представлены в заключительных приложениях к настоящему отчету. В первом приложении представлена ​​таблица со списком показателей зеленого роста для Молдовы. В таблице представлены 33 экологических показателя в отчете за 2017 год. В нем также перечислены национальные и международные показатели (используемые для сравнения с другими европейскими странами), которые были рассчитаны для данного отчета. Наконец, в таблицу включены рекомендуемые показатели для будущей оценки прогресса на пути к «зеленой» экономике. Во втором приложении есть таблица, объясняющая используемую методологию (источники данных и описание метода расчета) для всех показателей.
        #sub-section-2.sub-section
          h2 Преимущества мониторинга прогресса на пути к «зеленой» экономике
          p
            | Политика зеленого роста должна быть подкреплена соответствующими показателями для отслеживания прогресса. Индикаторы зеленого роста могут помочь:
          ul 
            li 
              | отслеживать и сообщать о прогрессе в экологизации экономического роста
            li 
              | информировать решения
            li 
              | продемонстрировать подотчетность национальным и международным заинтересованным сторонам
            li 
              | повышать осведомленность общественности о связях между экономическим ростом и окружающей средой
            li 
              | сравнить прогресс между странами.
        #sub-section-3.sub-section
          h2 Мониторинг устойчивого развития и зеленого роста в Молдове
          ul
            li Молдова интегрировала цели охраны окружающей среды и зеленого роста в рамки стратегического планирования политики, которые периодически оцениваются. Программа деятельности правительства содержит специальную главу, посвященную продвижению зеленой экономики и экономики замкнутого цикла. Национальная стратегия развития «Молдова 2030», являющаяся важнейшим стратегическим планом страны, находится на пересмотре, принятие которого ожидается в 2022 году. Среди ее ключевых приоритетов – развитие устойчивой и «зеленой» экономики, а также изменение климата. адаптации во всех отраслях экономики. Это отражено в первой цели (построение устойчивой экономики) и в десятой цели (продвижение «зеленой» повестки дня).
            li Видение, изложенное в «Молдове 2030», основано на двух стратегических международных обязательствах. Первым из них является Соглашение об ассоциации с Европейским союзом, подписанное в 2014 году, которое обязывает стороны сотрудничать в вопросах окружающей среды. Молдова соглашается действовать по нескольким направлениям для поддержки устойчивого развития и экологизации экономики, чтобы приносить пользу гражданам и бизнесу. В частности, Молдова соглашается укреплять здоровье населения, сохранять природные ресурсы, повышать экономическую и экологическую эффективность, интегрировать охрану окружающей среды в другие области политики и использовать современные, более чистые технологии, способствующие созданию более устойчивой модели производства. Сотрудничество основано на равенстве и взаимной выгоде, а также на взаимозависимости в области охраны окружающей среды и многосторонних соглашениях в этой области (статья 86).
            li Второе крупное международное обязательство изложено в Повестке дня в области устойчивого развития на период до 2030 года. А именно, Цель устойчивого развития (ЦУР) 8.4, принятая правительством Молдовы в 2017 году, гласит, что власти обязуются постепенно, до 2030 года, повышать эффективность использования ресурсов в потреблении и производстве, чтобы отделить экономический рост от деградации окружающей среды. Кроме того, ЦУР 12 посвящена ответственному потреблению и производству. Таким образом, согласно обязательствам, Молдова будет полностью включать принципы устойчивого развития и закупок, а также эффективного управления национальными ресурсами в разработку национальной политики и нормативных актов. Между тем, это будет стимулировать промышленность и бизнес к внедрению ресурсоэффективного производства и совместной ответственности за утилизацию токсичных отходов и загрязняющих веществ. В ЦУР 12 также говорится, что люди должны брать на себя ответственность в отношении потребления экономических благ и природных ресурсов за счет сокращения отходов и увеличения объема вторичной переработки. Синергия и участие всех участников этой производственно-потребительской цепочки позволит сберечь и сохранить природные ресурсы и уменьшить экологический ущерб, наносимый экономическим ростом.
            li Прогресс в отношении Повестки дня на период до 2030 г. оценивался в 2020 г. в рамках Отчета о ходе добровольного национального обзора за 2020 г. (Правительство Молдовы, 2020 г.). Несмотря на некоторый прогресс, обзор выявил множество недостатков:
            li Охрана окружающей среды сталкивается с нехваткой институциональных возможностей и финансирования из государственного бюджета, поскольку финансовые ресурсы, выделяемые каждый год на охрану окружающей среды, явно меньше, чем требуется для решения существующих проблем; секторальные стратегии и программы оценивают стоимость в сотни миллионов евро. Поэтому очень важно провести переоценку финансирования в этой сфере и упорядочить бюджетные ассигнования, чтобы финансовые ресурсы использовались прозрачно и в соответствии с приоритетами, изложенными в программных документах по охране окружающей среды и продвижению «зеленой» экономики.
            li Наконец, основной документ планирования отраслевой политики &ndash; Экологическая стратегия на 2014–2023 годы (правительство Молдовы, 2014a) – называет одним из своих приоритетов интеграцию принципов устойчивой и зеленой экономики во все сектора экономики. Министерство окружающей среды периодически отслеживает и оценивает эту стратегию.
    p.disclaimer 
      | Данная платформа, а также любые данные и карты, включенные в нее, не затрагивают статус или суверенитет какой-либо территории, делимитацию международных границ и рубежей, а также название какой-либо территории, города или района.
    footer
      .contacts
        p Контакты:
        p
          | Вестминстерский международный университет в Ташкенте, улица Истикбол, 12, Ташкент 100047
        p Электронная почта: cpro@wiut.uz
        p Телефон:+998 71 238 74 48
      .rights
        p
          | Платформа подготовлена при финансовой поддержке Федерального министерства окружающей среды, охраны природы, ядерной безопасности и защиты прав потребителей Германии (BMUV), оказанной в рамках Международной климатической инициативы.
        i (c) 2023 г. Все права защищены.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')