doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Kirish
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/introduction_ru') RU
        a(href='/introduction') Eng
        a.active_language(href='/introduction_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a.nav-active(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p.nav-active Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-regular.fa-file-lines
      h1 Kirish. IHTTning "yashil" o’sish ko'rsatkichlari va mamlakat konteksti
    .description
      p
        | Ushbu bobda IHTTga a’zo davlatlarda "yashil" iqtisodiyot yo‘lidagi taraqqiyotni kuzatish uchun ishlab chiqilgan IHTT "yashil" o‘sish ko‘rsatkichlari (YAO‘K) tizimi va uning O‘zbekistonda sinov tarzda qo‘llanilishi bayon etilgan.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 1.1 IHTTning "yashil" o‘sish ko‘rsatkichlari tizimiga kirish
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 1.2 "Yashil iqtisodiyot" bilan bog‘liq mamlakat konteksti va milliy jarayonlar 
      .section_text
        #sub-section-1.sub-section.active
          h2 1.1 IHTTning "yashil" o‘sish ko‘rsatkichlari tizimiga kirish
          ul
            li IHTT "yashil o‘sish"ni "iqtisodiy o‘sish va rivojlanishga ko‘maklashish, shu bilan birga tabiiy boyliklar bizning farovonligimiz bog‘liq bo‘lgan resurslar va ekologik xizmatlarning taqdim etilishi davom etishini ta’minlash" deb ta’riflaydi. Ushbu ikki vazifa - atrof-muhitga nisbatan bosimni bartaraf etish bilan birga iqtisodiy imkoniyatlarni kengaytirish zarurati birlashadigan nuqtadir. U, shuningdek, ularni birgalikda amalga oshirish uchun imkoniyatlardan foydalanish masalasini ko‘taradi.
            li 2011 yilda IHTT o‘z a’zo mamlakatlarida "yashil o‘sish" strategiyasini amalga oshirishni qo‘llab-quvvatlash uchun "yashil o‘sish" monitoring tizimini ishlab chiqdi. Shundan buyon u IHTT a’zolari orasida va undan tashqarida, shu jumladan Markaziy Osiyo (MO) (Qirg‘iziston va Qozog‘iston)da keng qo‘llanilmoqda. Yondashuv moslashuvchan bo‘lib, uni milliy kontekstga moslashtirishga imkon beradi. 
            li "Yashil" iqtisodiyot siyosati taraqqiyotni kuzatish uchun tegishli ko‘rsatkichlar bilan qo‘llab-quvvatlanishi kerak. IHTT "yashil o‘sish" ko‘rsatkichlari (YAO‘K) tizimi mamlakatlarga quyidagilarda yordam beradi:
              p • ekologik jihatdan iqtisodiy o‘sishdagi taraqqiyotni kuzatib borish va ma’lumot berish 
              p • milliy va xalqaro manfaatdor tomonlarga hisobdorlikni namoyish etish 
              p • milliy va xalqaro manfaatdor tomonlarga hisobdorlikni namoyish etish 
              p • iqtisodiy o‘sish va atrof-muhit o‘rtasidagi bog‘liqlik to‘g‘risida jamoatchilik xabardorligini oshirish 
              p • taraqqiyotni boshqa mamlakatlar bilan taqqoslash.
            li YAO‘Klar tuzilishi "yashil o‘sish"ning to‘rt jihati bo‘yicha guruhlangan 26 ta asosiy ko‘rsatkichni o‘z ichiga oladi:
              p • iqtisodiyotning ekologik va zaxiralarni tejash jihatdan samaradorligi
              p • tabiiy zaxiralar bazasi
              p • hayot sifatining ekologik jihati
              p • iqtisodiy imkoniyatlar va siyosiy javob choralari.
            li YAO‘K tuzilmasi, shuningdek, "yashil o‘sish"ning to‘rt jihatiga qo‘shimcha ravishda mamlakatning joriy ijtimoiy-iqtisodiy vaziyati haqida ma’lumot yig‘adi.
        #sub-section-2.sub-section
          h2 1.2 "Yashil iqtisodiyot" bilan bog‘liq mamlakat konteksti va milliy jarayonlar 
          ul
            li O‘zbekiston 2019-yilda 0,37%  ulush bilan issiqxona gazlari (IG) chiqarilishi bo‘yicha dunyoda 42-o‘rinni egallagan; bu Markaziy Osiyoda Qozog‘istondan keyin ikkinchi o‘rin; IG chiqindilarining Yalpi ichki mahsulot birligiga (YAIM) to‘g‘ri kelgan hajmi bo‘yicha dunyoda beshinchi o‘rinda turadi. 2019-yilda hukumat iqtisodiy o‘sishni atrof-muhitning yaroqsizlanishidan ajratish bo‘yicha mamlakatning strategik qarashlarini shakllantirish orqali 2030-yilga borib "yashil iqtisodiyot"ga o‘tish strategiyasini qabul qildi. "Yashil" strategiya quyidagi oltita asosiy ustuvor yo‘nalishni hamda uchta tarmoqlararo ustuvor yo‘nalishlarni belgilab beradi:
            li Milliy ekologik ustuvor yo‘nalishlar O‘zbekistonning jiddiy xalqaro majburiyatlariga mos keladi. 2018 yilda hukumat toza suvdan foydalanish, barqaror iste’mol, iqlim o‘zgarishiga moslashish va uning ta’sirlarini yumshatish, shuningdek, yer va o‘rmonlarni saqlash bo‘yicha ekologik ko‘rsatkichlar bo‘yicha majburiyatlarni (6,12,13,15-BRM) o‘z ichiga olgan 2030 yilgacha bo‘lgan rejani qabul qildi. 2021-yilda bo‘lib o‘tgan Birlashgan Millatlar Tashkilotining Iqlim o‘zgarishi bo‘yicha konvensiyasining 26-yig‘ilishida (COR26) O‘zbekiston Respublikasi tomonidan Parij bitimi doirasida 2030-yilga qadar yalpi ichki mahsulot birligida issiqxona gazlari chiqarilishini 2010-yilgi ko‘rsatkichga nisbatan 35%  kamaytirish bo‘yicha qo‘shimcha majburiyatni o‘z zimmasiga olishi haqida bayonot berildi [4]. 2022-yilda mamlakat 2030-yilga qadar metan tashlanmalarini 2020-yilga nisbatan kamida 30% ga kamaytirish bo‘yicha mamlakatlarning jamoaviy maqsadga erishishi bo‘yicha global majburiyat to‘g‘risidagi tashabbusga qo‘shildi.
            li 2022 yilda "O'zbekiston Respublikasi Prezidentining "O'zbekiston Respublikasini 2030 yilgacha "yashil" iqtisodiyotga o'tish yo'li bo'yicha reformalar samaradorligini oshirish chora-tadbirlari to'g'risida" farmoni yorliqlariga asosan "Milliy yashil o'sish strategiyasi" (Davlat strategik yashil o'sish sxemasi) tizimi kiritildi.
            li Milliy ko'rsatuvlar CHRI, GSGM va OECD ko'rsatuvlari dasturining to'liqroq bir-birini qo'llab-quvvatlash kerak. Xotirjamlikki, milliy CHRI va GSGM-2030larda foydalaniladigan maqsadli qiymatlar to'g'risida, GSGM ko'rsatuvlari tayinlanmagan maqsadli ko'rsatkichlarni talab qilmaydi.  Ular, o'zgarishni ko'rsatuvlar tendentsiyasini ko'rsatish, bu, siyosatchilarga maqbul qarorlar qabul qilishda yordam beradi. GSGM ko'rsatuvlari shuningdek O'zbekistanni boshqa mamlakatlar bilan solishtirishga imkon beradi.
            li Ushbu hisobot IHTTning milliy kontekstga moslashtirilgan YAO‘K to‘plamidan foydalangan holda O‘zbekistonning "yashil" iqtisodiyot yo‘lidagi taraqqiyotini baholashga qaratilgan birinchi urinishdir. Hisobotda 1991 yildan 2022 yilgacha bo‘lgan tarixiy "yashil" o‘sish tendensiyalari yoki mavjud so‘nggi ma’lumotlar keltirilgan. 
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')