doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Kirish
    link(rel='stylesheet', href='/static/styles/styles1.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    header
      div
        a(href='/introduction_ru') RU
        a(href='/introduction') Eng
        a.active_language(href='/introduction_uz') UZB
      a.home_page_link(href='/uz' title = 'Home Page') 
    .navigation
      div
        a(href='/home_uz')
          i.fa-solid.fa-house-flag
        p Bosh sahifa
      div
        a.nav-active(href='/introduction_uz')
          i.fa-regular.fa-file-lines
        p.nav-active Kirish
      div
        a(href='/group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
        p 1-guruh
      div
        a(href='/group2_uz')
          i.fa-solid.fa-seedling
        p 2-guruh
      div
        a(href='/group3_uz')
          i.fa-brands.fa-envira
        p 3-guruh
      div
        a(href='/group4_uz')
          i.fa-solid.fa-building-columns
        p 4-guruh
      div
        a(href='/group5_uz')
          i.fa-solid.fa-users-gear
        p 5-guruh
    .heading
      i.fa-regular.fa-file-lines
      h1 Kirish. OECD "yashil o'sish" ko'rsatuvlar tizimi va davlat konteksti
    .description
      p
        | Ushbu bobda OECD "yashil o'sish" ko'rsatuvlar tizimi (GGI), OECD a'zolari davlatlarida yashil iqtisodiyot yo'lini o'tishga oid progressni kuzatish uchun ishlab chiqilgan, va uning O'zbekistonda pilot qo'llanilishini taqdim etiladi.
    main
      .section
        #section-1.section-active
          i.fa-solid.fa-file-circle-check
          h3 1.1 OECD "yashil" o'sish ko'rsatuvlar tizimiga kirish
        #section-2
          i.fa-solid.fa-file-circle-check
          h3 1.2 Davlat va "yashil" iqtisodiyotga oid mamlakat konteksti va milliy jarayonlar
      .section_text
        #sub-section-1.sub-section.active
          h2 1.1 OECD "yashil" o'sish ko'rsatuvlar tizimiga kirish
          ul
            li OECD "yashil o'sishni" "iqtisodiy o'sish va rivojlanishni raqobatparastlikda yangi rivojlanish va ma'muriyatimizning ta'sir qildi bo'lgan tabiiy boyliklarni taminlashni davom ettirishini ta'minlash" deb aniqlaydi. Bu, ikki vazifaning uchrashma nuqtasi - ekonomik imkoniyatlarini kengaytirish zarurati bilan birgalikda ekologik muammolarni hal qilishdir. Bu haqda shuningdek, ularni o'zaro amalga oshirish imkoniyatlaridan foydalanish haqida gap bo'ladi.
            li 2011 yilda OECD a'zolari mamlakatlarda "yashil o'sish" strategiyasini amalga oshirishni qo'llab-quvvatlash uchun "yashil o'sish" o'sish ko'rsatuvlarini kuzatish tizimini ishlab chiqdi. U shu paytdan buyon, bu tizim OECD a'zolari va tashqi mamlakatlarda, shu jumladan Markaziy Osiyo mamlakatlarida (Qirg'iziston va Qozog'iston) keng qo'llanilmoqda. Ular juda o'zgaruvchan, bu ularni milliy sharoitlarga moslashtirish imkonini beradi.
            li "Yashil" iqtisodiyoti siyosati maqbul ko'rsatuvlar bilan ta'minlanishi kerak. OECD "yashil o'sish" ko'rsatuvlari tizimi (GGI) mamlakatlarga quyidagi yordam beradi:
              p • ekologik o'sishning iqtisodiy o'sishda progressini kuzatish va ma'lum qilish
              p • maqbul qarorlar qabul qilish
              p • milliy va xalqaro qiziqishlarga mas'uliyatini namoyon qilish
              p • iqtisodiy o'sish va atrof-muhitni himoya qilish o'rtasidagi munosabatlarni jamoatga oshirish
              p • olingan progressni boshqa mamlakatlar bilan solishtirish
            li GGI tizimi "yashil" o'sishning to'rt boshqa o'lchami bo'yicha guruhlangan 26 asosiy ko'rsatuvlarni o'z ichiga oladi:
              p • ekologik va resursli iqtisodiy faollik
              p • tabiiy boyliklar baza siyosati
              p • yashil hayot sifati ekologik o'lchami
              p • iqtisodiy imkoniyatlar va siyosiy tadbirlar
            li GGI tizimi shuningdek, "yashil" o'sishning to'rt boshqa o'lchamlariga qo'shimcha sotsial-iqtisodiy mamlakat kontekstiga oid ma'lumotlarni ham o'z ichiga oladi.
        #sub-section-2.sub-section
          h2 1.2 Davlat va "yashil" iqtisodiyotga oid mamlakat konteksti va milliy jarayonlar
          ul
            li O'zbekiston 2019 yilda gaz emislari bo'yicha jahon raqamida 0,37% bo'yicha 42-o'rinda joylashgan. U Qozog'istonning keyinchalikidan keyin Markaziy Osiyo hududida ikkinchi o'rinda joylashgan emittentdir, va kuchli iqtisodiy faollikka qaraganda bitta vazir xarajatiga qaraganda dunyoda beshinchi o'rinda joylashgan. 2019 yilda hukumat mamlakatni "yashil" iqtisodiyotga o'tish strategiyasini 2030 yilgacha ishlab chiqdi, bu, tashqi faoliyat va atrof-muhitni buzilishning rejasi bo'yicha mamlakatning strategik ko'rsatiishini ifodalaydi.
            li Milliy "yashil" ustuvorotlari O'zbekistonning ambitsioz xalqaro majburiyatlari bilan mos keladi. 2018 yilda hukumat 2030 yilgacha bo'lgan davr uchun Yig'ilgan O'y 2030, ekologik ko'rsatuvlar to'g'risida majburiyatlar tizimini qabul qildi. 2021 yilda Parij o'rtoqlashmasi (COP26) o'tkazilgan 26-qatlamida, Qonun o'yining o'tkazilishi bo'yicha, 2010 yil darajasiga nisbatan 2030 yilda GDP boshiga bir parnikoviy gaz emisiyalarini 35% gacha o'z ichiga olganligini ilgari suradi. 2022 yilda mamlakat 2020 yil darajasiga nisbatan metan emisiyalarini 30% gacha kamaytirish maqsadida umumiy maqsadga erishish uchun metan emisiyalarini kamaytirish global ta'zimiga qo'shildi (190,6 megaton CO2-ekv.).
            li 2022 yilda "O'zbekiston Respublikasi Prezidentining "O'zbekiston Respublikasini 2030 yilgacha "yashil" iqtisodiyotga o'tish yo'li bo'yicha reformalar samaradorligini oshirish chora-tadbirlari to'g'risida" farmoni yorliqlariga asosan "Milliy yashil o'sish strategiyasi" (Davlat strategik yashil o'sish sxemasi) tizimi kiritildi.
            li Milliy ko'rsatuvlar CHRI, GSGM va OECD ko'rsatuvlari dasturining to'liqroq bir-birini qo'llab-quvvatlash kerak. Xotirjamlikki, milliy CHRI va GSGM-2030larda foydalaniladigan maqsadli qiymatlar to'g'risida, GSGM ko'rsatuvlari tayinlanmagan maqsadli ko'rsatkichlarni talab qilmaydi.  Ular, o'zgarishni ko'rsatuvlar tendentsiyasini ko'rsatish, bu, siyosatchilarga maqbul qarorlar qabul qilishda yordam beradi. GSGM ko'rsatuvlari shuningdek O'zbekistanni boshqa mamlakatlar bilan solishtirishga imkon beradi.
            li Ushbu ish, O'zbekistonning milliy kontekstiga moslashtirilgan OECD GGI kategoriyalarini o'z ichiga olgan GGI tizimlari to'g'risida O'zbekistonning "yashil" iqtisodiyot yo'liga yo'l harakatini baholash uchun birinchi urinishdir. Hisobotda 1991-2022 yillar yoki oxirgi mavjud ma'lumotlar davridagi "yashil" o'sishning tarixiy tendentsiyalari ifodalangan.
    p.disclaimer 
      | Ushbu platforma, shuningdek, unga kiritilgan har qanday ma'lumotlar va xaritalar har qanday hududning maqomi yoki suverenitetiga, xalqaro chegaralar va chegaralarning delimitatsiyasiga hamda har qanday hudud, shahar yoki hudud nomiga zarar etkazmaydi.
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='/static/javascripts/script.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')