<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/styles/stat.css">
    <link rel="shortcut icon" href="/static/images/main_icon.png">
</head>

<body>
    <div class="head-part">
        <div>
            <a href="/group2_ru">RU</a>
            <a class="active_language" href="/group2">Eng</a>
            <a href="/group2_uz">UZB</a>
        </div>
        <h1>OECD.STAT Uzbekistan</h1>
        <a class="home_page_link" href="/" title="Home Page"> </a>
    </div>
    <div class="main-part">
        <div class="navigation">
            <h2>Green Growth Indicators</h2><a class="active_navigation" href="stat/stat-all"><i class="fa-solid fa-file-circle-check"></i><h3>All indictors</h3></a><a href="/stat/stat-group1"><i class="fa-solid fa-arrow-up-right-dots"></i><h3>Group 1</h3></a>
            <a
                href="/stat/stat-group2"><i class="fa-solid fa-seedling"></i>
                <h3>Group 2</h3>
                </a><a href="/stat/stat-group3"><i class="fa-brands fa-envira"></i><h3>Group 3</h3></a><a href="/stat/stat-group4"><i class="fa-solid fa-building-columns"></i><h3>Group 4</h3></a><a href="/stat/stat-group5"><i class="fa-solid fa-users-gear"></i><h3>Group 5</h3></a></div>
        <div
            class="container">
            <table class="display" id="example" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            <div class="information">
                <div class="group-info group-0" id="active">
                    <h3>Database documentation</h3>
                    <p>The OECD Green Growth database contains selected indicators for monitoring progress towards green growth to support policy making and inform the public at large. The database synthesises data and indicators across a wide range of domains
                        including a range of OECD databases as well as external data sources. The database covers OECD member and accession countries, key partners (including Brazil, China, India, Indonesia and South Africa) and other selected non-OECD countries.</p>
                    <p>The indicators have been selected according to well-specified criteria and embedded in a conceptual framework, which is structured around four groups to capture the main features of green growth:</p>
                    <p>Environmental and resource productivity: indicate whether economic growth is becoming greener with more efficient use of natural capital and to capture aspects of production which are rarely quantified in economic models and accounting
                        frameworks;</p>
                    <p>The natural asset base: indicate the risks to growth from a declining natural asset base;</p>
                    <p>Environmental dimension of quality of life: indicate how environmental conditions affect the quality of life and wellbeing of people;</p>
                    <p>Economic opportunities and policy responses: indicate the effectiveness of policies in delivering green growth and describe the societal responses needed to secure business and employment opportunities.</p>
                    <p>For further details on the methodology, please consult:</p>
                    <p>OECD (2017), Green Growth Indicators 2017</p>
                    <p>OECD (2014), Green Growth Indicators 2014</p>
                    <p>OECD (2011), Towards Green Growth: Monitoring Progress: OECD Indicators </p>
                    <p>Database documentation</p>
                    <p>Last updated: January 2023</p>
                    <p>Contact: env.stat@oecd.org</p>
                </div>
            </div>
    </div>
        <script src="https://kit.fontawesome.com/d638520dfa.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script>
            var xmlhtpp = new XMLHttpRequest();
            var url = "/static/data/sample.json";
            xmlhtpp.open("GET", url, true);
            xmlhtpp.send();
            xmlhtpp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);

                    $('#example').DataTable({
                        "data": data.data,
                        "columns": [{
                                "data": "name"
                            },
                            {
                                "data": "position"
                            },
                            {
                                "data": "office"
                            },
                            {
                                "data": "extn"
                            },
                            {
                                "data": "start_date"
                            },
                            {
                                "data": "salary"
                            }
                        ]
                    });
                }
            };
        </script>
</body>

</html>