@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
    overflow-x: hidden;
}
body{
    width: 80%;
    margin: 0 auto;
    background-image: url(/static/images/5570863.jpg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(59, 140, 233);
    padding: 10px;
    box-shadow: 6px 4px rgb(59, 140, 233);
}
header div a{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(59, 140, 233);
    padding: 2px;
}
header div a:nth-child(1), header div a:nth-child(2){
    border-right: 1px solid black;
}

header div a:hover{
    color: white;
    background-color: rgb(59, 140, 233);
}
.active_language{
  color: white;
  background-color: rgb(59,140,233);
}

a.home_page_link{
  height: 8rem;
  background-position: center;
  display: block;
  padding: 1rem;
  margin: 2rem 1rem 2rem 2rem;
  width: 8rem;
  background-image: url(/static/images/home_page_icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
}
a.home_page_link:hover{
  background-image: url(/static/images/home_page_icon_animated.gif);
  background-size: cover;
}




.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.navigation div a{
    text-decoration: none;
    color: #28666e;
}
.navigation div a i{
    font-size: 8rem;
}
.navigation div:hover a{
    color: rgb(59, 140, 233);
    transition: 0.4s;
}
.navigation div:hover p{
    visibility: visible;
    transition: 0.4s;
}
.navigation a.nav-active{
    color: rgb(59, 140, 233);
}
.navigation p.nav-active{
    visibility: visible;
}
.navigation div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation div p{
    font-size: 3rem;
    color: rgb(59, 140, 233);
    visibility:hidden;
}






.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
}
.heading i{
    width: 13rem;
    font-size: 8rem;
    color: rgb(59, 140, 233);
    padding: 0 1rem;
}
.heading h1{
    margin-left: 2rem;
    font-size: 5rem;
    color: rgb(59, 140, 233);
}
.description{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    -moz-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    margin: 0 0 3rem 0;
    padding: 1rem;
}
.description p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}
.section{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    -moz-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
}
#section-1,#section-2,#section-3,#section-4,#section-5,#section-6,#section-7,#section-8,#section-9,#section-10{
    padding: 2rem;
    display: flex;
    align-items: center;
}
.section div i{
    font-size: 2rem;
    color: #28666e;
    padding-right: 2rem;
}
.section div h3{
    font-size: 2rem;
    font-style: normal;
    color: #28666e;
}

#section-1:hover,#section-2:hover,#section-3:hover,#section-4:hover,#section-5:hover,#section-6:hover,#section-7:hover,#section-8:hover,#section-9:hover,#section-10:hover{
    cursor: pointer;
    background-color: rgb(59, 140, 233);
    transition: 0.4s;
}
#section-1:hover h3,#section-1:hover i,#section-2:hover h3,#section-2:hover i,#section-3:hover h3,#section-3:hover i,#section-4:hover h3,#section-4:hover i,#section-5:hover h3,#section-5:hover i,#section-6:hover h3,#section-6:hover i,#section-7:hover h3,#section-7:hover i,#section-8:hover h3,#section-8:hover i,#section-9:hover h3,#section-9:hover i,#section-10:hover h3,#section-10:hover i{
    color: white;
}



.sub-section h2{
    font-size: 3.5rem;
    color: #28666e;
    padding-bottom: 2rem;
    text-align: center;
}
.sub-section{
    display: none;
    padding: 1rem;
}
.active{
    display: block;
    transition: 0.4s;
}
.section-active{
    background-color: rgb(59, 140, 233);
}
div.section-active h3, div.section-active i{
    color: white;
}
.section_text{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    -moz-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    background-color: white;
}






.sub-section_content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-section_content .sub-section_text{
    width: 50%;
}
.sub-section_content .sub-section_figure{
    padding: 1rem;
    width: 50%;
    height: fit-content;
}
.sub-section_text p{
    line-height: 1.6;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.sub-section_text li b{
    font-size: 2rem;
}
.sub-section p, .sub-section i{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.sub-section i{
    font-weight: 500;
    color: #28666e;
}
.sub-section_figure h3 i{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.sub-section_figure h4 i{
    font-size: 1.5rem;
    margin-bottom: 1rem 0rem;
}
.sub-section ul{
    display: block;
    list-style: none;
    margin-left: 1rem;
}
.sub-section ul li{
    line-height: 1.6;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;
    padding-left: 3rem;
}
.sub-section ul li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #28666e;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
  }















footer{
    margin-top: 3rem;
    background-color: rgb(59, 140, 233); 
    display: flex;
    align-items: center;
}
footer .contacts{
    width: 40%;
    padding: 2rem;
    border-right: 1px solid white;
}
footer .contacts p{
    padding: 1rem;
    color: white;
    font-size: 2rem;
}
footer div.rights{
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer div.rights p, footer div.rights i{
    padding-bottom: 3rem;
    color:white;
    font-size: 1.5rem;
}
p.disclaimer{
    font-size: 2rem;
    color:#28666e;
    padding: 1rem 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    -moz-box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    box-shadow: 0px 0px 3px 2px rgba(34, 60, 80, 0.08) inset;
    text-align: center;
    line-height: 1.6;
    font-weight: 500;
}








@media(max-width: 1025px){
    *{
        font-size: 9px;
    }
    body{
        width: 96%;
    }
    .sub-section_content{
        flex-direction: column;
        justify-content: flex-start;
    }
    .sub-section_content .sub-section_text{
        width: 96%;
        margin: 0 auto;
    }
    .sub-section_content .sub-section_figure{
        padding: 0rem;
        width: 96%;
        margin: 0 auto;
    }
}
@media(max-width:768px) {
    *{
        font-family: 8px;
    }
    .navigation{
        flex-wrap: wrap;
    }
    .navigation a{
        padding: 1rem;
    }
    .heading i{
        display: none;
    }
    main{
        flex-direction: column;
    }
    .section{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .section_text{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 2rem;
    }
}
@media(max-width:480px){
    *{
        font-size: 7px;
    }
}
@media(max-width:400px){
    *{
        font-size: 6px;
    }
}